/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.sites_error{font-size:.95em;padding:10px 20px!important;}
#creategroupcontainer,creategroupcontainer>div{width:100%;}
.my_groups_widget .fl-widget-content .mygroups_list_item{padding:5px 5px 5px 40px;margin:0;border-bottom:1px solid #CCC;}
.mygroups_left_padding{padding-left:13px;}
.mygroups_create_new_group {padding-left:2px;}
.my_groups_widget .fl-widget-content .mygroup_item{padding:5px 5px 5px 15px;margin:0;border-bottom:1px solid #CCC;list-style-type:none;}
.my_groups_widget .fl-widget-content .mygroup_item .group_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -242px -21px transparent;display:block;height:16px;width:18px;margin-right:5px;}
.mygroup_item_img {display:inline;}
.mygroups_ellipsis_text, .mygroups_ellipsis_container{word-wrap:break-word;}

/* Widget icon */
.mygroups.fl-widget .fl-widget-titlebar .widget_title_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -600px -20px transparent;}