
/*****************
 * GLOBAL SEARCH *
 *****************/

#topnav-search-results-container {
    font-size: .75em;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 4px 0 #777;
    -moz-box-shadow: 0 0 4px 0 #777;
    -webkit-box-shadow: 0 0 4px 0 #777;
    margin-top: 44px !important;
    position: absolute;
    width: 330px;
    z-index: 100;
    background: -moz-linear-gradient(top, #ffffff 5%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#ffffff), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #ffffff 5%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #ffffff 5%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 5%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #ffffff 5%,#f5f5f5 100%);
}

#topnav-search-results-top {
    height: 18px;
    padding: 5px 5px;
}

#topnav-search-results-top > img {
    margin-top: 3px;
}

#topnav-search-results-top h3 {
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

#topnav-search-results-suggests {
    border-top: 1px solid #CCC;
    padding: 13px;
}

#topnav-search-results-suggests h2 {
    font-style: normal;
    padding-left: 2px;
    color: #666666;
    letter-spacing: 0.02em;
    font-weight: 300;
    font-size: 12px;
    margin: 0 0 5px 0;
}

#topnav-search-results-suggests ul li img {
    margin-right: 6px;
    padding: 0;
}

#topnav-search-results-suggests ul {
    display: inline-block;
    margin: 0;
    width: 100%;
}

#topnav-search-results-suggests ul li {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 2px;
    width: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    list-style: none;
}

#topnav-search-results-suggests ul li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#topnav-search-results-suggests ul li:hover{
    background-color: #b4d5ff;
    cursor: pointer;
    font-weight: 600;
}

#topnav-search-results-bottom {
    border-top: 1px solid #CCC;
    height: 18px;
    padding: 5px 5px;
}

#topnav-search-results-bottom a:hover {
    text-decoration: underline;
}

#topnav-search-form #search-keywords #search-bar {
    margin: 0;
    height: 58px;
    display: block;
    width: 77%;
    background: url("../images/icons/icon-search.png") no-repeat center center transparent;
    background-position: 220px 37px;
    background-color: #FFF;
}

#topnav-search-form #search-keywords #search-bar ul {
    display: block;
    margin: -5px 0 5px 5px;
}

#topnav-search-form #search-keywords #search-bar input {
    border: none;
}

#topnav-search-form #search-keywords #search-bar input {
    margin: 0;
}
