
/*****************
 * GLOBAL SEARCH *
 *****************/

#topnav-search-results-container {
    background-color: #fff;
    background: -moz-linear-gradient(top, #fff 5%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #fff 5%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #fff 5%,#f5f5f5 100%);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 4px 0 #777;
    -moz-box-shadow: 0 0 4px 0 #777;
    -webkit-box-shadow: 0 0 4px 0 #777;
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 44px !important;
    position: absolute;
    width: 330px;
    z-index: 100;
}

#topnav-search-results-top {
    height: 18px;
    padding: 5px 5px;
}

#topnav-search-results-top > img {
    margin-top: 3px;
}

#topnav-search-results-top h3 {
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

#topnav-search-results-suggests {
    border-top: 1px solid #ccc;
    padding: 13px;
}

#topnav-search-results-suggests h2 {
    color: #666;
    font-size: 12px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin: 0 0 5px 0;
    padding-left: 2px;
}

#topnav-search-results-suggests ul li img {
    margin-right: 6px;
    padding: 0;
}

#topnav-search-results-suggests ul {
    display: inline-block;
    margin: 0;
    width: 100%;
}

#topnav-search-results-suggests ul li {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 2px;
    width: 100%;
}

#topnav-search-results-suggests ul li a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#topnav-search-results-suggests ul li:hover{
    background-color: #b4d5ff;
    cursor: pointer;
    font-weight: 600;
}

#topnav-search-results-bottom {
    border-top: 1px solid #ccc;
    padding: 2%;
}

#topnav-search-results-bottom a:hover {
    text-decoration: underline;
}

#topnav-search-form #search-keywords #search-bar {
    background: url("../images/icons/icon-search.png") no-repeat center center transparent;
    background-position: 220px 37px;
    background-color: #fff;
    display: block;
    height: 58px;
    margin: 0;
    width: 77%;
}

#topnav-search-form #search-keywords #search-bar ul {
    display: block;
    margin: -5px 0 5px 5px;
}

#topnav-search-form #search-keywords #search-bar input {
    border: none;
}

#topnav-search-form #search-keywords #search-bar input {
    margin: 0;
}
#topnav-search-results-bottom h3 {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2% 0 0 2%;
}

#topnav-search-results-bottom button {
    color: #0074a7;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2% 5% 2% 5%;
    margin-bottom: 2%;
}

#topnav-search-results-bottom button:hover {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333;
    text-shadow: 0px -1px 0px #fff;
}
