/******************
 * TOP NAVIGATION *
 ******************/

 /** TOP NAV STRUCTURE **/

#oae-topnav-container {
    clear: both;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
}

#oae-topnav-container #oae-topnav-left {
    float: left;
    margin-top: .75% 
}

#oae-topnav-container #oae-topnav-right {
    float: right;
}

#oae-topnav-container #oae-topnav-right > * {
    margin-top: 14px;
    z-index: 1000;
}

#oae-topnav-center {
    margin: 0 auto;
    width: 60px;
}

#oae-topnav-center img {
    margin-top: 12px;
    height: 34.5px;
    width: 60px;
}

#oae-topnav-center img:hover {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

/** TOP NAV ELEMENTS **/

#oae-topnav-container ul {
    margin: 0;
    padding: 0;
}

#oae-topnav-container ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 12px 12px 0;
}

/** TOP NAV LINKS **/

#oae-topnav-container a {
    clear: both;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

#oae-topnav-container a#topnav-links {
    padding: 3px 9px;
}

#oae-topnav-container a#topnav-links:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 0px -1px 0px #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ffffff;

}

#oae-topnav-container a#topnav-links:active {
    color: #666666;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #ffffff;
    opacity: 0.75;
}

/** TOP NAV NOTIFICATIONS **/

span.notification {
    font-size: 11.5px;
    font-size: 1.15rem;
    color: #fff;
    text-shadow: 0px 1px 0px #6d0019;
    font-weight: 600;
    position: absolute;
    margin: -4px 0 0 15px;
    padding: 0 4px 0 3px;   
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c80f0f;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
}

 /** TOP NAV ICONS **/

.oae-home-icon,
.oae-inbox-icon,
.oae-library-icon,
.oae-cogwheel-icon,
.oae-magnifier-icon,
.oae-task-icon,
.oae-notifications-icon {
    height: 25px;
    width: 25px;
    margin-right:12px;
}

.oae-home-icon,
.oae-home-icon:visited {
    background: url("../images/icons/home-icon.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-home-icon:hover {
    background: url("../images/icons/home-icon-hover.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-home-icon:active {
    background: url("../images/icons/home-icon-active.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-inbox-icon,
.oae-inbox-icon:visited {
    background: url("../images/icons/messages-icon.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-inbox-icon:hover {
    background: url("../images/icons/messages-icon-hover.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-inbox-icon:active {
    background: url("../images/icons/messages-icon-active.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-task-icon,
.oae-home-task:visited {
    background: url("../images/icons/tasks-icon.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-task-icon:hover {
    background: url("../images/icons/tasks-icon-hover.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-task-icon:active {
    background: url("../images/icons/tasks-icon-active.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-library-icon,
.oae-home-library:visited {
    background: url("../images/icons/collections-icon.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-library-icon:hover {
    background: url("../images/icons/collections-icon-hover.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-library-icon:active {
    background: url("../images/icons/collections-icon-active.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-notifications-icon,
.oae-home-notifications:visited {
    background: url("../images/icons/notifications-icon.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-notifications-icon:hover {
    background: url("../images/icons/notifications-icon-hover.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-notifications-icon:active {
    background: url("../images/icons/notifications-icon-active.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

/** TOP NAV SEARCH **/

#oae-topnav-container #oae-topnav-right #topnav-search-input {
    width: 150px;
    background-color: #ffffff;
    background-image: url("../images/icons/search-icon.png");
    background-position: 159px 5px;
    background-repeat: no-repeat;
    padding-right: 25px;
    opacity: 0.75;
    background-size: 15px 15px;
}

#oae-topnav-container #oae-topnav-right #topnav-search-input-long {
    width: 300px;
    background-color: #ffffff;
    background-image: url("../images/icons/search-icon.png");
    background-position: 309px 5px;
    background-repeat: no-repeat;
    padding-right: 25px;
    background-size: 15px 15px;
}

.oae-magnifier-icon,
.oae-home-magnifier:visited {
    background: url("../images/icons/search-icon.png") no-repeat center center transparent;
}

#oae-topnav-container #oae-topnav-right #topnav-search-form {
    margin-right: 24px;
}

/** TOP NAV SETTINGS **/

.oae-cogwheel-icon,
.oae-home-cogwheel:visited {
    background: url("../images/icons/settings-icon.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-cogwheel-icon:hover {
    background: url("../images/icons/settings-icon-hover.png") no-repeat center center transparent;
    background-size: 25px 25px;
}

.oae-cogwheel-icon:active {
    background: url("../images/icons/settings-icon-active.png") no-repeat center center transparent;
    background-size: 25px 25px;
}
