/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* General */
.footer_main{color:#fff;margin:0 auto;padding:0 0 10px;width:960px;}
.footer_main.footer_index{width:955px;}
#footer_logo{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -49px -712px transparent;width:61px;height:28px;float:left;margin-right:15px;}
#footer_logo_button{float:left;}
.footer_main #footer_debug_info{margin:5px 0 0 81px;}
.footer_main .footer_clickable{cursor:pointer;}
#footer_contactinfo p{float:right;margin-top:-12px;}
#footer_divider {font-weight:bold;}

/* Fixed Container */
.footer_main .fixed-container{background:#454A4F;padding:10px 25px;width:910px;}
.footer_index .fixed-container{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -641px transparent;}
.footer_main .fixed-container p{font-size:11px;margin-bottom:0;padding-bottom:0;line-height:1.3em;color:#fff;}
.footer_main .fixed-container a{color:#c4e4fb;}
.footer_main .fixed-container button.back-top{color:#fff;display:block;float:right;font-size:13px;font-weight:bold;padding-right:7px;}
.footer_main .fixed-container div.back-top{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -102px -640px transparent;height:13px;width:10px;float:right;cursor:pointer;}
#footer_main_br{width:100%;height:9px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -763px transparent;float:left;}
#footer_main_bl{width:16px;height:9px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -11px -763px transparent;float:left;}
#footer_main_footer{background:url(/dev/images/body_bg_sprite.png) repeat-x scroll left -42px transparent;height:9px;margin:0 16px;}
.footer_index #footer_main_br{width:100%;height:0;background:none;float:left;}
.footer_index #footer_main_bl{width:16px;height:9px;background:none;float:left;}
.footer_index #footer_main_footer{background:none;height:9px;margin:0 16px;}

/* Footer on the login page */
.footer_index{bottom:0;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -819px transparent;clear:both;padding-bottom:0;position:fixed;margin-bottom:0;z-index:99;}
.footer_push{height:45px;}