/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* General */
.footer_main {
    background: url('../images/footer.png') center bottom no-repeat;
    color: #fff;
    margin: 0 auto 45px auto;
    padding: 10px 0;
    width: 960px;
}

.footer_main #footer_debug_info {
    margin: 5px 0 0 76px;
}

.footer_main .footer_clickable {
    cursor: pointer;
}

/* Fixed Container */
.footer_main .fixed-container {
    background: #454A4F;
    padding: 0 25px 10px;
    width: 910px;
}

.footer_main .fixed-container img {
    float: left;
    margin-right: 15px;
}

.footer_main .fixed-container p {
    font-size: 11px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.3em;
    color: #fff;
}

.footer_main .fixed-container a {
    color: #c4e4fb;
}

.footer_main .fixed-container a.back-top {
    background: url('../images/white_bottom_arrow.png') center right no-repeat;
    color: #fff;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding-right: 20px;
}

/* Footer on the login page */
.footer_index {
    bottom: 0;
    background: url('../images/footer_index.png') center top no-repeat;
    clear: both;
    padding-bottom: 0;
    position: fixed;
    margin-bottom: 0;
    z-index: 99;
}