/* Pager CSS */
.jq_pager {margin-left:auto;margin-right:auto;}
.jq_pager ul.pages {display:block;border:none;text-align:center;font-size:10px;margin:10px 0 10px;padding:0;}
.jq_pager ul.pages li {list-style:none;display:inline;border:1px solid #ddd;text-decoration:none;margin:0 5px 0 0;padding:5px;font-size:1.2em;color:#3399CC;}
.jq_pager ul.pages li:hover {border:1px solid #666;}
.jq_pager ul.pages li.pgEmpty {border:none;color:#ddd;}
.jq_pager ul.pages li.pgCurrent {border:none;color:#000;font-weight:bold;background-color:#fff;}
.jq_pager .hidden {display:none !important;}
#jq_pager_three_dots_begin{border:none;color:#666;}
#jq_pager_three_dots_end{border:none;color:#666;}
