/* line 14, ../../../../sass/shared/oae/partials/views.scss */
#oae-mobile-viewport {
  position: absolute;
  overflow: hidden;
}

/* line 19, ../../../../sass/shared/oae/partials/views.scss */
.view {
  position: absolute;
  overflow: hidden;
}

/* line 24, ../../../../sass/shared/oae/partials/views.scss */
.stretch {
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* line 32, ../../../../sass/shared/oae/partials/views.scss */
.scroll {
  overflow: scroll;
}

/* line 36, ../../../../sass/shared/oae/partials/views.scss */
#menu {
  text-align: center;
}

/* Login */
/* line 41, ../../../../sass/shared/oae/partials/views.scss */
#login-view {
  background-color: #999999;
}

/* Home */
/* line 46, ../../../../sass/shared/oae/partials/views.scss */
#home-view {
  background-color: #555555;
}

/* Detail */
/* line 51, ../../../../sass/shared/oae/partials/views.scss */
#detail-view {
  background-color: #333333;
}
