/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.featuredworlds_widget {margin:10px 0 0;}


/* Worlds tabs */
.featuredworlds_widget .featuredworlds_tab {float:left;padding:0 20px;border:1px solid #e5e5e5;border-bottom:none;background:url("/devwidgets/featuredworlds/images/featuredworlds_tab_bg.png") repeat-x scroll left top transparent;margin:3px 1px 0;cursor:pointer;height:30px;font-size:12px;}
.featuredworlds_widget .featuredworlds_tab_selected {background:url("/devwidgets/featuredworlds/images/featuredworlds_tab_selected_bg.png") repeat-x scroll left top transparent;}

/* World Items */
.featuredworlds_widget .featuredworlds_content {border: 1px solid #fff; background:none repeat scroll 0 0 transparent;height:108px;width:200px;float:left;border-radius:4px 4px 4px 4px;float:left;margin:5px;overflow:hidden;padding:12px;}
.featuredworlds_widget .featuredworlds_content:hover {background:url("/devwidgets/featuredcontent/images/featuredcontent_content_hover_bg.png") repeat-x scroll left top #EEF8FC;border: 1px solid #DBDBDB;cursor:pointer;height:106px;margin-right:6px;padding-left:11px;padding-top:11px;width:200px;}
.featuredworlds_widget .featuredworlds_image {height:50px;width:50px;float:left;margin:0 6px 12px 0;}
.featuredworlds_widget .featuredworlds_content .featuredworlds_grouppage_link {display:block;font-size:11px;}
.featuredworlds_widget #featuredworlds_no_worlds {display: block;margin: 10px;}