/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Worlds tabs */
.featuredworlds_tab_count {
    display: inline-block;
}
.featuredworlds_widget .featuredworlds_tab {
    float: left;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    background: #f2f2f3;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f3 3%, #f2f2f3 69%, #e3e3e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#f2f2f3), color-stop(69%,#f2f2f3), color-stop(100%,#e3e3e4));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f3 3%,#f2f2f3 69%,#e3e3e4 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f2f2f3 3%,#f2f2f3 69%,#e3e3e4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f3 3%,#f2f2f3 69%,#e3e3e4 100%);
    background: linear-gradient(top, #ffffff 0%,#f2f2f3 3%,#f2f2f3 69%,#e3e3e4 100%);
    margin: 3px 1px 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.featuredworlds_widget .featuredworlds_tab_selected {
    background: #fbfcfe;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f1f3 3%, #fbfcfe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#f0f1f3), color-stop(100%,#fbfcfe));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f0f1f3 3%,#fbfcfe 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f0f1f3 3%,#fbfcfe 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f0f1f3 3%,#fbfcfe 100%);
    background: linear-gradient(top, #ffffff 0%,#f0f1f3 3%,#fbfcfe 100%);
}

/* World Items */
.featuredworlds_widget .featuredworlds_content {
    border: 1px solid #fff;
    background: none repeat scroll 0 0 transparent;
    height: 108px;
    width: 200px;
    float: left;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin: 5px;
    overflow: hidden;
    padding: 12px;
}
.featuredworlds_widget .featuredworlds_content:hover {
    background: #f2fafc;
    background: -moz-linear-gradient(top, #f2fafc 0%, #eef8fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2fafc), color-stop(100%,#eef8fc));
    background: -webkit-linear-gradient(top, #f2fafc 0%,#eef8fc 100%);
    background: -o-linear-gradient(top, #f2fafc 0%,#eef8fc 100%);
    background: -ms-linear-gradient(top, #f2fafc 0%,#eef8fc 100%);
    background: linear-gradient(top, #f2fafc 0%,#eef8fc 100%);
    border: 1px solid #DBDBDB;
    cursor: pointer;
}
.featuredworlds_widget .featuredworlds_image {
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 6px 12px 0;
}
.featuredworlds_widget .featuredworlds_content .featuredworlds_grouppage_link {
    display: block;
    font-size: 11px;
}
.featuredworlds_widget #featuredworlds_no_worlds {
    display: block;
    margin: 10px;
}

.featuredworlds_widget .s3d-no-results-container {
    margin: 30px 10px 10px;
}
