/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* GENERAL */
#dashboard_container strong {
    color: #000;
}
#dashboard_container .dialog_buttons .button {
    color: #666;
}

/* OPTIONS */
#dashboard_container .dashboard_options {
    padding-right: 10px;
    text-align: right;
    width: 620px;
}
#dashboard_container .dashboard_options.fixed-container {
    padding: 0 20px;
    width: 920px;
}
#dashboard_container .dashboard_options a {
    color: #454A4F;
    font-size: 9pt;
    font-weight: bold;
}

/* TOOLS CONTAINER - RIGHT COLUMN */
#dashboard_container #toolscontainer {
    margin-left: 20px;
}

/* WIDGET CONTAINER */
#dashboard_container #widgetscontainer .fl-widget {
    margin-top: 1px;
}
#dashboard_container #widgetscontainer .groupWrapper {
    overflow: hidden;
    min-height: 40px;
}
#dashboard_container .widget_spacer {
    height: 1px;
}

/* Change layout */
#change_layout_dialog {
    margin-left: -235px !important;
    width: 470px !important;
}
#change_layout_dialog .elf-right-up {
    padding: 25px 0;
}
#change_layout_dialog .add-tools-right {
    width: 100%;
}
#change_layout_dialog .layout_container {
    float: left;
    padding-left: 25px;
    padding-right: 13px;
}
#change_layout_dialog .layout_picker_item {
    background-color: #EEFFFF;
    border: 2px solid #3399CC;
    border-right: 2px solid #3399CC;
    height: 62px;
    width: 114px;
}
#change_layout_dialog .layout_picker_item_column {
    border-right: 1px solid #3399CC;
}
#change_layout_dialog .layout_picker_item_radio {
    margin-left: 50px;
    margin-top: 10px;
}
#change_layout_dialog .layout_container_unselected {
    float: left;
    padding-left: 25px;
    padding-right: 13px;
}
#change_layout_dialog .layout_picker_item_unselected {
    background-color: #F8F8F8;
    border: 2px solid #dddfe1;
    border-right: 2px solid #dddfe1;
    height: 62px;
    width: 114px;
}
#change_layout_dialog .layout_picker_item_column_unselected {
    border-right: 1px solid #dddfe1;
}
#change_layout_dialog .layout_picker_item_radio_unselected {
    margin-left: 50px;
    margin-top: 10px;
}
#change_layout_dialog #layouts_list {
    display: block;
}

/* Add Sakai Goodies */
#add_goodies_dialog {
    height: 374px;
    margin-left: -260px;
    width: 520px;
}
.add_goodies .s3d-button {
    height: 23px;
    margin: 0;
}
.add_goodies .dialog_body {
    height: 308px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 471px;
}
.add_goodies .dialog_body table {
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
    width: 471px;
}
.add_goodies .dialog_body td {
    border-bottom: 1px solid #efefef;
    padding: 5px;
}
.add_goodies .dialog_body .dialog_add_goodies_title {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.add_goodies #add_goodies_body {
    height: 310px;
    overflow: auto;
}
.add_goodies ul {
    margin: 0;
}
.add_goodies ul li {
    border-bottom: 1px solid #efefef;
    line-height: 30px;
    list-style: none;
    padding: 0 12px;
}
.add_goodies ul li:hover {
    background-color: #dbeefc;
}
.add_goodies .dialog_add_goodies_description {
    color: #333;
    font-size: 13px;
    font-weight: normal;
}
.add_goodies .dialog_remove_goodies_title {
    color: #999;
    font-size: 14px;
    font-weight: bold;
}
.add_goodies .dialog_remove_goodies_description {
    color: #999999;
    font-size: 12px;
    font-weight: 100;
}
.add_goodies .dialog_add_goodies_title {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.add_goodies .remove_add_column {
    float: right;
    text-align: right;
    width: 100px;
}
