/* NAVIGATION DROPDOWN CSS */


/* MAIN */
.dropdown {
	height: 160px;
	background-color: #f6f6f6;
	padding: 15px 10px;
}

.dropdown h2 {
	color: #333;
	font-size: 1.1em;
	padding: 10px 0 10px 0;
}

/* CONTANCTS */
.dropdown .dropdown_contacts {
	width: 380px;
	height: 100%;
	border-right: 1px solid #ddd;
	float: left;
	padding-left: 15px;
}

.dropdown .dropdown_contacts .dropdown_person {
	width: 80px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}

.dropdown .dropdown_contacts .dropdown_person_picture {
	background-image: url(../images/person_icon.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: block;
	padding: 0 0 5px 10px;
}

.dropdown .dropdown_contacts .dropdown_person_name {
	color: #3399CC;
	font-weight: bold;
}

.dropdown .dropdown_contacts .view_all_link {
	color: #333;
	font-size: .95em;
}


/* SEARCH */
.dropdown .dropdown_search_people {
	padding-left: 30px;
	
}

.dropdown .dropdown_search_people .dropdown_search_input {
	border: 1px solid #ddd;
	height: 21px;
	color: #999;
	width: 250px;
	float: left;
	margin-right: 5px;
}

.dropdown .dropdown_search_people .search_button {
	position: relative;
	top: 4px;
}

.dropdown .close {
	position: relative;
	bottom: -100px;
	right: 0px;
	
}

.dropdown .close a {
	font-weight: bold;
	color: #333;
	font-weight: bold;
}

.dropdown .close img {
	position: relative;
	top: 5px;
	padding-left: 5px;
}


