/* NAVIGATION DROPDOWN CSS */


/* MAIN */
.dropdown {
	height: 160px;
	background-color: #f6f6f6;
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}

.dropdown h2 {
	color: #333;
	font-size: 1.1em;
	padding: 10px 0 10px 0;
}

/* CONTANCTS */
.dropdown .dropdown_contacts {
	width: 380px;
	height: 100%;
	border-right: 1px solid #ddd;
	float: left;
	padding-left: 15px;
}

.dropdown .dropdown_contacts .dropdown_person {
	width: 80px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}

.dropdown .dropdown_contacts .dropdown_person_picture {
	background-image: url(../images/person_icon.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: block;
	padding: 0 0 5px 10px;
}

.dropdown .dropdown_contacts .dropdown_person_name {
	color: #3399CC;
	font-weight: bold;
}

.dropdown .dropdown_contacts .view_all_link {
	color: #333;
	font-size: .95em;
}


/* SEARCH */
.dropdown .dropdown_search_people {
	margin-left: 440px;
	
}

.dropdown .dropdown_search_container {
	
}

.dropdown .dropdown_search_input {
	border: 1px solid #ddd;
	height: 21px;
	color: #999;
	width: 250px;
	float: left;
	margin-right: 5px;
}

.dropdown .search_button {
	position: relative;
	top: 4px;
}

.dropdown .close {
	position: relative;
	right: 50px;
	
}

.dropdown .close a {
	font-weight: bold;
	color: #333;
	font-weight: bold;
}

.dropdown .close img {
	position: relative;
	top: 5px;
	padding-left: 5px;
}


/* SITES */
.dropdown .dropdown_sites {
	width: 230px;
}

.dropdown .dropdown_recent_sites {
	width: 230px;
}

.dropdown .dropdown_search_course_sites {
	margin-left: 500px;
}

.dropdown ul {
	margin: 0;
	padding: 0 0 10px 0;
}

.dropdown ul li {
	list-style-type: none;
	padding: 2px 0;
}

.dropdown ul li a {
	color: #3399CC;
	font-weight: bold;
}

.dropdown .dropdown_create_sakai_site {
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown .dropdown_create_sakai_site a {
	background-image:url(../images/add_icon_middle.png);
background-position: center bottom;
background-repeat:repeat-x;
display:block;
float:left;
height:27px;
text-indent:0;
width: 148px;
padding: 0 0 9px 0;

}

.dropdown .dropdown_create_sakai_site img {
	position: relative;
	top: 9px;
	padding-right: 5px;
}

