html {
    /*background-color:#f5f5f5;*/
    background:#fff url(../images/body_bg.png) repeat-x top left;
}
body {
    padding:0 10px;
}
h1 {
    font:normal 2em Arial, Helvetica, sans-serif;
}
a {    
    text-decoration:none;
    color:#333;
}
/********************************************/
/* Miscellaneous */
.disabledState {
	opacity:0.3;
	filter:alpha(opacity=30);
}
.divider {
	border-right:1px solid #ccc;
	width:0.5em;
	overflow:visible;
	position:relative;
}
.divider * {position:absolute; top:35%; padding:.5em 0;  background-color:#fff; color:#999;}

/********************************************/
/* Explorer Bar */
.explore_nav{
    background-color:#333;
    color:#999;
    padding:10px;
	 vertical-align: middle;
 	 line-height: 1.5em;
}

.explore_nav * {
}
.explore_nav ul {
    padding:0;
    margin:0;
}
.explore_nav li {
    display:inline;
    list-style-type:none;
}
.explore_nav a {

}
.explore_nav .explore {
    font-weight:bold;
}
.explore_nav .explore li {
    padding-right:15px;
}
.explore_nav .explore li a {
    color:#fff;    
}
.explore_nav .personal {
	padding-top:1px;
}
.explore_nav .personal li a{
    font-size:0.85em;
    padding:0 7px 0 5px;
    border-right: 1px solid #999;
}
.explore_nav .personal li.last a{
	 border:none;
	 padding-right:0
}
.explore_nav .personal li a {
    color:#ccc;
}

.personal img{
	vertical-align: middle;
}
/********************************************/
/* Site title + search */
.site_heading {
    padding:10px 0 10px 10px;
}
.site_heading h1 {
    margin:0;
}
.site_heading .search {
    margin-top:5px;
}
.site_heading .search .search_field {
    width:200px; 
    padding:2px 5px; 
    border:2px solid #ccc; 
    border-right:none; 
    border-bottom:none;
}
.site_heading .search .search_button {
    background-color:#333; 
    border:none; 
    background-image:url(../images/search_icon.png); 
    height:20px; 
    width:20px;
}

/********************************************/
/* Site Nav Menu */
.site_nav {
    color:#333;
    background-color:#f9f9f9;
    padding:5px;
	margin:-10px -10px 0;
    overflow-x:hidden;
    border-bottom:1px solid #ccc;
    font-size:0.9em;
}
.site_nav ul {
    padding:0;
    margin:0;
}
.site_nav li {
    float:left;
    display:inline;
    list-style-type:none;
}
.site_nav a {
    color:#333;
}
.site_nav .page_options_extra, .site_nav .page_options {
    text-transform:capitalize;
    display:inline;
}
.site_nav .page_options_extra li, .site_nav .page_options li {
    border: 1px solid #CCC;
    border-top:none;
    border-bottom:none;
    padding:0 7px;
}

.site_nav .page_options {
    font-weight:bold;
    margin-left:-10px;
    padding-left:4px;
}

.site_nav .page_options li{
    border-right:none;
}

.site_nav .page_options_extra {
    margin-right:-10px;
    padding-right:4px;
}
.site_nav .page_options_extra li {
    border-left:none;
}

/********************************************/
.main_container {
    border:1px solid #ccc;
	padding:15px 10px;
	background-color:#fff;
}

.column_splitter_sites {
	/* simple hack free approach to a column divider that needs to match either columns height */
    background:#fff url(../images/single_grey_pixel.png) repeat-y 220px top;
}

.main_container a {
    color:#666;
    font-weight:bold;
}

/********************************************/
/* Page Specific Nav menu */
.page_nav {
    /*border-right:1px solid #ccc;*/
}
.page_nav h3 {
    margin:1em 0 0 0; 
    padding:0;
}
.page_nav ul {
    margin:0; 
    padding:0;
}
.page_nav li {
    list-style-type:none;
}
.page_nav li a {
    color:#666;
}
.page_nav a {
    font-weight:normal;
}
.page_nav a {
    color:#000; 
    padding-top:20px; 
    display:block; 
    font-size:.9em
}
.page_nav .fl-listmenu a {
    padding:3px 0;
    font-size:1em;
}
.page_nav .fl-listmenu {
    border:none;
}
.page_nav .fl-listmenu li {
    border:none;
}


/********************************************/
/* Content  */
.content_container {
    /*border-left:1px solid #ccc;*/
}
.content_container h2 {
    font-size: 1.5em;
    margin: 0em 0;
}
.content_container .byline {
    color:#999;
}
.content_container .profile {
    background-image: url(../images/profile_icon.png);
    width:24px;
    height:24px;
    margin-top:-10px;
	padding-bottom:10px;
}

.content_container .search_field {
    width:200px; 
    padding:2px 5px; 
    border:2px solid #ccc; 
    border-right:1px solid #efefef; 
    border-bottom:1px solid #efefef;
}

/* Custom color scheme and tweaks for fl-tabs */
/*.content_container .fl-tabs {
    border-color:#ccc;    
}
.content_container .fl-tabs a {
    border-color:#ccc;
    font-weight:normal;
    border-bottom:none;
}
.content_container .fl-activeTab a {
    background-color:#fff;
}
.content_container .fl-activeTab a {
    font-weight:bold;
    color:#000;    
}*/
.content_container .new_page_path {
	line-height: 3em;
	color:#999;
}
.content_container .new_page_path span {
	color:#000;
}
.content_container h3 em {
	color:#999;
	font-style:normal;
}
.content_container .custom_button {
	border:1px solid #ccc;
	font-size: 0.8em;
	background:#fff url(../images/custom_button_gradient.png) repeat-x bottom center;
	padding:2px 4px;
	cursor: pointer;
	margin-left: 5px;
}
.content_container .create_options a {
	text-align:center;
	font-weight:normal;
}
.content_container .create_options strong {
}
.content_container .create_options a img {
	padding:4px;
	border:2px solid #999;
}
.content_container .create_options .divider {
	height:130px;
	margin:0 20px;
}
.content_container .create_options .more_options button {
	height:3.5em;
	width:2em;
	text-align:center;
	margin:3.5em 1.25em 0;
}
.content_container .create_options .more_options a img {
	border:none;
	display:block;
	padding:0;
	margin:0 auto;
}
/* overrides for standard fl-col */
.content_container .create_options .more_options .fl-col {margin:0; width:120px; overflow:hidden;}
.content_container .create_options .more_options p {color:#999; margin-right:80px;}
.content_container .create_options .more_options p a {color:#000;}

/********************************************/
/* Gateway Search and Contents  */
.gateway_heading {
}
.gateway_heading h1 {
	font-weight:bold;
}
.gateway_heading .search .search_field {
	border-bottom:1px solid #efefef;
	border-right:1px solid #efefef;	
	height:1.5em;
	width:35em;
}
.gateway_heading .search .search_button {
	background-image:none;	
	width:5em;
	color:#fff;
	height:2em;
}
.gateway_heading .search {
}

.gateway_heading .search .fl-tabs {
    border:none;
    padding:5px 0 0 5px;    
    margin:0 0 0 0;
    height:30px;
    overflow:hidden;
}
.gateway_heading .search .fl-tabs li {
    border-left:1px solid #ccc;
    margin-left:-6px;
}
.gateway_heading .search .fl-tabs li a {
    padding: 3px 10px 12px;
    border:none;
    font-weight:normal;
    margin-left:0;
}
.gateway_heading .search .fl-tabs li.fl-activeTab {    
    border:none;
}
.gateway_heading .search .fl-tabs li.fl-activeTab a {
    background:#999 url(../images/gateway_search_indicator.png) no-repeat scroll center bottom;
    color:#fff;
}

.gateway_block {    
    background:#fff url(../images/gateway_block_bg.png) repeat-x left top;
    padding:15px;
}

.gateway_block h3 {
    margin:0; padding-bottom:15px;
}

.gateway_block ul {
    margin:0; padding:0;
}
.gateway_block ul li {
    list-style-type:none;
}

.gateway_columns {
    margin-bottom:10px;
}
.gateway_columns .fl-force-right {
    width:31%;
    margin-left:10px;
}
.gateway_columns .fl-force-left {
    width:31%;
    margin-right:10px;
}

.gateway_main_column {
    background-color:#f5f5f5;    
}
.gateway_main_column .fl-listmenu {
    margin:0;
    width:125px;
    border:none;
    background-color:#e0e0e0;
}
.gateway_main_column .fl-listmenu li {
    border:none;    
}
.gateway_main_column .fl-listmenu a {    
    padding:15px;
    border-bottom:1px solid #fff;
}
.gateway_main_column .fl-listmenu .active a {
    background-color:#f5f5f5;
    border-color:#f5f5f5;
}

.whats_new {
    color:#999;
}
.whats_new li {
    padding:0 0 20px 35px ;
}
.whats_new .heirarchy {
    background:transparent url(../images/gateway_icon_proxy.png) no-repeat top left;
}
.whats_new .discussion {
    background:transparent url(../images/gateway_icon_proxy.png) no-repeat top left;
}
.whats_new .media {
    background:transparent url(../images/gateway_icon_proxy.png) no-repeat top left;
}

.whos_on {color:#999}
.whos_on .fl-force-left,
.whos_on .fl-force-right {width:auto; margin-right:auto}

.whos_on li {padding-left:60px;}
.whos_on img {margin-left:-60px; }
.whos_on .name {font-weight:bold; color:#000; display:block;}
.whos_on .occupation {display:block;}
.whos_on .occupation a {color:#000; font-weight:normal;}
.whos_on .description {font-style:italic; display:block;}

/********************************************/
/* Footers  */
.footer_menu {
    border-bottom:1px solid #ccc;
    padding:20px;
}
.footer_menu h4 {
    clear:both;
    margin:10px 0;
}
.footer_menu ul {
    margin:-2.0em 0 0 70px; 
    padding:0;
}

.footer_menu li {
    display:inline;
    list-style-type:none;    
    
}
.footer_menu li.cap a{
    border:none;
}
.footer_menu li a {
    color:#000;
    font-weight:normal;
    font-size:0.85em;
    border-left:1px solid #efefef;
    padding:0 5px;    
}

.footer_copyright {
    padding:10px 10px 0px 10px;
    color:#999;
    font-size:.85em;
	line-height:1.5em;
    text-align:left;
}

.footer_copyright a{
    float:right;
}

.footer_copyright p a{
    float:none;	
}

/*  */
.tab-nav {
    padding:5px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    text-align: right; /*set to left, center, or right to align the menu as desired*/
}

.tab-nav li {
    position: relative;
    display: inline;
	margin-left:5px;
}

.tab-nav li a, .tab-nav li span {
	 margin:0;
    text-decoration: none;
	 font-weight: normal;
    padding: 5px 7px;
    border: 1px solid #ccc; 
	border-width:1px  1px 1px 1px; 
  	border-color:#ccc #ccc  #ccc #ccc;
    background-color: #fff;
    outline:none
}

.tab-nav li a, .tab-nav li a:visited {
    background: #fff url(../images/tab-back.png) bottom left repeat-x;
	color:#777;
	text-decoration:none
		
}
.tab-nav li a:hover {
	color:#333;    
}

.tab-nav li.tab-nav-selected span { /*selected tab effect*/
    position: relative; 
    padding: 8px 7px 5px 7px;
	bottom:-1px;
    font-weight: bold;
    border-bottom: none;
    background-color: #fff;
	color:#555
}
.tab-nav-panel{
	background:#fff;
	padding:0;
    margin: 0;
}

.toolbar{
	background:#eee;
	padding:0px;
	vertical-align: middle;
    background: #fff url(../images/tab-back.png) bottom left repeat-x;
	margin-top:10px;
	border: 1px solid #CCCCCC;
}
.toolbar-placeholder{
	background:#ffffff !important;
	background: #fff !important;
	margin-top:10px;
	border: none !important;
	height: 30px;
}
#toolbarcontainer {
	margin: 10px 10px 0px 0px;
}
.title-input {
	border: none !important;
	width: 100% !important;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 2px;
}
.buttonBar{

}
.buttonBar .button, .buttonBar .button-default{
	background:#FFFFFF url(../images/custom_button_gradient.png) repeat-x scroll center bottom;
	border:1px solid #CCCCCC;
	 font-weight: normal;
	cursor:pointer;
	padding:3px 8px;
}

.buttonBar .button-default{
	color:#222;
}

.fl-tab-content{
	padding:5px 5px 0px 5px;
	border: 1px dotted #CCCCCC;
	margin-top: 10px;
}
.fl-tab-content-editor{
	padding:0px !important;
}
.messageInformation{
	color:#666;
	font-size:0.85em
}

.explore-home{
	color:#fff;
	font-size: 135%
}