/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */


/* CONTAINERS */

#as_content_container
{ padding: 15px; margin: 0; }

#as_main
{  }

#as_settings
{  }

#as_settings_buttonbar
{ margin: 10px 0 0 0; text-align: right; }


/* ACTIVITY FEED */
#as_feed ul
{  }

#as_feed ul li
{ list-style: none; margin: 15px 5px; padding: 0 0 0 10px; }

li .lined
{ border-top: 1px solid #ddd; }
