/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */


/* CONTAINERS */

.activitystream .widget_title {
    background:url("/devwidgets/activitystream/images/activitystream_icon.png") no-repeat scroll 17px 18px transparent;
}

#as_content_container
{ padding: 15px; margin: 0; }


#as_settings_buttonbar
{ margin: 10px 0 0 0; text-align: right; }


/* ACTIVITY FEED */
#as_feed_title
{ margin: 0; padding: 0; font-weight: normal; color: #666; }

#as_feed ul li
{ list-style: none; margin: 15px 5px; padding: 0 0 0 10px; color: #666; }

#as_feed ul li a
{ color: #006E96; font-weight: bold; }

li .lined
{ border-top: 1px solid #ddd; }

/* SETTINGS */

#as_settings input
{ margin: 10px 0; }

#as_item_count
{ border: 1px solid #ddd; height: 20px; width: 40px; font-size: 14px; line-height: 20px; }


#as_settings label
{ height: 20px; font-size: 14px; line-height: 20px; }
