/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main container */
#systemtour_container.fl-widget-content {padding:10px 0 0 0;}

/* PROGRESS BAR */
.systemtour_left {
    background:url(../images/bgl.png) no-repeat;
    padding: 10px 10px 30px 10px;
}
.systemtour_left_text {
    position: relative;
    top: 12px;
    left: 8px;
    font-weight: bold;
    font-size: 0.9em;
}
#systemtour_progress_bar a {
    text-decoration: none;
}
.systemtour_button {
    padding: 10px 10px 30px 30px;
}
.systemtour_1 {
    background:url(../images/bg1.png);
}
.systemtour_2 {
    background:url(../images/bg2.png);
}
.systemtour_3 {
    background:url(../images/bg3.png);
}
.systemtour_4 {
    background:url(../images/bg4.png);
}
.systemtour_5 {
    background:url(../images/bg5.png);
}
.systemtour_1_selected {
    background:url(../images/bg1selected.png);
}
.systemtour_2_selected {
    background:url(../images/bg2selected.png);
}
.systemtour_3_selected {
    background:url(../images/bg3selected.png);
}
.systemtour_4_selected {
    background:url(../images/bg4selected.png);
}
.systemtour_5_selected {
    background:url(../images/bg5selected.png);
}
.systemtour_button_selected {
    color: #FFF;
}
.systemtour_button_text_1 {
    position: relative;
    top: 12px;
    left: 2px;
    font-weight: bold;
    font-size: 0.9em;
}
.systemtour_button_text {
    position: relative;
    top: 12px;
    left: 8px;
    font-weight: bold;
    font-size: 0.9em;
}
.systemtour_item_complete {
    position: relative;
    top: 13px;
    left: 10px;
    background:url("/dev/images/accept.png") no-repeat; padding-right: 18px;
}
.systemtour_item_complete_5 {
    position: relative;
    top: 13px;
    left: 10px;
    background:url("/dev/images/accept.png") no-repeat; padding-right: 26px;
}

.systemtour_item_filler {
    padding-right: 18px;
}
.systemtour_item_filler_5 {
    padding-right: 26px;
}
.systemtour_right {
    background:url(../images/bgr.png) no-repeat;
    padding: 10px 10px 30px 0;
}
.systemtour_right_text {
    position: relative;
    top: 12px;
    left: 8px;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: underline !important;
}
.systemtour_end {
    
}
.systemtour_end_top {
    
}
.systemtour_end_bottom {
    /*background:url(../images/bgeb.png) no-repeat;
    padding: 10px 15px 0 0;*/
}
