/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#uploadnewversion_container.s3d-dialog-container {width:485px;}
#uploadnewversion_container #uploadnewversion_form_container {width:452px;height:80px;background:url("/devwidgets/uploadnewversion/images/uploadnewversion_form_bg.png") repeat-x top left transparent;border:1px solid #e2e2e2;margin-top:10px;-moz-border-radius:5px;border-radius:5px;padding:20px 15px 0;}
#uploadnewversion_container #uploadnewversion_form_container input {margin-top:10px;}
#uploadnewversion_container #uploadnewversion_actions {float:right;margin-top:15px;}
#uploadnewversion_container #uploadnewversion_actions .uploadnewversion_doupload {margin-left:20px;}

/* Override multifile CSS */
#uploadnewversion_container #multifile_upload {top:auto !important;}
#uploadnewversion_container #multifile_upload_F1 {display:none;}
