/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Settings */
.contentcomments_settingsPart{padding:10px 0;}
.contentcomments_settingsPart h3{margin:0;}
.contentcomments_settingsPart ul{margin:3px 0 0 2em;}
.contentcomments_settingsPart ul li{list-style:none;}
#contentcomments_txtPage{width:30px;padding:2px;height:16px;}
#contentcomments_settings .dialog_buttons{padding:6px;height:30px;}
#contentcomments_settings .dialog_buttons.right button{float:right;}

/* Main container */
#contentcomments_mainContainer.fl-widget-content,#contentcomments_settings.fl-widget-content{margin-right: 20px; border-bottom:5px solid #E1E1E1;}
.contentcomments_commentMessage p.contentcomments_infoDeleted{font-size:.9em;text-align:right;}
.contentcomments_nextButtons{width:100%;}
#contentcomments_titlebar{padding-bottom:28px; border-bottom: 5px solid #e1e1e1;}
#contentcomments_titlebar .contentcomments_titleLeft{float:left;font-size:1.25em;color:#333;}
#contentcomments_titlebar .contentcomments_titleRight{float:right;}
#contentcomments_numCommentsDisplayed,#contentcomments_numComments{color:#333;}
.contentcomments_posterDataName,.contentcomments_posterData a{font-size:1em;text-decoration:none;font-weight:bold;margin:0;}
.contentcomments_posterData{float:left;padding-left:10px;height:25px;}
.contentcomments_posterData a:hover{text-decoration:underline;}
.contentcomments_commentMessage{width:95%;color:#333;padding:0 10px;}
.contentcomments_commentMessage ul{float:right;margin-top:5px;margin-bottom:1px;}
.contentcomments_commentMessage ul span{text-align:center;}
.contentcomments_message{width:79%;margin-top:-5px;}
#contentcomments_prevPage{float:right;margin-right:10px;display:none;}
.contentcomments_commentLinks{overflow:auto;width:20%;float:right;}
.contentcomments_commentMessage ul li{display:inline;color:#BBB;}
.contentcomments_arrowUp{height:10px;background:#fff url(../images/contentcomments_arrowup.jpg) no-repeat bottom left;}
.contentcomments_avatar{height:40px;float:left;padding:1px;border:1px solid #DEDEDE;clear:left;*margin-top:18px;/* IE margin fix */}
.contentcomments_dateComment{font-size:1em;color:#000;margin-left:5px;}
.contentcomments_leftCommentBar{float:left;margin-right:15px;}
.contentcomments_topCommentBar{margin-top:15px;overflow:auto;overflow-x:hidden;}
.contentcomments_commentMessage{float:left;}
.contentcomments_fillInCommentTopContainer input[type=text]{width:350px;}
.contentcomments_txtMessage{height:50px;width:auto;}
.contentcommentsTable{width:100%;}
.contentcomments_arrowLeftFiller{height:1px;margin:20px 0 0 44px;width:5px;}
.contentcomments_arrowLeft{height:15px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -712px transparent;margin:15px 0 0 50px;width:15px;}
#contentcomments_fillInComment{background-color:#EBEFF1;margin:-31px 0 0 58px;padding:0 15px;}
#contentcomments_contentcommentsDisabled{background-color:#EBEFF1;margin:30px 30px 0 30px;padding:20px 0 10px 0;text-align:center;}
#contentcomments_mainContainer .dialog_buttons{padding:6px 0 6px 6px;height:30px;margin-top:0;}
#contentcomments_mainContainer .dialog_buttons.right button{float:right;margin-right:0;}
#contentcomments_mainContainer .contentcomments_message p{padding-bottom:0;margin-bottom:0;}
.contentcomments_noComments{color:#333;font-style:italic;padding-top:25px;}
.contentcomments_delete,.contentcomments_undelete{float:right;}
.contentcomments_comment{padding-bottom:5px;}
#contentcomments_mainContainer textarea,#contentcomments_settings textarea{margin:2px 0;width:100%;border:#999 solid 1px;resize:none; height:100px; float:left;}
#contentcomments_settings textarea{height:140px;}
#contentcomments_mainContainer input[type=text].error,#contentcomments_settings input[type=text].error,#contentcomments_mainContainer textarea.error,#contentcomments_settings textarea.error{border-color:#9f3333;background-color:#ffdede;}
#contentcomments_editorOptions span{margin-left:10px;}
.contentcomments_dialog_buttons {float:none;}
