/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Settings */
.comments_settingsPart {padding:10px 0px 10px 0px;}
.comments_settingsPart h3 { margin:0px;}
.comments_settingsPart ul { margin:3px 0px 0px 2em;}
.comments_settingsPart ul li {list-style:none;}
#comments_txtPage {width:30px;padding:2px;height:16px;}
#comments_settings .dialog_buttons {padding: 6px; height:30px;}
#comments_settings .dialog_buttons.right button {float:right;}

/* Main container */
#comments_mainContainer.fl-widget-content, #comments_settings.fl-widget-content {padding:10px;border: 1px solid #d4dade;}
.comments_commentMessage p.comments_infoDeleted { font-size:0.9em;text-align:right;}
.comments_nextButtons {width:100%;}
#comments_titlebar {padding-bottom:10px;}
#comments_titlebar .comments_titleLeft {float:left;font-size:1.2em;color:#555555;}
#comments_titlebar .comments_titleRight {float:right;}
#comments_numCommentsDisplayed, #comments_numComments {color:#333;}
.comments_posterDataName,.comments_posterData a {font-size:1em;text-decoration:none;font-weight:bold;margin:0;}
.comments_posterData {float:left;padding-left:10px;height:25px;}
.comments_posterData a:hover {text-decoration:underline;}
.comments_commentMessage {width:95%;/*background-color:#eee;*/color:#333;padding:0 10px;}
.comments_commentMessage ul {float:right;margin-top:5px;margin-bottom:1px;}
.comments_commentMessage ul span {text-align:center;}
.comments_message {width:79%; margin-top: -5px;}
#comments_prevPage {float:right;margin-right:10px;display:none;}
.comments_commentLinks {overflow:auto;width:20%;float:right;}
.comments_commentMessage ul li {display:inline;color:#BBB;}
.comments_arrowUp {height:10px;background:#fff url(../images/comments_arrowup.jpg) no-repeat bottom left;}
.comments_avatar {height:40px;float:left;padding:1px;border:1px solid #DEDEDE;}
.comments_dateComment {font-size:1em;;color:#000;margin-left:5px;}
.comments_leftCommentBar {float: left; margin-right: 15px;}
.comments_topCommentBar {margin-top:15px; overflow: auto;}
.comments_commentMessage {float: left;}
.comments_fillInCommentTopContainer input[type=text] {width:350px;}
.comments_txtMessage {height:50px;width:auto;}
.commentsTable {width:100%;}
.comments_arrowLeftFiller {height:1px;margin: 20px 0 0 44px; width: 5px;}
.comments_arrowLeft {height:15px;background:#fff url(../images/comments_arrowleft.jpg) no-repeat top left;margin: 15px 0 0 50px; width: 15px;}
#comments_fillInComment {background-color:#EBEFF1;margin:-31px 0 0 58px;padding:0 15px 0 15px;}
#comments_mainContainer .dialog_buttons {padding: 6px 0 6px 6px; height:30px; margin-top:0;}
#comments_mainContainer .dialog_buttons.right button {float:right;}
#comments_mainContainer .comments_message p {padding-bottom:0; margin-bottom:0;}
.comments_noComments {color:#333333;font-style:italic;padding-top:25px;}
.comments_delete, .comments_undelete {float: right;}
.comments_comment {padding-bottom: 5px;}

#comments_mainContainer textarea, #comments_settings textarea {margin:2px 0;width:100%;border:#999999 solid 1px; resize:none;}
#comments_settings textarea {height:140px;}
#comments_mainContainer input[type=text].error,
#comments_settings input[type=text].error,
#comments_mainContainer textarea.error,
#comments_settings textarea.error {border-color:#9f3333;background-color:#ffdede;}