/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */
 
.contentcomments_item_container {
    background-color: #efeeeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 12px;
}

.contentcomments_entity_image {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.contentcomments_entity_image.contentcomments_reply {
    margin-left: 45px;
}

.contentcomments_entity_image.contentcomments_reply_on_reply {
    margin-left: 85px;
}

.contentcomments_content_container {
    margin-top: 12px;
}

.contentcomments_content_container.limit {
    max-height: 315px;
    overflow: auto;
}

.contentcomments_content_container .contentcomments_comment_box > div span {
    font-weight: normal;
}

.contentcomments_content_container .contentcomments_comment_box > div span {
    color: #666;
    font-size: 11px;
    font-style: italic;
}

.contentcomments_content_container .contentcomments_comment_box {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 2px #666;
    -moz-box-shadow: 0 0 2px #666;
    -webkit-box-shadow: 0 0 2px #666;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 8px;
}

.contentcomments_widget .contentcomments_read_more {
    display: block;
    margin: 15px auto 0;
}

.contentcomments_content_container textarea {
    height: 16px;
    margin-left: 45px;
    padding: 3px 5px 2px;
    resize: none;
    width: 480px;
}

.contentcomments_content_container textarea.contentcomments_reply {
    margin: 0 0 12px 90px;
    width: 435px;
}

.contentcomments_world_actions .s3d-private-icon {
    padding-left: 0;
}
