ul.tlrp_alphabetBar{
	height:40px;
	margin:0px;
	width:554px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:0px !important;
}
.tlrp_alphabetBarContainer{
	height:40px;
	background: url("../images/alphabetBar.jpg") repeat-x;
	width:100%;
}
ul.tlrp_alphabetBar li{
	display:inline;
	padding:0px;
	margin:0px;
}
ul.tlrp_alphabetBar li a{
	color:#7B7A7A;
	display:inline-block;
	font-weight:normal;
	font-size:14px;
	height:16px;
	width:18px;
	text-align:center;
	padding:12px 0px 12px 0px;
}
ul.tlrp_alphabetBar li a:hover, .tlrp_selectedLetterAlphabet{
	text-decoration:none;
	background-color:#61bbe5;
	color:#FFFFFF !important;
}
ul#tlrp_authorsList {
	height:379px;
	margin:0;
	overflow:auto;
	padding:5px 0 5px 0;
	width:100%;
}
ul#tlrp_authorsList li{
	color:#000000;
	margin-left:10px;
}
ul#tlrp_authorsList li a{
	color:#000000;
	font-weight:normal;
}
ul#tlrp_authorsList li a:hover{
	text-decoration:none;
}

