#pickeruser_container{width:637px;height:490px;padding:5px;margin-left:-319px;}
#pickeruser_container #pickeruser_container_search{width:591px;height:362px;}
#pickeruser_container #pickeruser_container_search.no_message{height:200px;}
/* HEADER */
#pickeruser_container #pickeruser_basic span.fl-force-left{width:100%;margin-bottom:5px;}
#pickeruser_container #pickeruser_basic span#pickeruser_add_header{margin-bottom:30px;}
#pickeruser_container #pickeruser_basic textarea{width:100%;}
#pickeruser_container #pickeruser_basic #pickeruser_send_message{background-color:#EFF2F4;width:96%;padding:2%;margin-top:15px;}
#pickeruser_container .pickeruser_link{color:#006E96;font-weight:bold;}
#pickeruser_container #pickeruser_basic span#pickeruser_add_header_what,#pickeruser_container #pickeruser_basic span#pickeruser_add_header_where{font-weight:bold;}
#pickeruser_container ul.as-selections{height:80px;}
#pickeruser_container div.fl-force-left{width:100%;}
/* FOOTER */
#pickeruser_container #pickeruser_footer{float:right;width:445px;}
#pickeruser_footer_select{padding-bottom:40px;}
#pickeruser_container #pickeruser_footer_options{margin-top:15px;}
/* CONTENT */
#pickeruser_container #pickeruser_content{height:280px;width:600px;overflow:auto;}
/* AutoComplete */
#pickeruser_container_search ul li{list-style:none;}
#pickeruser_form_container{width:100%;}
img.sm_suggestion_img{height:16px;width:16px;margin-right:5px;}
