
.pickeruser_container
{ width: 500px; height: 260px; border: 1px solid #999; }

/* HEADER */
.pickeruser_container .pickeruser_header
{ height: 30px; line-height: 30px; border-bottom: 1px solid #999; padding: 0 10px 0 10px; }

.pickeruser_container .pickeruser_header .pickeruser_count
{ color: #333; font-size: 14px; font-weight: bold; }

.pickeruser_container .pickeruser_header .pickeruser_count_person,
.pickeruser_container .pickeruser_header .pickeruser_count_people,
.pickeruser_container .pickeruser_header .pickeruser_count_of,
.pickeruser_container .pickeruser_header .pickeruser_count_thousands
{ color: #333;  font-size: 14px;}

.pickeruser_container .pickeruser_header .pickeruser_sort_on
{ margin: 6px 0 0 0; }


/* CONTENT */
.pickeruser_container .pickeruser_content
{ height: 229px; overflow: auto; }

.pickeruser_container .pickeruser_content .pickeruser_page
{ margin: 0; padding: 0; }

.pickeruser_container .pickeruser_content .pickeruser_page li
{ display: block; list-style: none; clear: both; padding: 5px 0 5px 10px; border-bottom: 1px solid #DBF3FF; overflow: hidden; }

.pickeruser_container .pickeruser_content .pickeruser_page .pickeruser_selected
{ background: #DBF3FF; border-bottom: 1px solid #006E96; }

.pickeruser_container .pickeruser_content .pickeruser_page .pickeruser_ppicture
{ height: 48px; width: 48px; float: left; display: block; }

.pickeruser_container .pickeruser_content .pickeruser_page .pickeruser_name
{ color: #006E96; font-size: 14px; font-weight: bold; position: relative; top: 5px; left: 5px; }

.pickeruser_container .pickeruser_content .pickeruser_page .pickeruser_subnameinfo
{ color: #999; font-size: 11px; position: relative; top: 5px; left: 5px; }

.loadinganim
{ background: #fff url(../../../dev/_images/ajax_load.gif) center 8px no-repeat; min-height: 50px; }
