/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */ 
 
 #message_dialog {width: 520px;}
.dialogue_box {background:#FFFFFF none repeat scroll 0 0;border:none;height:auto;left:auto;margin-left:0px;margin-top:0px;position:relative;top:0%;width:520px;z-index:101;} 
.sendmessage_error_message {font-weight:bold;margin:10px;padding:10px;border:1px solid #ff0000;background-color:#f7d8d8;} 
.sendmessage_normal_message {margin:10px;padding:10px;border:1px solid #00ff00;background-color:#d9f7d8;} 
.sendmessage_invalid {background-color:#FFCCCC !important;}

/* CSS stuff for select box for a friend */ 
#sendmessage_multiple_to {height:27px;border:none;} 
#sendmessage_multiple_to_input_container {width:484px;background-color:#ffffff;height:auto;padding:0px;cursor:text;	/* To make the div look like an input box */ border-top:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;} 
#sendmessage_multiple_to_input_container span {display:inline-block;background-color:#f4f4f4;margin:2px;padding:1px 3px 2px 5px;font-size:0.9em;border:1px solid #ccc;}
#sendmessage_multiple_to_what {width:482px;font-size:0.9em;background-color:#e3e3e2;padding:4px;z-index:100;position:absolute;border-top:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;} 
.sendmessage_multipleBox_delete {margin-right:3px;position:relative;top:2px;left:3px;cursor:pointer;}
#sendmessage_dialog_footer {padding-left:15px; height:40px;}
#sendmessage_buttonBar {position:relative; top:5px; padding-bottom:15px}

/** BUTTONS **/
.send_message .lightgreybutton
{ background: transparent url(../../_images/lightgray_button_right.gif) top right no-repeat; float: left; height: 23px; padding: 0 10px 0 0; margin-right: 10px; }

.send_message .lightgreybutton a
{ background: url(../../_images/lightgray_button_left.gif) top left no-repeat; display: block; height: 23px; padding: 4px 0 0 10px; color: #FFFFFF; font-weight: bold; border: none; cursor: pointer; font-weight: normal; }

.send_message .greybutton
{ background: transparent url(../../_images/gray_button_right.png) top right no-repeat; float: left; height: 23px; padding: 0 10px 0 0; margin-right: 10px; }

.send_message .greybutton a
{ background: url(../../_images/gray_button_left.png) top left no-repeat; display: block; height: 23px; padding: 4px 0 0 10px; color: #FFFFFF; font-weight: bold; border: none; cursor: pointer; font-weight: bold; }



/* send_message_lightbox.html */
.send_message .compose-form {font-weight:bold; padding:15px 15px 10px 15px}
.send_message .compose-form input, .send_message .compose-form textarea {font-weight:normal;}
.send_message .compose-form span {font-weight:100; padding-left:4px;}
.send_message .compose-form div {padding-bottom:10px;}
.send_message .compose-form .compose-subject {width:478px;}
.send_message .compose-form .compose-body {height:140px; width:478px;}
.send_message .compose-form .compose-send {padding-top:5px;}
.send_message .compose-form .compose-cancel {padding:5px 0 0 8px;}
.send_message .button {margin-top:5px; color:#333;}
.send_message .send {width:107px; font-size:12px;}
.send_message .cancel {margin-left:9px; width:74px;  font-size:12px;}
#send_message {font-weight:bold}



/*	AUTOCOMPLETE CSS */
.ac_results {padding:0px;border:1px solid black;background-color:white;overflow:hidden;z-index:99999;} 
.ac_results ul {width:100%;list-style-position:outside;list-style:none;padding:0;margin:0;} 
.ac_results li {margin:0px;padding:2px 5px;cursor:default;display:block;/* if width will be 100% horizontal scrollbar will apear when scroll mode will be used *//*width:100%;*/font:menu;font-size:12px;/* it is very important, if line-height not setted or setted in relative units scroll will be broken in firefox */line-height:16px;overflow:hidden;} 
.ac_loading {background-color:#eee;} 
.ac_odd {background-color:#eee;} 
.ac_over {background-color:#058ec4;}