/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/** MAIN CONTENT **/
#accountpreferences_container { width: 580px; margin-left:-280px !important;}
.accountpreferences .section_header{color:#5A697B;font-size:1.1em;}
.accountpreferences .password{margin-top:10px;}
.accountpreferences .password-preferences-input{border:1px solid #ccc;height:25px;width:300px;}
.accountpreferences .save-preferences{float:right;height:auto;margin-right:40px;margin-top:5px;}
.accountpreferences .form-item{margin:0 0 15px 15px;}
.accountpreferences .form-item label{float:left;font-weight:bold;margin-right:15px;text-align:right;width:160px;}
.accountpreferences .preferences-form{margin-top:25px;}
.accountpreferences .preferences-form select{height:21px;width:300px;}
div.accountpreferences_error{margin-left:170px;color:#9f3333;font-weight:bold;}