/* LOCKED */
.tree-default .locked li a { color:gray; }
/* DOTS */
.tree-default ul { background-position:6px 1px; background-repeat:repeat-y; background-image:url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==); _background-image:url("dot_for_ie.gif"); *background-image:url("dot_for_ie.gif"); }
.tree-default li { background-position:-64px -16px; background-repeat:no-repeat; background-image:url("icons.png"); }
/* NO DOTS */
.tree-default .no_dots, .tree-default .no_dots ul { background:transparent; }
.tree-default .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-default li.open { background:url("icons.png") -32px -45px no-repeat; }
.tree-default li.closed, #jstree-dragged.tree-default li li.open { background:url("icons.png") -48px -29px no-repeat; }
#jstree-marker { background-image:url("icons.png"); }
/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-default li a, .tree-default li span { padding:5px 10px 5px 0px; border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 6px; color:#058EC4; font-weight:normal; }
.tree-default li a:hover, .tree-default li a.hover, .tree-default li span { background: #e7f4f9; }
.tree-default li a.clicked, .tree-default li a.clicked:hover, .tree-default li span.clicked { font-weight: bold; border:1px solid #999; padding:5px 10px 5px 5px; }
/* ICONS */
.tree-default ins { background-image:url("icons.png"); background-position:0 0; background-repeat:no-repeat; }
.tree-default ul li a.loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important; } /* UL is added to make selector stronger */
.tree-default li a ins.forbidden { background-position:-16px -16px; }
.tree-default .locked li a ins { background-position:0 -45px; }
.tree-default li span ins { background-position:-16px 0; }
#jstree-dragged.tree-default ins { background:url("icons.png") -16px -32px no-repeat; }
#jstree-dragged.tree-default ins.forbidden { background:url("icons.png") -16px -16px no-repeat; }

/* CONTEXT MENU */
.tree-default-context a ins { background-image:url("icons.png"); background-repeat:no-repeat; background-position:-64px -64px; }
.tree-default-context a ins.create { background-position:0 -16px; }
.tree-default-context a ins.rename { background-position:-16px 0px; }
.tree-default-context a ins.remove { background-position:0 -32px; }
