body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
}

table {
	line-height: 125%;
	font-size: 100%;
}

#xEditingArea {
	border: 1px dashed #666666;
}

#currentlyEditingPage_1234 table {
	width: 100%;
}

#portfolio_wrapper {
	width: 990px;
	margin: auto;
	background: transparent;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 1em;
}

#portfolio_logo {
	display: none;
}

#portfolio_splash {
	margin: 0.5em 0;
	/*border: 1px solid blue;*/
}

#portfolio_participant_name {
	font-size: 1.4em;
	color: #666666;
	float: left;
	padding: 0 0 8px 0;
	margin: 0;
	/*padding-top: 1em;
	width: 220px;*/
}

#portfolio_title {
	float: left;
	clear: both;
	font-style: italic;
	font-family: serif;
	color: #9999CC;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	/*padding-bottom: 1em;
	padding-top: 1em;
	padding-top: 5px;
	width: 220px;*/
}

#portfolio_page_body {
	border: 1px solid gray;
	clear: both;
	margin
	0;
	padding
	0;
}

#portfolio_primary_navigation {
	margin: 0;
	padding: 0;
	margin-top: -2em;
	clear: both;
	padding-top: 1em;
	/*padding-bottom: 2em;
	border: 1px solid green;*/
}

#portfolio_primary_navigation ul {
	list-style-type: none;
	padding: 0;
	margin: 0.2em 1em 0.5em auto;
	float: right;
}

#portfolio_primary_navigation ul li {
	display: inline;
}

#portfolio_primary_navigation ul li a {
	float: left;
	font-size: 0.9em;
	/*    width: 100px;*/
	text-decoration: none;
	color: #999999;
	padding: 0.2em 6px;
	display: block;
	margin: auto;
}

#portfolio_primary_navigation ul li a:hover {
	color: #6666CC;
}

#portfolio_primary_navigation ul li a.active {
	color: #6666CC;
	text-decoration: underline;
}

#portfolio_secondary_navigation { /*border: 1px ridge red;
	background-color: blue;*/
	width: 200px;
	float: left;
	clear: both;
	line-height: 120%;
}

#portfolio_secondary_navigation ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 4px;
}

#portfolio_secondary_navigation ul {
	padding: 0 0.2em 0 0.5em;
	/*font-size: 0.9em;*/
	margin: 14px 0;
}

/* handle this soon
ul.subPageNavList {
    padding-left: 2.0em;    
}

.subPageNavList a {
    display:block;
    text-decoration: none;
}
.subPageNavList a:hover {
    text-decoration: underline;     
}
.subPageNavList a.active {
    text-decoration: underline;     
}
*/
#portfolio_page_body {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

#portfolio_page_content { /*border: 1px solid #CCCCCC;
	float: left;
	margin-left: 210px;
	line-height: 150%;
	margin-top: 0px;
	padding-top: 0px;*/
	
}

.examplePage { /*background-color: red;
	float: left;*/
	margin-left: 210px;
	line-height: 150%;
	margin-top: 0px;
	padding-top: 0px;
}

#portfolio_footer {
	color: #CCCCCC;
	font-size: 0.7em;
	clear: both;
	margin: 1em 0;
	padding-top: 1em;
	height: 35px; /* high enough for this theme's logo */
	background-image: url(wordmark-light.png);
	background-repeat: no-repeat;
	background-position: center;
}

div.hidden_block {
	display: none;
}

h1 {
	font-size: 1.2em;
	color: #333399;
}

h2 {
	font-size: 1.0em;
	color: #333399;
}

h3 {
	font-size: 0.9em;
	font-style: italic;
	color: #333399;
}

/*
  =header
*/
#header {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: left;
}

.header-up ul,.header-down ul {
	margin: 0;
	padding: 0;
}

.header-up li,.header-down li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-up {
	background: #efefef;
}

.header-down {
	background: #00a5e3;
}

ul.header-up-left {
	float: left;
	display: inline;
	width: 30%;
}

ul.header-up-left li {
	float: left;
	display: inline;
	line-height: 25px;
}

ul.header-up-left a {
	float: left;
	display: inline;
	color: #666;
	line-height: 25px;
	text-decoration: none;
	margin-left: 20px;
}

ul.header-up-left a:hover {
	text-decoration: underline;
}

ul.header-up-right {
	float: right;
	display: inline;
	width: 69%;
}

ul.header-up-right li {
	float: right;
	display: inline;
	line-height: 25px;
	padding: 0 8px 0 9px;
	background: url(../img/li.png) 100% 50% no-repeat;
}

ul.header-up-right li.li-last {
	padding: 0 0 0 9px;
	background: url(none);
}

ul.header-up-right li.user {
	padding: 0 10px 0 0;
}

ul.header-up-right a {
	line-height: 25px;
	text-decoration: none;
	padding-right: 15px;
	color: #666666;
	background: url(../img/a2.png) 100% 50% no-repeat;
}

ul.header-up-right li.li-last a {
	margin-right: 20px;
	padding-right: 0px;
	background: url(none);
}

ul.header-up-right li.user a {
	padding-right: 0px;
	text-decoration: underline;
	color: #0287C5;
	background: url(none);
}

ul.header-up-right a:hover {
	text-decoration: underline;
}

ul.header-up-right strong {
	margin-right: 5px;
	color: #000;
}

.header-down {
	height: 65px;
}

.header-down-left {
	float: left;
	display: inline;
	width: 69%;
}

.header-down-left h1 {
	padding: 20px 0 0 20px;
	color: #FFF;
	font-weight: normal;
	font-size: 26px;;
	line-height: 100%;
}

.header-down-right {
	float: right;
	display: inline;
	width: 30%;
}

.header-down-right ul {
	float: right;
	display: inline;
	margin: 19px 7px 0 0;
}

.header-down-right li {
	float: right;
	display: inline;
	margin-right: 4px;
	line-height: 26px;
	background: url(../img/menu-left.png) 0 0 no-repeat;
	position: relative;
}

.header-down-right li a {
	float: left;
	display: inline;
	height: 26px;
	padding: 0 12px;
	background: url(../img/menu-right.png) 100% 0 no-repeat;
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	line-height: 26px;
	text-decoration: none;
}

.header-down li ul {
	display: block;
	position: absolute;
	top: 24px;
	left: 10px;
	margin: 0;
	padding: 0;
	background: url(../img/ul-hover.png) 0 2px no-repeat;
}

.header-down li ul li {
	float: none;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(none);
}

.header-down li ul a {
	float: none;
	height: auto;
	margin: 0;
	padding: 0;
	background: url(none);
	font-size: 10px;
	text-decoration: underline;
}

.header-down-right li a span {
	color: #97E04E;
}

/*
	=lightbox
*/
.overlay-lightbox {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 1000px;
	background: #000000;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	opacity: .70;
	z-index: 2000;
}

.overlay-lightbox2 {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 1000px;
	/*filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity:.70;*/
	z-index: 2001;
}

.lightbox {
	display: block;
	margin: 50px auto 0;
	padding: 2px;
	background: #00a5e3;
	z-index: 1002;
	overflow: auto;
	text-align: left;
}

.size1 {
	width: 845px;
}

.size2 {
	width: 545px;
}

.size3 {
	width: 625px;
}

.size4 {
	width: 865px;
}

.lightbox-header {
	height: 31px;
	background: transparent;
}

.lighbox-header-left {
	float: left;
	display: inline;
	width: 49%;
}

.lighbox-header-left h3 {
	padding: 7px 0 0 14px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

ul.lightbox-header-right {
	float: right;
	display: inline;
	margin: 3px 5px 0 0;
	padding: 0;
}

ul.lightbox-header-right li {
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	list-style: none;
	line-height: 23px;
	font-size: 11px;
}

ul.lightbox-header-right li.lhr-close {
	margin-left: 7px;
}

ul.lightbox-header-right a {
	float: left;
	display: inline;
	color: #fff;
}

ul.lightbox-header-right li.lhr-help a {
	padding-right: 10px;
	background: url(../img/lhr-help.png) 100% 50% no-repeat;
}

ul.lightbox-header-right li.lhr-close a {
	padding-right: 32px;
	background: url(../img/lhr-close.png) 100% 50% no-repeat;
}

.lightbox-container {
	padding: 25px;
	background: #FFF;
}

.lightbox-container2 {
	padding: 25px 0;
	background: #FFF;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	margin: 0pt;
}

input {
	padding: 3px 5px 4px;
	border: 1px solid #babec2;
	background: url(../img/input.png) 0 0 repeat-x;
	font: normal 12px/ 16px Arial, Helvetica, sans-serif;
}

.container_child {
	padding: 10px 10px 10px 10px !important;
}