.DS_STORE
.project
.idea
*.kpf
*.log
*.swp

Thumbs.db
dump.rdb

nginx/nginx.*

node_modules/*
!node_modules/oae-core
!node_modules/oae-esup
!node_modules/oae-admin

target/

tools/crowdin/*.jar
tools/crowdin/*.yaml
