.DS_Store
.project
.idea
*.kpf
*.log
*.swp

Thumbs.db
dump.rdb

nginx/nginx.*
!nginx/nginx.conf

node_modules/*
!node_modules/oae-admin
!node_modules/oae-admin/*
!node_modules/oae-core
!node_modules/oae-core/*
!node_modules/oae-jitsi-widgets
!node_modules/oae-jitsi-widgets/*

target/

tools/crowdin/*.jar
tools/crowdin/*.yaml
