/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* General */
#addpeople_container {width:750px; background-color:#f8f8f8; border:1px solid #a9a9a9; -moz-border-radius:5px;border-radius:5px;left:31%;padding:12px;left:41%;}
#addpeople_container h1 {font-size: 18px;font-weight: normal;color:#7c7c7c;}

/* Containers */
#addpeople_container #addpeople_my_contacts, #addpeople_container #addpeople_members_container {border: 1px solid #E7E7E7;float: left;height: 400px;margin-top: 30px;width:300px;background-color:#fff;-moz-border-radius:0 2px 2px;-webkit-border-radius:0 2px 2px;border-radius:0 2px 2px;}
#addpeople_container #addpeople_members_container {float:right;width:410px;}
#addpeople_container #addpeople_my_contacts #addpeople_my_contacts_raquo_container {background:none repeat scroll 0 0 #FFFFFF;height:50px;width:30px;position:absolute;right:430px;border:1px solid #E7E7E7;border-left:none;top:46%;background:url("/devwidgets/addpeople/images/addpeople_raquo.png") no-repeat scroll center center #fff;}

/* Top tabs */
#addpeople_container .addpeople_tab {background: url("/devwidgets/addpeople/images/addpeople_tab_bg.png") repeat-x scroll left top transparent;border: 1px solid #E7E7E7;border-bottom:none;display: inline;margin-left: -1px;margin-top:-29px;padding: 6px 17px 7px;position: absolute;}
#addpeople_container #addpeople_members_container .addpeople_tab {width:376px;border-bottom:1px solid #E7E7E7;}

/* Autosuggest */
#addpeople_container #addpeople_members_autosuggest {margin-top:-70px;position:absolute;width:397px;}
#addpeople_container #addpeople_members_autosuggest label {float: left;margin:10px 12px 0 7px;color:#7C7C7C;}
#addpeople_container #addpeople_members_autosuggest ul.as-selections {border: 1px solid #E7E7E7;padding: 0;box-shadow:none;}
#addpeople_container #addpeople_members_autosuggest #addpeople_members_autosuggest_search_icon {background:url("/dev/images/search_icon.png") no-repeat scroll right center transparent;width:16px;height:16px;float:right;margin:10px 3px 0 5px;}
#addpeople_container .as-results {margin-left:60px;}

/* Contacts list */
#addpeople_container #addpeople_contacts_container, #addpeople_container #addpeople_selected_contacts_container {border-top: 1px solid #E7E7E7;margin:7px 12px 0 0;overflow:auto;height:90%;}
#addpeople_container #addpeople_select_all_contacts, #addpeople_container #addpeople_select_all_selected_contacts {margin:7px 12px 0 10px;}
#addpeople_container #addpeople_select_all_contacts {margin-bottom: 6px;}
#addpeople_container .addpeople_checkbox, #addpeople_container .addpeople_selected_checkbox {float:left;margin-right:12px;margin-top:10px;}
#addpeople_container ul {margin:5px 0 0;}
#addpeople_container ul hr {border:none;border-top:1px solid #E7E7E7;background:none;}
#addpeople_container .s3d-list-entity-picture {cursor:pointer;}
#addpeople_container .addpeople_nocontacts_nomemberships {padding: 0px 10px; font-style: italic;}

/* Selected contacts list */
#addpeople_container select {border:1px solid #e7e7e7;float:right;margin:5px 20px 0 0;}

/* Actions */
#addpeople_container .addpeople_top_actions {margin-top:7px;}
#addpeople_container #addpeople_actions {float:right;margin:12px 0 0;}
#addpeople_container #addpeople_actions .s3d-link-button {margin-right:30px;}
