.template_list_container {
	width: 100%;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

.template_list {
	margin: 0;
	padding: 0;
	border-color: #ddd;
	background-color: #ddd;
}

.template_list ul {
	border-color: #ddd;
}

.template_list li {
	border-color: #ddd;
	background-color: #fff;
}

.template_list a {
	width: 80%;
}

.template_list span.menu_title {
	display: block;
	font-weight: bold;
	font-size: 1.1em;
	color: #333;
	padding-bottom: 3px;
}

.template_list span.description {
	display: block;
	font-weight: lighter;
	font-size: .95em;
	color: #666;
}


.template_list a.delete {
	position: relative;
	right: 20px;
	top: 0px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background-image: url(../images/close_icon_small.png);
}

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}


/* scroll pane */
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #ddd;
	background-image: url(../images/scroll_dragarea.png);
	background-repeat: repeat-y;
}
.jScrollPaneDrag {
	position: absolute;
	background: #333;
	background-image: url(../images/scroll_handle.png);
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #ddd;
	background-image: url(../images/scroll_dragarea.png);
	background-repeat: repeat-y;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: #ddd;
	background-image: url(../images/scroll_dragarea.png);
	background-repeat: repeat-y;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background-image: url(../images/scroll_arrow_up.png);
	height: 16px;
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background-image: url(../images/scroll_arrow_down.png);
	height: 16px;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}

