/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */

/*
 * Widget Container CSS
 */

/* widget icon (for widgets that may appear on a dashboard) 
   icons are usually around 18 x 18 pixels */
.templategenerator.s3d-widget .s3d-widget-titlebar .widget_title {background: url('/devwidgets/templategenerator/images/templategenerator_icon.png') 17px 18px no-repeat;}


/* Everything below is lifted from newcreategroup.css and should be consolidated somewhere */

/* Message */
.templategenerator_widget.s3d-widget-content #templategenerator_form_successful, .templategenerator_widget.s3d-widget-content #templategenerator_form_error{ display: none; }

/* Error */
.templategenerator_widget.s3d-widget-content label.error {color:#9F3333 !important;}
.templategenerator_widget.s3d-widget-content h1 {font-size: 18px;font-weight: normal;color:#7c7c7c;}
.templategenerator_widget.s3d-widget-content h1 + hr {border:none;border-top:1px solid #A9A9A9;background:none;}
.templategenerator_widget.s3d-widget-content {width: 480px !important; margin-left: -280px !important;}
.templategenerator_widget.s3d-widget-content label {display:block; color:#424242;font-size:12px;margin: 12px 0 2px;}
.templategenerator_widget.s3d-widget-content input, .templategenerator_widget.s3d-widget-content textarea {border: 1px solid #A9A9A9;height: 20px;margin-top: 3px;width:100%;}
.templategenerator_widget.s3d-widget-content textarea {height:60px;resize:none;}
.templategenerator_widget.s3d-widget-content #templategenerator_export{ display: none; }
