/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

*{
	margin: 0;
	padding: 0;
}

 html{
 	background:#9cc;
 }
 
 img {
 	border: none;
 }
 
.content {
	padding-right: 10px;
}
 
a:link, a:focus, a:active {
	color: #003c79;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
	color: #003366;
}
 
body{
 	color:#333333;
 	font-family:Arial,Helvetica,sans-serif;
	font-size:80%;
	line-height:1.4em;
 	padding: 0 20px;
}

#maincontainer {
 	background:#fff none repeat scroll 0 0;
	border-bottom:1px solid #006666;
	border-left:1px solid #006666;
	border-right:1px solid #006666;
	margin:0 auto;
	max-width:1214px;
	min-width:694px;
}

#container {
	padding:0 20px;
}

.content h3 {
	margin-bottom: 1em;
}

/* Header */
.header {
	border-bottom:3px solid #99CCCC;
	height: 70px;
	margin:0 auto;
	max-width:1254px;
	min-width:734px;
	overflow:hidden;
	padding:0;
}

#branding {
	left:0;
	margin-top:-5px;
	position:relative;
	top:0;
}

#branding img {
	float: left;
}
#branding .header-logo {
	padding:15px 0 18px 18px;
}

#sitetitle {
	color: #cf5200;
	font-size:1.4em;
	font-weight:normal;
	border-bottom:1px solid #CCCCCC;
	padding-bottom:0.8em;
	padding-top:0.6em;
	width:100%;
}

/* Content */
#main-content-div {
	float: left;
	padding-top: 10px;
	width: 64%;
}
#main-content-div p {
	padding-bottom:10px;
}
#main-content-div h1 {
	font-size:1.35em;
	font-weight:normal;
	margin:0.5em 0;
	padding:0.7em 0 0.5em;
}
#container h2 {
	font-size:1.15em;
	font-weight:normal;
	margin:0.5em 0;
	padding-left:25px;
}
#main-content-div ol {
	list-style-type:decimal;
	margin:0 0 1em 2.4em;
}
#main-content-div ul {
	list-style-type:square;
	margin:0 0 1em 2em;
}
/* Navigation */
.page_nav {
	background:#fff url(/dev/_skins/camuniversity/images/bg-content-secondary-blue.jpg) no-repeat scroll -20px 0;
	float:right;
	height:100%;
	margin-bottom: 10px;
	width:35%;
	border-left: 1px solid #eee;
}

.page_nav ul {
	list-style-type: none;
	margin-left:1px;
}
.page_nav ul li a {
	background:#E8F0FF url(/dev/_skins/camuniversity/images/icon-arrow-nav-primary.gif) no-repeat scroll 20px 8px;
	border-bottom:1px solid white;
	border-top:1px solid white;
	color:#003366;
	display:block;
	font-weight:bold;
	height:100%;
	margin-right: 1px;
	padding:0.2em 20px 0.1em 47px;
	text-decoration:none;
}
.page_nav ul li a:hover {
	background:#fff url(/dev/_skins/camuniversity/images/icon-arrow-nav-primary-orange.gif) no-repeat scroll 20px 8px;
	color:#cc6600;
	text-decoration:none;
}

.page_nav h3, .page_nav h2{
	color:#cc6600 !important;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 1.2em;
	margin-left:2px;
	padding:0.75em 20px 0.6em 47px;
}

.page_nav h2 {
    padding-left:50px !important;
    font-weight:bold !important;
}

.page_nav h3 {
    background:transparent url(/dev/_skins/camuniversity/images/icon-section.gif) no-repeat scroll 20px 55%;
}

.siterecentactivity .si_title {
    background:url(/dev/_images/recent_activity_icon.png) no-repeat scroll 20px 55% !important;
}

.navigation .nav_title {
    background:url("/dev/_images/pages_icon.png") no-repeat scroll 20px 55% !important;
}

.navigation .nav_titlebar_inner {
    padding:5px 0 0 !important;
}

.siterecentactivity .si_titlebar_inner {
    padding: 5px 0 0 !important;
}

.navigation .nav_content, .siterecentactivity .si_content {
    border-left:none !important;
    border-right:none !important;
}

.tree-default li a.clicked, .tree-default li a.clicked:hover, .tree-default li span.clicked {
    border:none !important;
    padding:0 47px !important;
}

.page_nav #siterecentactivity_output p {
	display: none;
}

.page_nav_content div {
    background:none !important;
}

.add_new_menu {
    background-color: #FFFFFF;
    border: 1px solid #454A4F;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 128px;
}

.add_menu_spacer {
    height: 35px;
}

.add_new_menu ul {
    margin: 0;
}

.add_new_menu ul li {
    list-style-type: none;
    padding: 5px 10px;
}

/* Footer */
.footer_copyright {
	border-top:2px solid #99cccc;
	clear:both;
	font-size:0.9em;
	list-style-type:none;
	padding-bottom:6em;
	padding-top:1em;
	width:100%;
}
.footer_copyright #more_link{
	display: none;
}
.fl-force-left {
	float: left;
}
#content_page_options ul {
	float: right;
}
#content_page_options ul li {
	list-style-type: none;
	display: inline;
}

/** Widget overrides **/

.si_titlebar_icon {
	display: none;
}
.nav_titlebar_icon {
	display:none;
}

#navigation_output, #siterecentactivity_output {
	margin-bottom: 20px;
}

#site_management {
	margin-bottom: 20px;
}

/** Edit Page **/

.mceIframeContainer {
	border: 1px solid #ccc !important;
	padding: 10px !important;
}
.mceToolbarExternal {
	border: 1px solid #ccc;
	background-color: #eee;
}

.buttonBar {
	margin-bottom: 10px;
}

.tab-nav {
	float: right;
}

.tab-nav li {
	display: inline;
	list-style-type: none;
	margin-right: 5px;
}
