/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main Container */
#poll_main_container {line-height:100%;}
#poll_main_container p {color:#333333;font-size:1em;line-height:100%;padding:0;}
#poll_main_container label {padding:2px 0;margin-bottom:2px;}
#poll_main_container .poll_cls {clear:both;font-size:0px;height:0;line-height:0;}

/* We need to set the font size because otherwise the drop down next to the date and hours doesn't have the right height */
#poll_main_container input[type=text], #poll_main_container textarea {background-color:#f1f1f1;border:1px solid #d6d6d6;font-size:13px;margin:5px 0;padding:3px;width:99%;}
#poll_main_container input[type=checkbox], #poll_main_container input[type=radio] {float:left;}
#poll_main_container textarea {height:65px;}
#poll_main_container hr {color:#dcdcdc;margin:10px 0 10px;}
#poll_main_container .poll_radiocheck_label {float:left;margin-left:5px;padding:1px;}
#poll_main_container .poll_center {margin-top:5px;text-align:center;}

/* Poll Container */
#poll_create_placeholder, #poll_toggle_advanced_settings, #poll_add_new_option, #poll_preview_button, #poll_preview_insert, #poll_widget_insert {display:block;float:right;}
.poll_left, #poll_cancel, #poll_cancel_existing, #poll_preview_back {float:left;}
.poll_bar_bottom {margin-top:10px;}

/* Poll tabs */
#poll_tabs {margin-left:0px;margin-bottom:10px;}
#poll_tabs li {display:inline;list-style-type:none;}
#poll_tabs li a {background-color:#cccccc;color:#ffffff;padding:10px 20px 10px 20px;}
.poll_selectedtab {color:#222222 !important;border-color:#cccccc;background-color:#ffffff !important;border-style:solid;border-width:1px;border-bottom:0px;padding:10px 20px 10px 20px;}
#poll_create_new, #poll_insert_existing {border-top:1px solid #dfdfdf;padding-top:10px;}

/* Poll Advanced settings */
#poll_advanced_settings {margin-top:10px;}
#poll_date_left, #poll_date_right {width:300px;}
#poll_date_left {float:left;}
#poll_date_right {float:right;}

/* Advanced settings */
.poll_time_input, .poll_date_input {border-right:0px !important;float:left;width:80px !important;}
.poll_date_input {width:80px !important;}
.poll_time_input  {margin:5px 0 5px 10px !important;width:20px !important;}
.poll_dropdown {background-color:#f1f1f1;border:1px solid #d6d6d6;border-left:0px;float:left;margin-top:5px;padding:7px 7px 6px 2px;}
.poll_time {background-color:#e6e6e6;border:1px solid #d6d6d6;display:none;height:150px;margin-top:5px;overflow:auto;padding:3px;position:absolute;width:40px;z-index:3051;}
.poll_time a {background:#e6e6e6;border:1px solid #e6e6e6;color:#787878;display:block;font-size:0.9em;padding-left:2px;}
.poll_time a:hover {background:#dadada;border:1px solid #707070;color:#212121;}
.poll_time_active {background:#ffffff !important;border:1px solid #707070 !important;color:#363636 !important;}
.poll_minutes_seconds {float:left;font-size:1.2em;margin:6px 2px;}

#poll_insert_existing_items {background-color:#e6e6e6;border:1px solid #d6d6d6;height:150px;margin:5px 0;overflow:auto;width:99%;}
#poll_insert_existing_items a {background:#e6e6e6;border:1px solid #e6e6e6;color:#787878;display:block;padding:3px;}
#poll_insert_existing_items a:hover {background:#dadada;border:1px solid #707070;color:#212121;}
.poll_insert_existing_selected {background:#ffffff !important;border:1px solid #707070 !important;color:#363636 !important;}

/* Poll Options */
#poll_options, #poll_add_new_option_container {width:430px;}
#poll_options input[type=text] {width:405px;}
#poll_add_new_option {margin-right:17px;}
.poll_close {color:#7a7a7a;font-weight:bold;margin-left:5px;padding:2px;}

/* Poll Types*/
#poll_polltype {padding:0;margin:5px 0;}
#poll_polltype li {display:inline;list-style-type:none;}
#poll_polltype a {border:solid #ffffff 1px;display:block;float:left;height:84px;margin:0px 10px 10px 0px;width:84px;}
#poll_polltype a:hover {border:solid #cccccc 1px;text-decoration:none;}
#poll_polltype a span {background-color:#707070;color:#faf8f8;display:block;font-size:0.95em;height:15px;text-align:center;width:100%;}
#poll_polltype_vertical a {background:url(../images/poll_polltype_vertical.png) #faf8f8 no-repeat bottom;}
#poll_polltype_horizontal a {background:url(../images/poll_polltype_horizontal.png) #faf8f8 no-repeat bottom;}
#poll_polltype_pie a {background:url(../images/poll_polltype_pie.png) #faf8f8 no-repeat bottom;}
#poll_polltype_text a {background:url(../images/poll_polltype_text.png) #faf8f8 no-repeat bottom;}
.poll_polltype_active a {border:solid #333333 1px !important;}

/* Preview */
#poll_show {overflow:auto;}
#poll_preview_question, #poll_preview_chart, #poll_show_question, #poll_show_chart {border:3px solid #222222;margin:0 auto;padding:10px;width:310px;}
.poll_specimen {margin-top:-230px;position:relative;}

/* Question view */
#poll_question_view_header {background:transparent url(../images/poll_polltype_vertical_header.png) no-repeat left center;font-weight:bold;margin:0 20px;padding:4px 0 0 30px !important;width:250px;}
#poll_question_view_options {margin:50px;}
#poll_question_view_options input[type=checkbox] {margin-top:3px;}
#poll_question_view_options input[type=radio] {margin-top:5px;}
#poll_question_view_options .poll_radiocheck_label {padding:4px;}
.poll_question_view_bar_bottom {margin:20px 20px 10px 20px;}

/* Chart view */
.poll_chart_view_header {font-weight:bold;margin:0 20px;padding:4px 0 0 30px !important;;}
#poll_chart_view_header_vertical {background:transparent url(../images/poll_polltype_vertical_header.png) no-repeat left center;}
#poll_chart_view_header_horizontal {background:transparent url(../images/poll_polltype_horizontal_header.png) no-repeat left center;}
#poll_chart_view_header_pie {background:transparent url(../images/poll_polltype_pie_header.png) no-repeat left center;}
#poll_chart_view_header_text {background:transparent url(../images/poll_polltype_text_header.png) no-repeat left center;}

/* Colors */
.poll_color_663300 {background-color:#663300;}
.poll_color_e07000 {background-color:#e07000;}
.poll_color_0070e0 {background-color:#0070e0;}
.poll_color_660000 {background-color:#660000;}
.poll_color_990080 {background-color:#990080;}

.poll_color_c4fc95 {background-color:#c4fc95;}
.poll_color_8ad769 {background-color:#8ad769;}
.poll_color_79c365 {background-color:#79c365;}
.poll_color_5ba940 {background-color:#5ba940;}
.poll_color_abe652 {background-color:#abe652;}

.poll_color_f5f4bf {background-color:#f5f4bf;}
.poll_color_f1eca1 {background-color:#f1eca1;}
.poll_color_c3e2fc {background-color:#c3e2fc;}
.poll_color_f2eda2 {background-color:#f2eda2;}
.poll_color_ac9d7d {background-color:#ac9d7d;}

.poll_color_c4e3fc {background-color:#c4e3fc;}
.poll_color_79ccff {background-color:#79ccff;}
.poll_color_00a4e4 {background-color:#00a4e4;}
.poll_color_ac9c7d {background-color:#ac9c7d;}
.poll_color_9f8c60 {background-color:#9f8c60;}

.poll_color_f6b5b5 {background-color:#f6b5b5;}
.poll_color_cd9c9c {background-color:#cd9c9c;}
.poll_color_ad8181 {background-color:#ad8181;}
.poll_color_ee5858 {background-color:#ee5858;}
.poll_color_ce1616 {background-color:#ce1616;}


.poll_front_color_663300 {color:#663300;}
.poll_front_color_e07000 {color:#e07000;}
.poll_front_color_0070e0 {color:#0070e0;}
.poll_front_color_660000 {color:#660000;}
.poll_front_color_990080 {color:#990080;}

.poll_front_color_c4fc95 {color:#c4fc95;}
.poll_front_color_8ad769 {color:#8ad769;}
.poll_front_color_79c365 {color:#79c365;}
.poll_front_color_5ba940 {color:#5ba940;}
.poll_front_color_abe652 {color:#abe652;}

.poll_front_color_f5f4bf {color:#f5f4bf;}
.poll_front_color_f1eca1 {color:#f1eca1;}
.poll_front_color_c3e2fc {color:#c3e2fc;}
.poll_front_color_f2eda2 {color:#f2eda2;}
.poll_front_color_ac9d7d {color:#ac9d7d;}

.poll_front_color_c4e3fc {color:#c4e3fc;}
.poll_front_color_79ccff {color:#79ccff;}
.poll_front_color_00a4e4 {color:#00a4e4;}
.poll_front_color_ac9c7d {color:#ac9c7d;}
.poll_front_color_9f8c60 {color:#9f8c60;}

.poll_front_color_f6b5b5 {color:#f6b5b5;}
.poll_front_color_cd9c9c {color:#cd9c9c;}
.poll_front_color_ad8181 {color:#ad8181;}
.poll_front_color_ee5858 {color:#ee5858;}
.poll_front_color_ce1616 {color:#ce1616;}

#poll_chart_view_options {font-size:0.9em;margin:0;}
#poll_chart_view_options li {list-style-type:none;margin-bottom:2px;}
#poll_text_view_options li {list-style-type:none;margin-bottom:2px;}

.poll_chart_view_bullet {display:block;float:left;height:12px;margin-right:8px;width:12px;}
.poll_chart_view_content {background:url(../images/poll_bg_bullet.png) no-repeat left center;font-size:12px;margin-left:-20px;padding-left:20px;}
#poll_text_view_options {margin:50px 50px 50px 40px;}
.poll_text_view_content {float:left;margin-bottom:5px;}
.poll_text_view_percentage {float:left;font-weight:bold;margin:0 10px 5px 0;text-align:right;width:36px;}

/* Override elements */
.dialog_footer {background-color:transparent !important;padding-left:0px !important;margin-top:10px;height:20px;}
.cancel-button {color:#666666 !important;}
