/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
#filerevisions_template_container .filerevisions_list_content {left:130px; position:absolute;}
#filerevisions_template_container .filerevisions_lefthand_description {color:#333333;}
#filerevisions_template_container .filerevision_list_content_basefilename {font-weight:bold;}

#filerevisions_template_container ul {padding: 0; margin:0;}
#filerevisions_template_container ul li{list-style: none; padding:7px;}
#filerevisions_template_container .li_greybg {background-color:#EEF2F5;}

#filerevisions_template_container .filerevisions_editor_name {color:#058EC4; font-weight:bold;}

#filerevisions_template_container .filerevisions_download_version {float:right; color:#058EC4; font-weight:bold;}