/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#video_maincontainer h3, #video_settings h3 {font-weight:normal;}
.video_containerInTemplate {width:470px;}
.video_containerInTemplate a {float:right;}
.video_clear {clear:both;}

/*Settings*/
#video_settings {padding:10px;}
#video_settings .video_longtxt {width: 100%;border-style:solid;border-width:1.5px;padding: 5px 0px 5px 0px;border-color:#DEDEDE;background-color:#f4f4f4;font-size:14px;}
#video_settings input[type=radio] {vertical-align:middle;margin-left:20px;height:35px;padding-top:5px;padding-bottom:5px;}
#video_settings input[type=checkbox] {vertical-align:middle;height:35px;padding-top:5px;padding-bottom:5px;}
.video_source_rbtLabel {vertical-align:middle;margin-left:10px;height:25px;}
.video_settingsStep {border-bottom-style:solid;border-bottom-width:1px;border-color:#DEDEDE;padding-bottom:10px;}
#video_ShowPreview {margin-left:auto;margin-right:auto;}
#video_settings .video_containerInTemplate {width:320px;	margin-left:auto;margin-right:auto;}
#video_txtSource {width: 250px;border-style:solid;border-width:1.5px;padding-top:5px;padding-bottom:5px;border-color:#DEDEDE;background-color:#f4f4f4;font-size:14px;}
#video_choosePlayerContainer {margin-left:auto;margin-right:auto;display:block;width:320px;}
#video_settings .video_buttonBar .video_rightButton {margin-left:20px;margin-top:20px;float:right;}
#video_settings .video_buttonBar .video_leftButton {margin-left:20px;margin-top:20px;float:left;}
.video_buttonBar {overflow:auto;}
.video_right_aligned_btn {float:right;}
#video_insertPlaceHolder, #video_txtURL, #video_txtTitle, #video_source_nosource, #video_source_guessURL {margin-bottom: 10px;}