#motdh_container {
	width: 700px !important;
}

.loginfield {
	width: 175px;
}

.landing_div_main{
	width:100%;
}

.landing_bottom_piece {
	BORDER-RIGHT: #b6d8e3 1px solid; BORDER-TOP: #b6d8e3 1px solid; BORDER-LEFT: #b6d8e3 1px solid; WIDTH: 100px; BORDER-BOTTOM: #b6d8e3 1px solid; BACKGROUND-COLOR: #eeeeee;
}

.landing_left_piece {

width:440px;

}

.landing_right_piece {

width:100px;
background-color: #EEEEEE;
border-right:solid 1px #b6d8e3;
border-top:solid 1px #b6d8e3;
border-left:solid 1px #b6d8e3;
border-bottom:solid 1px #b6d8e3;


}

.landing_border_top_left_td{

width:15px;

}

.landing_border_top_bottom_td{

}


.landing_border_top_left_td_right_piece{

padding-left:12px;
padding-top:0px;
font-size:12px;
font-family:Verdana;

}

.landing_small_spacer {

width:7px;

}

.landing_login_td {


text-align:center;

}

.landing_login_button_img{

border:0px;

}

.landing_main_container {

background-color:#eeeeee;
border-color:#d7eff7;
height:170px;

}

.landing_spacer_05 {

height:1px;

}


.landing_main {

background-color:#ffffff;
/*height:100px; */
width:700px;
margin-left:auto;
margin-right:auto;

}

.landing_main_spacer {

width:5px;
background-color:#ffffff;
}

.landing_sub_title{

font-family:Verdana;
font-size:13px;
padding-left:12px;
padding-top:8px
}

.landing_the_pusher{


width:50px;

}


.landing_middle_pusher{


width:8px;
}


.landing_banner{

text-align:center;
width:700px;

}

.landing_banner img{
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  */
  
 /* position: absolute;
  width: 567px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -283px;
  margin-top: -24px;
  */


}


.landing_left_text{

padding-left:15px;
padding-bottom:35px;
height:50px;

}

.landing_find_more{

text-align:right;
padding-right:20px;
height:5px;
}




.landing_real_text{

height:90px;
font-size:16px;

font-family:Verdana;
line-height:19px;

}


.landing_color{

background-color:#eeeeee;

}

.landing_read_more{

color:#15429a;
font-size:11px;
font-family:Verdana;
}

.landing_read_more:link{


text-decoration:underline;

}
.landing_read_more:hover{


text-decoration:underline;

}
.landing_read_more:visited{


text-decoration:underline;

}



.landing_find_more_link:link{

color:#15429a;
font-size:11px;
font-family:Verdana;
text-decoration:underline;
}

.landing_find_more_link:hover{

color:#15429a;
font-size:11px;
font-family:Verdana;
text-decoration:underline;
}


.landing_find_more_link:visited{

color:#15429a;
font-size:11px;
font-family:Verdana;
text-decoration:underline;
}

.prtl_main{

position:relative;
background-color:#eeeeee;
height:150px;
padding-top:10px;
border-style: solid;
border-width:1px;
border-color:#b6d8e3;
}

.prtl_groot{

position:relative;
background-color:#eeeeee;
height:150px;

border-style: solid;
border-width:1px;
border-color:#b6d8e3;
}


.prtl_table{

width:900px;
/*width:700px;*/
margin-left:auto;
margin-right:auto;

}

.prtl_table tr{

vertical-align:top;

}

.prtl_main_img {

text-align:center;
/*text-indent:5px;*/
width:170px;


}

.prtl_table_small{


border-style: solid;
border-width:1px;
border-color:#d7eff7;

}

.prtl_no_border{
vertical-align:top;
border:0px;
padding-right:5px;
}

.prtl_title2{

font-size:15px;

font-family:Verdana;
vertical-align:top;
height:160px;

background-color:#eeeeee;
border-style: solid;
border-width:1px;
border-color:#d7eff7;

padding-left:10px;

}

.prtl_title{

font-size:15px;

font-family:Verdana;
vertical-align:top;
padding-bottom:10px;
color:#15428B;
/*background-color:#eeeeee;*/


}


.prtl_td_img{

vertical-align:top;

}


.prtl_td_link{

padding-bottom:10px;


}

.prtl_td_link a:link {

color: #000000;
text-decoration:underline; 
font-family:Verdana;
font-size:12px;


}


.prtl_td_link a:visited {

color: #000000 ; 
text-decoration:underline;
font-family:Verdana;
font-size:12px

}

.prtl_td_link a:hover {

color: #000000;
text-decoration:underline; 
font-family:Verdana;
font-size:12px

}

.prtl_td_link a:active {

color: #000000 ; 
text-decoration:underline;
font-family:Verdana;
font-size:12px

}

.prtl_spacer{

height:20px;

}

.prtl_left_spacer{

width:10px;
}

.prtl_banner{

text-align:center;

}

/*raven logout button css*/

.raven_logout_table{

width:100%;

}

.raven_logout_container{

text-align:right;
vertical-align:bottom;
padding:5px;
padding-right:10px;
padding-bottom:10px;
}

.raven_logout{

color:#15429a;
font-size:11px;
cursor:pointer; 
cursor:hand; 
text-decoration: underline;

}

.raven_logout:link{

color:#15429a;

}
.raven_logout:hover{

color:#15429a;

}
.raven_logout:visited{

color:#15429a;

}
