.siteNavWrap {
background:#88D0E8 url(/resources/images/blue-border.gif) repeat-x scroll center bottom;
clear:both;
float:left;
height:26px;
font-size:100%;
line-height:normal;
position:relative;
width:100%;
z-index:2000;
}

html,body { 
height:100%; 
width:100%; 
margin:auto; 
font: 11px Verdana, sans-serif;
} 

#siteLinkList {
font-size:1em;
line-height:25px;
margin:-1px 0pt 0pt;
padding:4px 0pt;
vertical-align:middle;
width:auto;
}

#toolMenu li a:hover {
color:#0099CC;
text-decoration:none;
}

#toolMenu li a:link, #toolMenu li a {
background-position:right center !important;
background-repeat:no-repeat !important;
color:#0099CC;
display:block;
margin:0px;
padding-bottom:2px;
padding-right:23px !important;
padding-top:2px;
text-decoration:underline;
}

.siteNavWrap {
clear:both;
float:left;
height:26px;
margin:0pt;
padding:0pt;
width:100%;
}

.newCurrentSite {
	margin-left: 15px;
	color:#FFFFFF;
	font: 13px Verdana, sans-serif;
	font-weight: bolder;
	position: relative;
	top: 5px;
}

.newCurrentSite a {
	color:#FFFFFF;
	font: 11px Verdana, sans-serif;
	font-weight: bold;
	position: relative;
}


#toolMenu li.selectedTool span {
background-position:right center !important;
background-repeat:no-repeat !important;
display:block;
margin:0px;
padding-bottom:2px;
padding-right:23px !important;
padding-top:2px;
}

#mastLogo img {
margin-bottom:5px;
margin-top:10px;
}

#toolMenu li span {
}

table, tr, td {
	font: 11px Verdana, sans-serif;
}

#content {
	margin-left:0em;
	margin-top:0em;
	padding:0pt;
}

#col2of2bis {

width:49%;
padding-right: 1%;
float: right;

}

#col1of2bis {

width:48%;
float: left;

}

#headerMin2{
	
	overflow:hidden;
	width:100%;
	position: relative;
	top:-5px;
	left:0%;
	border-bottom: 2px solid #7DA9DB;
}

#headerMax2{
	
	overflow:hidden;
	width:98%;
	position: relative;
	top:-5px;
	left:1%;
	
}

#toolMenuWrap2:hover {
	border-right:2px solid #7DA9DB;
}

#toolMenuWrap2 {
border-right:2px solid #7DA9DB;
color:#000000;
float:left;
padding-right:10px;
text-align:right;
width:130px;
}

#headerMax2 {
left:0%;
overflow:hidden;
position:relative;
top:-5px;
width:100%;
}

.x-portlet .x-panel-mc {
	padding-top:0px;
}

.icon-sakai-motd {
	background-image:url(/library/image/silk/house.png);}

.footer_font {
	font: 10px Verdana, sans-serif;
}

.footer_header_tr {
	height:50px;
}

.footer_links {
	text-align:center; 
	padding-left:95px; 
	width:auto; 
	font: 13px Verdana, sans-serif; 
	padding-top:15px; 
	vertical-align:top;
}

#col1of2 .portletTitleWrap, #col2of2 .portletTitleWrap {	border-bottom:2px solid #7DA9DB !important;	width:98.5%;}