/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main Container */
#bbs_main_container .fl-widget-content{padding:10px;}
#bbs_main_container input[type=text]{margin:5px 0;width:100%;border:#D9D9D9 solid 1px;padding-left:0;padding-right:0;height:18px;padding-top:2px;}
#bbs_main_container textarea{margin:5px 0;width:100%;border:#D9D9D9 solid 1px;resize:none;}
#bbs_main_container input[type=text].error,#bbs_main_container textarea.error{border-color:#9f3333;background-color:#ffdede;}
.bbs_horizontal_rule {border:1px solid #DDD; margin:10px 0;}
.bbs_pipe_divider {margin:0 5px;}

/* Create new topic */
#bbs_create_new_topic label {display:block; margin-top:10px;}

/* Topic list */
.bbs_topic_subject{font-size:16px; color:#444; margin-bottom:2px; font-weight:normal;}
.bbs_topic_number_of_replies, .bbs_poster_name, .bbs_posting_date{color:#878A8C; display: block; margin-bottom: 4px;}
.bbs_topic_number_of_replies{display:inline-block;}
.bbs_reply_topic, .bbs_hide_reply{float:right;}
.bbs_poster_name {font-size:15px; color:#666;}
.bbs_post_message{margin-bottom:10px;white-space: pre-line;}
.bbs_topic_replies_container .bbs_post_message{display:block;}
.bbs_reply_contents_text{white-space:pre-line;}
.bbs_hide_replies_icon, .bbs_show_replies_icon{height: 9px;width: 9px;margin:4px 4px 0 0; float:left;}
.bbs_show_replies_icon{background: url("/dev/images/icons_sprite.png") no-repeat scroll -24px -21px transparent;}
.bbs_hide_replies_icon{background: url("/dev/images/icons_sprite.png") no-repeat scroll -745px -21px transparent;}
.bbs_entity_container {margin-bottom:10px;}
.bbs_entity_container .bbs_entity_picture{width:40px; height:40px; float:left; margin-right:6px;}
.bbs_quoted_text_container{background-color:#fff;}
.bbs_ellipsis_text {word-wrap: break-word;}
.bbs_show_all_ellipsis_text{display:block;}
.bbs_quote{display: inline-block;margin-top: 10px;}
.bbs_topic_replies_container .bbs_quote{margin-top:0px;}
.bbs_show_all_ellipsis_text {margin-top: 2px;}

/* Deleted posts */
.bbs_deleted_reply{color:#878A8C !important;}
.bbs_deleted_reply_info, .bbs_delete_date{font-style:italic;}

/* Settings */
#bbs_settings .fl-widget-content{font-size:.95em;padding:10px;}
#bbs_settings h2{margin-bottom:10px;}
#bbs_settings_display_options_container input{margin-right:10px;}
#bbs_settings .dialog_buttons {margin-top:10px;}
#bbs_settings .dialog_buttons button.s3d-button{float:right;margin-left:5px;margin-right:0;}
#bbs_settings label{padding-left:8px;}
#bbs_settings #bbs_tab_content ul {margin:4px 0 10px;}
#bbs_settings #bbs_tab_content ul li {list-style-type:none; margin-bottom:5px;}

/* Settings List */
.bbs_settings_list{background-color:#fbfbfb;border:1px solid #dfdfdf;width:100%;height:140px;overflow:scroll;overflow-x:hidden;overflow:auto;}
.bbs_settings_list_item{background-color:#fbfbfb;padding-left:10px;}
.bbs_settings_list_item_selected,.bbs_settings_list_item:hover{background-color:#dfdfdf;padding-left:10px;}

/* Tabs */
#bbs_tab_content_top{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1567px transparent;margin:0;padding:0 5px 0 0;}
#bbs_tab_content_top_inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1393px transparent;height:6px;margin:0;}
#bbs_tab_content{border-left:3px solid #D3DBDE;border-right:3px solid #D3DBDE;padding:5px 10px;}
#bbs_tab_content_bottom{margin:0 0 20px;}