#tlrpCatList , #tlrpCatChildrenList {
    margin:0px;
    margin-left:5px;
    margin-top:5px;
}
#tlrpCatList li, #tlrpCatChildrenList li{
    list-style-type:none;
    margin-top:3px;
}
#tlrpCatList li a{
    color:#FFFFFF;
    font-weight:normal;
    display:inline-block;
    position:relative;
    margin-left:5px;
}
#tlrpCatChildrenList li a{
    color:#999999;
    font-weight:normal;
    display:inline-block;
    position:relative;
    margin-left:5px;
}
#tlrpCatList li a span, #tlrpCatChildrenList li a span{
    width:210px;
    display:inline-block;
}
.tlrpCatListItem:hover, .tlrp_cat_selectedItem, .tlrpCatChildrenListItem:hover, .tlrp_cat_selectedItemChild{
    background-color:#999999;
    left:-5px;
}
.tlrpCatListItem:hover span, .tlrp_cat_selectedItem span, .tlrpCatChildrenListItem:hover span, .tlrp_cat_selectedItemChild span{
    color:#000000;
    padding-left:5px;
}
#tlrpCatList li a:hover, #tlrpCatChildrenList li a:hover{
    text-decoration:none;
}
#tlrpCatContainer{
    border-right-style: solid;
    border-right-color: #267DBA;
    border-right-width:2px;
    background-color:#C1C1C1;
}
.tlrpCatListItem, .tlrpCatChildrenListItem{
    float:left;
}
.tlrpCatListItemArrow, .tlrpCatChildrenListItemArrow{
    display:inline-block;
    float:right;
    width:20px;
    height:15px;
    background: url(../images/arrow.png) no-repeat;
    background-position:center;

}
#tlrpCatChildrenContainerParent{
    overflow:hidden;
    background-color:#e2e1e1;
    position:relative;
    border-right-style: solid;
    border-right-color: #267DBA;
    border-right-width:2px;
}
#tlrpCatChildrenContainer1{
    overflow:auto;
    color:#666666;
    position:relative;
    left:-287px;
}
.tlrpCatListItemArrow:hover, .tlrpCatChildrenListItemArrow:hover{
    text-decoration:none;
}
.tlrp_cat_slider{
    float:left;
    height:429px;
    width:287px;
    overflow:auto !important;
    background-color:#e2e1e1;
    position:relative;
    border-right-style: solid;
    border-right-color: #267DBA;
    border-right-width:2px;
}
.tlrp_article_slider{
    float:left;
    height:429px;
    width:574px;
    overflow:auto !important;
    background-color:#e2e1e1;
    position:relative;
    border-right-style: solid;
    border-right-color: #267DBA;
    border-right-width:2px;
}

#tlrpLeftTabCatContainer ul.tlrpArticle {
    width:160px;
    overflow:hidden;
    padding:5px 10px 5px 10px !important;
}

#tlrpLeftTabCatContainer {
    overflow:hidden;
}
#tlrpLeftTabCatContainer #tlrpArticleDescription {
    display:none;
}

