#tlrpLeftTabYearContainer {
    overflow:hidden;
}
.tlrpYearContainer {
    width:220px;
    float:left;
    height:429px;
    margin-left:10px;
}


.tlrpYearResults {
    border-left:1px solid #939392;
    height:360px;
}
.tlrpYearContainer ul li {
    list-style:circle outside; color:#2a7eb9;
    border:1px solid #dddddd;
    height:17px;
}
.tlrpYearContainer ul li:hover {
    background-color:#59acdd;
    border:1px solid #d0d0d0;
}

.tlrpYearContainer ul li a:hover {
    color:#ffffff;
    }
.tlrpYearContainer ul li a {
    height:18px;
    font-size:11px;
    font-weight:normal;
    overflow:hidden;
    display:block;
    text-decoration:none;
    padding-left:5px;
    padding-right:5px;
}

#tlrpYearTooMuchResultsBalloon {
    background-color:#cccccc;
    width:205px;
    height:30px;
    padding:7px;
    padding-top:10px;
    position:absolute;
    color:#000000;
    border:1px solid #8C8C8C;
    font-size:11px;
    z-index:5;
}

#tlrpArticleDescriptionForYear {
    background-color:#2392c7;
    width:205px;
    height:80px;
    padding:10px;
    padding-top:0px;
    position:absolute;
    color:#ffffff;
    z-index:5;
}
#tlrpYearTooMuchResultsBalloon img, #tlrpArticleDescriptionForYear img {
    position:relative;
    top:-7px;
    width:10px;
    height:10px;
    left:30px;
}
#tlrpYearTooMuchResultsBalloon img  {
    top:3px;
    left:23px;
}

/** The too much results message */
.tlrpYearContainer span.tlrpYearTooMuchResults {
    color:#000000;
    padding:5px;
    font-size:11px;
    display:block;
    text-align:center;
}

/** Year band */
.tlrpYearContainer .tlrpYearBand {
    background-color:#cccccc;
    width:235px;
    padding-top:5px;
    padding-bottom:5px;
    height:40px;
    margin-top:17px;
}
.tlrpYearContainer span.tlrpYearYear {
    font-size:16px;
    color:#a9a9a9;
    display:block;
    width:205px;
    padding-left:15px;
    border-left:1px solid #939392;
    margin-top:20px;
}

.tlrpYearContainer span.tlrpYearYear span {
    position:relative;
    top:-10px;
    color:#ffffff;
}

#tlrpYearResults {
    min-width: 578px;
    background-color:#dddddd;
}

#tlrpYearResults:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


<!--[if IE]>
#tlrpYearResults {
    zoom: 1;     /* triggers hasLayout */
    }  /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
<![endif]-->