#tlrp_settings {
    padding:20px;
    overflow:auto;
}
#tlrp_settings p{
    overflow:auto;
}
.tlrp_buttonBar {
    border-top:1px solid #DFDFDF;
    overflow:auto;
    padding-top:15px;
    margin-top:15px;
}
.tlrp_buttonBar a{
    margin: 0px 20px 0px 20px;
}
#tlrp_settings input[type=text]{
    width:450px;
    border-style:solid;
    border-width:1.5px;
    padding-top:5px;
    padding-bottom:5px;
    border-color:#DEDEDE;
    background-color:#f4f4f4;
    font-size:14px;
    float:left;
}
#tlrp_addFilter{
    padding:5px;
    margin-left:10px;
    display:inline-block;
    float:left;
}

/* Filters list */

#tlrp_filterListContainer{
    width:450px;
    height:120px;
    overflow:auto;
    border:1px solid #DFDFDF;
}
#tlrp_filterListContainer ul{
    margin:0px;
}
#tlrp_filterListContainer ul li{
    list-style:none;
    display:block;
    background-color:#EDEDED;
    border:1px solid #DFDFDF;
    border-top:none;
    padding: 2px 0px 2px 10px;
    color:#919191;
    font-weight:normal;
    overflow:auto;
}
#tlrp_filterListContainer ul li span{
    float:left;
}
#tlrp_filterListContainer ul li a{
    display:inline-block;
    float:right;
    margin-right:5px;
    margin-top:5px;
    background: url("../images/tlrp_close.png") #EDEDED no-repeat;
    width:8px;
    height:8px;
}
#tlrp_selectAllChk{
    margin-left:17px;
}
.tlrp_label{
    margin-left:5px;
}
.tlrp_p{
    margin-top:15px;
    margin-bottom:10px;
}
#tlrp_respositoryListContainer{
    background-color:#F1F1F1;
    width:500px;
    height:150px;
    border:1px solid #FBFBFB;
}
.tlrp_respositoryListItem_checkbox {
    float:left;
    padding:10px;
}
.tlrp_respositoryListItem_data {
    float:left;
    margin:0px;
}
.tlrp_respositoryListItem_data ul{
    margin:0px;
}
.tlrp_respositoryListItem_data li{
    list-style:none;
}
.tlrp_respositoryListItem {
    overflow:auto;
    border:1px solid #FBFBFB;
    background-color:#FFFFFF;
    padding:5px;
}
.tlrp_respositoryListItem_data_title{
    font-weight:bold;
}
