/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
#contentmetadata_container {
    float: left;
}
#contentmetadata_description_container, #contentmetadata_tags_container, #contentmetadata_details_container, #contentmetadata_locations_container, #contentmetadata_copyright_container, #contentmetadata_url_container {
    padding: 7px 0;
    background-color: #FFF;
    border-bottom: 1px dotted #aaa;
    margin-right: 10px;
}
#contentmetadata_container > div.last {
    border-bottom: none;
}
.fl-container-650 #contentmetadata_description_container, .fl-container-650 #contentmetadata_tags_container, .fl-container-650 #contentmetadata_details_container, .fl-container-650 #contentmetadata_locations_container, .fl-container-650 #contentmetadata_copyright_container, .fl-container-650 #contentmetadata_url_container {
    width: 600px;
    clear: both;
    min-height: 15px;
    margin: 0 15px;
    color: #666;
    float: left;
}
.fl-container-470 #contentmetadata_description_container, .fl-container-470 #contentmetadata_tags_container, .fl-container-470 #contentmetadata_details_container, .fl-container-470 #contentmetadata_locations_container, .fl-container-470 #contentmetadata_copyright_container, .fl-container-470 #contentmetadata_url_container {
    width: 420px;
    clear: both;
    min-height: 15px;
    margin: 0 15px;
    color: #666;
    float: left;
}
#contentmetadata_container .s3d-contentpage-title.metadata {
    margin-bottom: 5px;
}
#contentmetadata_container .s3d-widget-footer {
    padding-bottom: 0px;
    float: left;
}
.fl-container-650 #contentmetadata_container .s3d-widget-footer {
    width: 626px;
}
.fl-container-470 #contentmetadata_container .s3d-widget-footer {
    width: 446px;
}
#contentmetadata_container .s3d-link-button {
    color: #666;
}
#contentmetadata_container .s3d-link-button:hover {
    color: #2683BC;
}
#contentmetadata_show_more {
    padding: 10px 0px 7px;
    display: inline;
    clear: both;
}
#contentmetadata_show_more span {
    float: right;
    display: inline;
}/** Fix for IE and older FF browsers **/
#contentmetadata_show_more span + span {
    padding-top: 2px;
}
#contentmetadata_show_more.s3d-link-button {
    *width: 250px;
    height: 14px;
    padding: 0;
    margin-top: 2px;
}
.contentmetadata_first_column {
    display: block;
    float: left;
    width: 140px;
    font-weight: normal;
    margin-bottom: 3px;
    padding: 2px 0;
}
.contentmetadata_content_row {
    clear: both;
}
.contentmetadata_second_column {
    display: block;
    overflow: hidden;
    padding: 2px 0;
}
.content_profile_basic_info_form_anon_label {
    float: left;
    padding: 2px 0px;
}

/* EDITABLE FIELDS */
.contentmetadata_editable {
    padding: 5px;
}
.contentmetadata_editable:hover {
    background-color: #fcecb2 !important;
    cursor: pointer;
}
.contentmetadata_editing:hover {
    background-color: #FFFFFF !important;
}
.contentmetadata_edit_input {
    width: 100%;
    margin: 7px 0;
}
.contentmetadata_jedit.contentmetadata_editable .contentmetadata_edit_input {
    margin: 0;
}
.contentmetadata_edit_input:hover {
    background-color: #fcecb2 !important;
    cursor: pointer;
}
.contentmetadata_edit_input.as-selections, .contentmetadata_edit_input.as-selections textarea, .contentmetadata_jedit.contentmetadata_editable select {
    background-color: #fcecb2;
}
.contentmetadata_edit_input textarea {
    min-height: 75px;
    resize: vertical;
    background-color: #fcecb2;
}
.contentmetadata_edit_area_select:hover {
    background-color: #fcecb2 !important;
    cursor: pointer;
}
#contentmetadata_container ul {
    margin: 0;
    overflow: hidden;
}
#contentmetadata_container ul li {
    list-style: none outside none;
}
#contentmetadata_container {
    word-wrap: break-word;
    clear: both;
    margin-bottom: 20px;
}
.contentmetadata_manager_edit, .contentmetadata_placeholder {
    font-style: italic;
    font-weight: normal;
}
.contentmetadata_jedit.contentmetadata_editable:hover {
    background-color: #fcecb2 !important;
    cursor: pointer;
}
.contentmetadata_jedit.contentmetadata_editable.contentmetadata_editing {
    background-color: #ffffff !important;
    cursor: default;
}

/* DIRECTORY */
#contentmetadata_locations_dialog {
    width: 750px;
    margin-left: -370px;
}
.contentmetadata_added_directory {
    clear: both;
}
.contentmetadata_location_content {
    float: left;
    margin: 7px 0 0;
}
.contentmetadata_saved_seperator, .contentmetadata_select_seperator {
    padding: 0 10px;
}
.contentmetadata_saved_seperator {
    float: left;
    margin-top: 7px;
}
#contentmetadata_locations_add_another {
    clear: both;
    float: left;
}
.contentmetadata_locations_dialog_actions {
    float: right;
}
.contentmetadata_locations_link {
    margin-bottom: 3px;
}
.contentmetadata_remove_location {
    float: right;
    margin-right: 10px;
    height: 16px;
}
.contentmetadata_remove_new_location {
    float: right;
    margin-right: 10px;
    margin-top: 9px;
}

.s3d-link-button #contentmetadata_show_more_arrow, .s3d-link-button #contentmetadata_show_less_arrow {
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 7px;
}
.s3d-link-button #contentmetadata_show_more_arrow {
    background: url("/dev/images/arrow_down_square.png") no-repeat top left transparent;
}
.s3d-link-button:hover #contentmetadata_show_more_arrow {
    background: url("/dev/images/arrow_down_square_hover.png") no-repeat top left transparent;
}
.s3d-link-button #contentmetadata_show_less_arrow {
    background: url("/dev/images/arrow_up_square.png") no-repeat top left transparent;
}
.s3d-link-button:hover #contentmetadata_show_less_arrow {
    background: url("/dev/images/arrow_up_square_hover.png") no-repeat top left transparent;
}