/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
#contentmetadata_description_container,#contentmetadata_tags_container,#contentmetadata_details_container,#contentmetadata_locations_container,#contentmetadata_copyright_container,#contentmetadata_url_container{padding:7px 0;background-color:#FFF;border-bottom: 1px dotted #aaa; margin-right: 10px;}
.fl-container-650 #contentmetadata_description_container,.fl-container-650 #contentmetadata_tags_container,.fl-container-650 #contentmetadata_details_container,.fl-container-650 #contentmetadata_locations_container,.fl-container-650 #contentmetadata_copyright_container,.fl-container-650 #contentmetadata_url_container{width:600px;}
.fl-container-450 #contentmetadata_description_container,.fl-container-450 #contentmetadata_tags_container,.fl-container-450 #contentmetadata_details_container,.fl-container-450 #contentmetadata_locations_container,.fl-container-450 #contentmetadata_copyright_container,.fl-container-450 #contentmetadata_url_container{width:420px;}
#contentmetadata_container .contentmetadata_title{border-bottom:5px solid #E1E1E1;color:#333333;font-size:1.25em;padding:8px 0; margin-bottom: 5px;}
#contentmetadata_show_more{padding: 10px 0px 7px; display:inline;clear:both;}
#contentmetadata_show_more span{float:right;display:inline;}/** Fix for IE and older FF browsers **/
#contentmetadata_show_more.s3d-link-button {*width:250px;}
.contentmetadata_first_column{display:block;float:left;width:100px;font-weight:normal;margin-bottom:3px;}
.contentmetadata_content_row{clear:both;}
.contentmetadata_second_column{display:block;overflow:hidden;}

/* EDITABLE FIELDS */
.contentmetadata_editable{padding:5px;}
.contentmetadata_editable:hover{background-color:#fcecb2!important;cursor:pointer;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_tl{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1157px transparent;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_tinner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1167px transparent;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_bl{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1177px transparent;}
.contentmetadata_editable:hover .s3d-highlight_area_background_darker1_white_content_binner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1187px transparent;}
.contentmetadata_edit_input{width:100%;margin:7px 0;}
textarea.contentmetadata_edit_input{min-height: 75px; resize:vertical;}
#contentmetadata_container ul{margin:0;overflow:hidden;}
#contentmetadata_container ul li{list-style:none outside none;}
#contentmetadata_container{word-wrap:break-word;border-bottom:5px solid #E1E1E1;clear:both;margin-bottom:20px;margin-right:20px;}
.contentmetadata_manager_edit{font-style:italic;font-weight:normal;}

/* DIRECTORY */
#contentmetadata_locations_dialog{width:750px;margin-left:-370px;}
.contentmetadata_added_directory{clear:both;}
.contentmetadata_location_content{float:left;margin:7px 0 0;}
.contentmetadata_saved_seperator,.contentmetadata_select_seperator{padding:0 10px;}
.contentmetadata_saved_seperator{float:left;margin-top:7px;}
#contentmetadata_locations_add_another{clear:both;float:left;}
.contentmetadata_locations_dialog_actions{float:right;}
.contentmetadata_locations_link{margin-bottom:3px;}
.contentmetadata_remove_location{float:right;margin-right:10px;height:16px;}
.contentmetadata_remove_new_location{float:right;margin-right:10px;margin-top:9px;}
