/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Default Custom Skin File */
#explore_navigation {background:url("/dev/images/explore_navigation_bg.png") repeat-x scroll left bottom #E5E6E7;box-shadow:0px 11px 7px -11px inset;-moz-box-shadow:0px 11px 7px -11px inset;-webkit-box-shadow:0px 11px 7px -11px inset;padding:10px 0 0 30px;}
#explore_content {background:url("/dev/images/explore_top_dropshadow.png") no-repeat top center transparent;}

body {
    background-color: #669999 !important;
}

/* COLUMNS */
.s3d-page-column-left{
    background:url("/devwidgets/lhnavigation/images/lhnav_bg.png") repeat-x scroll 0 0 #FEFEFE;
    float:left !important;
    min-height: 10px !important;
    width:960px !important;
}

.s3d-page-column-right{
    border: none !important;
    box-shadow: 3px -10px 7px 0 !important;
    -moz-box-shadow: 3px -10px 7px 0 !important;
    -webkit-box-shadow: 3px -10px 7px 0 !important;
    box-sizing:border-box !important;
    -moz-box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important;
    clear:both !important;
    float: none !important;
    padding:20px !important;
    width:960px !important;
    min-height: 500px !important;
} 

/* ENTITY */

 #entity_actions .s3d-button.s3d-header-button{
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4 !important;
 }

#entity_actions .s3d-button.s3d-header-button:hover{
    background-image: none !important;
    color: #000000 !important;
}

#entity_container #entity_name {
    color: #000000 !important;
}

#entity_groupsettings_dropdown #entity_dropdown_wrapper button {
    color: #707E8C !important;
}
#entity_groupsettings_dropdown #entity_dropdown_wrapper button:hover {
    color: #000000 !important;
}

#entity_container .entity_change_avatar:hover, #entity_container .entity_change_avatar.clicked{
    background-image: none !important;
    background-color: #D3D3B1 !important;
}

/* GROUP */

#group_create_new_area_container {
    margin: 8px 0 -18px 20px !important;
}

#group_create_new_area.s3d-button.s3d-header-button{
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4 !important;
}

#group_create_new_area.s3d-button.s3d-header-button:hover{
    background-image: none !important;
    color: #000000 !important;
}

#group_create_new_area_container .s3d-popout-button-shadow, .s3d-container-shadow-left, .s3d-container-shadow-right, .s3d-bottom-spacer {
    display: none !important;
}



/* MYLIBRARY */

.mylibrary_widget #mylibrary_empty .s3d-no-results-arrow-up {
    background: none repeat scroll 0 0 transparent !important;
    border-bottom: 24px solid #D3D3B1 !important;
    border-left: 20px solid transparent !important;
    border-right: 20px solid transparent !important;
    height: 0 !important;
    width: 0 !important;
}

.mylibrary_widget #mylibrary_empty .s3d-no-results-container {
    background-image: none !important;
    background-color: #D3D3B1 !important;
}

.mylibrary_widget #mylibrary_addcontent{
    color: #707E8C !important;
}

.mylibrary_widget #mylibrary_addcontent:hover{
    color: #000000 !important;
}

/* SAKAIDOCS */

#sakaidocs-page-action-bar #sakaidocs_buttonbar .s3d-header-smaller-button {
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4 !important;
    color: #707E8C !important;
}

#sakaidocs-page-action-bar #sakaidocs_buttonbar .s3d-header-smaller-button:hover {
    background-color: #D3D3B1 !important;
    background-image: none !important;
    border: 1px solid #C4C4C4 !important;
    color: #000000 !important;
}

.sakaidocs_widget .s3d-contentpage-title {
    border-bottom: 5px solid #99CC99 !important;
}

/* S3D-.... */

.s3d-page-header-bottom-row #participants_addpeople_button, .s3d-page-header-bottom-row #participants_send_selected_message{
    color: #707E8C !important;
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4;
}

.s3d-page-header-bottom-row #participants_addpeople_button:hover, .s3d-page-header-bottom-row #participants_send_selected_message:hover{
    color: #000000 !important;
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4;
    background-image: none !important;
}

.s3d-page-header-bottom-row #participants_addpeople_button:disabled, .s3d-page-header-bottom-row #participants_send_selected_message:disabled{
    color: #707E8C !important;
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4;
    background-image: none !important;
}

.s3d-page-header-bottom-row #participants_select_all_container{
    background-color: #FFFFFF !important;
    border: none !important;
}

.s3d-page-header #entity_container {
    background-color: #9c9;
    background-image: url("/dev/skins/cambridge/header.png");
    background-repeat: no-repeat;
    background-position: center;
}

.s3d-page-header-bottom-row .s3d-button.s3d-large-button{
    background-image: none !important;
    background-color: #D3D3B1 !important;
    border: 1px solid #C4C4C4 !important;
    color: #707E8C !important;
    font-size: 13px;
    height: 31px;
    padding: 0 7px;
    text-shadow: 0 2px 3px #C4C4C4;
}

.s3d-page-header-bottom-row .s3d-button.s3d-large-button:hover {
    background-image: none !important;
    color: #000000 !important;
}

/* NAVIGATION */

#lhnavigation_container {
    background-color: #D3D3B1;
}

#lhnavigation_container ul {
    border-bottom: 1px solid #C4C4C4 !important;
    margin: -2px 0 0 !important;
}

#lhnavigation_container ul .lhnavigation_hoverable_item:hover .lhnavigation_has_subnav {
    background: url("/dev/images/icons_sprite.png") no-repeat scroll -882px -21px transparent !important;
}

#lhnavigation_container ul li{
    display:inline-block !important;
    list-style:none !important; 
}

#lhnavigation_container ul li.lhnavigation_selected_item.lhnavigation_outer{
    background-image: none !important;
    background-color: #99CC99 !important;
    color: #000000 !important;
}

#lhnavigation_container ul li.lhnavigation_selected_item a {
    color: #000000 !important;
}

#lhnavigation_container ul li .lhnavigation_toplevel:hover {
    color:#000000 !important;
}

#lhnavigation_container ul li .lhnavigation_item_content, #lhnavigation_container ul li ul li div.lhnavigation_subnav_item_content {
    padding: 5px 28px 2px 28px !important;
}

#lhnavigation_container ul li .lhnavigation_has_subnav {
    background: url("/dev/images/icons_sprite.png") no-repeat scroll -882px -21px transparent !important;
    height: 10px !important;
    margin-left: 25px !important;
    margin-top:27px !important;
    position: absolute !important;
    width: 12px !important;
}

#lhnavigation_container ul li .lhnavigation_has_subnav_opened {
    background: url("/dev/images/icons_sprite.png") no-repeat scroll -882px -21px transparent !important;
}

#lhnavigation_container ul li .lhnavigation_private {
    background:url("/devwidgets/lhnavigation/images/lhnav_padlock.png") no-repeat center left transparent !important;
    height:16px !important;
    margin-left:-18px !important;
    margin-top:-22px !important;
    position:absolute !important;
    width:11px !important;
}

#lhnavigation_submenu.s3d-dropdown-list ul li button, #lhnavigation_submenu.s3d-dropdown-list ul li a {
    color: #707E8C !important;
}

#lhnavigation_submenu.s3d-dropdown-list ul li a:hover, #lhnavigation_submenu.s3d-dropdown-list ul li button:hover {
    color: #000000 !important;
}

#lhnavigation_container .lhnavigation_subnav {
    background-color:#D3D3B1 !important;
    margin:0px 0px; 
    position: absolute !important; 
    width: 150px !important;
    z-index: 998 !important;
       box-shadow: 0px 4px 4px -3px;
    -moz-box-shadow: 0px 4px 4px -3px;
    -webkit-box-shadow: 0px 4px 4px -3px;
}

#lhnavigation_container .lhnavigation_subnav ul li {
    display: inline-block !important;
}

.lhnavigation_menuitem .lhnavigation_item_content .lhnavigation_selected_submenu_image{
    color:#000000 !important;
    height:16px !important;
    margin-left: -159px !important;
    padding-left:2px !important;
    padding-top:1px !important;
    text-shadow:0 0 1px #999999 !important;	
    width:16px !important;
}

.lhnavigation_subnav_item_content .lhnavigation_selected_submenu_image{
    margin-left: -30px !important;
}

.lhnavigation_selected_submenu_image.clicked, .lhnavigation_selected_submenu_image:hover{
    background-image: none !important;
}

#lhnavigation_container .lhnavigation_subnav_item .s3d-split-line{
    display: none !important;
}

#lhnavigation_container .lhnavigation_subnav li div.lhnavigation_subnav_item_content{
    width: 90px;
}

#lhnavigation_container ul li ul li.lhnavigation_selected_item div.lhnavigation_subnav_item_content{
    background-image: none !important;
    background-color: #99CC99 !important;
    width: 94px !important;
}

#lhnavigation_container .lhnavigation_menuitem .lhnavigation_subnav {
   border: none !important;
}

#lhnavigation_private_pages {
    float: left !important;
}

/* FOOTER */

.footer_main .fixed-container {
    padding: 16px 15px 10px !important;
    width: 930px !important;
    background-color: #F2F2F2 !important;
}

.footer_main .fixed-container.bottom {
    border-radius: 0 0 10px 10px ;
    -webkit-border-radius: 0 0 10px 10px ;
    -moz-border-radius: 0 0 10px 10px ;
}

/* PARTICIPANTS */

.participants_widget #participants_list_container #participants_list_container_list .s3d-list-item:hover {
    background-color: #F3F7FF !important;
}