/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* chat_available */
#chat_available table {margin:0;}
#chat_available table th, #chat_available table td {border:none;text-align:left;padding:7px;}
#chat_available_me .chat_top_container {border-bottom:1px #ebebeb solid;}
.chat_available_status_online {background:url(/devwidgets/chat2/images/chat_status_online.png) no-repeat 0px 2px;}
.chat_top_container .chat_available_image {width:40px;}
.chat_top_container .chat_available_image img {height:40px;width:40px;}
.chat_available_friend img {height:32px;width:32px;}
#chat_available_others .chat_available_image {width:32px;}
.chat_top_container .chat_available_name, #chat_available_others .initiate_chat_window {color:#666;font-weight:bold;padding-left:13px;}
#chat_available_others .initiate_chat_window {color:#058ec4;}
.chat_available_statusmessage {color:#999;font-size:90%;}
.chat_available_others_nooverflow {background:#fff;}
.chat_available_others_nooverflow table {background:#fff;width:215px;}
.chat_available_others_overflow {background:#fff;height:184px;overflow:auto;position:relative; }
.chat_available_others_overflow table {width:200px;}
#chat_available_others tr {border-top:1px #ebebeb solid;}

/* show online */
#show_online {background-color:#d5dbdf;border:1px solid #666666; border-bottom: none;bottom:25px;text-align:left;width:215px;z-index:-1; right:146px; line-height: normal; position: relative;}
.show_online_visible {background: url(/dev/_images2/chat_online_active.png); color: #666; border-right: 1px solid #666;}

/* chat_no_online_connections */
#chat_no_online_connections {color:#999;}

/* chat_button_image */
.chat_button_image {position:absolute;top:7px;right:7px;}
.chat_user_button_image {float:right;padding:0px 3px 0 0;}
.chat_content_message {color: #000;}

/* user_chat */
.user_chat {border-right:1px solid #454A4F;cursor:pointer;float:left;height:30px;line-height:30px;margin-left:auto;padding-left:10px;text-align:left;width:140px;}
.user_chat_first .show_online_visible {border-left:1px solid #454A4F;}
.chat_with_user {background-color:#D5DBDF;border:1px solid #454A4F;bottom:24px; text-align:left;width:215px;z-index:-1; position: relative; bottom: 315px;}
.chat_name_link {color:#fff;padding-left:15px;}
.show_online_visible .chat_name_link {color: #666 !important;}
.chat_top_table {margin:0px !important;}
.chat_top_table th, .chat_top_table td {text-align:left;padding:7px 0 7px 7px !important;width:100%;}
.chat_window_name {color:#1696c8;font-weight:bold;}
.chat_with_txt {/*background:#f7f7f7 repeat-x url(/devwidgets/chat2/images/chat_input_text.png)*/;border:none !important;border-top:1px #d3d3d3 solid !important;padding:8px;width:199px !important;}
.chat_main_container {bottom:0;height:30px;width:100%;z-index:99;}

/* chat_content */
.chat_with_content_overflow, .chat_with_content_nooverflow {background-color:#fff;border-top:1px #d3d3d3 solid !important;height:185px;}
.chat_with_content_overflow {overflow:auto;}
.chat_with_content_overflow .chat_content_container, .chat_with_content_nooverflow .chat_content_container {border-bottom:1px #d3d3d3 solid !important;padding:8px;}
.chat_with_content_overflow .chat_content_container {width:184px;}
.chat_with_content_nooverflow .chat_content_container {width:199px;}
.chat_content_name, .chat_content_time {color:#ccc;}
.chat_content_name {float:left;font-weight:bold;}
.chat_content_time {float:right;}

/* user_link */
#user_link_container {position:relative;}
#user_link_menu {background-color:#FFF;border:1px solid #CCC;font-size:0.95em !important;line-height:1.3em;position:absolute;right:170px;top:30px;z-index:500;}
.user_link_menu_border {border-bottom:1px solid #CCCCCC;}
#user_link_menu ul {margin:0;padding:5px 15px 5px 7px;}
#user_link_menu li {display:block;list-style-type:none;margin:0;padding:0;}
#user_link_menu li a {border:none;color:#333333;font-size:1.05em !important;padding:0;}
.user_link_inactive li {font-size:0.95em !important;}

/* user status */
.chat_available_status_online, .chat_available_status_busy, .chat_available_status_offline {padding-left:15px;}
.chat_available_status_online {background:url(/devwidgets/chat2/images/chat_status_online.png) no-repeat -3px 1px;}
.chat_available_status_busy {background:url(/devwidgets/chat2/images/chat_status_busy.png) no-repeat 0px 2px;}
.chat_available_status_offline {background:url(/devwidgets/chat2/images/chat_status_offline.png) no-repeat 0px 2px;}
.pretend_link {cursor:pointer;}
#chat_container {background: url('/devwidgets/chat2/images/bottomBar_tl.png') top left no-repeat;color:#fff;height:25px;width: 960px;margin: 0 auto;position:relative;top:5px;}
.chat_main_table {background: url('/devwidgets/chat2/images/bottomBar_tr.png') top right no-repeat;width:100%;height:30px;}
#chat_online_connections_link {cursor:pointer;width:50px;	}
#online_button {border-left:1px solid #454a4f; color: #fff; float:right;height:30px;line-height:30px;margin-left:auto;text-align:center;top:-1px;width:70px;}
.chat_people_icon {cursor:pointer;position:relative;top:1px;}
.doFixed {position:fixed;}

/* NAVIGATION DROPDOWN CSS */
.chat_main_container th,.chat_main_container td {border:none;padding:0;}
.chat_main_table .chat_straight_link {position:relative;top:-3px;}
.show_online_visible a {color: #666;}

/* MAIN */
.dropdown {background-color:#878a8c;padding:0px 0px 72px 0px; margin-bottom: -72px;}
.dropdown_mysites .fixed-container, .dropdown .fixed-container { width: 920px; margin: 0 auto; background-color: white; overflow: auto;}
.dropdown h2 {color:#878a8c;font-size:1em;padding:0px 0px 10px 0px; font-weight: normal;}
.dropdown .dropdown_contacts {border-right:1px solid #878A8C;float:left;margin-top: 20px; margin-bottom: 15px; width:380px;}
.dropdown .dropdown_contacts .dropdown_person {float:left;padding-bottom:10px;padding-right:10px;width:80px;}
.dropdown .dropdown_contacts .dropdown_person_picture {background-image:url(/dev/_images2/person_icon.png);background-repeat:no-repeat;width:60px;height:60px;display:block;padding:0 0 5px;}
.dropdown .dropdown_search_people {margin-left:450px; margin-top: 20px;}
.dropdown .dropdown_search_input {border:1px solid #878a8c;color:#999;float:left;height:18px;margin-right:5px;padding:3px 0 0 3px;width:250px;}
.dropdown .search_button {position:relative;top:4px;}
.dropdown .close {position:relative;right:50px;}
.dropdown .close a {color:#333;font-weight:700;}
.dropdown .close img {position:relative;top:5px;padding-left:5px;}
.dropdown .dropdown_sites {border-right:1px solid #878a8c; margin-top: 20px; width:230px;}
.dropdown .dropdown_recent_sites {width:230px;border-right:1px solid #878a8c;margin-left:25px; margin-top: 20px; }
.dropdown .dropdown_search_course_sites {margin-left:540px; margin-top: 20px;}
.dropdown ul {margin:0;padding:0 0 10px;}
.dropdown ul li {list-style-type:none;padding:2px 0;}
.dropdown .dropdown_create_sakai_site {padding-top:20px;padding-bottom:20px;}
.dropdown .dropdown_create_sakai_site a {background: url(/dev/_images2/create_new_site_button_left.png) ;background-repeat:no-repeat;display:block;float:left;height:10px;text-indent:0; padding:9px 10px 9px 40px; color: #006e96; font-weight: bold;}
.dropdown .dropdown_create_sakai_site img {position:relative;top:4px;padding-right:5px;}
.close {margin-bottom:-25px;position:relative;top:-30px;margin-right:25px;}
.close_icon {padding-left:5px;position:relative;top:4px;}
.dialogue_body .dialogue_add_goodies_description {color:#666;font-size:12px;font-weight:100;}
.dialogue_body .dialogue_remove_goodies_title {color:#999;font-size:14px;font-weight:700;}
.dialogue_body .dialogue_remove_goodies_description {color:#999999;font-size:12px;font-weight:100;}
.dialogue_body .dialogue_add_goodies_title {color:#333;font-size:13px;font-weight:700;}
.dialogue_body .remove {background:#F8F8F8 none repeat scroll 0 0;}
.initiate_chat_window,.chat_straight_link {color:#fff;cursor:pointer;font-size:90%;}
.dropdown .dropdown_contacts .dropdown_person_name,.dropdown ul li a {color:#006e96;font-weight:700;}
#people_dropdown_main .button, #mysites_dropdown_main .button {float:none;display:inline;}
.chat_has_dropdown img {margin-left:-10px; margin-top: 11px; padding-right: 10px;}
.dropdown .dropdown_search_button_right {background: url(/dev/_images2/gray_button_left.png); background-repeat: no-repeat; left; height: 23px; padding-left: 10px; color: #fff; border: none;}
.dropdown .dropdown_search_button_left {background: url(/dev/_images2/gray_button_right.png) no-repeat top right; height: 23px; padding-right: 10px; margin-right: 10px;}
#people_dropdown_my_contacts_list {padding-bottom: 10px;}
.dropdown_bottom_part_left {width: 960px; margin: 0 auto; background: url(/dev/_images2/dropdown_bottom_left.png) no-repeat; height: 10px;}
.dropdown_bottom_part_right {background: url(/dev/_images2/dropdown_bottom_right.png) no-repeat top right; height: 10px;}