/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */



/**
 * Top Navigation Bar
 */

#id0 #explore_nav_container {
    background-color: #454a4f;
    color: #fff;
    }
.pipe_divider {color: #999;}
.explore_nav {
    vertical-align: bottom;
    width: 960px;
    height: 32px;
    margin: 0 auto 12px auto;
    }
.explore_nav * {}
.explore_nav ul {
    padding:0;
    margin:0;
    }
.explore_nav li {
    float: left;
    list-style:none none;
    padding: 0;
    margin: 0;
    }
.explore_nav a {}
.explore_nav .explore {
    font-size: 1em;
    }
.explore_nav ul.explore li {
    padding: 0;
    padding-bottom: 6px;
    border-left: 1px solid #878a8c;
  }
.explore_nav .explore li#nav_my_sakai_link {
        border-left: none;
    }

.explore_nav .explore li a {
    color:#fff;
    padding: 8px 20px;
    text-align: center;
    display: block;
    float: left;
    font-weight: normal;
}

.explore_nav .explore li small {
    color:#ddd;
    font-size: 0.85em;
}

/* Selected Nav element */
.explore_nav .explore .explore_nav_selected {
    background:url("../../../dev/_images/arrow_down_grey.png") no-repeat scroll center 32px transparent;
    padding-bottom:12px;
}

.explore_nav .explore .explore_nav_selected a {
    background-color: #666A6E;
    font-weight: bold;
}


/*** Top Right Navbar ***/
.explore_nav .personal-container {
    margin-top: 10px;
    background: url('../../../dev/_images/topBar_tr.png') top right no-repeat;
    padding-right: 5px;
    overflow: hidden;
}
.explore_nav .personal {
    padding: 4px 0 0 5px;
    margin: 0;
    background: url('../../../dev/_images/topBar_tl.png') top left no-repeat;
    min-height: 30px;
    }
.explore_nav .personal li a {
    font-size: 9pt;
    padding:0 5px 0 7px;
    border-left: 1px solid #666a6d;
    color: #fff;
}
.explore_nav .personal li span {
    color: #fff;
}

.explore_nav .user_link span {
    background: url('../../../dev/_images/white_subnav_arrow.png') bottom right no-repeat;
    padding-right: 17px;
    padding-left: 5px;
}

.explore_nav .personal li.last a{ border:none; padding-right:0; }
.personal img{ vertical-align: middle;}
.explore_nav .personal .user_link {border: none;}
.explore_nav .personal .user_link img {position: relative; top: -1px; padding: 0 3px 0 3px;}
.explore_nav .personal .mail img {position: relative; top: -1px;}






/* General Search */
#genaral_search_container {
    margin: 12px auto 0px auto;
    text-align:right;
    width:960px;
    clear: both;
}

#general_search_input {
    width: 27em;
    color: #ddd;
    font-style: italic;
    padding: 1px 0 0 10px;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    height: 20px;
    border: 1px solid #777;
}

.search_input_focus {
    font-weight: bold !important;
    color: #333 !important;
    font-style: normal !important;
}


#widget_chat {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

#widget_chat #user_link_menu {
    position: absolute;
    top: 43px;
    right: 285px;
}





/* chat_available */
#chat_available table {margin:0;}
#chat_available table th, #chat_available table td {border:none;text-align:left;padding:7px;}
#chat_available_me .chat_top_container {border-bottom:1px #ebebeb solid;}
.chat_available_status_online {background:url(/devwidgets/chat/images/chat_status_online.png) no-repeat 0px 2px;}
.chat_top_container .chat_available_image {width:40px;}
.chat_top_container .chat_available_image img {height:40px;width:40px;}
.chat_available_friend img {height:32px;width:32px;}
#chat_available_others .chat_available_image {width:32px;}
.chat_top_container .chat_available_name, #chat_available_others .initiate_chat_window {color:#666;font-weight:bold;padding-left:13px;}
#chat_available_others .initiate_chat_window {color:#058ec4;}
.chat_available_statusmessage {color:#999;font-size:90%;}
.chat_available_others_nooverflow {background:#fff;}
.chat_available_others_nooverflow table {background:#fff;width:215px;}
.chat_available_others_overflow {background:#fff;height:184px;overflow:auto;position:relative; }
.chat_available_others_overflow table {width:200px;}
#chat_available_others tr {border-top:1px #ebebeb solid;}

/* show online */
#show_online {background-color:#d5dbdf;border:1px solid #666666; border-bottom: none;bottom:25px;text-align:left;width:215px;z-index:-1; right:146px; line-height: normal; position: relative;}
.show_online_visible {background: url(/dev/_images/chat_online_active.png); color: #666; border-right: 1px solid #666;}

/* chat_no_online_connections */
#chat_no_online_connections {color:#999;}

/* chat_button_image */
.chat_button_image {position:absolute;top:7px;right:7px;}
.chat_user_button_image {float:right;padding:0px 3px 0 0;}
.chat_content_message {color: #000;}

/* user_chat */
.user_chat {border-right:1px solid #454A4F;cursor:pointer;float:left;height:30px;line-height:30px;margin-left:auto;padding-left:10px;text-align:left;width:140px;}
.user_chat_first .show_online_visible {border-left:1px solid #454A4F;}
.chat_with_user {background-color:#D5DBDF;border:1px solid #454A4F;bottom:24px; text-align:left;width:215px;z-index:-1; position: relative; bottom: 315px;}
.chat_name_link {color:#fff;padding-left:15px;}
.show_online_visible .chat_name_link {color: #666 !important;}
.chat_top_table {margin:0px !important;}
.chat_top_table th, .chat_top_table td {text-align:left;padding:7px 0 7px 7px !important;width:100%;}
.chat_window_name {color:#1696c8;font-weight:bold;}
.chat_with_txt {border:none !important;border-top:1px #d3d3d3 solid !important;padding:8px;width:199px !important;}
.chat_main_container {bottom:0;height:30px;width:100%;z-index:99;}

/* chat_content */
.chat_with_content_overflow, .chat_with_content_nooverflow {background-color:#fff;border-top:1px #d3d3d3 solid !important;height:185px;}
.chat_with_content_overflow {overflow:auto;}
.chat_with_content_overflow .chat_content_container, .chat_with_content_nooverflow .chat_content_container {border-bottom:1px #d3d3d3 solid !important;padding:8px;}
.chat_with_content_overflow .chat_content_container {width:184px;}
.chat_with_content_nooverflow .chat_content_container {width:199px;}
.chat_content_name, .chat_content_time {color:#ccc;}
.chat_content_name {float:left;font-weight:bold;}
.chat_content_time {float:right;}

/* user_link */
#user_link_container {position:relative; text-align: left; min-width: 50px; max-width: 195px; }
#user_link_menu {background-color:#868a8d; font-size:9pt; line-height:16px; position:absolute; top:30px;z-index:500; padding:0 0 6px;}
.user_link_menu_border {border-bottom:1px solid #777; }
#user_link_menu ul {margin:0;padding:0}
#user_link_menu li {display:block; list-style-type:none;margin:0; padding:3px 5px 6px 13px;}
#user_link_menu li a {border:none;color:#fff;font-size: 9pt; padding:0;}
.user_link_inactive li {font-size:9pt; }

/* anonymous */

/* anonymous login form */
#login_container {
    background:none repeat scroll 0 0 #878A8C;
    left:785px;
    padding:10px;
    position:absolute;
    top:32px;
    width:246px;
    z-index:1000;
    text-align: right;
    color: #eee;
}

#login_container input {
    border:1px solid #666666;
    height:20px;
    line-height:20px;
    margin:3px 0 10px;
    text-align:right;
    width:240px;
    font-size:11pt;
    font-weight:bold;
    color: #333;
    padding:0 10px 0 0;
}

#error_message {
    font-size: 9pt;
    color: #ff0;
}

#login_busy {
    background: url("../../../dev/_images/ajax_load.gif") 0 0 no-repeat;
    width: 80px;
    height: 10px;
}


/* user status */
.chat_available_status_online, .chat_available_status_busy, .chat_available_status_offline {padding-left:15px;}
.chat_available_status_online { background: url("../images/bullet_green.png") no-repeat scroll -3px -1px transparent; }
.chat_available_status_busy {background:url("../images/bullet_orange.png") no-repeat scroll -3px -1px transparent; }
.chat_available_status_offline {background:url("../images/bullet_red.png") no-repeat scroll -3px -1px transparent; }
.pretend_link {cursor:pointer;}
#chat_container {background: #444; color:#fff;height:25px;width: 960px;margin: 0 auto;position:relative;top:5px;}
.chat_main_table {background: #444; width:100%;height:30px;}
#chat_online_connections_link {cursor:pointer;width:50px; background: #333; }
#online_button {border-left:1px solid #454a4f; color: #fff; float:right;height:30px;line-height:30px;margin-left:auto;text-align:center;top:-1px;width:70px;}
.chat_people_icon {cursor:pointer;position:relative;top:1px;}
.doFixed {position:fixed;}

/* NAVIGATION DROPDOWN CSS */
.chat_main_container th,.chat_main_container td {border:none;padding:0;}
.chat_main_table .chat_straight_link {position:relative;top:-3px;}
.show_online_visible a {color: #666;}

/* MAIN */
.dropdown {background-color:#878a8c;padding:0px 0px 72px 0px; margin-bottom: -72px;}
.dropdown_mysites .fixed-container, .dropdown .fixed-container { width: 920px; margin: 0 auto; background-color: white; overflow: auto;}
.dropdown h2 {color:#878a8c;font-size:1em;padding:0px 0px 10px 0px; font-weight: normal;}
.dropdown .dropdown_contacts {border-right:1px solid #878A8C;float:left;margin-top: 20px; margin-bottom: 15px; width:380px;}
.dropdown .dropdown_contacts .dropdown_person {float:left;padding-bottom:10px;padding-right:10px;width:80px;}
.dropdown .dropdown_contacts .dropdown_person_picture {background-image:url(/dev/_images/person_icon.png);background-repeat:no-repeat;width:60px;height:60px;display:block;padding:0 0 5px;}
.dropdown .dropdown_search_people {margin-left:450px; margin-top: 20px;}
.dropdown .dropdown_search_input {border:1px solid #878a8c;color:#999;float:left;height:18px;margin-right:5px;padding:3px 0 0 3px;width:250px;}
.dropdown .search_button {position:relative;top:4px;}
.dropdown .close {position:relative;right:50px;}
.dropdown .close a {color:#333;font-weight:700;}
.dropdown .close img {position:relative;top:5px;padding-left:5px;}
.dropdown .dropdown_sites {border-right:1px solid #878a8c; margin-top: 20px; width:230px;}
.dropdown .dropdown_recent_sites {width:230px;border-right:1px solid #878a8c;margin-left:25px; margin-top: 20px; }
.dropdown .dropdown_search_course_sites {margin-left:540px; margin-top: 20px;}
.dropdown ul {margin:0;padding:0 0 10px;}
.dropdown ul li {list-style-type:none;padding:2px 0;}
.close {margin-bottom:-25px;position:relative;top:-30px;margin-right:25px;}
.close_icon {padding-left:5px;position:relative;top:4px;}
.initiate_chat_window,.chat_straight_link {color:#fff;cursor:pointer;font-size:90%;}
.dropdown .dropdown_contacts .dropdown_person_name,.dropdown ul li a {color:#006e96;font-weight:700;}
#people_dropdown_main .button, #mysites_dropdown_main .button {float:none;display:inline;}
.chat_has_dropdown img {margin-left:-10px; margin-top: 11px; padding-right: 10px;}
#people_dropdown_my_contacts_list {padding-bottom: 10px;}
.dropdown_bottom_part_left {width: 960px; margin: 0 auto; background: url(/dev/_images/dropdown_bottom_left.png) no-repeat; height: 10px;}
.dropdown_bottom_part_right {background: url(/dev/_images/dropdown_bottom_right.png) no-repeat top right; height: 10px;}

/* create site button
 * overrides sd3-button from sakai.base.css
 */

.s3d-create-site-button {
    height: 27px;
    background-position: right -356px;
    padding-right: 18px;
    margin: 20px 0;
}

.s3d-create-site-button:hover {
    background-position: right -196px;
}

.s3d-create-site-button .s3d-button-inner {
    height: 27px;
    background-position: left -316px;
    padding-left: 3px;
    color: #006E96;
}

.s3d-create-site-button:hover .s3d-button-inner {
    background-position: left -156px;
}

.s3d-create-site-button .s3d-button-icon-left {
    background-image: url("/dev/_images/icon-create-site.png");
    background-position:left top;
    line-height:30px;
    padding-left:33px;
}
