/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#topnavigation_container {width:960px; margin-left:auto; margin-right:auto;}

/* NAVIGATION */
.topnavigation_explore {margin:0; padding-top: 13px; float:left;}
.topnavigation_explore li{display:inline; list-style:none; padding:10px 15px;}
.topnavigation_explore li a{color:#fff; text-decoration:none;}

/* SEARCH */
.topnavigation_search {float:left;margin-top:10px;height: 22px;margin-left: 120px;}
.topnavigation_search {width:190px; background:url("/devwidgets/topnavigation/images/topnav_search.png") no-repeat;}
.topnavigation_search #topnavigation_search_input{background:none repeat scroll 0 0 transparent;border: medium none;margin: 3px 0 0 7px;width: 145px;}

/* USER */
.topnavigation_user {float:right; margin-top:10px;}
.topnavigation_user .topnavigation_user_inbox{background:url("/devwidgets/topnavigation/images/topnav_dropdown.png") no-repeat; border-right:1px solid #B3B3B4; height:20px; float:left; padding:0 5px 0 30px;cursor:pointer;}
.topnavigation_user .topnavigation_user_options {background:url("/devwidgets/topnavigation/images/topnav_dropdown.png") top right no-repeat; height:20px; float:left;padding:0 30px 0 7px;cursor: pointer;}
.topnavigation_user .topnavigation_user_options #topnavigation_user_options_name, .topnavigation_user .topnavigation_user_inbox #topnavigation_user_inbox_messages {color: #FFFFFF;font-size: 12px;margin-top: 2px;}
.topnavigation_user_options:hover{background:url("/devwidgets/topnavigation/images/topnav_dropdown.png") no-repeat right -20px;}
.topnavigation_user_inbox:hover{background:url("/devwidgets/topnavigation/images/topnav_dropdown.png") no-repeat left -20px;}
.topnavigation_user .topnavigation_user_options:hover #topnavigation_user_options_name, .topnavigation_user .topnavigation_user_inbox:hover #topnavigation_user_inbox_messages{color:#1F5B85;}