/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* General */
.participants_widget select {border: 1px solid #A9A9A9;}

/* Actions */
#participants_general_actions > * {margin-right:10px;}
#participants_general_actions > label {margin-right:0;}

/* Participants list */
.participants_widget #participants_list_container label {cursor:pointer;}
.participants_widget #participants_list_container .s3d-list-entity-picture {width:46px;height:46px;}
.participants_widget .participants_list_participant_checkbox {float:left;margin:10px 8px 0 0;}
.participants_widget #participants_list_container ul {margin:7px 0;}
.participants_widget #participants_list_container a.participants_list_participant_details {font-size:11px;}
.participants_widget #participants_list_container span.participants_list_participant_details {font-size:12px;color:#424242;}
.participants_widget #participants_list_container .participants_list_participant_divider {color:#ddd;margin:0 5px;}