/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Pager CSS */
.jq_pager {
    text-align: center;
}
.sakai_pager {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    *display: inline;
}
.sakai_pager li.hidden {
    visibility: hidden;
}
.sakai_pager li {
    float: left;
    display: inline-block;
    list-style: none;
    font-weight: bold;
    height: 18px;
    margin: 0px 5px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #e0e3e5;
}
.sakai_pager button {
    display: inline-block;
    font-size: 0.95em;
    color: #666;
    height: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    background: #fff;
    box-shadow: 0 0 6px -2px #A8A8A8 inset;
    margin: 0;
    padding: 1px 7px 2px 7px;
}
.sakai_pager button:hover {
    background: #e9edf0;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 4%, #e9edf0 8%, #feffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(4%,#ffffff), color-stop(8%,#e9edf0), color-stop(100%,#feffff));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 4%,#e9edf0 8%,#feffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ffffff 4%,#e9edf0 8%,#feffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 4%,#e9edf0 8%,#feffff 100%);
    background: linear-gradient(top, #ffffff 0%,#ffffff 4%,#e9edf0 8%,#feffff 100%);
    box-shadow: none;
}
.sakai_pager li.pgCurrent, .sakai_pager li.pgCurrent > button, .sakai_pager li.dots {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0;
    padding-top: 1px;
}
.sakai_pager li.dots {
    margin-left: 5px;
    padding-top: 6px;
}
.sakai_pager li.jq_pager_three_dots_end {
    margin-right: 5px;
}
.sakai_pager li.pgEmpty {
    visibility: hidden !important;
}