.jq_pager ul.pages{margin:10px 0 0!important;}
.search_results_part{padding-bottom:20px!important;}

.search_results_part_title {
    color: #5A6A7C !important;
}

/** HEADER **/
.people .find_more_people a{color:#058EC4;font-size:14px;font-weight:bold;padding-right:10px;line-height:2em;}
.people .find_more_people a div{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -490px -398px transparent;float:right;height:9px;margin:10px 10px 0 0;width:5px;}

/** CONTENT **/
.search_results_container{overflow:hidden;}
.people .content_search{padding:0;}
.people .outline-top{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1413px transparent;padding:0 5px 0 0;margin:0;}
.people .outline-top-inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1393px transparent;margin:0;height:6px;}
.people .outline{padding:8px 10px;}
.people .search_tab_content{background-image:none;}
.people .fl-tab-content{margin:0;padding:0;}
.people .search_results_part{padding:0 10px;}
.people .search_results_part_header{margin-top:0;}

/* search results people */
.search_result_person{margin:5px 8px 10px;padding:10px;width:250px;background-color:#FFF;height:60px;float:left;border:none;}
.search_result_person_picture{float:left;display:block;background-image:url(/dev/images/person_icon.jpg);background-repeat:no-repeat;width:60px;height:60px;padding:0;margin:0;}
.search_result_dot{display:block;float:left;position:relative;left:5px;}
.search_result_person .search_result_person_name{display:block;color:#000;font-weight:bold;font-size:1em;margin-left:70px;margin-top:4px;}
.search_result_person_dept{display:block;color:#999;font-size:.85em;margin:0 0 6px 70px;}
.search_result_person_links{margin-left:70px;}
.search_result_person_link{margin:0 0 0 10px;color:#006e96;font-size:.85em;}
.search_result_person_divider{color:#ddd;margin:0 0 0 10px!important;}
.people_people_avatar{margin-top:5px!important;}
