.s3d-page-header{padding:0px;height:auto;width:970px;-moz-box-shadow:0 -5px 9px 6px #555555;-webkit-box-shadow:0 -5px 9px 6px #555555;box-shadow:0 -5px 9px 6px #555555;}
#explore_navigation{height:40px;}
#explore_navigation .s3d-contentpage-title{border-bottom:none;}
#explore_content {padding:22px;}
#explore_content_first_column, .explore_content_first_column {width:674px;float:left;}
#explore_content_second_column {float:right;width:229px;margin:12px 0 0 22px;}