/* Directory 2 CSS */

/* BROWSE DIRECTORY WIDGET PLACEMENT*/
.browse_directory {width:24%; padding:10px;}

/* DIRECOTRY CONTENT */
.content {width:53%; min-height: 50px;}
.node_content_area {width:53%; padding:10px; min-height:350px; }

/* DIRECTORY TITLE */
.directory_header { font-size:22px; line-height:28px; margin-right:10px;}


