.s3d-page-column-left{float:left;width:185px;height:500px;background-color:#ebf0f7;border-right:solid #b3b3b4 1px; border-top:solid #d6dadd 1px;}
.s3d-page-column-right{float:left;width:774px;height:100px;border-top:solid #d6dadd 1px;}
.s3d-page-full{height:100px;}
.s3d-navigation-container{height:43px;margin-left: auto;margin-right: auto;}
.s3d-page-header{height:45px;width:930px;border-bottom:solid #b3b3b4 1px; background: url("/dev/images/pageHeader_bg.png") repeat-x scroll 0 0 transparent;padding:20px 15px 7px;}

/* CSS THAT OVERWRITES MAIN CSS */
.s3d-main-container {padding: 0px !important;}
.fixed-container.s3d-main-container{width:960px;}
.requireUser {background: url("/dev/images/grey_bg.png") repeat-x scroll left -91px #EAEFF6 !important;}
.s3d-header .fixed-container {padding:0 !important; width:960px;}
.s3d-header .s3d-fixed-container .s3d-decor-left {margin-left:0;}
.s3d-header .s3d-fixed-container .s3d-decor {margin-right:0;}
.s3d-header .s3d-fixed-container .s3d-decor-left {background: url("/dev/images/pageHeader_tl.png") no-repeat scroll 0 0 transparent;}
.s3d-header .s3d-fixed-container .s3d-decor {background: url("/dev/images/pageHeader_tr.png") no-repeat scroll 0 0 transparent;}