/* Directory 2 CSS */

/* BROWSE DIRECTORY WIDGET PLACEMENT*/
.browse_directory {width:24%; padding:10px;}

/* DIRECOTRY CONTENT */
.content {width:53%; min-height: 50px;}
.node_content_area {width:53%; padding:10px; min-height:350px; }

/* DIRECTORY TITLE */
.directory_title { color:#333333; font-size:1.15em; font-weight:bold;padding:5px 10px; }
.directory_header { color:#444444; font-size:22px; font-weight:bold; line-height:28px; margin-right:10px;}


