/* GENERAL */
strong{color:#000;}
.dialog_buttons .button{color:#666;}

/* OPTIONS */
.mysakai_options{text-align:right;margin:0 10px 5px 0;}
.mysakai_options a{font-size:9pt;color:#454A4F;font-weight:bold;}

/* TOOLS CONTAINER - RIGHT COLUMN */
#toolscontainer{margin-left:20px;}

/* WIDGET CONTAINER */
#widgetscontainer .fl-widget{margin-top:1px;}
#mysakai_edit_page{float:right;padding:10px;width:220px;}
#mysakai_edit_page #mysakai_edit_page_container{float:right;}

/** EDIT PAGE MENU **/
#mysakai_edit_page .content_page_options .more_link{background:transparent url(/dev/images/more_bg_18.png) top left no-repeat;padding:1px 21px 2px 12px;}
#mysakai_edit_page .add_more_menu{background-color:#FFF;padding:0;position:absolute;left:0;top:0;display:block;width:106px;margin:0;}
#mysakai_edit_page .add_more_menu ul{margin:0;border:1px solid #cbd0d4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#mysakai_edit_page .add_more_menu ul li{padding:5px 0 5px 9px;list-style-type:none;}
#mysakai_edit_page .add_more_menu ul li.more_option{border-bottom:1px solid #cbd0d4;}
#mysakai_edit_page .add_more_menu ul li.more_option.option_last{border-bottom:0;}
#mysakai_edit_page .add_more_menu ul li:hover{background-color:#dbeefc;cursor:pointer;}
#mysakai_edit_page .add_more_menu ul li a{font-weight:normal;font-size:12px;}
#mysakai_edit_page .add_more_menu ul li a:hover{text-decoration:none;}