.s3d-page-header{padding:0px;height:auto;width:960px;-moz-box-shadow:0 -5px 9px 6px #555555;-webkit-box-shadow:0 -5px 9px 6px #555555;box-shadow:0 -5px 9px 6px #555555;}
#explore_navigation{height:50px;}
#explore_content {padding: 12px;}
#explore_content_first_column {width:75%;float:left;}
#explore_content_second_column {float:right;width:23%;margin-top:12px;}
