/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 *//* Sakai Base */


/*
 * GLOBAL RULES
 */
body, button{font-family:Arial, Helvetica, sans-serif;line-height:120%;}
.section_header{font-weight:bold;border-bottom:1px solid #ebebeb;font-size:17px;padding-bottom:3px;}

/* adding a visible outline on focus for accessibility */
*:focus{outline:1px dotted #000;}

/* HTML TAG OVERRIDES - on top of the FSS reset */
h1{font-size:2em;font-family:Arial,Helvetica,sans-serif;font-weight:bolder;line-height:normal;margin:5px 0px 10px 0;}


/* 
 * PAGE LAYOUT
 */
.fixed-container {padding:0 20px;width: 920px;overflow:hidden;}
.s3d-header .fixed-container { background-color: #FFF;}
.s3d-header .fixed-container .decor_left {background:url("/dev/images/dashboard_sprite.png") no-repeat scroll left -10px transparent; float:left; height:5px; margin-left:-20px; width:5px;}
.s3d-header .fixed-container .decor { background: url("/dev/images/dashboard_sprite.png") no-repeat scroll right -10px transparent; height: 5px; margin-right: -20px; }
.grep {color:#666 !important;font-weight:bold;}
.s3d-gray {color:#666;}


/* GENERAL WIDGET CSS */
.fl-widget {padding: 0;}
.fl-widget .fl-widget-titlebar h2 {padding-left:3px}
.fl-widget .fl-widget-titlebar {background: url("/dev/images/dashboard_sprite.png") no-repeat scroll right -473px transparent; padding: 0 4px 0 0; width: auto; min-height: 39px;}
.fl-widget .fl-widget-titlebar .widget-titlebar-inner {background: url("/dev/images/dashboard_sprite.png") no-repeat scroll -10px -544px transparent; min-height: 39px;}
.fl-widget .fl-widget-options ul {margin: 0; padding: 0; width:100%;}
.fl-widget .fl-widget-titlebar .widget_title {color: #878a8c; font-size: 1.0em; padding: 13px 30px 10px 40px; vertical-align: text-top; word-wrap:break-word;}
.fl-widget .fl-widget-titlebar .widget_title_icon {display: block; float: left; height: 17px; left: 16px; position: relative; top: 14px; width: 17px;}
.fl-widget .fl-widget-titlebar .settings {background: url("/dev/images/dashboard_sprite.png") no-repeat scroll -186px -393px transparent; position: relative; height: 18px; margin: 15px 8px 0 0;}
.fl-widget .fl-widget-options ul li {float: left; margin: 0; padding: 0 6px 0;}
.fl-widget .fl-widget-options ul li a, .fl-widget .fl-widget-options ul li .s3d-link-button {color: #666; font-size: .85em; font-weight: bold;}
.fl-widget .fl-widget-options .pipe_divider {font-size: .85em;}
.fl-widget .fl-widget-content {background-color: #fff; }
.fl-widget .fl-widget-content ul {margin: 0;}
.fl-widget .widget-options-inner {padding: 0px 10px 0; min-height:16px; overflow:hidden; *overflow:auto;}
.hiddenwidget {border-bottom: 3px solid #D5DBDF;}

/*
.fl-widget .widget-titlebar-end {margin-top: -2px;background: url("/dev/images/dashboard_sprite.png") no-repeat scroll -10px -616px transparent;height: 4px;}
.fl-widget .widget-titlebar-end-inner {background: url("/dev/images/dashboard_sprite.png") no-repeat scroll right -518px transparent;height: 4px;}
*/

/* Widget settings */
#widget_settings_menu {position: absolute;top: 0;left: 0;background: #D4DADE;margin-top: 22px;}
#widget_settings_menu ul {padding: 0;margin: 0;}
#widget_settings_menu ul li {padding: 4px 5px;margin: 0;font-size: 12px;list-style-type: none;}

/* Change layout */
#change_layout_dialog {width: 840px !important; margin-left: -420px !important;}
#change_layout_dialog .elf-right-up {padding: 25px 0}
#change_layout_dialog .add-tools-right {width:100%;}
#change_layout_dialog .layout_container {float:left;  padding-left:25px;  padding-right:13px;    }
#change_layout_dialog .layout_picker_item {width:114px; height: 62px; border: 2px solid #3399CC; border-right: 2px solid #3399CC; background-color: #EEFFFF;}
#change_layout_dialog .layout_picker_item_column {border-right: 1px solid #3399CC;}
#change_layout_dialog .layout_picker_item_radio {margin-left:50px; margin-top:10px;}
#change_layout_dialog .layout_container_unselected {float:left; padding-left:25px; padding-right:13px;}
#change_layout_dialog .layout_picker_item_unselected {width:114px; height: 62px; border: 2px solid #dddfe1; border-right: 2px solid #dddfe1; background-color: #F8F8F8;}
#change_layout_dialog .layout_picker_item_column_unselected {border-right: 1px solid #dddfe1;}
#change_layout_dialog .layout_picker_item_radio_unselected {margin-left:50px; margin-top: 10px;}
#change_layout_dialog #layouts_list {display:block;}

/* Add Sakai Goodies */
#add_goodies_dialog {width:520px; height: 374px; margin-left: -260px;}
.add_goodies .s3d-button {margin:0; height:23px;}
.add_goodies .dialog_body {height:308px; overflow-y:auto; overflow-x:hidden; position:relative; width:471px;}
.add_goodies  ul {margin:0;}
.add_goodies  ul li{border-bottom: 1px solid #efefef;line-height:30px;list-style:none;padding:0 12px;}
.add_goodies  ul li:hover{background-color:#dbeefc;}
.add_goodies .dialog_add_goodies_description {color:#333;font-size:13px;font-weight:normal;}
.add_goodies .dialog_remove_goodies_title {color:#999;font-size:14px;font-weight:bold;}
.add_goodies .dialog_remove_goodies_description {color:#999999;font-size:12px;font-weight:100;}
.add_goodies .dialog_add_goodies_title {color:#333;font-size:13px;font-weight:bold;}
.add_goodies .remove_add_column {float:right;width:100px;}

/* D&D Classes */
.ui-draggable, .orderable-hover {cursor:move;}
.orderable-dragging {opacity:0.2; width:auto;}
.orderable-selected {}
.orderable-avatar {background-color:#666666; border:1px solid #666666; height:25px; width:50px; z-index:65535;}
div .orderable-drop-marker {background-color:#FA7019; height:10px !important;}
.orderable-avatar-clone {height:200px; opacity:0.6; width:400px;}
.drop-warning {background-color:#FFD7D7; border:2px solid red; display:none; left:10px; margin:5px; padding:10px; position:absolute; top:50px; z-index:65535;}
.orderable-drop-marker-box {background-color:#FFFFFF; border:2px dashed #AAAAAA; height:200px !important; margin-bottom:1em; width:100%;}
.orderable-mouse-drag {display:none;}


/*
 * INSERT MORE DROPDOWN
 */
.insert_more_menu{position:absolute;left:5px;top:5px;border:1px solid #ccc;background-color:#fff;font-size:.95em!important;}
.insert_more_menu_border{border-bottom:1px solid #ccc;}
.insert_more_menu ul{padding:5px 15px 5px 7px;margin:0;}
.insert_more_menu li{list-style-type:none;}
.insert_more_menu_inactive{color:#aaa;}


/*
 * DROPDOWN MENU
 */
.s3d-dropdown-menu {display: inline-block;list-style: none outside none;margin-top:4px;padding:7px 25px 10px 25px;cursor:pointer; margin-left:-2px;}
.s3d-dropdown-menu:hover {background: url("/devwidgets/topnavigation/images/topnav_nav_hover.png") repeat-x scroll left top #3480b2;-moz-border-radius:2px 2px 2px 2px; border-radius:2px 2px 2px 2px; -webkit-border-radius:2px 2px 2px 2px;padding:7px 25px 10px;}
.s3d-dropdown-menu ul, .s3d-dropdown-menu .s3d-dropdown-menu-content-container {margin:0;padding: 10px 7px;display:block;background-color: #F3F3F3;-moz-border-radius:2px; border-radius:2px; -webkit-border-radius:2px;}
.s3d-dropdown-menu ul li {display:block; list-style:none;padding:1px;margin:0 2px;cursor:pointer;color:#636363; text-decoration:none; font-weight:normal;}
.s3d-dropdown-menu ul li:hover {background:url("/devwidgets/topnavigation/images/topnav_nav_list_hover.png") repeat-x scroll left top transparent;}
.s3d-dropdown-menu ul li a {text-decoration:none;display:block;padding:5px 6px;}
.s3d-dropdown-menu ul li:hover a {color:#f3f3f3;}
.s3d-dropdown-menu ul li a {color:#2683bc;font-size:12px;}
.s3d-dropdown-menu .s3d-dropdown-container {background:url("/devwidgets/topnavigation/images/topnav_nav_hover_list_bg.png") repeat-x scroll left top #0c4e79;-moz-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;-moz-box-shadow:0 10px 10px -3px #333333; -webkit-box-shadow:0 10px 10px -3px #333333; box-shadow:0 10px 10px -3px #333333;position:absolute;z-index:999;min-width:140px;padding:5px;-moz-border-radius:0 2px 2px 2px; border-radius:0 2px 2px 2px; -webkit-border-radius:0 2px 2px 2px;cursor:auto;}
.s3d-split-line {background-color:none;border:medium none;border-top:1px dotted #d4d4d4;height: 1px;margin: 3px 9px;}

/*
 * MARGINS
 */
.s3d-margin-top-3 {margin-top: 3px !important;}
.s3d-margin-top-5 {margin-top: 5px !important;}
.s3d-margin-top-10 {margin-top: 10px !important;}
.s3d-margin-top-15 {margin-top: 15px !important;}
.s3d-margin-top-20 {margin-top: 20px !important;}
.s3d-button.s3d-margin-top-5 {height:19px;line-height:19px;}
.s3d-button.s3d-no-margin-top {margin-top:0;height:18px !important;line-height:18px;}
/* 
 * LINKS
 */
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
.s3d-add_another_location{clear:both;color:#39C;font-size:13px;font-weight:bold;background:url(/dev/images/icons_sprite.png) no-repeat scroll left -21px transparent;float:left;width:16px;height:16px;display:block;margin-right:6px;}
.s3d-add_another_location_container{clear:both;display:block;padding:7px 0;width:200px;}
.s3d-hidden,.i18nable{display:none;}
.s3d-bold{font-weight:bold;}
a.s3d-regular-links,.s3d-regular-links a, button.s3d-regular-links, .s3d-regular-links button{color:#2683bc;}
a.s3d-widget-links,.s3d-widget-links a, button.s3d-widget-links, .s3d-widget-links button{color:#2683bc; font-size:0.9em;}
.s3d-regular-light-links,.s3d-regular-light-links a,.s3d-regular-light-links button{color:#058EC4 !important;}
.s3d-content-type-link a{color:#5FB3D2;}
.s3d-remove-links{float:right;margin-right:10px;height:16px;}
.s3d-tab-active a{background-color:#FFF!important;color:#000!important;font-weight:400!important;border-color:#DDD #DDD #EEE;border-style:solid;border-width:1px;}

/* new path used when creating pages */
.content_container .new_page_path {line-height: 3em;color:#999;}
.content_container .new_page_path span {color:#000;}


/*
 * BUTTONS 
 */
.s3d-sprites-buttons{background-color:#FFF;padding:0;position:absolute;left:0;top:0;display:block;width:106px;margin:0;}
.s3d-sprites-buttons ul{margin:0;border:1px solid #cbd0d4;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.s3d-sprites-buttons ul li{padding:5px 0 5px 9px;list-style-type:none;}
.s3d-sprites-buttons ul li:hover{background-color:#dbeefc;cursor:pointer;}
.s3d-sprites-buttons ul li a{font-weight:400;font-size:12px;}
.s3d-sprites-buttons ul li a:hover{text-decoration:none;}
.s3d-sprites-buttons ul li.more_option{border-bottom:1px solid #cbd0d4;}
.s3d-sprites-buttons ul li.more_option.option_last{border-bottom:0;}
.s3d-sprites-buttons .more_link{background:transparent url(/dev/images/more_bg_18.png) top left no-repeat;padding:1px 21px 2px 12px;}

/* New button style */
/* General */
.s3d-button {border-radius:5px 5px 5px 5px;color:#666;height:27px;padding:1px 12px 0;cursor:pointer;font-weight:bold;font-size:11px;text-align:center;margin-right:5px;border:none;}
a.s3d-button {text-decoration:none;}

/* Link buttons */
.s3d-link-button {margin:0;padding:0;background: none repeat scroll 0 0 transparent;border: medium none;color:#2683bc;font-family: Arial,Helvetica,sans-serif;font-size:13px;display: inline-block;text-align:left;margin-right:15px;font-size:11px;}
.s3d-link-button:hover {cursor:pointer;text-decoration:none;color:#999;}

/* Header buttons */
.s3d-button.s3d-header-button {background:#fff;box-shadow:0 0 4px -2px #A8A8A8 inset;border:1px solid #e0e3e5;}
.s3d-button.s3d-header-button:hover {background:url("/dev/images/button_header_hover.png") repeat-x scroll left -1px transparent;border:1px solid #E0E3E5;box-shadow:none;}
.s3d-button.s3d-header-button[disabled] {background:#fff;cursor:auto;color:#ccc}
.s3d-button.s3d-header-button[disabled]:hover {background:#fff;box-shadow:0 0 6px -2px #a8a8a8 inset;border:1px solid #e0e3e5;}
a.s3d-button.s3d-header-button {height:24px;line-height:24px;}

/* Header buttons, smaller */
.s3d-button.s3d-header-button.s3d-header-smaller-button {font-size:10px;height:23px;padding:0 5px;}
a.s3d-button.s3d-header-button.s3d-header-smaller-button {display:inline-block;}

/* Regular in-page buttons */
.s3d-button.s3d-regular-button{background:url("/dev/images/button_regular_default.png") repeat-x scroll left top transparent;height:24px;padding:0 7px;border:1px solid #e0e3e5;color:#666;box-shadow:0 1px 1px 0 #999;text-shadow:0 2px 3px #fff;}
.s3d-button.s3d-regular-button:hover{background:url("/dev/images/button_regular_hover.png") repeat-x scroll left top transparent;}
a.s3d-button.s3d-regular-button{height:24px;line-height:24px;}

/* Large in-page buttons */
.s3d-button.s3d-large-button {background:url("/dev/images/button_large_default.png") repeat-x scroll left top transparent;height:31px;padding:0 7px;border:1px solid #e0e3e5;color:#2683bc;box-shadow:0 1px 1px 0 #999;text-shadow:0 2px 3px #fff;font-size:13px;}
.s3d-button.s3d-large-button:hover {background:url("/dev/images/button_large_hover.png") repeat-x scroll left top transparent;color:#999;}
.s3d-button.s3d-large-button.grey {color:#666;}

/* Overlay buttons */
.s3d-button.s3d-overlay-button {background:url("/dev/images/button_overlay_default.png") repeat-x scroll left top transparent;border:1px solid #E0E3E5;font-size:11px;font-weight:bold;height:24px;margin-left:15px;box-shadow:0 1px 1px 0 #999;text-shadow:0 2px 3px #fff;color:#2683bc;}
.s3d-button.s3d-overlay-button:hover {background:url("/dev/images/button_overlay_hover.png") repeat-x scroll left top transparent;}
.s3d-button.s3d-overlay-button[disabled] {color:#ccc;}
.s3d-button.s3d-overlay-button[disabled]:hover {background:url("/dev/images/button_overlay_default.png") repeat-x scroll left top transparent;cursor:auto;}

.s3d-button.s3d-overlay-button.grey {color:#666;}

/* No text buttons */
.s3d-button.s3d-button-no-text {padding:0;}


/*
 * WIDGET LAYOUT
 */
.s3d-widget-titlebar{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -473px transparent;padding:0 10px 0 0;min-height:49px;}
.s3d-widget-titlebar-inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -570px transparent;padding:0 0 0 5px;min-height:50px;}
.s3d-widget .s3d-widget-content,.s3d-content{padding:10px 0;margin:0!important;border-left:3px solid #D4DADE;border-right:3px solid #D4DADE;}
.s3d-widget .s3d-widget-options-footer-left{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -70px -436px #D5DBDF;height:12px;}
.s3d-widget-small-content{padding:5px 0!important;}
.fl-widget { margin-bottom :7px;}
.fl-widget .fl-widget-options-footer-top{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -528px #D5DBDF;height:16px;}
.fl-widget .fl-widget-options .fl-widget-options-top-right{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -432px transparent;float:right;height:16px;padding:0 0 7px 14px;width:16px;}
.s3d-widget .s3d-widget-options-footer-right{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -456px #D5DBDF;float:right;height:12px;width:16px;}
.s3d-widget .s3d-widget-no-options,.s3d-no-options{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1453px transparent;padding:0 5px 0 0;margin:0;}
.s3d-widget .s3d-widget-no-options-inner,.s3d-no-options-inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1433px transparent;margin:0;height:6px;}

.fl-col-flex2 .fl-col{margin-left:5px;margin-right:0;padding-left:0;padding-right:0;width:355px;margin-right:8px;}
.fl-col-flex2 .fl-col:last-child {margin-right:0;}
.fl-col-flex3 .fl-col{margin-left:5px;margin-right:0;padding-left:0;padding-right:0;width:230px;margin-right:8px;}
.fl-col-flex3 .fl-col:last-child {margin-right:0;}

/*
 * NO RESULTS VIEW (When a widget feed doesn't return any results)
 */
.s3d-no-results-container {background-color:#e0eef5;-moz-border-radius:5px;border-radius:5px;padding:20px;margin:30px 20px 10px;}
.s3d-no-results-container .s3d-no-results-arrow-up {background:url("/dev/images/noresults_arrow_up.png") no-repeat top left transparent;position:absolute;margin-top:-44px;width:36px;height:24px;}
.s3d-no-results-container h1 {color:#666;font-size:18px;font-weight:normal;margin:5px 0 10px 0 !important;}
.s3d-no-results-container .s3d-no-results-icon {width:55px;height:50px;float:left;margin:0 12px 0 0;}
.s3d-no-results-container .s3d-no-results-icon.less-margin {margin:-8px 12px 0 0;}

.s3d-no-results-container .s3d-no-results-magnifier {background:url("/dev/images/magnifier_icon_55x55.png") no-repeat top left transparent;}
.s3d-no-results-container .s3d-no-results-world {background:url("/dev/images/world_icon_55x55.png") no-repeat top left transparent;}
.s3d-no-results-container .s3d-no-results-people {background:url("/dev/images/person_icon_55x55.png") no-repeat top left transparent;}
.s3d-no-results-container .s3d-no-results-content {background:url("/dev/images/content_icon_55x55.png") no-repeat top left transparent;}
.s3d-no-results-container .s3d-no-results-content-small {background:url("/dev/images/content_icon_42x46.png") no-repeat top left transparent;width:46px;height:42px;}
.s3d-no-results-container .s3d-no-results-memberships {background:url("/dev/images/memberships_icon_60x55.png") no-repeat top left transparent;width:60px;}
.s3d-no-results-container .s3d-no-results-memberships-small {background:url("/dev/images/memberships_icon_42x46.png") no-repeat top left transparent;width:46px;height:42px;}
.s3d-no-results-container .s3d-no-results-contacts {background:url("/dev/images/contacts_icon_60x55.png") no-repeat top left transparent;width:60px;}
.s3d-no-results-container .s3d-no-results-contacts-small {background:url("/dev/images/contacts_icon_42x46.png") no-repeat top left transparent;width:46px;height:42px;}
.s3d-no-results-container .s3d-no-results-replied {background:url("/dev/images/replied_icon_55x55.png") no-repeat top left transparent;}
.s3d-no-results-container .s3d-no-results-trash {background:url("/dev/images/trash_icon_55x55.png") no-repeat top left transparent;}
.s3d-no-results-container .s3d-no-results-upload {background:url("/dev/images/upload_icon_42x46.png") no-repeat top left transparent;width:46px;height:42px;}
.s3d-no-results-container .s3d-no-results-search-world {background:url("/dev/images/world_search_icon_55x55.png") no-repeat scroll left top transparent;}
.s3d-no-results-container .s3d-no-results-search-people {background:url("/dev/images/people_search_icon_55x55.png") no-repeat scroll left top transparent;}
.s3d-no-results-container .s3d-no-results-search-content {background:url("/dev/images/content_search_icon_55x55.png") no-repeat scroll left top transparent;}

/*
 * CONTENT LAYOUT 
 */
.s3d-header .s3d-fixed-container .s3d-decor-left{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll 0 -10px transparent;float:left;height:5px;margin-left:-20px;overflow:visible;width:5px;}
.s3d-header .s3d-fixed-container .s3d-decor{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -10px transparent;float:right;height:5px;margin-right:-20px;width:5px;position:relative;*right:-15px;}
.s3d-main-container{background:#fff;}


/*
 * CHROME STYLES
 * HEADINGS
 */
.s3d-site-heading{padding:10px 0;font-weight:bold;color:#454A4F;}
.s3d-site-heading h1{margin:0;padding:0;}


/* PROGRAMMATICALLY SET STYLES
 * styles used to programmatically set placement of widgets on the page
 */
.inline_class_widget_rightfloat{float:right; padding: 5px 0px 5px 10px;}
.inline_class_widget_leftfloat{float:left; padding: 5px 10px 5px 0px;}


/*
 * ACTIONS
 * links used to trigger an action
 * default styling: bold blue link
 * Variants:
 * - action series: links are inside list items, each list item is separated by a divider
 */
a.s3d-action,.s3d-actions a{color:#2683bc;font-weight:bold;font-size:13px;}
a.s3d-action-seeall{font-size:11px!important;}


/* Primary button */
.s3d-button-primary{background-position:right -110px;}
.s3d-button-primary .s3d-button-inner{background-position:left -110px;}

/* Tertiary button */
.s3d-button-tertiary{background-position:right -70px;}
.s3d-button-tertiary .s3d-button-inner{background-position:left -70px;}

/* Search button */
.s3d-search-button{padding-right:8px;}
.s3d-search-button .s3d-button-icon-right{padding-right:22px;background-image:url(/dev/images/dashboard_sprite.png);background-position:42px -394px;display:inline;}

/* Inline button */
.s3d-button.s3d-button-inline{background-image:none;background-color:#fff;padding-right:4px;}
.s3d-button.s3d-button-inline:hover{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -284px transparent;}
.s3d-button.s3d-button-inline.clicked{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -342px transparent;}
.s3d-button.s3d-button-inline .s3d-button-inner span{float:left;display:inline;}
.s3d-button.s3d-button-inline .s3d-button-inner{background-image:none;background-color:#fff;color:#454A4F;height:28px;line-height:28px;padding:0 0 0 4px;font-size:11px;}
.s3d-button.s3d-button-inline:hover .s3d-button-inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -255px transparent;}
.s3d-button.s3d-button-inline.clicked .s3d-button-inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -313px transparent;color:#fff;}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-inner-text{margin-left:2px;}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-icon-left{width:15px;padding:0;height:15px;margin:7px 0 0 5px;}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-icon-right{padding:0;height:15px;width:15px;margin:8px 0 0 5px;}
.s3d-button.s3d-button-inline.clicked .s3d-button-inner .s3d-button-icon-right{margin:6px 0 0 5px;}
.s3d-button.s3d-button-inline{height:28px;}
.s3d-button.s3d-button-inline .s3d-button-inner{float:left;display:inline;}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-icon-left{background:url(/dev/images/dashboard_sprite.png) no-repeat -11px -235px transparent;}
.s3d-button.s3d-button-inline:hover .s3d-button-inner .s3d-button-icon-left{background-position:-31px -235px;}
.s3d-button.s3d-button-inline.clicked .s3d-button-inner .s3d-button-icon-left{background-position:-51px -235px;}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-icon-right{background:url(/dev/images/dashboard_sprite.png) no-repeat -68px -235px transparent;}
.s3d-button.s3d-button-inline.clicked .s3d-button-inner .s3d-button-icon-right{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -155px -394px transparent;}

/* Gradient style buttons */
.s3d-button.s3d-button-light-gray-square{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1277px transparent;}
.s3d-button.s3d-button-light-gray-square .s3d-button-inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1237px transparent;color:#292929;}


/*
 * CONTEXT MENU FOR DROPDOWNS
 */.context_menu{left:18px;padding:0;position:absolute;top:124px;}
.context_menu img{border:1px solid #555;border-bottom:none;}
.context_menu ul{margin:0;margin-top:-3px;background-color:#eee;border:1px solid #555;}
.context_menu ul li{list-style-type:none;}
.context_menu ul li a{color:#666;font-size:.95em;display:block;padding:2px 20px 2px 4px;}


/*
 * INPUT FIELDS
 */
input[type=text], textarea{border:1px inset #999999;}

/*
 * CONTENT AREA TOP TABS
 */.s3d-primary-tabs{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1622px transparent;}
.s3d-primary-tabs,.s3d-primary-tabs-inner{height:25px;border:none;padding:2px 5px 0;display:block;}
.s3d-primary-tabs ul.fl-tabs{border:none;padding:0;margin:0;float:right;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll left -1592px transparent;padding-left:20px;}
.s3d-primary-tabs .fl-tabs-right li{margin-top:3px;}
.s3d-primary-tabs ul.fl-tabs-left{float:left;padding:1px 0 0 3px;}
.s3d-primary-tabs ul li{margin:0;margin-top:2px;padding:0;background:transparent;border:none;display:block;float:left;}
.s3d-primary-tabs ul li a{padding:2px 18px 4px 13px;line-height:20px;background:transparent;border:none;font-weight:bold;color:#000;display:block;float:left;margin:0;position:relative;bottom:0!important;}
.s3d-primary-tabs ul li.fl-tabs-active,.s3d-primary-tabs ul li.fl-tabs-active a{background-color:#FFF;background-image:url(/dev/images/dashboard_sprite.png);background-attachment:scroll;height:30px;bottom:0!important;position:relative;}
.s3d-primary-tabs ul li.fl-tabs-active{padding-left:5px;background-position:left -1664px;}
.s3d-primary-tabs ul li.fl-tabs-active a{background-position:right -1714px;font-weight:400;border:none;padding-left:15px;margin:0;}
.fl-tab-content{border:none;margin:0;}


/*
 * AUTOSUGGEST
 */ul.as-selections.loading{background:#fff url(../../../dev/images/ajax_load.gif) center center no-repeat;}
ul.as-selections li.as-original input {border: 0;}

/*
 * VALIDATION
 */input.error,textarea.error{border-color:#9f3333;background-color:#ffdede;}
label.error{color:#9f3333;font-weight:bold;}

/* http://blogs.sitepoint.com/2005/02/26/simple-clearing-of-floats/ */
.clearfix{overflow:auto;}


 /*
 * OLD DIALOG LAYOUT
 */
.dialog{color:#333;display:none;left:50%;margin-left:-250px;position:absolute;top:12%;width:500px;}
.jqmOverlay{background-color:#000;opacity:0.6 !important}

/* Dialog header */
.dialog_header{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -641px transparent;padding:0 8px 0 0;}
.dialog_header_inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -819px transparent;}
.dialog_header h1{color:#fff;display:block;font-size:1.1em;margin:0;padding:15px 20px;}
.dialog_header .dialog_close_image{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -40px -641px transparent;cursor:pointer;display:block;height:15px;overflow:hidden;position:absolute;right:20px;top:17px;text-indent:-5000px;width:14px;}

/* Dialog content */
.dialog_content{background-color:#fff;border-left:3px #454a4f solid;border-right:3px #454a4f solid;padding:7px 20px;}
.dialog_content h1{font-size:1.1em;font-weight:bold;color:#333;margin:0;padding:5px 0;}
.dialog_content textarea{height:80px;width:98%;padding: 5px;}

/* Dialog buttons */
.dialog_buttons{clear:both;margin-top:20px;float:right;}

/* Dialog footer */
.dialog_footer{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -957px transparent;padding:0 8px 0 0;}
.dialog_footer_inner{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -937px transparent;height:6px;}

/* Dialog tooltip header */
.dialog_tooltip_header_arrow{background:url(/dev/images/tour_sprite.png) no-repeat scroll -254px -76px transparent;height:18px;margin:0 0 0 20px;width:35px;}
.dialog_tooltip_header{background:url(/dev/images/tour_sprite.png) no-repeat scroll right -20px transparent;padding:0 22px 0 0;}
.dialog_tooltip_header_inner{background:url(/dev/images/tour_sprite.png) no-repeat scroll left top transparent;height:14px;}

/* Dialog tooltip content */
.dialog_tooltip_close{float:right;}
.dialog_tooltip_content{background:url(/dev/images/tour_sprite.png) no-repeat scroll left -80px transparent;padding:7px 20px 0;}
.dialog_tooltip_content h2{font-size:1.1em;font-weight:bold;color:#333;margin:0;padding:0 0 5px;}
.dialog_tooltip_content p{font-size:.9em;}
.dialog_tooltip_content textarea{height:80px;width:98%;}

/* Dialog tooltip footer */
.dialog_tooltip_footer{background:url(/dev/images/tour_sprite.png) no-repeat scroll right -60px transparent;padding:0 22px 0 0;}
.dialog_tooltip_footer_inner{background:url(/dev/images/tour_sprite.png) no-repeat scroll left -40px transparent;height:14px;}
.dialog_tooltip_footer_arrow{background:url(/dev/images/tour_sprite.png) no-repeat scroll -217px -80px transparent;width:35px;height:18px;margin:0 0 0 20px;}

/*
 * NEW DIALOG LAYOUT
 */
.s3d-dialog{color:#333;display:none;left:50%;margin-left:-250px;position:absolute;top:50px;width:500px;}
.s3d-dialog-container {background-color:#fff; border:1px solid #a9a9a9; -moz-border-radius:5px;border-radius:5px;padding:7px 20px 12px;box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;color:#424242;font-size:12px;}
.s3d-dialog-container .s3d-dialog-close {background:url("/dev/images/dialog_close.png") no-repeat top left transparent;width:19px;height:17px;float:right;cursor:pointer;margin:-2px -15px 0 0;}
.s3d-dialog-container .s3d-dialog-close:hover {background:url("/dev/images/dialog_close.png") no-repeat left -19px transparent;}
.s3d-dialog-container h1.s3d-dialog-header {border-bottom:1px dotted #d4d4d4;color:#666;font-size:19px;font-weight:normal;padding-bottom:11px;margin-bottom:15px;}

/*
 * CHAT
 */
.chat_available_status_online{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -33px -395px transparent;}
.chat_available_status_busy{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -63px -395px transparent;}
.chat_available_status_offline{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -93px -395px transparent;}
.chat_available_status_offline,.chat_available_status_busy,.chat_available_status_online{padding-left:15px;}


/*
 * LISTS
 */
.s3d-list-item{list-style:none outside none;padding:5px 0 5px 10px!important;margin:0!important;clear:both;overflow:hidden;}
.s3d-list-entity-picture{float:left;height:32px;margin-right:10px;width:32px;}
.s3d-entity-displayname{padding-top:4px;margin:4px 0 0 8px;float:left;}
.s3d-list-link-full-space{clear:both;height:100%;}
ul li.s3d-list-item:hover{background-color:#f1f9fd;}

.s3d-dropdownlistone-text{padding:0 7px;border-right:none;color:#fff;font-size:11px;}
.s3d-dropdownlistone-text .dropdownlistone_arrow{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -149px -394px transparent;padding-right:17px;padding-left:8px;}
.s3d-dropdownlistone-menu{background-color:#868a8d;line-height:16px;position:absolute;z-index:500;padding:0 0 6px;min-width:100px;}
.s3d-dropdownlistone-menu div{margin-top:5px;}
.s3d-dropdownlistone-menu ul{margin:0;padding:0;}
.s3d-dropdownlistone-menu li{display:block;list-style-type:none;margin:0;padding:3px 5px 6px 13px;}
.s3d-dropdownlistone-menu li a{border:none;color:#fff;padding:0;}
.s3d-dropdownlistone-menu li a:hover, .s3d-dropdownlistone-menu li button:hover{color:#ddd;}
.s3d-dropdownlistone-menu-border{border-bottom:1px solid #777;}
.s3d-dropdownlistone-link-inactive {color:#aaa;}

.s3d-dropdownlisttwo-text{color: #666666;}
.s3d-dropdownlisttwo-text span{float:left;}
.s3d-dropdownlisttwo-text .s3d-dropdownlisttwo-arrow-down{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -128px -400px transparent;float:left;height: 10px;margin: 6px 0 0 6px;width: 10px;}
.s3d-dropdownlisttwo-text .s3d-dropdownlisttwo-arrow-up{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -218px -400px transparent;float:left;height: 10px;margin: 6px 0 0 6px;width: 10px;}
.s3d-dropdownlisttwo-menu{font-size:.95em!important;left:110px;list-style-image:none;position:absolute;top:29px;z-index:10;margin:0;}
.s3d-dropdownlisttwo-menu ul{background-color:#fff;border:1px solid #CCC;margin:0;padding:5px 15px 5px 7px;}
.s3d-dropdownlisttwo-menu li{list-style-type:none;padding:0;}


/* 
 * HIGHLIGHTED AREAS
 */
.s3d-highlight_area_background{background-color:#EFF2F4;padding:0 10px;margin:0 0 15px;}
.s3d-highlight_area_background_tl{height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1037px transparent;}
.s3d-highlight_area_background_tinner{height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1047px transparent;}
.s3d-highlight_area_background_bl{clear:both;height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1057px transparent;}
.s3d-highlight_area_background_binner{clear:both;height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1067px transparent;}
.s3d-highlight_area_background_white_content_tl{height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1198px transparent;}
.s3d-highlight_area_background_white_content_tinner{height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1208px transparent;}
.s3d-highlight_area_background_white_content_bl{clear:both;height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1217px transparent;}
.s3d-highlight_area_background_white_content_binner{clear:both;height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1227px transparent;}
.s3d-highlight_area_background_darker1{background-color:#d5dbdf;padding:0 10px;margin:0 0 15px;}
.s3d-highlight_area_background_darker1_tl{height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1077px transparent;}
.s3d-highlight_area_background_darker1_tinner{height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1087px transparent;}
.s3d-highlight_area_background_darker1_bl{height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1097px transparent;}
.s3d-highlight_area_background_darker1_binner{height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1107px transparent;}
.s3d-highlight_area_background_darker1_white_content_tl{height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1117px transparent;}
.s3d-highlight_area_background_darker1_white_content_tinner{height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1127px transparent;}
.s3d-highlight_area_background_darker1_white_content_bl{clear:both;height:7px;margin-left:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -10px -1137px transparent;}
.s3d-highlight_area_background_darker1_white_content_binner{clear:both;height:7px;margin-right:-10px;background:url(/dev/images/dashboard_sprite.png) no-repeat scroll right -1147px transparent;}


/*
 * ICONS
 */
.s3d-icon-16{width:16px; height:16px;}
.s3d-icon-32{width:32px; height:32px;}
.s3d-icon-40{width:40px; height:40px;}
.s3d-icon-50{width:50px; height:50px;}
.s3d-icon-64{width:64px; height:64px;}
.s3d-icon-128{width:128px; height:128px;}
.icon-doc-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -112px 0 transparent;}
.icon-pdf-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -750px 0 transparent;}
.icon-pps-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -463px 0 transparent;}
.icon-swf-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -1040px 0 transparent;}
.icon-zip-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -1056px 0 transparent;}
.icon-spreadsheet-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -560px 0 transparent;}
.icon-txt-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -1086px 0 transparent;}
.icon-image-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -320px 0 transparent;}
.icon-html-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -302px 0 transparent;}
.icon-video-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -1118px 0 transparent;}
.icon-kmultiple-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -430px 0 transparent;}
.icon-url-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -304px 0 transparent;}
.icon-sakaidoc-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -1185px 0 transparent;}
.icon-unknown-sprite{background:url(/dev/images/icons_sprite.png) no-repeat scroll -143px 0 transparent;}