/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Directory 2 CSS */

/* BROWSE DIRECTORY WIDGET PLACEMENT*/
.browse_directory{padding:0px 10px 10px 0;width:25%;}

/* DIRECOTRY CONTENT */
.content{width:48%;min-height:40px;}
.node_content_area{width:48%;}
.node_content_area .s3d-widget .s3d-widget-content,.s3d-content{border-left:none!important;border-right:none!important;}
.node_content_area .content_top_inner,.node_content_area .content_top,.node_content_area .s3d-no-options-inner,.node_content_area .s3d-no-options{background:none!important;}

/* DIRECTORY TITLE */
.directory_header{font-size:22px;line-height:28px;margin:0 10px 10px 0;}

/* INFORMATION WIDGETS */
.directory_information_widgets_container{width:25%;float:right;}
#profile_picture{width:32px;height:32px;margin-right:10px;}