.tlrpLeft{
	float:left;
}
.tlrpRight{
	float:right;
}
.tlrpClear{
	display:block;
	clear:both;
}

#tlrp_output{
	overflow:auto;
}

/* Tab navigation (output) */
.tlrp_tabs{
	margin:0;
	margin-top:3px;
	margin-bottom:4px;
	padding:0;
}
.tlrp_tabs li{
	display:inline;
	margin-right:5px;
}
.tlrp_tabs li a{
	color: #FFFFFF;
	padding: 10px 70px 10px 70px;
	background-repeat:repeat-x;
}
.tlrp_tabs li a:hover{
	text-decoration:none;
}
#tlrptabMatchBtn{
	background-image:url(../images/matchesBlue.png);
}
#tlrptabRelatedBtn{
	background-image:url(../images/related.png);
}
.tlrp_tabContainers{
	width:578px;
}
.tlrp_keywordBar{
	width:558px;
	height:23px;
	color: #FFFFFF;
	padding-left:20px;
	padding-top:5px;
}
#tlrptabMatchContainer .tlrp_keywordBar{
	background-color:#267DBA;
}
#tlrptabBroadContainer .tlrp_keywordBar{
	background-color:#9A9999;
}
#tlrptabRelatedContainer .tlrp_keywordBar{
	background-color:#B6B6B6;
}
#tlrp_txtSearch{
	width:719px;
	height:16px;
	padding: 3px 10px 3px 15px;
	margin-bottom:20px;
	background-image: url(../images/search.png);
	background-repeat: repeat-x;
	border-color:#B7B7B7;
	border-width:1px;
	border-style:solid;
    border-right-style:none;
    float:left;
}
#tlrp_searchBtn{
	height:18px;
    width:30px;
    float:left;
    display:inline-block;
	padding: 1px 0px 3px 0px;
	margin-bottom:20px;
	background-image: url(../images/search.png);
	background-repeat: repeat-x;
	border-color:#B7B7B7;
	border-width:1px;
	border-style:solid;
    border-left-style:none;
}

/* Left tabs */
.tlrp_leftTabs{
	margin:0px;
	margin-top:57px;
}
.tlrp_leftTabs li{
	list-style-type:none;
}
.tlrp_leftTabs li a{
	list-style-type:none;
	padding: 20px 0px 20px 0px;
	text-align:center;
	width:200px;
	display:block;
	background-repeat:repeat-x;
	
}
.tlrp_leftTabs li a:hover{
	text-decoration:none;	
}
.tlrp_leftTabs_tab{
	background-image: url(../images/lightGrey.png);
}
.tlrp_leftTabs_selected{
	background-image: url(../images/darkGrey.png);
}
.tlrpLeftTabContainers{
	height:229px;
	width:578px;
	background-color:#e2e1e1;
	color:#FFFFFF;
}



