#show_online {
	bottom:24px; 
	right: 20px; 
	border: 1px solid #CCCCCC; 
	width: 200px; 
	z-index: 10000; 
	text-align: left; 
	padding: 5px; 
	background-color: #FFFFFF;
}

.initiate_chat_window {
	color: black; 
	cursor: hand; 
	cursor: pointer;
}

.user_chat {
	width:150px; 
	border-left: 1px solid #CCCCCC; 
	line-height: 25px; 
	height: 25px; 
	text-align: left; 
	margin-left: auto; 
	float:right;
}

.chat_photo {
	position:relative; 
	top: 2px;
}

.chat_name_link {
	color:black; 
	cursor: hand; 
	cursor: pointer;
}

.chat_with_user_1 {
	bottom:24px; 
	border: 1px solid #CCCCCC; 
	width: 250px; 
	z-index: 10000; 
	text-align: left; 
	padding: 5px; 
	background-color: #FFFFFF;
}

.chat_with_user_2 {
	bottom:24px; 
	border: 1px solid #CCCCCC; 
	width: 250px; 
	z-index: 10000; 
	text-align: left; 
	padding: 5px; 
	background-color: #FFFFFF;	
}

.pretend_link {
	cursor:hand; 
	cursor: pointer;
}

.chat_with_content {
	height:100px; 
	overflow: auto;
}

.chat_with_txt {
	width:238px;
}

.chat_main_container {
	width:100%; 
	bottom: 0px; 
	z-index: 99; 
	background-color: #FFFFFF; 
	height: 30px;
}

#chat_container {
	 position: relative; 
	 background-color: #EEEEEE;  
	 border: 1px solid #CCCCCC; 
	 border-bottom: none; 
	 height: 25px; 
	 top: 5px;  
	 margin-left: 20px; 
	 margin-right: 20px;
}

.chat_main_table {
	width:100%;
}

.chat_social_link {
	width:80px; 
	border-right: 1px solid #CCCCCC; 
	text-align: center;
	vertical-align: middle;
}

.chat_online_connections_link {
	width: 66px;
}

#online_button {
	width:66px; 
	border-left: 1px solid #CCCCCC; 
	line-height: 30px; 
	height: 30px; 
	text-align: center; 
	margin-left: auto; 
	float:right;	
	top:-1px;
}

.chat_people_icon {
	position:relative; 
	top: 0px;
	cursor: hand;
	cursor: pointer;
}

.chat_straight_link {
	color:black; 
	cursor: hand; 
	cursor: pointer;	
}

.doFixed {
	position: fixed;
}

#chat_main_container th, #chat_main_container td {
	border:none;
	padding:0 !important;
}

.chat_main_table a {
	position: relative;
	top: -3px;
}

/* NAVIGATION DROPDOWN CSS */


/* MAIN */
.dropdown {
	background-color:#F6F6F6;
	border-bottom:1px solid #DDDDDD;
	height:160px;
	padding:15px 0 15px 0;
}

.dropdown h2 {
	color: #333;
	font-size: 1.1em;
	padding: 10px 0 10px 0;
}

/* CONTANCTS */
.dropdown .dropdown_contacts {
	border-right:1px solid #DDDDDD;
	float:left;
	height:100%;
	padding-left:25px;
	width:380px;
}

.dropdown .dropdown_contacts .dropdown_person {
	width: 80px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}

.dropdown .dropdown_contacts .dropdown_person_picture {
	background-image: url(/dev/redesign/images/person_icon.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: block;
	padding: 0 0 5px 0px;
}

.dropdown .dropdown_contacts .dropdown_person_name {
	color: #3399CC;
	font-weight: bold;
}

.dropdown .dropdown_contacts .view_all_link {
	color: #333;
	font-size: .95em;
}


/* SEARCH */
.dropdown .dropdown_search_people {
	margin-left: 450px;
	
}

.dropdown .dropdown_search_container {
	
}

.dropdown .dropdown_search_input {
	border:1px solid #DDDDDD;
	color:#999999;
	float:left;
	height:18px;
	margin-right:5px;
	padding:3px 0 0 3px;
	width:250px;
}

.dropdown .search_button {
	position: relative;
	top: 4px;
}

.dropdown .close {
	position: relative;
	right: 50px;
	
}

.dropdown .close a {
	font-weight: bold;
	color: #333;
	font-weight: bold;
}

.dropdown .close img {
	position: relative;
	top: 5px;
	padding-left: 5px;
}


/* SITES */
.dropdown .dropdown_sites {
	width: 230px;
	border-right: 1px solid #ccc;
	height: 160px;
	padding-left:23px;
}

.dropdown .dropdown_recent_sites {
	width: 230px;
	border-right: 1px solid #ccc;
	margin-left: 25px;
	height: 160px;
}

.dropdown .dropdown_search_course_sites {
	margin-left: 550px;
}

.dropdown ul {
	margin: 0;
	padding: 0 0 10px 0;
}

.dropdown ul li {
	list-style-type: none;
	padding: 2px 0;
}

.dropdown ul li a {
	color: #3399CC;
	font-weight: bold;
}

.dropdown .dropdown_create_sakai_site {
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown .dropdown_create_sakai_site a {
	background-image:url(../images/add_icon_middle.png);
background-position: center bottom;
background-repeat:repeat-x;
display:block;
float:left;
height:27px;
text-indent:0;
width: 148px;
padding: 0 0 9px 0;

}

.dropdown .dropdown_create_sakai_site img {
	position: relative;
	top: 9px;
	padding-right: 5px;
}

.close {
	margin-bottom:-25px;
	position:relative;
	top:-30px;
	margin-right:25px;
}

.close_icon {
	padding-left:5px;
	position:relative;
	top:4px;
}

.dropdown .dropdown_create_sakai_site a {
	background-image:url(/dev/redesign/images/add_icon_middle.png);
	background-position:center bottom;
	background-repeat:repeat-x;
	display:block;
	float:left;
	height:27px;
	padding:0 0 9px;
	text-indent:0;
	width:148px;
}

.dialogue_body .dialogue_add_goodies_description {
	color:#666666;
	font-size:12px;
	font-weight:100;
}

.dialogue_body .dialogue_remove_goodies_title {
	color:#999999;
	font-size:14px;
	font-weight:bold;
}

.dialogue_body .dialogue_remove_goodies_description {
	color:#999999;
	font-size:12px;
	font-weight:100;
}

.dialogue_body .dialogue_add_goodies_title {
	color:#333333;
	font-size:13px;
	font-weight:bold;
}

.dialogue_body .remove {
	background:#F8F8F8 none repeat scroll 0 0;
}