/* SEARCH */
#sharecontent_container{width:696px;height:490px;padding:5px;margin-left:-349px;}
#sharecontent_container #sharecontent_container_search{width:656px;padding:7px 17px;}
#sharecontent_container #sharecontent_container_search.no_message{height:200px;}
#sharecontent_message_new_members {margin-top:10px;}
#sharecontent_container ul.as-selections li {margin:0;}
#sharecontent_container ul.as-selections {padding: 1px; margin:3px 8px 0 0;}
#sharecontent_container .as-results {margin-top:32px;margin-left: 200px;}
#sharecontent_container ul.as-selections li.as-original input {background: none repeat scroll 0 0 transparent;}
#sharecontent_container .s3d-highlight_area_background_darker1 {padding: 12px 10px 0; width: 638px;}
#sharecontent_basic_container .sharecontent_search_container .sharecontent_permission_link {margin-top: 5px; float: right;}
#sharecontent_basic_container .sharecontent_search_container ul.as-selections {-moz-box-shadow: none;}
#sharecontent_basic_container .s3d-highlight_area_background_darker1 {background-color: #D5DBDF; margin: 0;}

/* HEADER */
#sharecontent_header_container {padding-top:8px;}
#sharecontent_container .dialog_content h1,#sharecontent_permission_settings_container .dialog_content h1{
    color:#555;font-size:14px;font-weight:normal;margin-top:10px;}
#sharecontent_container #sharecontent_basic_container span.fl-force-left{width:100%;margin-bottom:5px;}
#sharecontent_container #sharecontent_basic_container span#sharecontent_add_header{margin-bottom:30px;}
#sharecontent_container #sharecontent_basic_container textarea{width:98%; padding:5px;}
#sharecontent_container .sharecontent_link{color:#006E96;font-weight:bold;}
#sharecontent_container #sharecontent_basic_container span#sharecontent_add_header_what,#sharecontent_container #sharecontent_basic_container span#sharecontent_add_header_where{font-weight:bold;}
#sharecontent_container div.fl-force-left{width:100%;}
#sharecontent_visibility_header{display:inline;}
#sharecontent_change_global_permissions{display:inline;margin-left:13px;padding:8px 0 0;font-size:12px;}
#sharecontent_editors_note {font-size:11px; color:#666; margin:2px 0 0 5px;}

/* SHARE LINK */
#sharecontent_container #sharecontent_basic_container #sharecontent_share_link{margin:5px 0 0;}
#sharecontent_container #sharecontent_basic_container #sharecontent_share_link input{width:355px;margin-right:10px;}
#sharecontent_message_link,#sharecontent_email_link{margin:0;}
#sharecontent_content_link{margin-right:10px;padding-left:12px;}
#sharecontent_content_link_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -400px -21px transparent;float:left;height:7px;margin-top:7px;width:15px;}

/* FOOTER */
#sharecontent_container #sharecontent_footer{float:right;width:445px;}
#sharecontent_footer_select{padding-bottom:40px;}
#sharecontent_footer_options{margin:18px 0 0 10px;}

/* CONTENT */
#sharecontent_container #sharecontent_content{height:280px;width:600px;overflow:auto;}
#sharecontent_container .s3d-highlight_area_background{margin:0;padding:0 10px;}

/* AUTOSUGGEST */
#sharecontent_container_search ul li{list-style:none;}
#sharecontent_form_container{width:100%;}
img.sm_suggestion_img{height:16px;width:16px;margin-right:5px;}
#sharecontent_form_container ul.as-list {margin:-30px 0 0 -7px;}

/* LIST PEOPLE */
#sharecontent_listpeople{border:1px solid #878A8C;height:214px;width:100%;margin-bottom:0;clear:both;overflow:auto;position:relative;}
#sharecontent_listpeople ul{margin:0;padding:0;}
#sharecontent_listpeople ul li{clear:both;display:block;list-style:none outside none;overflow:hidden;padding:5px 0 5px 10px;}
#sharecontent_listpeople ul li span.sharecontent_positioned {margin:4px 0 0 8px;}
#sharecontent_listpeople ul li:hover{background-color:#9cf;}
#sharecontent_listpeople ul .s3d-highlight_area_background{margin:0;}
.sharecontent_viewer_name,.sharecontent_manager_name{float:left;padding-top:4px;}
.sharecontent_people_picture{float:left;height:32px;margin-right:10px;width:32px;}
.sharecontent_right_floats{float:right;margin-right:10px;}
.sharecontent_right_floats button {float:left;}
.sharecontent_remove{margin-right:10px;}
#sharecontent_you{font-weight:normal;}
.sharecontent_list_item_alternating_row{background-color:#EFF2F4;}
#sharecontent_add_people {background: url("/dev/images/add_people.png") no-repeat scroll 0 0 transparent; float: left; font-size: 12px; margin: 9px 0 0 9px; padding: 0 0 0 25px;}
#sharecontent_form_container .as-selections {width:310px;}
#sharecontent_init_search{display:block;font-size:12px;margin:8px 0;}
#sharecontent_add_people_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -120px -21px transparent;display:block;float:left;height:15px;margin-left:-25px;width:17px;}

/* PERMISSIONS */
.sharecontent_permission_link {z-index:11;}
#sharecontent_edit_permission{font-size:.95em!important;left:110px;list-style-image:none;position:absolute;z-index:10;margin:0;}
#sharecontent_edit_permission li{list-style-type:none;padding:0;}
#sharecontent_edit_permission ul{background-color:#fff;border:1px solid #CCC;margin:0;padding:5px 15px 5px 7px;}
#sharecontent_permission_settings_container input[type="radio"]{margin-right:16px;}
#sharecontent_permission_settings_container ul{margin:0;padding:0;}
#sharecontent_permission_settings_container .permissions_settings_item{list-style:none;padding:0 10px;background-color:#FFF;margin:3px 0;color:#555;}
#sharecontent_permission_settings_container .s3d-highlight_area_background{clear:both;}
#sharecontent_permission_settings_container .s3d-highlight_area_background_white_content_tl{height:12px;}
#sharecontent_permission_settings_container .s3d-highlight_area_background_white_content_binner{margin-top:5px;}
#permissions_settings_item_public{background:url(/dev/images/icons_sprite.png) no-repeat scroll -220px -16px transparent;padding:6px 0 6px 20px;margin-right:6px;}
#permissions_settings_item_everyone{background:url(/dev/images/icons_sprite.png) no-repeat scroll -380px -16px transparent;padding:6px 0 6px 20px;margin-right:6px;}
#permissions_settings_item_private{background:url(/dev/images/dashboard_sprite.png) no-repeat scroll -335px -390px transparent;padding:6px 0 6px 20px;margin-right:6px;}
.sharecontent_permission_anon{display:block;padding-right:170px;}