.content_top { background:url("/dev/images/content_tr_flip.png") no-repeat scroll right top transparent; margin:0; padding:0 5px 0 0; }
.content_top_inner { background:url("/dev/images/content_tl.gif") no-repeat scroll 0 0 transparent; height:6px; margin:0; }
.nodecontentarea_content { margin:0;min-height:350px;padding:10px;}
