<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Default Core Kernel Implementation</title>
</head>
<body>
A Default Implementation of the core kernel APIs providing a Kernel
Lifecycle based on the CommonLifecycle, a ServiceManager and a
ComponentManager. Components outside the kernel should not instance or
bind to these implementation classes.
</body>
</html>