#contacts_container .contacts_main{margin:0 10px 10px 0;overflow:hidden; }
#contacts_container h1{font-size: 18px;font-weight: normal; margin:0;}
#contacts_container h2 {border-bottom:1px solid #DDDDDD; padding:5px 0; color:#636363;font-size: 14px;margin:10px 0 0;}
#contacts_container .contacts_item {color:#333;padding:10px 0 0; border-bottom:1px solid #DDDDDD;}
#contacts_container .contacts_item img {float: left;margin: 0 10px 5px 20px;width: 35px;}
#contacts_container .contacts_name {color:#878A8C; width:350px; display:inline-block;margin-top:11px;}
#contacts_container .contacts_no_contacts {margin-top:15px;display:block;}
#contacts_container a.contacts_no_contacts {text-decoration:none;}
#contacts_container .contacts_pending_name {width:auto;}
#contacts_container .contacts_highlight {background:#C4E6FD;}
#contacts_container .contact_delete_button{float:right; margin-top:10px;}
#contacts_container .contact_search_button {margin-top: 10px;background:url("/dev/images/button_large_grey.png") no-repeat right -41px transparent;padding-right:50px;}
#contacts_container .contact_search_button span{line-height:40px;height:40px;background:url("/dev/images/button_large_grey.png") no-repeat top left transparent !important;padding-left:50px;}
#contacts_container .contact_search_button:hover {background:url("/dev/images/button_large_grey.png") no-repeat right -123px transparent;}
#contacts_container .contact_search_button:hover span{background:url("/dev/images/button_large_grey.png") no-repeat scroll left -82px transparent !important;}
