#contacts_container .contacts_main{margin:0 10px 10px 0;overflow:hidden; }
#contacts_container h1{font-size: 18px;font-weight: normal; margin:0;}
#contacts_container h2 {border-bottom:1px solid #DDDDDD; padding:5px 0; color:#636363;font-size: 14px;margin:10px 0 0;}
#contacts_container .contacts_item {color:#333;padding:10px 0 0; border-bottom:1px solid #DDDDDD;}
#contacts_container .contacts_item img {float: left;margin: 0 10px 5px 20px;width: 35px;}
#contacts_container .contacts_name {color:#878A8C; width:350px; display:inline-block;margin-top:11px;}
#contacts_container .contacts_no_contacts {margin-top:7px;display:block;}
#contacts_container .contacts_pending_name {width:auto;}
#contacts_container .contacts_highlight {background:#C4E6FD;}
#contacts_container .contact_delete_button{float:right; margin-top:10px;}
