/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* LAYOUT */
.fileupload_content {background-color:#FFFFFF; border-left:3px solid #454A4F;
    border-right:3px solid #454A4F; padding:10px;}
.fileupload_section {background-color:#eff2f4; padding:10px; margin-top:10px;}
#fileupload_add_to {padding:10px 0 0 10px;}
.fileupload_main_option {margin-bottom:3px;}
.fileupload_inputblock {clear:both; margin:10px 0;}
#fileupload_permissions_select {margin-left:20px;}
.fileupload_content .dialog_buttons {text-align:right;}
#fileupload_link_input_container {width:510px;}

/* TYPOGRAPHY */
.fileupload_slim_p {margin-bottom:0.5em;}
.fileupload_or_padding {margin-right:50px;}
.fileupload_help {color:#666666; font-size:0.9em; margin-bottom:18px;}

#fileupload_container .fileupload_textarea {width:380px !important; margin:0 196px 20px 0; float:right;}
#fileupload_container #fileupload_rendered_tagging label {vertical-align:top;}

#fileupload_container .fileupload_upload_progress {background:url("/dev/_images/ajax_load.gif") no-repeat scroll 0 0 transparent; clear:both; float:right; height:10px; width:80px;}

#fileupload_container .fileupload_file_name {margin-left:25px; margin-top:5px;}
#fileupload_container .fileupload_file_name input[type="text"],
#fileupload_container #fileupload_link_box input[type="text"]{width:500px; padding:4px; margin:0 5px 5px 0; font-weight:bold;}

#fileupload_container .fileupload_fill_in_file_name {color:#FF0101; display:block; font-weight:bold; margin-left:240px; padding:3px;}
#fileupload_container .fileupload_fill_in_file_name_input {border:1px solid #FF0101;}
#fileupload_container .fileupload_name_error {clear:both; color:#9F3333; font-weight:bold; margin:0 0 10px 50px; float:left}

#fileupload_container h1 {clear:both;}
#fileupload_container #fileupload_rendered_tagging h1 {margin-top:10px;}

#fileupload_container #fileupload_rendered_tagging #fileupload_tags .fileupload_add_tags {width:450px !important; margin:0 150px 5px 0; float:right;}
#fileupload_container #fileupload_rendered_tagging #fileupload_action_buttons {margin-top:10px; float:right;}

#fileupload_container .MultiFile-remove {padding-left:10px;}
#fileupload_container .MultiFile-list {display:none; margin:10px 0;}

#fileupload_container {width:800px !important; left:40% !important;}

#fileupload_add_version_description_label {margin-top:10px;}

#fileupload_container .hide_remove_link {visibility:hidden;}

#fileupload_rendered_tagging textarea {height:80px; margin-top:7px; width:100%;}
