/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Header */
.s23_site .header .fixed-container
{ height: 60px; }
.s23_site .header .greeting .greeting_text 
{ float: left; margin-right:10px;}

/* Menu */
.s23_site #s23_site_menu_container ul li
{ list-style-type: none; text-align: right; }
.s23_site #s23_site_menu_container ul li a
{ background-repeat: no-repeat; background-position: right center; color:#006E96; display:block; padding: 2px 23px 2px 0; text-decoration:underline;}
.s23_site #s23_site_menu_container ul li a:hover
{ text-decoration: none; }

/* Menu - icons */
.s23_site_menu_item .icon-osp-glossary{background-image:url(/library/image/silk/text_list_bullets.png);}
.s23_site_menu_item .icon-osp-matrix{background-image:url(/library/image/silk/table.png);}
.s23_site_menu_item .icon-osp-presentation{background-image:url(/library/image/silk/briefcase.png);}
.s23_site_menu_item .icon-osp-presLayout{background-image:url(/library/image/silk/layout_content.png);}
.s23_site_menu_item .icon-osp-presTemplate{background-image:url(/library/image/silk/application_view_tile.png);}
.s23_site_menu_item .icon-osp-style{background-image:url(/library/image/silk/style.png);}
.s23_site_menu_item .icon-osp-wizard{background-image:url(/library/image/silk/wand.png);}
.s23_site_menu_item .icon-sakai-announcements{background-image:url(/library/image/silk/flag_blue.png);}
.s23_site_menu_item .icon-sakai-chat{background-image:url(/library/image/silk/user_comment.png);}
.s23_site_menu_item .icon-sakai-datapoint{background-image:url(/library/image/silk/chart_line.png);}
.s23_site_menu_item .icon-sakai-dropbox{background-image:url(/library/image/silk/folder_page.png);}
.s23_site_menu_item .icon-sakai-gmt{background-image:url(/library/image/silk/award_star_gold_3.png);}
.s23_site_menu_item .icon-sakai-help{background-image:url(/library/image/silk/help.png);}
.s23_site_menu_item .icon-sakai-iframe{background-image:url(/library/image/silk/page_world.png);}
.s23_site_menu_item .icon-sakai-mailbox{background-image:url(/library/image/silk/email.png);}
.s23_site_menu_item .icon-sakai-metaobj{background-image:url(/library/image/silk/application_form.png);}
.s23_site_menu_item .icon-sakai-membership{background-image:url(/library/image/silk/group.png);}
.s23_site_menu_item .icon-sakai-news{background-image:url(/library/image/silk/rss.png);}
.s23_site_menu_item .icon-sakai-podcasts{background-image:url(/library/image/silk/ipod_cast.png);}
.s23_site_menu_item .icon-sakai-postem{background-image:url(/library/image/silk/database_table.png);}
.s23_site_menu_item .icon-sakai-preferences{background-image:url(/library/image/silk/cog.png);}
.s23_site_menu_item .icon-sakai-rutgers-linktool{background-image:url(/library/image/silk/application.png);}
.s23_site_menu_item .icon-sakai-sections{background-image:url(/library/image/silk/group_gear.png);}
.s23_site_menu_item .icon-sakai-singleuser{background-image:url(/library/image/silk/user.png);}
.s23_site_menu_item .icon-sakai-syllabus{background-image:url(/library/image/silk/script.png);}
.s23_site_menu_item .icon-blogger{background-image:url(/library/image/silk/book_edit.png);}
.s23_site_menu_item .icon-sakai-assignment-grades{background-image:url(/library/image/silk/page_edit.png);}
.s23_site_menu_item .icon-sakai-gradebook-tool{background-image:url(/library/image/silk/report.png);}
.s23_site_menu_item .icon-sakai-mailtool{background-image:url(/library/image/silk/email_go.png);}
.s23_site_menu_item .icon-sakai-presentation{background-image:url(/library/image/silk/monitor.png);}
.s23_site_menu_item .icon-sakai-profile{background-image:url(/library/image/silk/vcard_edit.png);}
.s23_site_menu_item .icon-sakai-reports{background-image:url(/library/image/silk/report_magnify.png);}
.s23_site_menu_item .icon-sakai-resetpass{background-image:url(/library/image/silk/key.png);}
.s23_site_menu_item .icon-sakai-resources{background-image:url(/library/image/silk/folder.png);}
.s23_site_menu_item .icon-sakai-rwiki{background-image:url(/library/image/silk/page_white_edit.png);}
.s23_site_menu_item .icon-sakai-samigo{background-image:url(/library/image/silk/pencil.png);}
.s23_site_menu_item .icon-sakai-schedule{background-image:url(/library/image/silk/calendar.png);}
.s23_site_menu_item .icon-sakai-search{background-image:url(/library/image/silk/find.png);}
.s23_site_menu_item .icon-sakai-site-roster{background-image:url(/library/image/silk/vcard.png);}
.s23_site_menu_item .icon-sakai-conferencing{background-image:url(/library/image/silk/webcam.png);}
.s23_site_menu_item .icon-sakai-users{background-image:url(/library/image/silk/folder_user.png);}
.s23_site_menu_item .icon-sakai-aliases{background-image:url(/library/image/silk/tag_blue.png);}
.s23_site_menu_item .icon-sakai-sites{background-image:url(/library/image/silk/application_cascade.png);}
.s23_site_menu_item .icon-sakai-realms{background-image:url(/library/image/silk/sitemap_color.png);}
.s23_site_menu_item .icon-sakai-online{background-image:url(/library/image/silk/report_user.png);}
.s23_site_menu_item .icon-sakai-memory{background-image:url(/library/image/silk/server_chart.png);}
.s23_site_menu_item .icon-sakai-archive{background-image:url(/library/image/silk/page_white_compressed.png);}
.s23_site_menu_item .icon-sakai-scheduler{background-image:url(/library/image/silk/clock.png);}
.s23_site_menu_item .icon-sakai-su{background-image:url(/library/image/silk/user_go.png);}
.s23_site_menu_item .icon-sakai-usermembership{background-image:url(/library/image/silk/drive_user.png);}
.s23_site_menu_item .icon-sakai-sitebrowser{background-image:url(/library/image/silk/world.png);}
.s23_site_menu_item .icon-sakai-createuser{background-image:url(/library/image/silk/user_add.png);}
.s23_site_menu_item .icon-sakai-discussion,.s23_site_menu_item .icon-sakai-forums{background-image:url(/library/image/silk/comments.png);}
.s23_site_menu_item .icon-sakai-iframe-site,.s23_site_menu_item .icon-sakai-motd{background-image:url(/library/image/silk/house.png);}
.s23_site_menu_item .icon-sakai-messages,.s23_site_menu_item .icon-sakai-synoptic-messagecenter{background-image:url(/library/image/silk/comment.png);}
.s23_site_menu_item .icon-sakai-poll,.s23_site_menu_item .icon-sakai-sitestats{background-image:url(/library/image/silk/chart_bar.png);}
.s23_site_menu_item .icon-sakai-siteinfo,.s23_site_menu_item .icon-sakai-sitesetup{background-image:url(/library/image/silk/application_lightning.png);}

/* Container */
.s23_site #s23_site_container .fixed-container
{ background-color:#fff; padding-bottom:20px;}
.s23_site #s23_site_iframe
{ height:1200px; width: 100%;}
.s23_site .s23_site_back
{ color:#006E96; float:right; margin-top:30px; }
.s23_site #s23_site_title_info
{ margin-top:15px; color: #868a8d; font-size: 1.1em}