/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* General*/
#entity_container .entity_number {color:#424242;}
#entity_container .entity_user_dropdown {position:absolute;z-index:999;width:150px;margin-left:2px;margin-top:12px;}
#entity_container .entity_user_dropdown .entity_dropdown_bottom{background: url("/devwidgets/entity/images/entity_list_bottom_border.png") no-repeat scroll -1px 0 transparent;height: 7px;}
#entity_container .entity_user_dropdown .entity_dropdown_tr{background: url("/devwidgets/entity/images/entity_list_top_border.png") no-repeat scroll right top transparent;height: 5px;}
#entity_container .entity_user_dropdown .entity_dropdown_content{background: url("/devwidgets/entity/images/entity_list_border.png") repeat-y scroll right top transparent;}
#entity_container #entity_name {font-size: 18px;margin-bottom:5px;padding:5px 0 !important;}
#entity_container #entity_owns {font-size:11px; margin-top:5px;}
#entity_container .entity_permissions_label {margin-left:30px;}
#entity_container #entity_actions button{float:right; margin-top: 5px;}
#entity_container #entity_add_icon{background: url("/dev/images/icons_sprite.png") no-repeat scroll -904px -21px transparent;height: 10px;left: 12px;position: absolute;top: 7px;width: 8px;z-index: 999;}
#entity_container #entity_add_icon + span {padding-left: 23px;}
#entity_container button:hover #entity_add_icon{background: url("/dev/images/icons_sprite.png") no-repeat scroll -924px -21px transparent}
#entity_container .entity_plaintitle {font-size: 18px; margin-top: 8px; margin-left: 10px;}

/* Directory */
#entity_container #entity_directory_image {width:45px;float:left;margin-right:15px;margin-top:-14px;}
#entity_container #entity_directory_image img {width:45px; height:45px;}

/* User */
#entity_container .entity_user_image {width:63px;height:46px; background:url("/devwidgets/entity/images/entity_user_icon.png") no-repeat transparent;float:left;margin-left: 5px;margin-right:5px;margin-top:-8px;}
#entity_container .entity_user_image_pointer {cursor:pointer;width:93px; margin-left: 15px !important;}
#entity_container .entity_user_image_clicked {}
#entity_container .entity_user_create_add_dropdown {position:fixed;z-index:999;width:150px;margin-top:34px;}
#entity_container .entity_user_contact_pending {background:#fff; border:1px solid #ccc; display:inline-block; font-size:0.9em;margin:0 5px 5px 0;overflow:visible;padding:0 15px;position:relative;top: -1px; height: 23px; line-height: 23px;}
#entity_container .entity_user_contact_pending_inner {color:#333333 !important;font-size:11px;margin:0 !important;}
#entity_container #entity_user_image #entity_profile_picture {width: 50px; height: 50px;}
#entity_container .entity_other_profilepic {float: left; margin: -10px 15px 0px 5px; width:52px; height: 54px; background-color:#fff; padding: 2px 2px 2px 1px;}
#entity_container .entity_profilepic_internal {height: 50px; width: 50px; padding: 1px; background-color: #fff; box-shadow: 0 0 1px 2px #aaa;}

/* Me */
#entity_container .entity_name_me {clear:both; font-size: 14px; padding: 5px 5px 0px 20px; color: #666;}
#entity_container .entity_my_profilepic {width:70px; height: 54px; background-color:#fff; margin-left: 20px; padding: 2px 2px 2px 1px;}
#entity_container .entity_changepic_arrow {float: right; margin-top: 40px;}

/* Group */
#entity_container .entity_group_image {width:63px;height:46px; background:url("/dev/images/group_icon.png") no-repeat transparent;float:left;margin-right:10px;margin-top:5px; margin-left:5px;}

/* Content */
#entity_container #entity_content_image {width:45px;height:62px; float:left;margin-right:15px;margin-top:-14px;}
#entity_content_image img{height:50px; margin-top:5px;}
#entity_name_edit {padding:3px; font-size:18px; font-weight:bold; width:600px; padding:0 0 5px 5px; margin-bottom:5px;position:relative; top:-7px; left: -7px;}
#entity_name_edit input {padding:3px 0; border:1px solid #DDDDDD; background:none;}
