/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* General */
.entity_header {margin: 3px 0 10px 0px; padding: 0; width: 340px; overflow:hidden;}
.entity_header_text {font-size:22px; font-weight:bold; line-height:28px; margin-right:10px;color:#444;}
.entity_picture {margin: 0 20px 5px 0; font-size: 10px; color: #FFFFFF; line-height: 11px;}
.entity_description {width:340px; }
.entity_status {color: #aaa;font-size:12px;}
.entity_picture .entity_manage{background:url(/dev/_images/group_avatar_badge_orange_left_128.png) no-repeat;}
.entity_picture .entity_manage_end{background:url(/dev/_images/group_avatar_badge_orange_right_128.png) no-repeat;}
.entity_picture .entity_member{background:url(/dev/_images/group_avatar_badge_blue_left_128.png) no-repeat;}
.entity_picture .entity_member_end{background:url(/dev/_images/group_avatar_badge_blue_right_128.png) no-repeat;}
#entity_container a.s3d-action, #entity_container .s3d-actions a {font-size: 12px;}
.entity_picture_div {padding-bottom: 3px;}

/* Container */
#entity_container {margin: 19px 0 15px 7px; overflow: hidden;width:670px;}
#entity_container.joinable {width:700px;}
#entity_container .entity_profile_status_input_dummy {color: #aaa}
#entity_container form#entity_profile_status {margin-top: 5px;}
#entity_container form button{margin-left: 5px}
#entity_container form input[type="text"]{width: 14em}
#entity_container input[type="text"] {border: 1px solid #ddd;padding: 3px;}
.entity_container_left {width: 460px}
.entity_container_right {margin-top: 8px; padding-left: 0px; width: 200px;}
.entity_container_right strong {clear: both;: block;float:left;overflow:hidden;width: 90px;}
.entity_container_top_margin {margin-top:15px;}
.entity_tags {padding-top: 10px;}
.entity_tags_group {padding-top: 3px;}
#entity_add_to_contacts {margin-bottom: 0px;}
#entity_profile_picture {width: 64px; height: 64px;}
#entity_container .ellipsis_text {word-wrap:break-word;}

/* Content */
.entity_content_about {margin-top: 10px; width: 380px;}
#entity_container h1 {margin:0;}
.entity_group_edit {padding-right: 5px;}
.entity_content_filetype {color: #aaaaaa; padding-right: 5px;}

/* Actions */
.entity_actions {margin-top:10px; overflow:hidden;}
.entity_contact_span {color: #aaa; font-size: 12px; line-height: 20px; padding-left:10px;}
#entity_contact_invited {padding-left: 10px;}

/* List box for tags and locations */
#entity_tags_link, #entity_locations_link {padding: 5px 5px 5px 5px;}
.entity_tags_link, .entity_locations_link {border: 1px solid #fff;}
.entity_tags_link:hover, .entity_locations_link:hover {border: 1px solid #ddd;}
.entity_list_open {border: 1px solid #ddd !important;}
#entity_tags_link span, #entity_locations_link span {background: url('/dev/_images/arrow_down_sm2.png') center right no-repeat; padding: 0 17px 0 5px;}
#entity_tags_link_menu, #entity_locations_link_menu {background-color: #FFFFFF; position: absolute; z-index:400; border: 1px solid #ddd;}
#entity_tags_link_menu .entity_tags_link_menu_list, #entity_locations_link_menu .entity_locations_link_menu_list {padding: 5px;}
.entity_locations_list {padding-top: 20px;}
.entity_location {margin: 20px 0 0 10px;}
.entity_location_divider {color: #006e96; font-weight: bold; font-size: 13px;}
.entity_location_show_all {padding:0px;margin:0px;}

.entity_threedots {display:block; width:340px;}
.entity_avatar_border {border: 1px solid #cbd0d4;}
.entity_padding_top {padding-top: 3px;}
.entity_member_count {display:block: padding-top: 2px; padding-bottom: 2px; color: #333;}
