/*********************************************************************/
/* FSS OVERRIDES */
.fl-theme-mist {background-color:#fff !important;}
:focus {outline:none;}

/*********************************************************************/
html {overflow:auto;}
body {margin:0; padding:0; font:normal 1em Arial, Helvetica, sans-serif;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
p {margin:0; padding-bottom:1em;}

.content {padding:10px 0;}
.column {min-height:100px;}
.left {width:300px; float:left;}
.right {width:300px; float:right;}
.center {margin-left:310px; margin-right:310px; padding:0 0px;}

/************************************/
#dialog_container {
    position:absolute; 
    top:0; 
    left:0; 
    width:800px; 
    display:none; 
    background-color:#efefef; 
    z-index:1000;
    border: 2px solid #000;
}
#dialog_container #close_dialog {
    position:absolute; 
    top:0; 
    right:0; 
    background-color:#fff; 
    color:#fff; 
    padding:5px; 
    border: 2px solid #000; 
    border-top:none; 
    border-right:none;
}

/************************************/
.header {color:#fff; overflow:auto; zoom:1; padding:20px 0 25px 20px; background:#00A5E3 url('../images/header2.png') no-repeat left top;}
.header h1 {font:normal 2.5em Arial, Helvetica, sans-serif; margin:0; padding:0; color:#fff; border:none; float:left;}
.header ul {margin:1.2em 0 0 1em; padding:0; overflow:hidden; float:left; display:inline; font-size:1.1em}
.header ul li {display:inline; border-left:1px solid #CCF1FF; padding: 0 10px; margin-left:-5px; font-weight:bold;}
.header ul li a {color:#CCF1FF !important; font-weight:normal; font-size:0.85em}
.header ul li a:hover {color:#CCF1FF !important;}

/************************************/
.lookNfeel {padding:0 10px 0; clear:both;}
.lookNfeel .skin {background-image: url('../images/edit-look-feel.png')}
.lookNfeel .addWidget {background-image: url('../images/add-widgets.png')}
.lookNfeel a {color:#000;  text-decoration:none;}
.lookNfeel strong { background: url('../images/buttons-right.png') no-repeat right top; font-weight:normal; }

/************************************/
.footer { background:url("../images/sakai.png") no-repeat left center; border-top:1px solid #efefef; color:#ccc; font-size:0.8em; margin:10px 0 0;}
.footer p {margin:0; padding:0 0 0px; padding:15px 0 15px 75px;}

/************************************/
* html .chat {position:absolute: bottom:0;}
body > .chat {position:fixed; bottom:0;}
.chat {background-color:#efefef; border:1px solid #ccc; border-bottom:none; width:98%; margin:0 0 0 1%;}
.chat ul {margin:0; padding:0;}
.chat li {float:left; list-style-type:none; border:1px solid #ccc; border-top:none; border-bottom:none;}
.chat a {float:left;padding:5px 10px; font-weight:normal; color:#666 !important;}
.chat ul.myStuff li { margin-left:-1px;}
.chat ul.connections li {margin-right:-1px;}
.chat ul.connections .online {background:transparent url(../images/icon_people.png) no-repeat scroll 5px center; padding-left:25px;}


