.people_header {
	border-bottom: 1px solid #cccccc;
}

.options {
	padding:25px 25px 0pt 0pt;
	text-align:right;
}

.options a {
	color:#3399CC;
	font-size:1em;
	font-weight:bold;
}

.jq_pager ul.pages {
	margin:10px 0 0px !important;
}

.search_results_part {
	padding-bottom:20px !important;
}