/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */

.contentauthoring_widget {
    padding: 10px;
    clear: both;
}

.contentauthoring_edit_mode .contentauthoring_widget {
    padding: 10px 9px 9px 10px;
}

.contentauthoring_edit_mode {
    background: url("/devwidgets/contentauthoring/images/grid_bg.png") repeat scroll left top transparent;
    border: 1px solid #e9e9e9;
    border-left: none;
    border-top: none;
}

#contentauthoring_buttons {
    margin-bottom: 5px;
    position: fixed !important;
    background-color: #333;
    width: 150px;
    left: 30px;
    top: 75px;
}

/* Resizing */
.contentauthoring_widget .contentauthoring_row {
    border: 3px solid transparent;
    margin-bottom: 5px;
    display: table;
    width: 100%;
}

.contentauthoring_widget .contentauthoring_table_row {
    display: table-row;
}

.contentauthoring_widget .contentauthoring_cell {
    height: 100% !important;
    display: table-cell;
    vertical-align: top !important;
}

.contentauthoring_widget .contentauthoring_cell_container {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    white-space: normal !important;
}

.contentauthoring_widget .contentauthoring_cell_content {
    padding: 5px 5px 5px 0;
    display: table-cell !important;
    width: 100%;
    vertical-align: top !important;
    height: auto !important;
}

.contentauthoring_widget .contentauthoring_table_row.contentauthoring_cell_container_row .contentauthoring_cell:first-child {
    padding-left: 5px;
}

.contentauthoring_widget .contentauthoring_cell_element {
    margin-bottom: 5px;
    border: 1px dotted #fff;
}

.contentauthoring_edit_mode .contentauthoring_widget .contentauthoring_cell_element.contentauthoring_init {
    height: 28px !important;
}

.contentauthoring_widget {
    min-height: 460px;
}

.contentauthoring_edit_mode .contentauthoring_minheight_container {
    min-height: 25px;
}

.contentauthoring_edit_mode * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.contentauthoring_edit_mode .pagetitle_widget * {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
}

.contentauthoring_edit_mode textarea, .contentauthoring_edit_mode input  {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
}

.contentauthoring_edit_mode .contentauthoring_cell_element_hover,
.contentauthoring_edit_mode .contentauthoring_cell_element.selected {
    border: 1px solid #4c4c4c;
}

.contentauthoring_edit_mode .contentauthoring_row {
    border: 3px solid #333;
}

.contentauthoring_widget .contentauthoring_cell_handle {
    width: 12px;
    min-width: 12px;
    display: table-cell;
}

.contentauthoring_edit_mode .contentauthoring_cell_handle {
    background: url('/devwidgets/contentauthoring/images/fullhandle.png') no-repeat center;
    height: 25px;
}

.ui-resizable-helper {
    border-right: 2px dotted #333;
}

.contentauthoring_edit_mode .ui-resizable-e {
    cursor: e-resize;
}

.ui-state-highlight {
    width: 100%;
    height: 20px;
    border: 1px dotted #ccc;
    background-color: #0000ff;
}

/* Row menu */
#contentauthoring_row_menu {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

#contentauthoring_row_menu.s3d-dropdown-list .s3d-dropdown-list-arrow-up {
    left: 37px;
    background-position: left -7px;
    height: 14px;
    margin-top: -13px;
}
#contentauthoring_row_menu_three {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 2px;
}

/* Element edit menu */
.contentauthoring_cell_element_actions {
    position: absolute;
    display: none;
}

/* Row re-ordering */
.contentauthoring_row_handle_container,
.contentauthoring_cell_element_actions {
    width: 55px;
    height: 20px;
    background: #434343;
    background: -moz-linear-gradient(top, #4d4d4d 0%, #3a3a3a 89%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(89%,#3a3a3a), color-stop(100%,#333333));
    background: -webkit-linear-gradient(top, #4d4d4d 0%,#3a3a3a 89%,#333333 100%);
    background: -o-linear-gradient(top, #4d4d4d 0%,#3a3a3a 89%,#333333 100%);
    background: -ms-linear-gradient(top, #4d4d4d 0%,#3a3a3a 89%,#333333 100%);
    background: linear-gradient(top, #4d4d4d 0%,#3a3a3a 89%,#333333 100%);
    visibility: hidden;
    display: none;
    color: #fff;
    margin-left: 5px;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}
.contentauthoring_edit_mode .contentauthoring_row_handle_container {
    display: block !important;
    margin-top: -20px;
    position: absolute;
}

.contentauthoring_cell_element_actions {
    width: auto;
    z-index: 1;
}

.contentauthoring_row_handle_container.selected {
    visibility: visible !important;
}

.contentauthoring_cell_element_actions {
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    visibility: visible;
}

.contentauthoring_row_handle_container .contentauthoring_row_handle,
.contentauthoring_cell_element_actions .contentauthoring_row_handle {
    cursor: move;
    background: url("/devwidgets/contentauthoring/images/row_edit_handle_grabber.png") no-repeat top left transparent;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px 0 0 3px;
}
.contentauthoring_row_handle_container button.contentauthoring_row_edit {
    height: 36px;
}

.contentauthoring_cell_element_actions .contentauthoring_row_handle {
    margin: 1px 0 0 3px;
}

.contentauthoring_cell_element_actions span,
.contentauthoring_cell_element_actions button {
    cursor: pointer;
    display: block;
    height: 10px;
    margin: 5px 5px 0;
    width: 10px;
}

.contentauthoring_row_handle_container .contentauthoring_row_edit {
    background: url("/devwidgets/contentauthoring/images/row_edit_handle_pencil.png") no-repeat top left transparent;
    width: 26px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
}

.contentauthoring_cell_element_actions .contentauthoring_cell_element_action_e {
    background: url("/devwidgets/contentauthoring/images/cell_edit_handle_cog.png") no-repeat center center transparent;
}
.contentauthoring_cell_element_actions .contentauthoring_cell_element_action_e:hover,
.contentauthoring_cell_element_actions .contentauthoring_cell_element_action_e:focus {
    background: url("/devwidgets/contentauthoring/images/cell_edit_handle_cog_hover.png") no-repeat center center transparent;
}

.contentauthoring_cell_element_actions .contentauthoring_cell_element_action_x {
    background: url("/devwidgets/contentauthoring/images/cell_edit_handle_delete.png") no-repeat center center transparent;
    margin-right: 7px;
}
.contentauthoring_cell_element_actions .contentauthoring_cell_element_action_x:hover,
.contentauthoring_cell_element_actions .contentauthoring_cell_element_action_x:focus {
    background: url("/devwidgets/contentauthoring/images/cell_edit_handle_delete_hover.png") no-repeat center center transparent;
}

.contentauthoring_cell_element_actions .contentauthoring_cell_edit {
    background: url("/devwidgets/contentauthoring/images/cell_edit_handle_pencil.png") no-repeat top left transparent;
}

.contentauthoring_cell_element_actions .contentauthoring_cell_edit:hover,
.contentauthoring_cell_element_actions .contentauthoring_cell_edit:focus {
    background: url("/devwidgets/contentauthoring/images/cell_edit_handle_pencil_hover.png") no-repeat top left transparent;
}

.contentauthoring_row_handle_container .contentauthoring_row_edit:hover,
.contentauthoring_row_handle_container .contentauthoring_row_edit:focus {
    background: url("/devwidgets/contentauthoring/images/row_edit_handle_pencil_hover.png") no-repeat top left transparent;
}

#contentauthoring_widget_container {
    margin: 0;
}

.contentauthoring_row_container {
    list-style-type: none;
}

.contentauthoring_edit_mode .contentauthoring_row_reorder_highlight {
    background-color: #e3e5c7;
    list-style-type: none;
    height: 20px;
    margin-bottom: 5px;
    cursor: move;
}

.contentauthoring_edit_mode .contentauthoring_cell_reorder_highlight {
    background-color: #e3e5c7;
    border: none;
    display: block;
    list-style-type: none;
    height: 20px;
    cursor: move;
    width: 100%;
}

.contentauthoring_edit_mode #contentauthoring_widget_container > .contentauthoring_row_reorder_highlight {
    margin-right: -5px;
}

.contentauthoring_edit_mode .contentauthoring_reorder_placeholder {
    background-color: #2683BC;
}

.contentauthoring_edit_mode .contentauthoring_row_reorder_highlight:before, .contentauthoring_cell_reorder_highlight:before {
    content: url("/devwidgets/contentauthoring/images/row_reorder_highlight_arrow.png");
    height: 30px;
    width: 30px;
    margin: -15px 0 0 -14px;
    position: absolute;
}

.contentauthoring_edit_mode .s3d-dropdown-list .s3d-dropdown-hassubnav ul {
    padding-right: 30px;
}

.contentauthoring_edit_mode .s3d-dropdown-list .s3d-dropdown-hassubnav.contentauthoring_addrow_menu_open ul {
    display: block;
}

.contentauthoring_dummy_element {
    display: none;
}

.contentauthoring_edit_mode .contentauthoring_dummy_element {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #999999;
    display: block !important;
    cursor: pointer;
    font-size: 12px;
}

/* Elements to add */
#contentauthoring_buttons_elements {
    margin-left: 0;
}

#contentauthoring_buttons_elements div {
    margin-right: 10px;
    background-color: #ccc;
    margin-bottom: 2px;
}

/* No content */
.contentauthoring_empty_content.contentauthoring_default_editable_content_imagecontainer {
    background: url("/dev/images/emptydocument_editor_placeholder.jpg") no-repeat scroll left top transparent;
    display: block;
    height: 228px;
    margin: 30px auto;
    width: 462px;
}

.contentauthoring_empty_content.contentauthoring_default_viewable_content_imagecontainer {
    background: url("/dev/images/emptydocument_viewer_placeholder.jpg") no-repeat scroll left top transparent !important;
    height: 154px !important;
    margin: 4px auto;
    margin-bottom: 90px;
    position: relative;
    top: 70px;
    width: 156px !important;
}

/* Autosave */
#autosave_dialog {
    width: 450px;
    margin-left: -225px;
}
#autosave_title {
    margin-top: 0px;
}
