/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#message_dialog {width: 566px;}
.dialogue_box {background:#FFFFFF none repeat scroll 0 0;border:none;height:auto;left:auto;margin-left:0px;margin-top:0px;position:relative;top:0%;width:100%;z-index:101;}
.sendmessage_error_message {font-weight:bold;margin:10px;padding:10px;border:1px solid #ff0000;background-color:#f7d8d8;}
.sendmessage_normal_message {margin:10px;padding:10px;border:1px solid #00ff00;background-color:#d9f7d8;}
.sendmessage_invalid {background-color:#FFCCCC !important;}

/* send_message_lightbox.html */
.send_message .compose-form input, .send_message .compose-form textarea {font-weight:normal;}
.send_message .compose-form #message_from, .send_message .compose-form #message_to {font-weight:bold; padding-left:4px;}
.send_message .compose-form div {padding-bottom:10px;}
.send_message .compose-form .compose-subject {width:500px;}
.send_message .compose-form .compose-body {height:150px; width:500px;}
#send_message {font-weight:bold}

/* AutoSuggest Styles */
ul.as-selections {margin:5px 3px 0px; width:500px;}
ul.as-list {margin:-2px 0 0 3px;}
#sendmessage_to_container {margin-bottom:10px;}
img.sm_suggestion_img {height:16px; width:16px; margin-right:5px;}
input#sendmessage_to_autoSuggest {width:175px;}
