/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main Container */
#discussion_main_container {margin-top: 10px;}
#discussion_main_container label, #discussion_settings label {width:100%;font-weight:bold;}
#discussion_main_container input[type=text], #discussion_settings input[type=text] {margin:5px 0;width:100%;border:#D9D9D9 solid 1px;padding-left:0px;padding-right:0px;height:18px;padding-top:2px;}
#discussion_main_container textarea, #discussion_settings textarea {margin:5px 0;width:100%;height:140px;border:#D9D9D9 solid 1px;}

/* Header */
#discussion_widget_header_wrapper { overflow: hidden; margin-bottom: 5px;padding-bottom: 5px;border-bottom: 2px solid #d9d9d9; }
#discussion_widget_title_wrapper { clear:right; }
#discussion_widget_title_wrapper h3 {display:block; margin: 0 0 6px; padding-left: 25px; }
#discussion_widget_header {background: url(/dev/_images/comments.png) no-repeat 0 1px; font-weight: normal; float:left; width: 30%; }
#discussion_widget_title { margin: 0; clear: both; }
.discussion_view_options {  }
.discussion_view_options a {color:#058EC4;padding-left: 5px;display:none;}
.discussion_view_options #discussion_collapse_link {border-left: 1px solid #d7d7d7}

/* Container */
#discussion_container a {color:#058Ec4;}

/* Settings */
#discussion_settings {font-size:0.95em;}
#discussion_settings h2 {margin-bottom:10px;}
#discussion_settings_display_options_container input {margin-right:10px;}
#discussion_settings_display_options_container label {font-weight: normal;}

/* Posts */
.discussion_posts {border-left:1px dashed #ddd; margin-left:15px; padding: 0 0 0 5px;}
.discussion_post {margin-bottom:13px;}
.discussion_compact_post {margin-bottom:5px;display: none;}
.discussion_compact_post_link {margin-bottom:3px;}

/* Header */
.discussion_header { background:#ffffff url('../images/discussion_header_bottom.gif') no-repeat bottom left; padding-bottom:8px; overflow:auto;}
.discussion_avatar {width:40px;height:40px;border:1px solid #AAAAAA;float:left;margin-right:5px;}
.discussion_username {font-size:1.05em;font-weight:bold;}
.discussion_username_edited {color:#6a6a6a;}
.discussion_right, .discussion_left {line-height:22px;}
.discussion_left {color:#bbb;float:left;font-size:0.9em; width: 450px;}
.discussion_right {font-size:0.95em;color:#6a6a6a;float:right;}

/* Content */
.discussion_content {padding:12px 16px 30px 16px;background-color:#f4f4f4;}
#discussion_reply_container {padding:12px 16px 16px 16px;background-color:#f4f4f4;}
.discussion_content_subject {font-size:1.4em !important;font-weight:bold !important;padding-top:0px !important;padding-bottom:2px !important; font-weight: normal !important; margin: 0; }
.discussion_content_compact_subject {font-weight:bold;}
.discussion_content_actions {margin-top:5px;width:100%;height:auto;float:left;}
.discussion_content_actions ul {padding:0;margin:0;}
.discussion_content_actions .discussion_content_no_border {border-left:0;padding-left:0px;}
.discussion_content_actions ul li {border-left:1px solid #d2d2d2;margin-left:0;padding:0 5px 0 7px;display:inline;list-style-type:none;}
.discussion_content_actions a {font-size:0.95em;font-weight:bold;}
.discussion_content_message {margin-bottom: 10px;}

/* Settings List */
.discussion_settings_list {background-color:#fbfbfb;border:1px solid #dfdfdf;width:100%;height:140px;overflow:scroll;overflow-x:hidden;overflow:auto;}
.discussion_settings_list_item {background-color:#fbfbfb;padding-left:10px;}
.discussion_settings_list_item_selected, .discussion_settings_list_item:hover {background-color:#dfdfdf;padding-left:10px;}

/* Settings tabs */
.discussion_settings_tabs {margin-left:0px;margin-bottom:10px;}
.discussion_settings_tabs li {display:inline;list-style-type:none;}
.discussion_settings_tab, .discussion_settings_tab_selected {border:1px solid #dfdfdf;padding:10px 20px;}
.discussion_settings_tab {background-color:#fbfbfb;    }
.discussion_settings_tab_selected {border-bottom-color:#ffffff;font-weight:bold;}
.discussion_settings_container {border:1px solid #dfdfdf;margin-top:0px; padding:10px;}
#discussion_settings_new_subject ,#discussion_settings_new_body {border:1px solid #dfdfdf;margin-right:0px;}