/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#youtubevideo_preview, #youtubevideo_savepreferences {float:right;}
#youtubevideo_back {float:left;}
#youtubevideo_youtubeurl {width:100px; margin-bottom:10px;}
.youtubevideo_clear {clear:both;}
#youtubevideo_videoSettings {width:425px; margin-left:auto; margin-right:auto; margin-bottom:20px;}
#youtubevideo_settings input[type=text] {width:450px; border-style:solid; border-width:1.5px; padding-top:5px; padding-bottom:5px; border-color:#DEDEDE; background-color:#f4f4f4; font-size:14px;}