html {
    /*background-color:#f5f5f5;*/
    background:#fff url(../images/body_bg.png) repeat-x top left;
}
body {
    padding:0 10px;
}
h1 {
    font:normal 2em Arial, Helvetica, sans-serif;
}
a {    
    text-decoration:none;
    color:#333;
}

/********************************************/
/* Explorer Bar */
.explore_nav{
    background-color:#333;
    color:#999;
    padding:10px;
    overflow-x:hidden;
}

.explore_nav ul {
    padding:0;
    margin:0;
}
.explore_nav li {
    display:inline;
    list-style-type:none;
}
.explore_nav a {

}
.explore_nav .explore {
    font-weight:bold;
}
.explore_nav .explore li {
    padding-right:15px;
}
.explore_nav .explore li a {
    color:#fff;    
}
.explore_nav .personal {
    margin-right:-20px;
    padding-right:9px;
    display:inline;
}
.explore_nav .personal li{
    font-size:0.85em;
    padding:0 7px;
    border-right: 1px solid #666;
    float:left;
}
.explore_nav .personal li a {
    color:#ccc;
}

/********************************************/
/* Site title + search */
.site_heading {
    padding:15px 0 15px 15px;
}
.site_heading h1 {
    margin:0;
}
.site_heading .search {
    margin-top:10px;
}
.site_heading .search .search_field {
    width:200px; 
    padding:2px 5px; 
    border:2px solid #ccc; 
    border-right:none; 
    border-bottom:none;
}
.site_heading .search .search_button {
    background-color:#333; 
    border:none; 
    background-image:url(../images/search_icon.png); 
    height:20px; 
    width:20px;
}

/********************************************/
/* Site Nav Menu */
.site_nav {
    color:#333;
    background-color:#f9f9f9;
    padding:5px;
    overflow-x:hidden;
    border:1px solid #ccc;
    font-size:0.9em;
}
.site_nav ul {
    padding:0;
    margin:0;
}
.site_nav li {
    float:left;
    display:inline;
    list-style-type:none;
}
.site_nav a {
    color:#333;
}
.site_nav .page_options_extra, .site_nav .page_options {
    text-transform:capitalize;
    display:inline;
}
.site_nav .page_options_extra li, .site_nav .page_options li {
    border: 1px solid #CCC;
    border-top:none;
    border-bottom:none;
    padding:0 7px;
}

.site_nav .page_options {
    font-weight:bold;
    margin-left:-10px;
    padding-left:4px;
}

.site_nav .page_options li{
    border-right:none;
}

.site_nav .page_options_extra {
    margin-right:-10px;
    padding-right:4px;
}
.site_nav .page_options_extra li {
    border-left:none;
}

/********************************************/
.main_container {
    border:1px solid #ccc;
    border-top:none;
    /* simple hack free approach to a column divider that needs to match either columns height */
    background:#fff url(../images/single_grey_pixel.png) repeat-y 220px top;
}
.main_container a {
    color:#666;

    font-weight:bold;
    padding-bottom:10px;
}

/********************************************/
/* Page Specific Nav menu */
.page_nav {
    /*border-right:1px solid #ccc;*/
}
.page_nav h3 {
    margin:1em 0 0 0; 
    padding:0;
}
.page_nav ul {
    margin:0; 
    padding:0;
}
.page_nav li {
    list-style-type:none;
}
.page_nav li a {
    color:#666;
}
.page_nav a {
    font-weight:normal;
}
.page_nav a {
    color:#000; 
    padding-top:20px; 
    display:block; 
    font-size:.9em
}
.page_nav .fl-listmenu a {
    padding:3px 0;
    font-size:1em;
}


/********************************************/
/* Content  */
.content_container {
    /*border-left:1px solid #ccc;*/
}
.content_container h2 {
    font-size: 1.5em;
    margin: 0.65em 0;
}
.content_container .byline {
    color:#999;
}
.content_container .profile {
    background-image: url(../images/profile_icon.png);
    width:24px;
    height:24px;
    margin-top:-10px;
}

/* Custom color scheme and tweaks for fl-tabs */
.content_container .fl-tabs {
    border-color:#ccc;    
}
.content_container .fl-tabs li {
    background-color:#f9f9f9;
    border-color:#ccc;
    padding-left:15px;
    padding-right:15px;
}
.content_container .fl-tabs a {
    font-weight:normal;
}
.content_container li.fl-activeTab {
    border-bottom-color:#fff;
    background-color:#fff;
}
.content_container li.fl-activeTab a {
    font-weight:bold;
    color:#000;
}

/********************************************/
/* Footers  */
.footer_menu {
    border-bottom:1px solid #ccc;
    padding:20px;
}
.footer_menu h4 {
    clear:both;
    margin:10px 0;
}
.footer_menu ul {
    margin:-2.0em 0 0 70px; 
    padding:0;
}

.footer_menu li {
    display:inline;
    list-style-type:none;    
    
}
.footer_menu li.cap a{
    border:none;
}
.footer_menu li a {
    color:#000;
    font-weight:normal;
    font-size:0.85em;
    border-left:1px solid #efefef;
    padding:0 5px;    
}

.footer_copyright {
    padding-top:10px;
    color:#CCC;
    font-size:.85em;
    text-align:center;
}

.footer_copyright a{
    float:right;
}

.footer_copyright p a{
    float:none;
}














