/////////////////
///// SHARED ////
/////////////////

@import "dependencies/colors";
@import "dependencies/mixins";

/////////////////
/// SELECTORS ///
/////////////////

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: $grey-dark;
}