<div id="detail-view-template"><!--
    <div id="detail-view" class="view stretch">
        <div class="oae-mobile-view-topbar">
            <span class="oae-mobile-topbar-logo"></span>
            <span class="oae-mobile-view-title">Title</span>
            <button id="btnBack" title="__MSG__BACK__" class="oae-mobile-button oae-mobile-button-left"><span>&#160;</span></button>
        </div>
        <div class="content">
            <div class="wrapper">
                <p>The content</p>
            </div>
        </div>
    </div>
--></div>