<div class="home-view">

    <!-- Top bar -->
    <div data-role="navigation-bar" data-name="top-bar">
        <div data-role="item" class="navigation-bar-item" data-name="bar-item">
            <div class="element-one">
                <div data-role="button" data-name="menu-button">=</div>
            </div>
            <div data-role="title">tenantname</div>
            <div class="element-two">logo</div>
        </div>
    </div>

    <!-- Content -->
    <div data-role="content">

        <div data-widget="empty"><!-- --></div>

        <div data-role="button" data-name="detail-button">Show detail</div>

    </div>

</div>
