<div id="home-view-template"><!--
    <div id="home-view" class="view stretch">
        <div class="oae-mobile-view-topbar">
            <span class="oae-mobile-view-title">Title</span>
            <button id="btnMenu" title="__MSG__MENU__" class="oae-mobile-button oae-mobile-button-left"><span>&#160;</span></button>
        </div>
        <div class="content">
            <div class="wrapper">
                <div id="mobile-activity-widget-container"></div>
            </div>
        </div>
    </div>
--></div>