<div id="login-view-template"><!--
    <div id="login-view" class="view stretch full">
        <div class="content">
            <div class="centered">
                <div class="inputcontainer"><input id="txtUsername" type="text" placeholder="__MSG__USERNAME__" value=""/></div>
                <div class="inputcontainer"><input id="txtPassword" type="password" placeholder="__MSG__PASSWORD__" value=""/></div>
                <div class="buttoncontainer"><button id="btnLogin"><span>__MSG__LOGIN__</span></button></div>
            </div>
        </div>
    </div>
--></div>