<div id="login-view-template"><!--
    <div id="login-view" class="view stretch full">
        <div class="content">
            <div class="centered">
                <div class="logo"></div>
                <form action="#" id="frmLogin">
                    <div class="inputcontainer"><input id="txtUsername" type="text" placeholder="__MSG__USERNAME__" value=""/></div>
                    <div class="inputcontainer"><input id="txtPassword" type="password" placeholder="__MSG__PASSWORD__" value="password"/></div>
                    <div class="buttoncontainer"><button id="btnLogin"><span>__MSG__LOGIN__</span></button></div>
                </form>
                <div class="buttoncontainer"><button id="btnTwitter"><span>__MSG__LOGIN__ __MSG__WITH__ Twitter</span></button></div>
            </div>
        </div>
    </div>
--></div>