#text_main,#text_settings{margin:10px;}
/* white space fix from http://labnol.blogspot.com/2006/10/html-css-trick-for-displaying-code.html */
#text_main pre{font-family:Arial,Helvetica,sans-serif;line-height:120%;white-space:pre-wrap;white-space:0!important;white-space:0;white-space:0;word-wrap:break-word;}
#text_settings input,#text_settings textarea{margin-bottom:8px;background-color:#F4F4F4;border:1.5px solid #DEDEDE;padding:5px 0;width:100%;}
#text_settings textarea{height:150px;}
#text_actions{height:35px;}
#text_settings button{margin-top:10px;float:right;}