/* Title */
.newinbox_title_bar{border-bottom:1px solid #ddd;padding:20px 0;height:10px;}
/* Inbox items*/
.newinbox_items_container{color:#333;border-bottom:1px solid #ddd;padding:2px 0px;}
.newinbox_items_container.unread .newinbox_items_inner {background-color:#eff9fb;}
.newinbox_items_inner{padding:5px 0 0;cursor:pointer;float:left;width:100%}
.newinbox_items_inner img{float:left;padding:0 10px 5px 0;width:30px;}
.newinbox_items_inner.hover{background-color:#C4E4FB;}
.newinbox_name{width:25%;overflow:hidden;display:inline-block;}
.newinbox_date{width:20%;overflow:hidden;display:inline-block;}
.newinbox_subject{width:40%;display:inline-block;vertical-align:top;}
.newinbox_excerpt{height:32px;overflow:hidden;}
.newinbox_delete{float:right;}
.newinbox_delete_button{margin-right:5px;color:black;}
.newinbox_delete_button:hover{text-decoration:none;}
#newinbox_no_messages p {text-align:center;margin-top:30px;}
/* Message Detail */
#newinbox_show_message .newinbox_items_container{margin-bottom:10px;}
.newinbox_show_message_body{padding:10px;border-bottom:1px solid #ddd;}
#newinbox_show_message_reply{padding:10px;float:left;width:100%}
#newinbox_show_message_reply a{margin:7px 10px 0px 0px;float:left;}
#newinbox_show_message_reply textarea{width:100%;}
#newinbox_show_message_reply .message_dialog{width:80%;float:left;}
/* Replies */
#newinbox_show_message_replies{float:left;width:95%;border-top:1px solid #ddd;margin-left:5%}
.newinbox_message_container.reply{background-color:#eee;}
/* General */
.newinbox_placeholder{width:20px;float:left;}
.newinbox_title_bar span,.newinbox_items span{color:#878A8C;font-size:0.9em;}

