.newinbox_widget{overflow:hidden;}

/* Title */
.newinbox_title {font-size:1.1em;}
.newinbox_title_bar {border-bottom:1px solid #ddd; padding:20px 0;height:10px;}

/* Inbox items*/
.newinbox_items_container {color:#333;border-bottom:1px solid #ddd;padding:2px 0px;}
.newinbox_items_container.read .s3d-bold {font-weight:normal;}
.newinbox_items_inner {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:5px 15px 0 5px;cursor:pointer;}
.newinbox_items_inner img {float: left;padding: 0 10px 5px 0;width: 30px;}
.newinbox_items_inner.hover {background-color:#C4E4FB;}

.newinbox_name {width:30%; overflow:hidden;display:inline-block;}
.newinbox_subject {width:30%;display:inline-block;vertical-align:top;}
.newinbox_delete_button {padding-right: 5px; float:right}
.newinbox_delete_button span {padding-left:7px !important;}

/* Hover */
#newinbox_hover {-moz-box-shadow:0px 0px 10px 5px black;-webkit-box-shadow:0px 0px 10px 5px black;box-shadow:0px 0px 10px 5px black; position:absolute; height:228px; padding:0px 5px;background-color:white;overflow:hidden;}
#newinbox_hover_header {float:left;width:100%; height:50px;}
#newinbox_hover_content {float:left;width:100%; height:158px;}
#newinbox_hover_footer {float:left;width:100%;height:18px;padding-top:2px;font-size:10px;border-top:1px solid #ccc;background-color:#fff;}
#newinbox_hover_footer a {margin-left:10px;}

/* Message Detail */
#newinbox_show_message .newinbox_items_container {margin-bottom:10px;}
#newinbox_show_message_body {padding:10px;border-bottom:1px solid #ddd;} 

/* General */
.newinbox_right_div {float:right;padding-left:5px;}
.newinbox_right {float:right;}
.newinbox_placeholder {width:20px; float:left;}

.newinbox_title_bar span, .newinbox_items span{ color: #878A8C; font-size:0.9em;}

.newinbox_information {margin-top:15px;}
.newinbox_information_detail {width:70%;}
.newinbox_information_fliter {float:right;}

.newinbox_edit {background:url("/dev/images/dashboard_sprite.png") no-repeat scroll -186px -393px transparent;heght:18px;margin:15px 8px 0 0;position:relative;}

.newinbox_icon {background:url("/dev/images/dashboard_sprite.png") no-repeat scroll -68px -235px transparent; margin-top:10px;float:left;display:none;}

.newinbox_description_detail {color: #666666; font-size:0.9em; display:block; padding-top:2px;}
.newinbox_detail_dark {color:#000000;}
