
/* Settings tabs */
.formdatastring_settings_tabs {margin-left:0px;margin-bottom:10px;}
.formdatastring_settings_tabs li {display:inline;list-style-type:none;}
.formdatastring_settings_tab, .formdatastring_settings_tab_selected {border:1px solid #dfdfdf;padding:10px 20px;}
.formdatastring_settings_tab {background-color:#fbfbfb;    }
.formdatastring_settings_tab_selected {border-bottom-color:#ffffff;font-weight:bold;}
.formdatastring_settings_container {border:1px solid #dfdfdf;margin-top:0px; padding:10px;}
