/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
.featuredcontent_widget .s3d-contentpage-title{background: url("/devwidgets/featuredcontent/images/featuredcontent_header_bg.png") no-repeat scroll center bottom transparent;border-bottom: medium none;height: 25px;}
.featuredcontent_widget #featuredcontent_footer {background: url("/devwidgets/featuredcontent/images/featuredcontent_footer_bg.png") no-repeat scroll center bottom transparent;height:9px;}

/* Content boxes */
.featuredcontent_widget .featuredcontent_content_small_container div:first-child {margin-bottom:10px;}
.featuredcontent_widget .featuredcontent_content {float:left;background:url("/devwidgets/featuredcontent/images/featuredcontent_content_bg.png") repeat-x bottom left #f0f0ee;margin:5px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;padding: 12px;overflow:hidden;}
.featuredcontent_widget .featuredcontent_content_large {height:206px;width:302px;}
.featuredcontent_widget .featuredcontent_content_medium {height:206px;width:134px;}
.featuredcontent_widget .featuredcontent_content_small_container {float:left;}
.featuredcontent_widget .featuredcontent_content_small {float:none;height:86px;width:134px;}
.featuredcontent_widget a.featuredcontent_content_title {margin-bottom:7px;font-size:12px;}
.featuredcontent_widget .featuredcontent_content_large a.featuredcontent_content_title {font-size:15px;display:block;word-wrap:break-word;}
.featuredcontent_widget span.featuredcontent_content_description {color: #424242;font-size: 12px;clear:both;display:block;word-wrap:break-word;margin-bottom:10px;}
.featuredcontent_widget span.featuredcontent_content_tags {font-size:11px !important;clear:both;display:block;margin-top:12px;color:#424242;padding-left:20px;background:url("/dev/images/tag_icon.png") no-repeat scroll left center transparent;}
.featuredcontent_widget .featuredcontent_content_tags a {font-size:11px !important;font-weight:normal !important;}
.featuredcontent_widget .featuredcontent_content_large #featuredcontent_large_preview {height:185px;overflow:hidden;max-width:150px;float:left;}
.featuredcontent_widget .featuredcontent_content_large #featuredcontent_large_preview img {height:185px;}
.featuredcontent_widget img.featuredcontent_thumbnail_image {float:left;height:32px;width:32px;margin:0 8px 12px 0;}
.featuredcontent_widget .featuredcontent_content_right_description {height:186px;width:134px;float:right;margin-bottom:10px;}
.featuredcontent_widget #featuredcontent_show_more_container {width:680px;clear:both;padding: 12px 0; text-align: center;}
.featuredcontent_widget #featuredcontent_show_more_container button {margin-left:auto;margin-right:auto;display:block;}

/* Content box actions */
.featuredcontent_widget .featuredcontent_content:hover .featuredcontent_content_actions {display:block;}
.featuredcontent_widget .featuredcontent_content .featuredcontent_content_actions {clear:both;position:absolute;width:134px;display:none;}
.featuredcontent_widget .featuredcontent_content_large .featuredcontent_content_actions {margin-top:195px;width:302px;}
.featuredcontent_widget .featuredcontent_content_medium .featuredcontent_content_actions {margin-top:195px;}
.featuredcontent_widget .featuredcontent_content_small .featuredcontent_content_actions {margin-top:75px;}
.featuredcontent_widget .featuredcontent_content_actions div {width:16px;height:16px;cursor:pointer;}
.featuredcontent_widget .featuredcontent_content_actions_addtolibrary {background:url("/dev/images/add_to_library_icon.png") no-repeat top left transparent;float:left;}
.featuredcontent_widget .featuredcontent_content_actions_authorinfo {background:url("/devwidgets/featuredcontent/images/featuredcontent_author_icon.png") no-repeat scroll left top transparent;margin-left:auto;margin-right:auto;}
.featuredcontent_widget .featuredcontent_content_actions_share {background:url("/devwidgets/featuredcontent/images/featuredcontent_share_icon.png") no-repeat scroll left top transparent;float:right;}
.featuredcontent_widget .featuredcontent_content_actions_addtolibrary.disabled {display:none;}

/* Contentitems on category page */
.featuredcontent_widget #featuredcontent_category_content_container {clear:both;}
.featuredcontent_widget #featuredcontent_category_content_border {border:solid 1px #e7e7e7;border-top:none;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.featuredcontent_widget #featuredcontent_category_content_footer {height:20px;background-color:#f9f8f8;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.featuredcontent_widget .featuredcontent_category_content_large {margin:0 0 15px 0;width:708px;}
.featuredcontent_widget .featuredcontent_category_content_large .featuredcontent_content_actions {width:690px;}
.featuredcontent_widget .featuredcontent_category_content_large .featuredcontent_content_right_description {width:430px;}
.featuredcontent_widget .featuredcontent_category_content_large #featuredcontent_large_preview {max-width:250px;}
.featuredcontent_widget #featuredcontent_category_content_container .featuredcontent_content_small .featuredcontent_content_actions {margin-top:99px;width:210px;}
.featuredcontent_widget #featuredcontent_category_content_container .featuredcontent_content_small {float:left;}
.featuredcontent_widget #featuredcontent_category_content_container .featuredcontent_content_small {width:200px;height:108px;background:none;border:#fff solid 1px;}
.featuredcontent_widget #featuredcontent_category_content_container .featuredcontent_content_small:hover {background:url("/devwidgets/featuredcontent/images/featuredcontent_content_hover_bg.png") repeat-x scroll left top #eef8fc;border:#dbdbdb solid 1px;cursor:pointer;margin-right:5px}
.featuredcontent_widget #featuredcontent_category_content_container .s3d-contentpage-title {border-bottom:medium none;height:34px;line-height:34px;padding:0 12px;margin:0;background:#F9F8F8;font-size:12px;}
.featuredcontent_widget #featuredcontent_category_content_container img.featuredcontent_thumbnail_image {height:50px;width:50px;}
.featuredcontent_widget span.featuredcontent_content_category_description {font-size:11px;color:#424242;display:block;clear:both;}
.featuredcontent_widget span.featuredcontent_content_category_description .featuredcontent_content_icon {display:inline-block;height:10px;width:15px;margin-right:5px;}
.featuredcontent_widget span.featuredcontent_content_category_description .featuredcontent_content_usedin_icon{background:url("/devwidgets/entity/images/entity_used_by_icon.png") no-repeat scroll left top transparent;}
.featuredcontent_widget span.featuredcontent_content_category_description .featuredcontent_content_comments_icon{background:url("/devwidgets/recentactivity/images/recentactivity_comment_icon.png") no-repeat scroll left top transparent;}
.featuredcontent_widget .featuredcontent_no_content {margin:10px;display:block;}
