/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.nextleveldown_content {border-left: 1px solid #CCCCCC !important;border-right: 1px solid #CCCCCC !important; border: 1px solid #CCCCCC !important; -moz-border-radius: 4px;}
.nextleveldown_child_container {width:209px; float:left;  margin: 10px 0;}
.nextleveldown_child_header {clear:both; overflow: hidden; margin-bottom: 7px;}
.nextleveldown_child_image {float:left;}
.nextleveldown_child_title{float: left; margin: 10px 0 0 9px;}
.nextleveldown_subchild_title {clear:both; margin-left: 40px; display:block; padding-bottom: 3px;}
.nextleveldown_subchild_title > a {font-weight:normal;}
