/* Main Container */
.video_right_aligned_btn{
	float:right;
}

/*Settings*/
h3{
	font-weight:normal;
}
#video_settings{
	padding:10px;
}
#video_settings input[type=text]{
	margin: 5px 0;
	width: 100%;
	border-style:solid;
	border-width:1px;
	height:25px;
	border-color:#DEDEDE;
	background-color:#F2F2F2;
}
#video_settings input[type=radio]{
	vertical-align:middle;
	margin-left:20px;
	height:35px;
	padding-top:5px;
	padding-bottom:5px;
}
#video_settings input[type=checkbox]{
	vertical-align:middle;
	height:35px;
	padding-top:5px;
	padding-bottom:5px;
}
.video_source_rbtLabel{
	vertical-align:middle;
	margin-left:10px;
	height:25px;
	
}
.video_settingsStep{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#DEDEDE;
	padding-bottom:10px;
}
#video_ShowPreview{
	margin-left:auto;
	margin-right:auto;
}



