/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Main */
.myprofile_widget .fl-widget-content {padding: 10px 20px;}
.myprofile_widget .profile .myprofile_picture {width:48px;height:48px;float:left;margin-right:10px;}
.myprofile_widget .profile .myprofile_status_led {background-image:url("/dev/images/dot_green.png");float:left;position:relative;bottom:2px;margin:0;}
.myprofile_widget .profile .myprofile_name {font-weight:700;font-size:1.1em;color:#39C;display:block;margin-left:56px;}
.myprofile_widget .profile .myprofile_dept {color:#999;display:block;margin-left:80px;font-size:.95em;position:relative;}
.myprofile_widget .profile p {padding-top:10px;color:#999;float:left;}
.myprofile_widget .profile p .myprofile_chat_status {color:#666;display:inline;}
.myprofile_widget .profile .myprofile_chat_status_dropdown {background:url("/dev/_images/dashboard_sprite.png") no-repeat scroll -128px -400px transparent;height:10px;left:3px;position:relative;top:16px;width:10px;}

/* Profile status */
#myprofile_status {font-size:.95em!important;left:110px;list-style-image:none;position:absolute;top:29px;z-index:10;margin:0;}
#myprofile_status li {list-style-type:none;padding:0;}
#myprofile_status ul {background-color:#fff;border:1px solid #CCC;margin:0;padding:5px 15px 5px 7px;}
#myprofile_chat_status {float:left; padding-left:17px;}

/* Widget icon */
.myprofile.fl-widget .fl-widget-titlebar .widget_title {background:transparent url(/devwidgets/myprofile/images/myprofile_icon.png) no-repeat scroll 17px 18px;}
