/* Basic info */
.dialog #groupbasicinfo_generalinfo {
    color: #222;
}
.dialog #groupbasicinfo_generalinfo input[type="text"], .dialog #groupbasicinfo_generalinfo input[type="password"], .dialog textarea {
    border: 1px solid #999;
    padding: 3px;
    width:98%;
}
.dialog #groupbasicinfo_generalinfo input[type="text"]:hover, .dialog #groupbasicinfo_generalinfo input[type="password"]:hover, .dialog textarea:hover {
    background: #d3edf5;
}
.dialog #profilewow_heading a, .dialog #profilewow_userinfo a, .dialog #profilewow_generalinfo a {
    color: #3399CC;
    font-weight: bold;
}

.dialog #groupbasicinfo_generalinfo .groupbasicinfo_generalinfo_header_first {
    padding-top: 0;
}
.dialog #groupbasicinfo_generalinfo h2 {
    border-bottom:1px solid #EBEBEB;
    color:#5A6A7C;
    font-size:16px;
    font-weight:normal;
    margin:20px 0;
    padding:0 0 5px 5px;
}
.dialog #groupbasicinfo_generalinfo .groupbasicinfo_generalinfo_content {
    font-weight: bold;
    margin-bottom: 5px;
}
.dialog #groupbasicinfo_generalinfo div.groupbasicinfo_generalinfo_content {
    float:left;
    padding:3px 0;
}
.dialog #groupbasicinfo_generalinfo .groupbasicinfo_generalinfo_subcontainer {
    clear: both;
    margin: 4px 0;
    overflow: auto;
    padding: 1px 0;
}
.dialog #groupbasicinfo_generalinfo .groupbasicinfo_generalinfo_label, .dialog .groupbasicinfo_generalinfo label {
    color: #666;
    clear:both;
    display:block;
    float: left;
    margin-right: 5px;
    padding: 3px 0;
    text-align: left;
    width: 100%;
}
.dialog .groupbasicinfo_generalinfo_subcontainer p {
    color: #999999;
    font-size: 0.9em;
    margin: 0 0 15px;
    width: 400px;
}

.dialog .groupbasicinfo_info {clear:both; color:#aaa; font-size:.9em; margin:-3px 0 5px 0;}
.dialog .groupbasicinfo_hierarchy_select {float:left; width:160px; margin-bottom:5px; font-weight:bold;}

.dialog .groupbasicinfo_saveddirectory {margin:0}
.dialog .groupbasicinfo_saveddirectory li {list-style:none; font-weight:bold;}
.dialog .groupbasicinfo_saveddirectory_information {float:left; padding-bottom:10px; clear:both;}

.dialog #groupbasicinfo_add_another_location a {color:#006E96; font-size:13px; font-weight:bold; background: url("/dev/images/add_blue_icon.png") left no-repeat; padding-left:25px; height:16px; display:block; margin-right:15px;}
.dialog #groupbasicinfo_add_another_location {clear:both; display:block; padding:7px 0; width:200px;}
.dialog .groupbasicinfo_remove_location, .dialog .groupbasicinfo_remove_new_location {float:right; color:#006E96; font-size:13px; font-weight:bold; margin-right:10px; height:16px;}

.dialog .groupbasicinfo_added_directory {clear:both; padding-top:3px;}
.dialog #groupbasicinfo_content_directory_contents {overflow:hidden;}

.dialog .groupbasicinfo_select_seperator {float:left; padding:0 5px;}
.dialog .groupbasicinfo_selected_and_saved_seperator {padding:0 5px;}