/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

 /* Form */
.content_profile_basic_info_form_section_header{border-bottom:1px solid #EBEBEB;color:#5A6A7C;font-size:16px;font-weight:normal;margin:20px 0;padding:0 0 5px 5px;}
.content_profile_basic_info_form_row{margin-bottom:10px;overflow:hidden;}
#content_profile_basic_info_form label{clear:both;color: #666;display:block;float:left;width:240px;padding: 3px 0;margin-right: 5px;text-align: right;}
#content_profile_basic_info_form input,#content_profile_basic_info_form textarea {border:1px solid #dddddd;display:inline;float:left;width:320px;margin:1px;padding:3px;}
.content_profile_basic_info_form_info{clear:both;color:#aaa;font-size:.9em;margin:5px 0 0 245px;}
.content_profile_basic_info_form_buttons{clear:both; float:right;}
.content_profile_basic_info_form_anon_label {clear:none !important; color:#000 !important; font-weight:bold !important; width:300px !important; text-align: left !important;}
.content_profile_basic_info_hierarchy_select {float:left; width:160px; margin-bottom:5px;}
.content_profile_directory_row {float:left;}
.content_profile_basic_info_saveddirectory {margin:0; overflow:hidden;}
.content_profile_basic_info_saveddirectory li {padding-bottom:10px; list-style:none; font-weight:bold;}
#content_profile_basic_info_tags_viewlist {overflow:hidden; margin:0}
#content_profile_basic_info_form input,#content_profile_basic_info_form textarea, #content_profile_basic_info_form select {font-weight:bold;}

#content_profile_basic_info_add_another_location a {color:#006E96; font-size:13px; font-weight:bold; background: url("/dev/_images/add_blue_icon.png") left no-repeat; padding-left:25px; height:16px; display:block; margin-right:15px;}
#content_profile_basic_info_add_another_location {clear:both; padding-top:7px;}
.content_profile_basic_info_remove_location, .content_profile_basic_info_remove_new_location {float:right; color:#006E96; font-size:13px; font-weight:bold; margin-right:10px; height:16px;}

.content_profile_basic_info_added_directory {clear:both; padding-top:3px;}
#content_profile_basic_info_content_directory_contents {overflow:auto;}
.content_profile_basic_info_select_seperator {float:left; padding:0 10px;}
.content_profile_basic_info_selected_and_saved_seperator {padding:0 3px;}