.listgeneral_container
{ width: 600px; margin-left: 300px; }




/* General results */
.listgeneral_result_container
{ padding: 10px; margin: 0; }

.listgeneral_result
{ display: block; list-style: none; clear: both; margin: 10px 0 10px 0; overflow: hidden; }


/* Sites results */
.listgeneral_result_container .listgeneral_result .listgeneral_avatarcontainer
{ display: block; height: 64px; float: left; margin-right: 15px; }

.listgeneral_result_container .listgeneral_result .listgeneral_avatar
{ height: 64px; }

.listgeneral_result_container .listgeneral_result .listgeneral_name
{ display: inline-block; font-size: 18px; padding: 5px 0;  }

.listgeneral_result_container .listgeneral_result .listgeneral_description
{ display: block; font-size: 12px; margin: 0; padding: 0; }

