@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('../fonts/futurastdmedium/futurastdmedium.eot');
  src: url('../fonts/futurastdmedium/futurastdmedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futurastdmedium/futurastdmedium.woff') format('woff'),
  url('../fonts/futurastdmedium/futurastdmedium.ttf') format('truetype'),
  url('../fonts/futurastdmedium/futurastdmedium.svg#futurastdmedium') format('svg');
  src: local('FuturaStd-Medium'), url('../fonts/futurastdmedium/futurastdmedium.ttf');
  font-weight: normal;
  font-style: normal;
}