.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(../images/spritesheet.png);
}

.img_arrow_down {width:8px; height:7px; background-position: -116px -130px}
.img_arrow_up {width:8px; height:7px; background-position: -106px -130px}
.img_clear {width:13px; height:12px; background-position: -106px -104px}
.img_download {width:16px; height:16px; background-position: -104px -2px}
.img_icon_content {width:28px; height:33px; background-position: -75px -138px}
.img_icon_groups {width:31px; height:33px; background-position: -2px -135px}
.img_icon_login {width:14px; height:14px; background-position: -104px -68px}
.img_icon_menu {width:12px; height:10px; background-position: -106px -118px}
.img_icon_password {width:14px; height:14px; background-position: -104px -52px}
.img_icon_settings {width:33px; height:33px; background-position: -40px -104px}
.img_icon_tenants {width:36px; height:29px; background-position: -2px -104px}
.img_icon_users {width:29px; height:32px; background-position: -75px -104px}
.img_key {width:14px; height:8px; background-position: -104px -94px}
.img_login_help_arrow {width:7px; height:8px; background-position: -105px -139px}
.img_pattern {width:100px; height:100px; background-position: -2px -2px}
.img_search {width:15px; height:12px; background-position: -104px -38px}
.img_triangle_bottom {width:14px; height:8px; background-position: -104px -84px}
.img_upload {width:15px; height:16px; background-position: -104px -20px}