/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
#activegroups_main{margin:0 10px 0 15px;overflow:hidden;}
#activegroups_main ul li{list-style-type:none;}
#activegroups_main ul {margin:0;}
.activegroups_title{padding-left:15px!important;}
.activegroups_widget{overflow:hidden;}
.activegroups_ellipsis_text, .activegroups_ellipsis_container {word-wrap:break-word;}
.activegroups_main_progress{background:url(/dev/images/ajax_load.gif) no-repeat scroll 0 0 transparent;clear:both;height:10px;width:40px;left:30px;position:relative; margin-bottom:5px;}
.s3d-widget-footer a {text-align:right;}

/* Widget icon */
.activegroups.fl-widget .fl-widget-titlebar .widget_title_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -678px -21px transparent;height:22px;width:20px;}