#activegroups_main {margin:0px 10px 0px 15px; overflow: hidden;}
#activegroups_main ul li {list-style-type: none;}
.activegroups_title {padding-left: 15px !important;}
.activegroups_widget {overflow: hidden;}

/* Widget icon */
.activegroups.fl-widget .fl-widget-titlebar .widget_title {background: url('/devwidgets/activegroups/images/icon.png') 14px 15px no-repeat;}
