/* Content container */
.content ul {
    padding-bottom: 5px !important;
}

/* Context Menu - site widget (settings / align / remove) */
.context_menu {
    left: 18px;
    padding:0;
    position:absolute;
    top: 124px;
}

.context_menu img {
    border: 1px solid #555;
    border-bottom: none;
}

.context_menu ul {
    margin:0;
    background-color:#eee;
    border: 1px solid #555;
}

.context_menu ul li {
    list-style-type:none;
}

.context_menu ul li a {
    color:#666;
    font-size:0.95em;
    display: block;
    padding: 2px 20px 2px 4px;
}