<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>The Component Model</title>
</head>
<body>
The Component Model represented as Pojo's with XStream annotations. The
base component is the Component class, this contains some single valued
properties, and some list properties. The Component has a list of
component and classpath dependencies. The ComponentDependencies specify
the Components by name that a Component Depends upon. The Classpath
Dependencies specify jars that the Component needs to operate. These
jars fall into to Scopes. Local and Shared. Local are added to the
Component Classloader and shared are added to the Shared classloader.
The Component may also export packages from within the component to
enable other components or webapps to communicate with it, using a list
of package exports.
</body>
</html>