/* line 2, ../sass/mobile.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/mobile.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/mobile.scss */
#viewport {
  position: absolute;
  overflow: hidden;
}

/* line 17, ../sass/mobile.scss */
.view {
  position: absolute;
  overflow: auto;
}

/* line 22, ../sass/mobile.scss */
.stretch {
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* line 30, ../sass/mobile.scss */
.scroll {
  overflow: scroll;
}

/* line 34, ../sass/mobile.scss */
#menu {
  text-align: center;
}

/* Login */
/* line 39, ../sass/mobile.scss */
#login-view {
  background-color: #EEEEEE;
}

/* Home */
/* line 44, ../sass/mobile.scss */
#home-view {
  background-color: #EEEEEE;
}

/* Detail */
/* line 49, ../sass/mobile.scss */
#detail-view {
  background-color: #EEEEEE;
}

/* Classes */
/* line 54, ../sass/mobile.scss */
.clear {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
}
