/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.recentactivity_widget {border:solid 1px #e7e7e7;border-top:none;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.recentactivity_widget #recentactivity_footer {height:14px;background-color:#f9f8f8;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}

.recentactivity_widget .s3d-contentpage-title {border-bottom:none;background-color:#f9f8f8;height:34px;line-height:34px;padding:0 12px;}

/* Activity Items */
.recentactivity_widget .recentactivity_activity_item_container{width:215px;height:100px;}
.recentactivity_widget .recentactivity_activity_item_content {clear:both;display:block;margin:12px;}
.recentactivity_widget .recentactivity_activity_item_content .recentactivity_activity_item_image {height:32px;margin:7px 7px 11px 7px;width:32px;float:left;}
.recentactivity_widget .recentactivity_activity_item_content a {display:block;font-size:12px;padding-top:5px;}
.recentactivity_widget .recentactivity_activity_item_description {color:#424242;display:block;font-size:11px;overflow:auto;}

/* Icons for types of activities */
.recentactivity_widget .recentactivity_activity_icon {width:16px;height:16px;float:right;}
.recentactivity_widget .recentactivity_activity_upload {background:url("/devwidgets/recentactivity/images/recentactivity_upload_icon.png") no-repeat top left transparent;}
.recentactivity_widget .recentactivity_activity_comment {background:url("/devwidgets/recentactivity/images/recentactivity_comment_icon.png") no-repeat top left transparent;}
.recentactivity_widget .recentactivity_activity_new {background:url("/devwidgets/recentactivity/images/recentactivity_refresh_icon.png") no-repeat top left transparent;}