/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#changepic_container {width:700px!important;margin-left:-350px!important;}
#changepic_container .fl-tabs {border-bottom: 1px solid #ddd; padding-bottom: 3px}
#changepic_container .fl-tabs li a {bottom:3px!important;#bottom:5px!important;/* override for Microsoft Internet Explorer browsers*/ background-color:#EEE;color:#000!important;margin-left:-1px;position:relative;border-color:#EEE #EEE #DDD;border-style:solid;border-width:1px;padding:6px 20px;}
#changepic_container .fl-tabs .fl-tabs-active a {background-color:#FFF!important;color:#000!important;font-weight:400!important;border-color:#DDD #DDD #EEE;border-style:solid;border-width:1px;}
#changepic_form {padding-top:10px;}
#changepic_fullpicture {float:left;margin-right:10px;}
#changepic_selectpicture {padding-top:10px;padding-left:10px;}
#changepic_uploadnew {padding-top:10px;padding-left:10px;}
#picture_measurer {left:-100000px; top: -100000px; position:absolute; }
#thumbnail {position:relative;}
#thumbnail_container {float:left;position:relative;overflow:hidden;width:100px;height:100px;}

.dailog_changepic h4 {margin-bottom:10px;}