
p.help-text {
  width: 58%;
  text-align: justify;
}

a.download-link {
  background-image: url('../images/mozilla.png');
  background-repeat: no-repeat;
  height: 124px;
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #00aa00;
}

span.download-link {
  position: absolute;
  font-size: 1.5em;
  left: 128px;
  top: 57px;
}

div.mozilla {
  width: 38%;
  float: right;
  text-align: justify;
}

div.help-tt {
  position: absolute;
  cursor: pointer;
  border: 3px solid red;
}

span.links{
  float: right;
}

a.link {
  font-size: 0.8em;
}

a.questions {
  cursor: pointer;
}

div.questions {
  display: none;
  overflow: hidden;
}

table.era {
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
}

td.era {
  text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid #3f3f9f;
  border-left: 1px solid #3f3f9f;
}

td.phanerozoic {
  border-top: 1px solid #3f3f9f;
  border-right: 1px solid #3f3f9f;
  background-color: #dff2f5;
}
td.phanerozoic:hover {
  background-color: #86e6f5;
}

td.cenozoic {
  background-color: #ffffbf;
  border-right: 1px solid #3f3f91;
}
td.cenozoic:hover {
  background-color: #ffff68;
}

td.mesozoic {
  background-color: #bfdfbf;
}
td.mesozoic:hover {
  background-color: #72df72;
}

td.paleozoic {
  background-color: #bfbfff;
}
td.paleozoic:hover {
  background-color: #7272ff;
}

td.neogene {
  font-size: 0.9em;
  border-right: 1px solid #3f3f9f;
  background-color: #ffd3c2;
}
td.neogene:hover {
  background-color: #ff9d77;
}

td.paleogene {
  background-color: #fee9d5;
}
td.paleogene:hover {
  background-color: #fec48d;
}

td.cretaceous {
  background-color: #bfffbf;
}
td.cretaceous:hover {
  background-color: #6dff6d;
}

td.jurassic {
  background-color: #e2f2e6;
}
td.jurassic:hover {
  background-color: #68f28a;
}

td.triassic {
  background-color: #cedbce;
}
td.triassic:hover {
  background-color: #8adb8a;
}

td.permian {
  background-color: #bfbfed;
}
td.permian:hover {
  background-color: #8080ed;
}

td.carboniferous {
  background-color: #caedfe;
}
td.carboniferous:hover {
  background-color: #7dd4fe;
}

td.devonian {
  background-color: #dbebf8;
}
td.devonian:hover {
  background-color: #93cbf8;
}

td.silurian {
  background-color: #e8e2f1;
}
td.silurian:hover {
  background-color: #c3a5f1;
}

td.ordovician {
  background-color: #fad5fe;
}
td.ordovician:hover {
  background-color: #f49afe;
}

td.cambrian {
  background-color: #dccdf5;
}
td.cambrian:hover {
  background-color: #bf9ff5;
}
