#at16lb {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: #000;
    opacity: .001;
}

#at20mc, #at_email, #at16pib, #at16pc, #at16pi, #at_share, #at_complete, #at_success, #at_error {
    position: static !important;
}

#at20mc {
    position: absolute;
    left: 0;
    top: 0;
}

#at20mc a {
    color: #36B;
}

#at20mc div {
    float: none;
}

.at15dn {
    display: none;
}

.at15a {
    border: 0;
    height: 0;
    width: 230px;
    margin: 0;
    padding: 0;
}

.atnt {
    text-align: center !important;
    height: 24px !important;
    padding: 6px 0 0 !important;
}

#at_msg, #at16p label, #at16nms, #at16sas, #at_share .at_item, #at16p, #at15s, #at16p form input, #at16p form textarea {
    font-family: arial, helvetica, tahoma, verdana, sans-serif !important;
    font-size: 12px !important;
    outline-style: none;
    outline-width: 0;
    line-height: 1em;
}
* html #at15s.mmborder {
    position: absolute !important;
}

#at15s.mmborder {
    position: fixed !important;
    width: 240px !important;
}

#at20mc div.at15sie6 {
    color: #4c4c4c !important;
    width: 240px !important;
}

#at15s {
    background: url(//s7.addthis.com/static/t00/atbkg.png);
    float: none !important;
    line-height: 1em !important;
    overflow: visible !important;
    text-align: left !important;
    position: absolute !important;
    margin: 0 !important;
    padding: 5px !important;
}

html > body #at15s {
    width: 230px !important;
}

#at15s.atiemode2 {
    width: 232px !important;
}

#at15s_inner {
    background: #fff;
    border: 1px solid #fff;
    margin: 0;
}

#at15s_head {
    position: relative;
    background: #f2f2f2;
    cursor: default;
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
}

.at15s_head_success {
    background: #cafd99 !important;
    border-bottom: 1px solid #a9d582 !important;
}

.at15s_head_success * {
    color: #000 !important;
    text-decoration: none;
}

#at15s_brand {
    top: 4px;
    right: 4px;
}

.at15s_brandx {
    right: 20px !important;
}

a#at15sptx {
    top: 4px;
    right: 4px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: 700;
}

.at15sie6 a#at15sptx, #at15s.atiemode2 a#at15sptx {
    right: 8px;
}

#at16_brand {
    top: 5px;
    right: 30px;
    cursor: default;
}

#at_hover {
    padding: 4px;
}

#at_hover .at_item, #at_share .at_item {
    background: #fff !important;
    float: left !important;
    color: #4c4c4c !important;
}

#at16nms, #at16sas {
    padding: 4px 5px;
}

#at16sas {
    clear: left;
    padding-top: 16px;
    padding-bottom: 16px;
}

#at_hover .at_item {
    width: 102px !important;
    margin: 1px;
    padding: 2px 3px !important;
}

#at_hover .at_item.atiemode2 {
    width: 104px !important;
}

#at_hover .at_item:hover, #at_hover .at_item.athov {
    margin: 0 !important;
}

#at_hover .at_item:hover, #at_hover .at_item.athov, #at_share .at_item:hover, #at_share .at_item.athov {
    background: #f2f2f2 !important;
    border: 1px solid #e5e5e5;
    color: #000 !important;
}
* html #at_hover .at_item {
    border: 1px solid #fff;
}
* html #at_hover .at_item.athov {
    border: 1px solid #e5e5e5 !important;
    margin: 1px !important;
}

#at_email15 {
    padding-top: 5px;
}

.at15e_row {
    height: 28px;
}

.at15e_row label, .at15e_row span {
    padding-left: 10px !important;
    display: block !important;
    width: 60px !important;
    float: left !important;
}

.at15e_row input, .at15e_row textarea {
    display: block !important;
    width: 150px !important;
    float: left !important;
    background: #fff !important;
    border: 1px solid #ccc !important;
    color: #333 !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding: 0 !important;
}

#at_email #at16meo {
    margin: 15px 0 0 2px;
}

#at_email #at16meo span {
    float: left;
    margin-right: 5px;
    padding-top: 4px;
}

#at_email #at16meo a {
    float: left;
    margin: 0;
}

.at15t {
    display: block !important;
    height: 16px !important;
    line-height: 16px !important;
    padding-left: 20px !important;
    background: url(//s7.addthis.com/static/r07/widget18.png) no-repeat left;
    background-position: 0 0;
    cursor: pointer;
}

.addthis_toolbox.addthis_default_style span {
    line-height: 16px;
}

.addthis_default_style .addthis_separator {
    display: inline;
    margin: 0 5px;
}

div.atclear {
    clear: both;
}

.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300m, .addthis_default_style .at300bs {
    float: left;
}

.at300b img {
    border: 0;
}

.addthis_default_style .at300b, .addthis_default_style .at300m {
    padding: 0 2px;
}

.at300bs {
    background: url(//s7.addthis.com/static/r07/widget18.png) no-repeat left;
    overflow: hidden;
    display: block;
    background-position: 0 0;
    height: 16px;
    width: 16px;
    line-height: 16px !important;
}

.at300bs.at15t_expanded, .at300bs.at15t_compact {
    background: url(//s7.addthis.com/static/t00/logo1414.gif) no-repeat left;
    margin-right: 4px;
}

.at15t_000 {
    background-position: 0 0;
}

.at15t_tweetmeme {
    background-position: 0 -16px;
}

.at15t_yahoomail {
    background-position: 0 -32px;
}

.at15t_slashdot {
    background-position: 0 -48px;
}

.at15t_oknotizie {
    background-position: 0 -64px;
}

.at15t_diigo {
    background-position: 0 -80px;
}

.at15t_print {
    background-position: 0 -96px;
}

.at15t_email {
    background-position: 0 -112px;
}

.at15t_hatena {
    background-position: 0 -128px;
}

.at15t_delicious {
    background-position: 0 -144px;
}

.at15t_memori {
    background-position: 0 -160px;
}

.at15t_segnalo {
    background-position: 0 -176px;
}

.at15t_n4g {
    background-position: 0 -192px;
}

.at15t_friendster {
    background-position: 0 -208px;
}

.at15t_ekudos {
    background-position: 0 -224px;
}

.at15t_more {
    background-position: 0 -240px;
}

.at15t_kaboodle {
    background-position: 0 -256px;
}

.at15t_kudos {
    background-position: 0 -272px;
}

.at15t_ihavegot {
    background-position: 0 -288px;
}

.at15t_linkuj {
    background-position: 0 -304px;
}

.at15t_100zakladok {
    background-position: 0 -320px;
}

.at15t_w3validator {
    background-position: 0 -336px;
}

.at15t_bonzobox {
    background-position: 0 -352px;
}

.at15t_buzz {
    background-position: 0 -368px;
}

.at15t_buzz_fr {
    background-position: 0 -384px;
}

.at15t_gamekicker {
    background-position: 0 -400px;
}

.at15t_ezyspot {
    background-position: 0 -416px;
}

.at15t_webs {
    background-position: 0 -432px;
}

.at15t_mawindo {
    background-position: 0 -448px;
}

.at15t_tellmypolitician {
    background-position: 0 -464px;
}

.at15t_scoopat {
    background-position: 0 -480px;
}

.at15t_designbump {
    background-position: 0 -496px;
}

.at15t_favoritus {
    background-position: 0 -512px;
}

.at15t_eucliquei {
    background-position: 0 -528px;
}

.at15t_hazarkor {
    background-position: 0 -544px;
}

.at15t_amenme {
    background-position: 0 -560px;
}

.at15t_box {
    background-position: 0 -576px;
}

.at15t_doower {
    background-position: 0 -592px;
}

.at15t_linkninja {
    background-position: 0 -608px;
}

.at15t_surfpeoplenet {
    background-position: 0 -624px;
}

.at15t_wovre {
    background-position: 0 -640px;
}

.at15t_givealink {
    background-position: 0 -656px;
}

.at15t_tumblr {
    background-position: 0 -672px;
}

.at15t_aim {
    background-position: 0 -688px;
}

.at15t_elertgadget {
    background-position: 0 -704px;
}

.at15t_tagvn {
    background-position: 0 -720px;
}

.at15t_cndig {
    background-position: 0 -736px;
}

.at15t_embarkons {
    background-position: 0 -752px;
}

.at15t_adifni {
    background-position: 0 -768px;
}

.at15t_blurpalicious {
    background-position: 0 -784px;
}

.at15t_diglog {
    background-position: 0 -800px;
}

.at15t_hyves {
    background-position: 0 -816px;
}

.at15t_yoolink {
    background-position: 0 -832px;
}

.at15t_bizsugar {
    background-position: 0 -848px;
}

.at15t_polladium {
    background-position: 0 -864px;
}

.at15t_instapaper {
    background-position: 0 -880px;
}

.at15t_gacetilla {
    background-position: 0 -896px;
}

.at15t_yorumcuyum {
    background-position: 0 -912px;
}

.at15t_yahoobkm {
    background-position: 0 -928px;
}

.at15t_pusha {
    background-position: 0 -944px;
}

.at15t_wordpress {
    background-position: 0 -960px;
}

.at15t_hi5 {
    background-position: 0 -976px;
}

.at15t_amazonwishlist {
    background-position: 0 -992px;
}

.at15t_fwisp {
    background-position: 0 -1008px;
}

.at15t_mynasa {
    background-position: 0 -1024px;
}

.at15t_technorati {
    background-position: 0 -1040px;
}

.at15t_laaikit {
    background-position: 0 -1056px;
}

.at15t_fnews {
    background-position: 0 -1072px;
}

.at15t_designmoo {
    background-position: 0 -1088px;
}

.at15t_folkd {
    background-position: 0 -1104px;
}

.at15t_bloggy {
    background-position: 0 -1120px;
}

.at15t_misterwong_de {
    background-position: 0 -1136px;
}

.at15t_virb {
    background-position: 0 -1152px;
}

.at15t_bryderi {
    background-position: 0 -1168px;
}

.at15t_springpad {
    background-position: 0 -1184px;
}

.at15t_isociety {
    background-position: 0 -1200px;
}

.at15t_bookmarkycz {
    background-position: 0 -1216px;
}

.at15t_spruzer {
    background-position: 0 -1232px;
}

.at15t_tulinq {
    background-position: 0 -1248px;
}

.at15t_jamespot {
    background-position: 0 -1264px;
}

.at15t_dipdive {
    background-position: 0 -1280px;
}

.at15t_domaintoolswhois {
    background-position: 0 -1296px;
}

.at15t_elefantapl {
    background-position: 0 -1312px;
}

.at15t_cosmiq {
    background-position: 0 -1328px;
}

.at15t_google {
    background-position: 0 -1344px;
}

.at15t_googletranslate {
    background-position: 0 -1360px;
}

.at15t_igoogle {
    background-position: 0 -1376px;
}

.at15t_pimpthisblog {
    background-position: 0 -1392px;
}

.at15t_youmob {
    background-position: 0 -1408px;
}

.at15t_strands {
    background-position: 0 -1424px;
}

.at15t_simpy {
    background-position: 0 -1440px;
}

.at15t_meneame {
    background-position: 0 -1456px;
}

.at15t_yammer {
    background-position: 0 -1472px;
}

.at15t_bobrdobr {
    background-position: 0 -1488px;
}

.at15t_hotklix {
    background-position: 0 -1504px;
}

.at15t_googlebuzz {
    background-position: 0 -1520px;
}

.at15t_smaknews {
    background-position: 0 -1536px;
}

.at15t_greaterdebater {
    background-position: 0 -1552px;
}

.at15t_oyyla {
    background-position: 0 -1568px;
}

.at15t_pingfm {
    background-position: 0 -1584px;
}

.at15t_googlereader {
    background-position: 0 -1600px;
}

.at15t_globalgrind {
    background-position: 0 -1616px;
}

.at15t_bitly {
    background-position: 0 -1632px;
}

.at15t_dotnetshoutout {
    background-position: 0 -1648px;
}

.at15t_zooloo {
    background-position: 0 -1664px;
}

.at15t_baang {
    background-position: 0 -1680px;
}

.at15t_meinvz {
    background-position: 0 -1696px;
}

.at15t_diggita {
    background-position: 0 -1712px;
}

.at15t_ask {
    background-position: 0 -1728px;
}

.at15t_transferr {
    background-position: 0 -1744px;
}

.at15t_moemesto {
    background-position: 0 -1760px;
}

.at15t_tipd {
    background-position: 0 -1776px;
}

.at15t_camyoo {
    background-position: 0 -1792px;
}

.at15t_linkshares {
    background-position: 0 -1808px;
}

.at15t_clickazoo {
    background-position: 0 -1824px;
}

.at15t_gamesnetworks {
    background-position: 0 -1840px;
}

.at15t_fooxweb {
    background-position: 0 -1856px;
}

.at15t_mssocialbookmarks {
    background-position: 0 -1872px;
}

.at15t_fresqui {
    background-position: 0 -1888px;
}

.at15t_mindbodygreen {
    background-position: 0 -1904px;
}

.at15t_librerio {
    background-position: 0 -1920px;
}

.at15t_yigg {
    background-position: 0 -1936px;
}

.at15t_hedgehogs {
    background-position: 0 -1952px;
}

.at15t_bleetbox {
    background-position: 0 -1968px;
}

.at15t_aolmail {
    background-position: 0 -1984px;
}

.at15t_tusul {
    background-position: 0 -2000px;
}

.at15t_gluvsnap {
    background-position: 0 -2016px;
}

.at15t_hackernews {
    background-position: 0 -2032px;
}

.at15t_farkinda {
    background-position: 0 -2048px;
}

.at15t_mob {
    background-position: 0 -2064px;
}

.at15t_connotea {
    background-position: 0 -2080px;
}

.at15t_newsvine {
    background-position: 0 -2096px;
}

.at15t_livefavoris {
    background-position: 0 -2112px;
}

.at15t_webnews {
    background-position: 0 -2128px;
}

.at15t_citeulike {
    background-position: 0 -2144px;
}

.at15t_identica {
    background-position: 0 -2160px;
}

.at15t_bebo {
    background-position: 0 -2176px;
}

.at15t_sekoman {
    background-position: 0 -2192px;
}

.at15t_linkedin {
    background-position: 0 -2208px;
}

.at15t_symbaloo {
    background-position: 0 -2224px;
}

.at15t_faves {
    background-position: 0 -2240px;
}

.at15t_funp {
    background-position: 0 -2256px;
}

.at15t_smiru {
    background-position: 0 -2272px;
}

.at15t_plaxo {
    background-position: 0 -2288px;
}

.at15t_phonefavs {
    background-position: 0 -2304px;
}

.at15t_blogger {
    background-position: 0 -2320px;
}

.at15t_nujij {
    background-position: 0 -2336px;
}

.at15t_yazzem {
    background-position: 0 -2352px;
}

.at15t_iwiw {
    background-position: 0 -2368px;
}

.at15t_sphinn {
    background-position: 0 -2384px;
}

.at15t_friendfeed {
    background-position: 0 -2400px;
}

.at15t_socialbookmarkingnet {
    background-position: 0 -2416px;
}

.at15t_lynki {
    background-position: 0 -2432px;
}

.at15t_stumpedia {
    background-position: 0 -2448px;
}

.at15t_visitezmonsite {
    background-position: 0 -2464px;
}

.at15t_cirip {
    background-position: 0 -2480px;
}

.at15t_favable {
    background-position: 0 -2496px;
}

.at15t_flosspro {
    background-position: 0 -2512px;
}

.at15t_hotmail {
    background-position: 0 -2528px;
}

.at15t_hotweblt {
    background-position: 0 -2544px;
}

.at15t_myyearbook {
    background-position: 0 -2560px;
}

.at15t_live {
    background-position: 0 -2576px;
}

.at15t_thisnext {
    background-position: 0 -2592px;
}

.at15t_mailto {
    background-position: 0 -2608px;
}

.at15t_hadashhot {
    background-position: 0 -2624px;
}

.at15t_ladenzeile {
    background-position: 0 -2640px;
}

.at15t_shetoldme {
    background-position: 0 -2656px;
}

.at15t_investorlinks {
    background-position: 0 -2672px;
}

.at15t_posterous {
    background-position: 0 -2688px;
}

.at15t_blip {
    background-position: 0 -2704px;
}

.at15t_backflip {
    background-position: 0 -2720px;
}

.at15t_jisko {
    background-position: 0 -2736px;
}

.at15t_dropjack {
    background-position: 0 -2752px;
}

.at15t_arto {
    background-position: 0 -2768px;
}

.at15t_buddymarks {
    background-position: 0 -2784px;
}

.at15t_yardbarker {
    background-position: 0 -2800px;
}

.at15t_stumbleupon {
    background-position: 0 -2816px;
}

.at15t_baidu {
    background-position: 0 -2832px;
}

.at15t_windycitizen {
    background-position: 0 -2848px;
}

.at15t_extraplay {
    background-position: 0 -2864px;
}

.at15t_sportpost {
    background-position: 0 -2880px;
}

.at15t_domelhor {
    background-position: 0 -2896px;
}

.at15t_popedition {
    background-position: 0 -2912px;
}

.at15t_dotnetkicks {
    background-position: 0 -2928px;
}

.at15t_worio {
    background-position: 0 -2944px;
}

.at15t_reddit {
    background-position: 0 -2960px;
}

.at15t_svejo {
    background-position: 0 -2976px;
}

.at15t_youbookmarks {
    background-position: 0 -2992px;
}

.at15t_oneview {
    background-position: 0 -3008px;
}

.at15t_gmail {
    background-position: 0 -3024px;
}

.at15t_blogmarks {
    background-position: 0 -3040px;
}

.at15t_fark {
    background-position: 0 -3056px;
}

.at15t_ballhype {
    background-position: 0 -3072px;
}

.at15t_habergentr {
    background-position: 0 -3088px;
}

.at15t_evernote {
    background-position: 0 -3104px;
}

.at15t_myspace {
    background-position: 0 -3120px;
}

.at15t_grono {
    background-position: 0 -3136px;
}

.at15t_viadeo {
    background-position: 0 -3168px;
}

.at15t_speedtile {
    background-position: 0 -3184px;
}

.at15t_twitter {
    background-position: 0 -3200px;
}

.at15t_vyoom {
    background-position: 0 -3216px;
}

.at15t_netlog {
    background-position: 0 -3232px;
}

.at15t_kaevur {
    background-position: 0 -3248px;
}

.at15t_gravee {
    background-position: 0 -3264px;
}

.at15t_kledy {
    background-position: 0 -3280px;
}

.at15t_classicalplace {
    background-position: 0 -3296px;
}

.at15t_jumptags {
    background-position: 0 -3312px;
}

.at15t_plurk {
    background-position: 0 -3328px;
}

.at15t_digo {
    background-position: 0 -3344px;
}

.at15t_linkagogo {
    background-position: 0 -3360px;
}

.at15t_mixx {
    background-position: 0 -3376px;
}

.at15t_myaol {
    background-position: 0 -3392px;
}

.at15t_facebook {
    background-position: 0 -3408px;
}

.at15t_drimio {
    background-position: 0 -3424px;
}

.at15t_netvibes {
    background-position: 0 -3440px;
}

.at15t_posteezy {
    background-position: 0 -3456px;
}

.at15t_favlogde {
    background-position: 0 -3472px;
}

.at15t_dzone {
    background-position: 0 -3488px;
}

.at15t_typepad {
    background-position: 0 -3504px;
}

.at15t_startlap {
    background-position: 0 -3520px;
}

.at15t_orkut {
    background-position: 0 -3536px;
}

.at15t_a1webmarks {
    background-position: 0 -3552px;
}

.at15t_edelight {
    background-position: 0 -3568px;
}

.at15t_aviary {
    background-position: 0 -3584px;
}

.at15t_care2 {
    background-position: 0 -3600px;
}

.at15t_tailrank {
    background-position: 0 -3616px;
}

.at15t_koornk {
    background-position: 0 -3632px;
}

.at15t_pdfonline {
    background-position: 0 -3648px;
}

.at15t_kirtsy {
    background-position: 0 -3664px;
}

.at15t_newstrust {
    background-position: 0 -3680px;
}

.at15t_digg {
    background-position: 0 -3696px;
}

.at15t_multiply {
    background-position: 0 -3712px;
}

.at15t_hellotxt {
    background-position: 0 -3728px;
}

.at15t_grumper {
    background-position: 0 -3744px;
}

.at15t_squidoo {
    background-position: 0 -3760px;
}

.at15t_aerosocial {
    background-position: 0 -3776px;
}

.at15t_gabbr {
    background-position: 0 -3792px;
}

.at15t_flaker {
    background-position: 0 -3808px;
}

.at15t_pratiba {
    background-position: 0 -3824px;
}

.at15t_readitlater {
    background-position: 0 -3840px;
}

.at15t_stuffpit {
    background-position: 0 -3856px;
}

.at15t_dosti {
    background-position: 0 -3872px;
}

.at15t_studivz {
    background-position: 0 -3888px;
}

.at15t_sodahead {
    background-position: 0 -3904px;
}

.at15t_linkstore {
    background-position: 0 -3920px;
}

.at15t_misterwong {
    background-position: 0 -3936px;
}

.at15t_misterwong_ru {
    background-position: 0 -3952px;
}

.at15t_brainify {
    background-position: 0 -3968px;
}

.at15t_favorites {
    background-position: 0 -3984px;
}

.at15t_wirefan {
    background-position: 0 -4000px;
}

.at15t_livejournal {
    background-position: 0 -4016px;
}

.at15t_hemidemi {
    background-position: 0 -4032px;
}

.at15t_informazione {
    background-position: 0 -4048px;
}

.at15t_meccho {
    background-position: 0 -4064px;
}

.at15t_twitthis {
    background-position: 0 -4080px;
}

.at15t_mylinkvault {
    background-position: 0 -4096px;
}

.at15t_colivia {
    background-position: 0 -4112px;
}

.at15t_storyfollower {
    background-position: 0 -4128px;
}

.at15t_netvouz {
    background-position: 0 -4144px;
}

.at15t_bordom {
    background-position: 0 -4160px;
}

.at15t_sonico {
    background-position: 0 -4176px;
}

.at15t_stylehive {
    background-position: 0 -4192px;
}

.at15t_tagza {
    background-position: 0 -4208px;
}

.at15t_hipstr {
    background-position: 0 -4224px;
}

.at15t_hitmarks {
    background-position: 0 -4240px;
}

.at15t_2linkme {
    background-position: 0 -4256px;
}

.at15t_quantcast {
    background-position: 0 -4272px;
}

.at15t_blinklist {
    background-position: 0 -4288px;
}

.at15t_hotbookmark {
    background-position: 0 -4304px;
}

.at15t_osmosus {
    background-position: 0 -4320px;
}

.at15t_startaid {
    background-position: 0 -4336px;
}

.at15t_printfriendly {
    background-position: 0 -4352px;
}

.at15t_planypus {
    background-position: 0 -4368px;
}

.at15t_shaveh {
    background-position: 0 -4384px;
}

.at15t_wykop {
    background-position: 0 -4400px;
}

.at15t_spokentoyou {
    background-position: 0 -4416px;
}

.at15t_fabulously40 {
    background-position: 0 -4432px;
}

.at15t_xanga {
    background-position: 0 -4448px;
}

.at15t_forceindya {
    background-position: 0 -4464px;
}

#at16clb {
    font-size: 16pt;
    font-family: "verdana bold", verdana, arial, sans-serif;
}

#at_share .at_item {
    width: 123px !important;
    margin-right: 2px;
    border: 1px solid #fff;
    padding: 4px;
}

#at16pm {
    background: #fff;
    width: 298px;
    height: 380px;
    text-align: left;
    border-right: 1px solid #ccc;
    position: static;
}

#at16pcc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 10px !important;
    color: #4c4c4c;
    z-index: 10000001;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
}

#at16abifc {
    overflow: hidden;
    top: 10px;
    left: 10px;
    height: 355px;
    width: 492px;
    position: absolute;
    border: 0;
    margin: 0;
}

#at16abifc iframe {
    border: 0;
    position: absolute;
    height: 380px;
    width: 516px;
    top: -10px;
    left: -10px;
}
* html div#at16abifc.atiemode2 {
    height: 374px;
    width: 482px;
}
* html #at16abifc iframe {
    height: 368px;
    left: -10px;
    top: -10px;
    overflow: hidden;
}

#at16p {
    background: url(//s7.addthis.com/static/t00/atbkg.png);
    z-index: 10000001;
}

#at16p, #atie6ifh, #atie6cmifh {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    font-family: arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 12px;
    color: #5e5e5e;
    margin: -185px auto 0 -155px;
    padding: 10px;
}

#atie6ifh {
    width: 322px;
    height: 381px;
    margin-left: -165px;
    z-index: 100001;
    padding: 0;
}

#atie6cmifh {
    width: 240px;
    height: 225px;
    z-index: 100001;
    margin: 0;
    padding: 0;
}

#at_share {
    margin: 0;
    padding: 0;
}

#at16ps {
    overflow-y: scroll;
    height: 304px;
    padding: 5px;
}

a#at16pit {
    position: absolute;
    top: 37px;
    right: 10px;
    display: block;
    background: url(//s7.addthis.com/static/t00/tab00.gif) no-repeat;
    width: 16px;
    height: 20px;
    line-height: 19px;
    margin-right: -17px;
    text-align: center;
    overflow: hidden;
    color: #36b;
}

#at16pi {
    background: #e5e5e5;
    text-align: left;
    border: 1px solid #ccc;
    border-bottom: 0;
}

#at16p #at16abc {
    margin-left: 2px !important;
}

#at16pt {
    position: relative;
    background: #f2f2f2;
    height: 13px;
    padding: 5px 10px;
}

#at16pt h4, #at16pt a {
    font-weight: 700;
}

#at16pt h4 {
    display: inline;
    font-size: 12px;
    color: #4c4c4c;
    cursor: default;
    margin: 0;
    padding: 0;
}

#at16pt a {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #4c4c4c;
    text-decoration: none;
}

#at16pc form {
    margin: 0;
}

#at16pc form label {
    display: block;
    font-size: 11px;
    font-weight: 700;
    padding-bottom: 4px;
    float: none;
    text-align: left;
}

#at16pc form label span {
    font-weight: 400;
    color: #4c4c4c;
    display: inline;
}

#at_email form .abif {
    width: 272px !important;
}

#at_email textarea {
    height: 55px !important;
    word-wrap: break-word;
}

#at_email form label {
    width: 120px;
}

#at_email form input, #at_email form textarea {
    background: #fff;
    border: 1px solid #bbb;
    width: 272px !important;
    font-weight: 400;
    font-family: arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 11px;
    line-height: 1.4em;
    color: #333;
    margin: 0 0 8px;
    padding: 3px;
}

#at_email form .atfxmode2 {
    width: 279px !important;
}

#at16pc form .at_ent {
    color: #333 !important;
}

#at16pc form textarea {
    height: 48px;
}

#at16pc form input:focus, #at16pc form textarea:focus {
    background: #fffff0;
    color: #333;
}

#at16p .atbtn {
    background: #fff;
    border: 1px solid #b5b5b5;
    width: 60px !important;
    font-size: 11px !important;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin: 0 2px 0 0 !important;
    padding: 2px 4px;
}

#at16p .atbtn:hover {
    color: #06c;
    border-color: #444;
}

#at16p .atrse {
    font-weight: 400 !important;
    color: #666;
    margin-left: 2px !important;
}

#atsb .atbtn {
    width: 78px !important;
    margin: 0 !important;
}

#at_email #ateml {
    text-align: right;
    font-size: 10px;
    color: #999;
}

#at16pc {
    height: 343px;
    font-size: 11px;
    text-align: left;
    color: #4c4c4c;
}

#at_email {
    padding: 5px 10px;
}

#at16pc .tmsg {
    text-align: right;
    padding: 4px 2px;
}

#at16psf {
    position: relative;
    background: #f2f2f2 url(//s7.addthis.com/static/t00/atf02.gif) no-repeat center center;
    border-bottom: 1px solid #ccc;
    height: 20px;
    text-align: center;
    padding: 4px 10px;
}
* html #at16psf input,:first-child + html #at16psf input {
    padding: 0;
}

#at16psf input {
    background: #fff;
    border: none;
    width: 220px;
    color: #666;
    outline-style: none;
    outline-width: 0;
    line-height: 12px;
    font-family: arial, helvetica, tahoma, verdana, sans-serif;
    font-size: 12px;
    margin: 2px 0 0;
    padding: 2px 0 0;
}

#at16pcc .at_error {
    background: #f26d7d;
    border-bottom: 1px solid #df5666;
    color: #fff;
    padding: 5px 10px;
}

#at16pcc #at_success {
    background: #d0fbda;
    border-bottom: 1px solid #a8e7b7;
    color: #4c4c4c;
    padding: 5px 10px;
}

#at16pf {
    position: relative;
    background: #f2f2f2;
    height: 12px;
    border-top: 1px solid #e5e5e5;
}

#at16pf a {
    position: absolute;
    outline: none;
    overflow: hidden;
    font-size: 10px;
    color: #4c4c4c;
    font-family: Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#at16pf a.at-whatsthis {
    width: 150px;
    left: 10px;
}

#at16pf a#at-privacy {
    width: 39px;
    left: 140px;
}

#at_complete {
    font-size: 13pt;
    color: #47731d;
    text-align: center;
    padding-top: 130px;
    height: 208px !important;
    width: 472px;
}

#at_s_msg {
    margin-bottom: 10px;
}

#at16pf a#at-logo {
    background: url(//s7.addthis.com/static/t00/logo88.gif) no-repeat left;
    padding-left: 10px;
    right: 10px;
}

.at_baa {
    display: block;
    overflow: hidden;
    outline: none;
}

#at15s #at16pf a {
    top: 1px;
}

#at16pc form #at_send {
    width: 80px !important;
}

#at_feed {
    display: none;
    height: 300px;
    padding: 10px;
}

#at_feed span {
    margin-bottom: 10px;
    font-size: 12px;
}

#at_feed div {
    width: 102px !important;
    height: 26px !important;
    line-height: 26px !important;
    float: left !important;
    margin-right: 68px;
}

#at_feed div.at_litem {
    margin-right: 0;
}

#at_feed a {
    height: 17px;
    line-height: 17px;
    margin: 10px 0;
}

#at_feed.atused .fbtn {
    background: url(//s7.addthis.com/static/r05/feed00.gif) no-repeat;
    float: left;
    width: 102px;
    cursor: pointer;
    text-indent: -9000px;
}

#at_feed .fbtn.bloglines {
    background-position: 0 0 !important;
    width: 94px;
    height: 20px !important;
    line-height: 20px !important;
    margin-top: 8px !important;
}

#at_feed .fbtn.yahoo {
    background-position: 0 -20px !important;
}

#at_feed .fbtn.newsgator, .fbtn.newsgator-on {
    background-position: 0 -37px !important;
}

#at_feed .fbtn.technorati {
    background-position: 0 -71px !important;
}

#at_feed .fbtn.netvibes {
    background-position: 0 -88px !important;
}

#at_feed .fbtn.pageflakes {
    background-position: 0 -141px !important;
}

#at_feed .fbtn.feedreader {
    background-position: 0 -172px !important;
}

#at_feed .fbtn.newsisfree {
    background-position: 0 -207px !important;
}

#at_feed .fbtn.google {
    background-position: 0 -54px !important;
    width: 104px;
}

#at_feed .fbtn.winlive {
    background-position: 0 -105px !important;
    width: 100px;
    height: 19px !important;
    line-height: 19px;
    margin-top: 9px !important;
}

#at_feed .fbtn.mymsn {
    background-position: 0 -158px !important;
    width: 71px;
    height: 14px !important;
    line-height: 14px !important;
    margin-top: 12px !important;
}

#at_feed .fbtn.aol {
    background-position: 0 -189px !important;
    width: 92px;
    height: 18px !important;
    line-height: 18px !important;
}

#at16pp {
    color: #4c4c4c;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 11px;
}

#at16ppc {
    width: 179px;
    padding: 10px;
}

#at16pph {
    padding: 5px 0 10px;
}

#at16pph select {
    margin: 5px 0 8px;
}

#at16pp .atinp {
    width: 156px;
}

html > body#IE_comment_hack #at16pp .atinp {
    width: 176px;
}

#at16ppb {
    background: #fff;
    border: 1px solid #ccc;
    height: 274px;
}

#at16ep {
    height: 16px;
    padding: 8px;
}

#at16ep a {
    display: block;
    height: 16px;
    line-height: 16px;
    padding-left: 22px;
    margin-bottom: 8px;
    font-size: 12px;
}

#at16ep a.at_gmail {
    background: url(//s7.addthis.com/static/t00/gmail.gif) no-repeat left;
}

#at16ep a.at_hotmail {
    background: url(//s7.addthis.com/static/t00/hotmail.gif) no-repeat left;
}

#at16ep a.at_yahoo {
    background: url(//s7.addthis.com/static/t00/yahoo.gif) no-repeat left;
}

#at16ppf p#atsb {
    padding-top: 20px;
    font-size: 10px;
}

#at16abr {
    margin-top: 10px;
}

#at16abr input {
    margin: 0 5px 0 0;
    padding: 0;
}

#at16ppso {
    display: none;
    text-align: right;
    margin-top: 2px;
}

#at16ppa {
    background: #fff;
    border: 1px solid #ccc;
    height: 228px;
    width: 178px;
    overflow: auto;
}

#at16ppa a {
    display: block;
    white-space: nowrap;
    font-size: 12px !important;
    padding: 4px 8px;
}

#at16eatdr {
    position: absolute;
    background: #fff;
    border-top: 0;
    max-height: 110px;
    overflow: auto;
    z-index: 500;
    top: 129px;
    left: 21px;
    width: 277px;
}

html > body#IE_comment_hack #at_email form #at16eatdr.abif {
    top: 137px;
    width: 278px !important;
}

#at16eatdr a {
    display: block;
    overflow: hidden;
    border-bottom: 1px dotted #eee;
    padding: 4px 8px;
}

#at16eatdr a:hover, #at16eatdr a.hover {
    background: #e0eefa;
    text-decoration: none;
    color: #333;
}

#at_pspromo {
    height: 130px;
    padding-top: 10px;
}

#at_pspromo, #at15psp {
    width: 205px;
    padding-left: 5px;
}

#at_testpromo {
    font-size: 12px;
    width: 220px;
    display: none;
}

#at_testpromo input {
    width: 200px;
}

#at_promo .at-promo-content, #at_testpromo .at-promo-content {
    margin-top: 12px;
}

#at_promo .at-promo-btn, #at_testpromo .at-promo-btn {
    padding-top: 10px;
}

#at_promo h4, #at_testpromo h4 {
    font-family: arial, helvetica, tahoma, verdana, sans-serif;
    background: 0;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 4px;
    padding: 0;
}

#at_testpromo h4 {
    font-size: 13.5px;
}

#at_promo h4 sup {
    font-size: 11px;
    color: #ee6a44;
}

#at_promo span {
    display: block;
}

#at_testpromo .at-promo-btm-ffx, #at_promo .at-promo-btm-ffx {
    background: url(//s7.addthis.com/images/60x60_at_firefox_toolbar.jpg) no-repeat 0 0;
    padding: 6px 0 0 70px;
}

#at_promo .at-promo-btm-ie {
    padding: 6px 0 0 64px;
}

#at_testpromo .at-promo-btm-ie {
    background: url(//s7.addthis.com/images/48x48_ie_logo.jpg) no-repeat 0 0;
    height: 45px;
    margin: 0 5px;
    padding: 10px 0 0 60px;
}

#at_hover div.athr, #at_fav, #at_feat {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 4px 0 6px;
}

#at_fav h5, #at_hover h5, #at_feat h5 {
    font-size: 10px;
    font-weight: 400;
    color: #999;
    margin: 0 0 4px;
}

.at_fav_hover {
    background: #f2f2f2;
    cursor: pointer;
}
* html .at_fav_hover {
    cursor: hand;
}

#_atssh {
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
}

.at-promo-ffx, .at-promo-ie {
    height: 45px;
    margin: 0 5px;
    padding: 10px 0 0 60px;
}

.at-promo-ffx {
    background: url(//s7.addthis.com/images/48x48_ff_logo.gif) no-repeat 0 0;
}

.at-promo-ie {
    background: url(//s7.addthis.com/images/48x48_ie_logo.jpg) no-repeat 0 0;
}

.at-promo-button {
    text-align: center;
    padding-top: 10px;
}

.at-promo-single {
    line-height: 1.5em;
    padding: 5px 10px 10px;
}

.atnt a, #at16pi a {
    text-decoration: none;
    color: #36b;
}

.atnt a:hover, #at15sptx:hover, #at16pi a:hover, #at16pf a:hover {
    text-decoration: underline;
}

#at15s_brand, #at16_brand, #at15sptx, * html #at16pcc {
    position: absolute;
}

#at_email label, #at_email input, #at_email textarea, #at16pp label {
    font-size: 11px !important;
}

.addthis_button, .at300b, .at300m, .at300bs, .at-promo-button input {
    cursor: pointer;
}

.at15t_propeller, .at15t_netscape {
    background-position: 0 -3152px;
}
* html #at_email textarea,:first-child + html #at_email textarea {
    height: 42px !important;
}
* html #at_email #at16eatdr,:first-child + html #at_email #at16eatdr {
    top: 115px !important;
    width: 272px !important;
}
@media print { #at20mc {display:none;
}
}