/* GENERAL */
hr {display: block; clear: left; margin:0; visibility: hidden;}

/* SETTINGS */
.bookmarkandshare_servicechk {float:left; clear:left; padding:0 7px 7px 0;}
.bookmarkandshare_servicelbl {float:left; padding:0 0 7px 7px; cursor:pointer;}
.bookmarkandshare_service_icon {float:left; display:block;}
.dialog_buttons {padding-top:7px;}

/* AddThis override*/
.at300bs {margin-right:7px;}

#bookmarkandshare_settings_content {border-color:#DFDFDF; border-style:solid; border-width:1px; padding:7px;}
#bookmarkandshare_select_all_services {font-size:12px; text-decoration:underline; color:#205cb5; clear:both; margin-bottom:7px; display:block;}

/* SHARE BUTTON */
#bookmarkandshare_share_button {background-color:#d6dbdf; font-size:15px; font-weight:bold; padding:3px 0 0 7px; height:25px; margin-top:13px;}
#bookmarkandshare_share_button p {float:left; padding-right:13px;}
#bookmarkandshare_share_button span {float:left; margin-top:3px;}
.at_item {float:left;}
.addthis_button img{padding-left:17px; margin-top:3px;}
