/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* LAYOUT */
div.joinrequests_joinrequest {background-color:#EFF2F4; height:60px;
    margin:5px 8px 10px; padding:10px; width:250px; overflow:hidden;}
img.joinrequests_userpicture, a.joinrequests_userpicture_link {margin:0;
    padding:0; height:60px; width:60px;}
div.joinrequests_details {margin-left:10px;}
p.joinrequests_username, p.joinrequests_actions, p.joinrequests_loading {margin:0;}
p.joinrequests_username {margin-top:4px;}
p.joinrequests_request_age {margin-bottom:8px;}
a.joinrequests_add_link {margin-right:5px;}
a.joinrequests_ignore_link {margin-left:5px;}

/* TYPOGRAPHY */
p.joinrequests_request_age, p.joinrequests_actions {font-size:0.85em; color:#666666;}
a.joinrequests_username_link {font-weight:bold; color:#000;}

/* IMAGES */
p.joinrequests_loading {height:10px; margin-top:12px;
    background:url("/dev/images/ajax_load.gif") no-repeat scroll 0px 0px transparent;}