/* GENERAL */
#dashboard_container strong {color: #000;}
#dashboard_container .dialog_buttons .button {color: #666;}

/* OPTIONS */
#dashboard_container .dashboard_options {text-align: right;}
#dashboard_container .dashboard_options a {font-size: 9pt; color: #454A4F; font-weight: bold}

/* TOOLS CONTAINER - RIGHT COLUMN */
#dashboard_container #toolscontainer { margin-left: 20px; }

/* WIDGET CONTAINER */
#dashboard_container #widgetscontainer {background-color: #fff; padding-top: 1px; padding-bottom: 20px;}
#dashboard_container #widgetscontainer .fl-widget {margin-top: 1px}