/* GENERAL */
#dashboard_container strong{color:#000;}
#dashboard_container .dialog_buttons .button{color:#666;}

/* OPTIONS */
#dashboard_container .dashboard_options{text-align:right;width:620px;padding-right:10px;}
#dashboard_container .dashboard_options.fixed-container{padding:0 20px;width:920px;}
#dashboard_container .dashboard_options a{font-size:9pt;color:#454A4F;font-weight:bold;}

/* TOOLS CONTAINER - RIGHT COLUMN */
#dashboard_container #toolscontainer{margin-left:20px;}

/* WIDGET CONTAINER */
#dashboard_container #widgetscontainer .fl-widget{margin-top:1px;}
#dashboard_container .widget_spacer{height:1px;}

/* Change layout */
#change_layout_dialog {width: 470px !important; margin-left: -235px !important;}
#change_layout_dialog .elf-right-up {padding: 25px 0}
#change_layout_dialog .add-tools-right {width:100%;}
#change_layout_dialog .layout_container {float:left;  padding-left:25px;  padding-right:13px;    }
#change_layout_dialog .layout_picker_item {width:114px; height: 62px; border: 2px solid #3399CC; border-right: 2px solid #3399CC; background-color: #EEFFFF;}
#change_layout_dialog .layout_picker_item_column {border-right: 1px solid #3399CC;}
#change_layout_dialog .layout_picker_item_radio {margin-left:50px; margin-top:10px;}
#change_layout_dialog .layout_container_unselected {float:left; padding-left:25px; padding-right:13px;}
#change_layout_dialog .layout_picker_item_unselected {width:114px; height: 62px; border: 2px solid #dddfe1; border-right: 2px solid #dddfe1; background-color: #F8F8F8;}
#change_layout_dialog .layout_picker_item_column_unselected {border-right: 1px solid #dddfe1;}
#change_layout_dialog .layout_picker_item_radio_unselected {margin-left:50px; margin-top: 10px;}
#change_layout_dialog #layouts_list {display:block;}

/* Add Sakai Goodies */
#add_goodies_dialog {width:520px; height: 374px; margin-left: -260px;}
.add_goodies .s3d-button {margin:0; height:23px;}
.add_goodies .dialog_body {height:308px; overflow-y:auto; overflow-x:hidden; position:relative; width:471px;}
.add_goodies .dialog_body table {width: 471px; margin-bottom:0; border:1px solid #E5E5E5; border-spacing: 0; *border-collapse: collapse;}
.add_goodies .dialog_body td {padding: 5px; border-bottom: 1px solid #efefef;}
.add_goodies .dialog_body .dialog_add_goodies_description {color:#333;font-size:13px;font-weight:normal;}
.add_goodies .dialog_body .dialog_remove_goodies_title {color:#999;font-size:14px;font-weight:bold;}
.add_goodies .dialog_body .dialog_remove_goodies_description {color:#999999;font-size:12px;font-weight:100;}
.add_goodies .dialog_body .dialog_add_goodies_title {color:#333;font-size:13px;font-weight:bold;}
.add_goodies .remove_add_column {text-align:right; width:100px;}