/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.versions_widget {
    clear: both;
    font-size: 11px;
    margin: 10px 20px;
    border-bottom: 5px solid #E2E2E2;
}
.versions_widget #versions_container {
    background: #f0f0ef;
    background: -moz-linear-gradient(top, #cfcfce 0%, #e1e1e0 3%, #ededec 7%, #f3f3f3 45%, #f3f3f3 59%, #ededec 96%, #e1e1e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfce), color-stop(3%,#e1e1e0), color-stop(7%,#ededec), color-stop(45%,#f3f3f3), color-stop(59%,#f3f3f3), color-stop(96%,#ededec), color-stop(100%,#e1e1e0));
    background: -webkit-linear-gradient(top, #cfcfce 0%,#e1e1e0 3%,#ededec 7%,#f3f3f3 45%,#f3f3f3 59%,#ededec 96%,#e1e1e0 100%);
    background: -o-linear-gradient(top, #cfcfce 0%,#e1e1e0 3%,#ededec 7%,#f3f3f3 45%,#f3f3f3 59%,#ededec 96%,#e1e1e0 100%);
    background: -ms-linear-gradient(top, #cfcfce 0%,#e1e1e0 3%,#ededec 7%,#f3f3f3 45%,#f3f3f3 59%,#ededec 96%,#e1e1e0 100%);
    background: linear-gradient(top, #cfcfce 0%,#e1e1e0 3%,#ededec 7%,#f3f3f3 45%,#f3f3f3 59%,#ededec 96%,#e1e1e0 100%);
    box-shadow: 0 0 3px #999999 inset;
    height: 75px;
    overflow: hidden;
    margin: 10px 0 15px;
    border-top: 5px solid #E2E2E2;
}
.versions_widget #versions_container .versions_controls {
    width: 32px;
}
.versions_widget #versions_container .versions_prev_next_container {
    background: url("/devwidgets/versions/images/versions_prev_next_bg.png") no-repeat scroll center center transparent;
    width: 32px;
    height: 75px;
}
.versions_widget #versions_container .versions_prev_next_container > div {
    cursor: pointer;
}
.versions_widget #versions_container .versions_prev_next_container #versions_newer {
    background: url("/devwidgets/versions/images/versions_newer_icon.png") no-repeat scroll center center transparent;
    height: 50px;
}
.versions_widget #versions_container .versions_prev_next_container #versions_newest {
    background: url("/devwidgets/versions/images/versions_newest_icon.png") no-repeat scroll center center transparent;
    height: 24px;
    border-top: 1px solid #C2C2C2;
}
.versions_widget #versions_container .versions_prev_next_container #versions_older {
    background: url("/devwidgets/versions/images/versions_older_icon.png") no-repeat scroll center center transparent;
    height: 50px;
}
.versions_widget #versions_container .versions_prev_next_container #versions_oldest {
    background: url("/devwidgets/versions/images/versions_oldest_icon.png") no-repeat scroll center center transparent;
    height: 24px;
    border-top: 1px solid #C2C2C2;
}
.versions_widget #versions_container .versions_prev_next_container #versions_newer:hover {
    background: url("/devwidgets/versions/images/versions_newer_icon_hover.png") no-repeat scroll center center transparent;
}
.versions_widget #versions_container .versions_prev_next_container #versions_newest:hover {
    background: url("/devwidgets/versions/images/versions_newest_icon_hover.png") no-repeat scroll center center transparent;
}
.versions_widget #versions_container .versions_prev_next_container #versions_older:hover {
    background: url("/devwidgets/versions/images/versions_older_icon_hover.png") no-repeat scroll center center transparent;
}
.versions_widget #versions_container .versions_prev_next_container #versions_oldest:hover {
    background: url("/devwidgets/versions/images/versions_oldest_icon_hover.png") no-repeat scroll center center transparent;
}
.versions_widget #versions_container ul li {
    height: 55px;
    padding: 10px;
    width: 113px;
    cursor: pointer;
}
.versions_widget #versions_container ul li a {
    text-decoration: none;
}
.versions_widget #versions_container ul li .versions_updater {
    text-decoration: none;
}
.versions_widget #versions_container ul li:hover .versions_updater {
    color: #fff;
}
.versions_widget #versions_container ul li.versions_selected, .versions_widget #versions_container ul li:hover {
    background: #48abe7;
    background: -moz-linear-gradient(top, #5db0db 0%, #65beed 3%, #66c2f2 4%, #68c5f6 5%, #68c6f8 8%, #48abe7 64%, #3c9edf 96%, #3c9ddd 97%, #3896d4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5db0db), color-stop(3%,#65beed), color-stop(4%,#66c2f2), color-stop(5%,#68c5f6), color-stop(8%,#68c6f8), color-stop(64%,#48abe7), color-stop(96%,#3c9edf), color-stop(97%,#3c9ddd), color-stop(100%,#3896d4));
    background: -webkit-linear-gradient(top, #5db0db 0%,#65beed 3%,#66c2f2 4%,#68c5f6 5%,#68c6f8 8%,#48abe7 64%,#3c9edf 96%,#3c9ddd 97%,#3896d4 100%);
    background: -o-linear-gradient(top, #5db0db 0%,#65beed 3%,#66c2f2 4%,#68c5f6 5%,#68c6f8 8%,#48abe7 64%,#3c9edf 96%,#3c9ddd 97%,#3896d4 100%);
    background: -ms-linear-gradient(top, #5db0db 0%,#65beed 3%,#66c2f2 4%,#68c5f6 5%,#68c6f8 8%,#48abe7 64%,#3c9edf 96%,#3c9ddd 97%,#3896d4 100%);
    background: linear-gradient(top, #5db0db 0%,#65beed 3%,#66c2f2 4%,#68c5f6 5%,#68c6f8 8%,#48abe7 64%,#3c9edf 96%,#3c9ddd 97%,#3896d4 100%);
    color: #fff;
}
.versions_widget #versions_container ul li.versions_selected .versions_updater {
    color: #fff;
}
.versions_widget #versions_container ul li.versions_divider {
    border-right: 1px solid #dadad9;
}
.versions_widget #versions_container ul li .versions_date {
    display: block;
    clear: both;
    margin-bottom: 1px;
}
.versions_widget #versions_container #versions_noversions {
    font-size: 12px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 200px;
    color: #c5c5c5;
}
.versions_widget #versions_container .jcarousel-skin-tango {
    margin: 0 31px
}

/* Overriding button CSS */
.versions_widget #versions_container ul li .s3d-button-link-2-state-inner {
    font-size: 9px;
}
.versions_widget #versions_container ul li .s3d-button {
    display: block;
    margin-top: 5px;
}
.versions_widget #versions_container.versions_without_left_hand_nav ul li {
    width: 123px;
}