/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.versions_widget {clear:both;font-size:11px;}
.versions_widget #versions_container {background:url("/devwidgets/versions/images/versions_bg.png") repeat-x scroll left top transparent;box-shadow:0 0 3px #999999 inset;height:75px;overflow:hidden;margin:10px 0;}
.versions_widget #versions_container .versions_controls {height:75px;width:31px;cursor:pointer;}
.versions_widget #versions_container #versions_next {background:url("/devwidgets/versions/images/versions_next.png") no-repeat scroll left top transparent;float:right;}
.versions_widget #versions_container #versions_prev {background:url("/devwidgets/versions/images/versions_prev.png") no-repeat scroll left top transparent;float:left;}
.versions_widget #versions_container ul li {height:55px;padding:10px;width:123px;cursor:pointer;}
.versions_widget #versions_container ul li:hover {background:url("/devwidgets/versions/images/versions_hover_bg.png") repeat-x scroll left top transparent;color:#fff;}
.versions_widget #versions_container ul li a {text-decoration:none;}
.versions_widget #versions_container ul li .versions_updater {text-decoration:none;}
.versions_widget #versions_container ul li:hover .versions_updater {color:#fff;}
.versions_widget #versions_container ul li:hover .s3d-button {visibility:visible;margin-top:5px;}
.versions_widget #versions_container ul li.versions_selected {background:url("/devwidgets/versions/images/versions_hover_bg.png") repeat-x scroll left top transparent;color:#fff;}
.versions_widget #versions_container ul li.versions_selected .versions_updater {color:#fff;}
.versions_widget #versions_container ul li.versions_divider {border-right:1px solid #dadad9;}
.versions_widget #versions_container ul li.versions_selected .s3d-button {visibility:visible;margin-top:5px;}
.versions_widget #versions_container ul li .versions_date {display:block;clear:both;margin-bottom:1px;}
.versions_widget #versions_container #versions_noversions{font-size:12px;font-weight:normal;margin-left:auto;margin-right:auto;margin-top:30px;text-align:center;width:200px;color:#c5c5c5;}
.versions_widget #versions_container .jcarousel-skin-tango{margin:0 31px}

/* Overriding button CSS */
.versions_widget #versions_container ul li .s3d-button-link-2-state-inner{font-size:9px;}
.versions_widget #versions_container ul li .s3d-button {visibility:hidden;width:100%;}