/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

.mycontacts_widget #mycontacts_list{padding:0;}

/* Friends list */
.mycontacts_list_contact{float:left;height:80px;margin:5px 10px 0 0;overflow:hidden;padding:0 20px 5px 0;width:70px;}
.mycontacts_list_contact .mycontacts_list_contact_picture{margin:0;padding:0;display:block;}
.mycontacts_list_contact .mycontacts_list_contact_picture img{height:48px;width:48px;}
.mycontacts_list_contact .mycontacts_list_contact_name{font-size:.95em;}
.mycontacts_items img {float: left;padding: 0 10px 10px 0;width: 48px;}
.mycontacts_name {margin:0;}
.mycontacts_post a {font-size:.8em;color:#878A8C;}
.mycontacts_items{color:#333;padding:10px 10px 0 10px;border-top: 1px dotted #cccccc;}
.mycontacts_items_first{border-top: 1px solid #e9e9e9;}
.mycontacts_items_end{border-bottom: 1px solid #e9e9e9;}
.mycontacts_item_left_filler{margin:1px 8px 0 0;display: inline;float: left;height: 25px;width: 17px;}
.mycontacts_item_right{margin-left:84px;}
.mycontacts_list_description{margin:0 0 5px;color:#333;font-size:.90em;padding:6px 0;}
.mycontacts_item_counts {padding:3px 0;font-size:11px;}
.mycontacts_item_detail_separator {color:#cccccc;}
.mycontacts_item_message_icon{display: inline-block;height: 16px;width: 16px;background: url("/devwidgets/searchpeople/images/searchpeople_message_icon.png") no-repeat scroll left top transparent;float:right;}
.mycontacts_item_icon{display: inline-block;height: 10px;width: 15px;}
.mycontacts_item_tags_icon{float:left;height:15px;background: url("/devwidgets/entity/images/entity_tags_icon.png") no-repeat scroll left top transparent;}
.mycontacts_item_tags_list{margin-left:20px;margin-top:6px;font-size:11px;}
.mycontacts_item_tags_dot{color: #999999;}
.mycontacts_items:hover {background-color: #f2f9fc;}
.mycontacts_items:hover .mycontacts_item_message_icon{cursor:pointer;}

/* Contact requests */
.mycontacts_requests{font-size:.85em;color:#666;padding-left:20px;}

/* No contacts */
.mycontacts_widget #mycontacts_nocontacts{font-size:.95em;padding-bottom:10px;display:block;}
.mycontacts_widget a.contacts_no_contacts {text-decoration:none;}
.mycontacts_widget .contact_search_button {margin-top: 5px; margin-bottom: 10px; background:url("/dev/images/button_large_grey.png") no-repeat right -41px transparent;width:100%;}
.mycontacts_widget .contact_search_button span{line-height:40px;height:40px;background:url("/dev/images/button_large_grey.png") no-repeat top left transparent !important;}
.mycontacts_widget .contact_search_button:hover {background:url("/dev/images/button_large_grey.png") no-repeat right -41px transparent !important;}
.mycontacts_widget .contact_search_button:hover span{background:url("/dev/images/button_large_grey.png") no-repeat top left transparent !important; color: #333 !important;}
.mycontacts_widget .mycontacts_no_contacts {display: block; max-width:250px; margin-bottom: 10px;}

/* Widget icon */
.mycontacts.fl-widget .fl-widget-titlebar .widget_title_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -180px -21px transparent;}
#mycontacts_requests{padding-left:0;}
