

/*Settings*/
#commentswow_settings input[type=text], #commentswow_fillInComment input[type=text], #commentswow_fillInComment textarea, .commentswow_inputFields{
	margin: 5px 0;
	border-style:solid;
	border-width:1px;
	height:20px;
	border-color:#DEDEDE;
	background-color:#F2F2F2;
}
.commentswow_settingsPart{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#DEDEDE;
	padding:10px;
	padding-top:0px;
	
}
.commentswow_settingsPart ul li{
	list-style-image:none;
	list-style-type:none;
	list-style:none;
}

/*Main container*/
.commentswow_nextButtons{
	overflow: auto;
	width: 100%;
	margin-top:20px;
	

}
#commentswow_titlebar{
	overflow: auto;
	width: 100%;
	height:20px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#DEDEDE;
	color:#BBBBBB;
}
.commentswow_posterDataName, .commentswow_posterData a{
	color:#058EC4;
	font-size:20px;
	text-decoration:none;
	font-weight:normal;
	margin:0px;
	
}
#commentswow_mainContainer{
	width:100%;
	
}
.commentswow_posterData{
	float:left;
	padding-left:15px;
	height:48px;
	
} 
.commentswow_posterData a:hover{
	text-decoration:underline;
}
.commentswow_comment{
	margin-top:20px;
	margin-left:10px;
}
.commentswow_commentMessage{
	width:100%;
	padding:10px;
	padding-top:0px;
	background-color:#eeeeee;
	color:#333333;
}
.commentswow_commentMessage ul{
	float:right;
	margin-top:5px;
	margin-bottom:1px;
}
.commentswow_commentLinks{
	overflow: auto;
	width: 100%;
}
.commentswow_commentMessage ul li{
	display:inline;
	color:#BBBBBB;
}
.commentswow_commentMessage ul li a{
	color:#058EC4;
}
.commentswow_arrowUp{
	height:10px;
	background:#ffffff url('../images/commentswow_arrowup.jpg') no-repeat bottom left;
}
.commentswow_avatar{
	height:48px;
	float:left;
}
