/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* General */
#newcreategroup_container #newcreategroup_group_data_container, #newcreategroup_container #newcreategroup_group_members_container {width:47%;float:left;color:#424242;}
#newcreategroup_container .newcreategroup_small_text {font-size:11px;display:block;margin:6px 0;}

/* Error */
#newcreategroup_container label.error {color:#9F3333 !important;}

/* Group members */
#newcreategroup_container #newcreategroup_group_members_container {background-color: #F1F1F1;float: right;height: 389px;margin-top: 32px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;padding:12px;}
#newcreategroup_container #newcreategroup_group_members_container .newcreategroup_add_people {display: block;margin: 6px 0 12px;}

/* Group data */
#newcreategroup_container h1 {font-size: 18px;font-weight: normal;color:#7c7c7c;}
#newcreategroup_container h1 + hr {border:none;border-top:1px solid #A9A9A9;background:none;}
#newcreategroup_container label {display:block; color:#424242;font-size:12px;margin: 12px 0 2px;}
#newcreategroup_container input, #newcreategroup_container textarea {border: 1px solid #A9A9A9;height: 20px;margin-top: 3px;width:100%;}
#newcreategroup_container textarea {height:50px;resize:none;}
#newcreategroup_container textarea#newcreategroup_description{height:100px;}
#newcreategroup_container input#newcreategroup_suggested_url {width:auto;}

#newcreategroup_container .newcreategroup_section select {border:1px solid #A9A9A9;float:right;}
#newcreategroup_container .newcreategroup_section label {display:inline;}
#newcreategroup_container .newcreategroup_section {background:url("/devwidgets/newcreategroup/images/newcreategroup_section_bg.png") repeat-x scroll left top transparent;height: 22px;padding: 12px;margin-top:12px;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;}

/* Actions */
#newcreategroup_container #newcreategroup_group_actions {float: right;margin-top: 20px;}
#newcreategroup_container #newcreategroup_group_actions .s3d-link-button {margin-right: 20px;}
