.imgareaselect-outer {
	z-index:10000 !important;
} 

.imgareaselect-border2 {
	z-index:10000 !important;
}

.imgareaselect-selection {
	z-index:10000 !important;
}

#changepic_container {
	width:700px !important; 
	margin-left: -350px !important;
	background-color: #FFFFFF !important;
}

.dailog_changepic .fl-tabs li a {
	bottom:3px !important;
}

.dailog_changepic .fl-tabs .fl-activeTab a {
	background-color:#FFFFFF !important;
	border-color:#DDDDDD #DDDDDD #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#000000 !important;
	font-weight:normal !important;
}

.dailog_changepic .fl-tabs li a {
	background-color:#EEEEEE;
	border-color:#EEEEEE #EEEEEE #DDDDDD;
	border-style:solid;
	border-width:1px;
	bottom:1px;
	color:#000000 !important;
	margin-left:-1px;
	padding:6px 20px;
	position:relative;
}