/* inbox_main.html */
.inbox_main .user-personal a{color: #058ec4; font-size: 12px;}
.inbox_main .user-personal strong{color: #058ec4;}
.inbox_main .user-personal li{border-left: 1px solid #999; padding: 0 2px 0 6px;}
.inbox_main .user-personal .first{border-left: none;}
.inbox_main .user-name{color: #058ec4; background: url(../../_images/user_online.gif) no-repeat 7px 2px;}
.inbox_main .user-name strong{padding-left: 14px;}
.inbox_main .user-arrow-down{position: relative; top: -1px; padding-left: 3px;}
.inbox_main .user-mail{background: url(../../_images/user_mail_icon.gif) no-repeat 6px 3px;}
.inbox_main .user-mail a{color: #666; padding-left: 16px;}
.inbox_main .site_heading{padding: 30px 0px 10px 25px;font-size: 14px;border-bottom: 1px solid #ebebeb;height:30px;}
.inbox_main .site_heading h1 {display:block;float:left;width:10%;}
.inbox_main .fl-col-fixed{padding: 15px 0 0 20px;}
.inbox_main .drop-menu{position: absolute;}
.inbox_main .inbox-folders{border: 1px solid #ccc;width: 148px; position:relative; top: 40px; padding-bottom: 3px; font-size: 12px; letter-spacing: -.2px; color: #333;}
.inbox_main .inbox-folders ul{margin:0px 0px 0px 10px; padding-left: 10px;}
.inbox_main .inbox-folders ul li{list-style-type: none; padding: 1px 0 3px 0;}
.inbox_main .inbox-folders div {background-color: #FFFFFF; border-color:#FFFFFF; }
.inbox_main .inbox-folders .tab{width: 148px; height: 20px; padding: 0; margin: 0; }
.inbox_main .inbox-folders .tab div{padding: 2px 0 0 10px;}
.inbox_main .fl-col-flex{margin-left: 185px;}
.inbox_main .inbox-heading{font-weight: bold; color: #333; font-size: 17px; border-bottom: 1px solid #ebebeb; padding: 12px 0 10px 5px;margin-bottom:10px}
.inbox_main .inbox-checkbox{width: 16px;}
.inbox_main .inbox-delete{padding: 10px 0 12px 0;}
.inbox_main .inbox-table{width: 100%;}
.inbox_main .inbox-table td{border: none; border-bottom: 1px solid #ebebeb; color: #666;}
.inbox_main .inbox-table th{border: 1px solid #ccc; color: #333; background: #ebebeb; text-align: left;}
.inbox_main .inbox-table .inbox-subject-read a{color: #058ec4;}
.inbox_main .inbox-table .inbox-subject-unread a{color: #058ec4; font-weight: bold;}
.inbox_main .drop-menu{z-index: 9;}
.inbox_main .drop-box{border:1px solid #999; background: #fff; padding:0; margin:0;}
.inbox_main .drop-box ul{padding:0 0 5px 0; margin:0;}
.inbox_main #inbox_delete {margin:10px 0px 10px 0px;display:inline-block;;}
.inbox_main .drop-box ul li{list-style-type: none; padding: 4px 5px 0 5px;}
.inbox_main .inbox_arrow {float:right;width:6px;height:3px;display:inline;margin-top:5px;}
.inbox_main .inbox_inbox_table_header_sort { cursor:pointer;}
.inbox_main .inbox_inbox_table_header_sort span { float:left; }
.inbox_main #inbox_compose_new img { border:none;}
.inbox_main .inbox-table #inbox_tableHeader_chk { width:3%; }
.inbox_main .inbox-table #inbox_tableHeader_subject { width: 25%; }
.inbox_main .inbox-table #inbox_tableHeader_from, .inbox_main .inbox-table #inbox_tableHeader_date { width:20%; }
.inbox_main .inbox-table #inbox_tableHeader_type { width:10%; }
.inbox_main .inbox-table .inbox_message_none { text-align: center;}
/* inbox_compose.htl */
.inbox_main .compose-message{background: #f4f4f4; width: 100%; height: auto;}
.inbox_main .compose-reply{background: #f4f4f4; width: 100%; height: auto; position: relative; top:-15px;}
.inbox_main .compose-form{padding: 10px 15px 12px 15px; color: #333; font-size: 13px;}
.inbox_main .compose-form span{font-weight: 100; padding-left: 5px;}
.inbox_main .compose-form .compose-to, .compose-subject, .compose-body{border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;}
.inbox_main .compose-form .compose-to{width:490px; padding:0; margin:0;}
.inbox_main .compose-form .compose-subject{width: 490px; padding:2px; margin:0px; }
.inbox_main .compose-form .compose-body{height: 140px; width:490px; padding:2px; margin:0px;}
.inbox_main .compose-form div{padding-bottom: 10px;}
.inbox_main .compose-cancel{padding-left: 7px;}

/* inbox_message_detail.html */
.inbox_detail .inbox-heading a{color: #058ec4; font-size: 13px;}
.inbox_detail .inbox-heading span{font-size: 16px;}
.inbox_detail .sender-picture{padding: 5px;width:32px;height:32px;}
.inbox_detail .sender-name{color: #058ec4; font-weight: bold;}
.inbox_detail .sender-timestamp{color: #999999; font-size: 11px;}
.inbox_detail .sender-options{color:#058ec4; font-size: 12px; position: relative; top: -55px;}
.inbox_detail .sender-options a{color:#058ec4; font-size: 12px;}
.inbox_detail .sender-body{background:#f4f4f4; position: relative; top:-20px;} !important /* IE6 FIX */
.inbox_detail .sender-message{display:inline; height: auto; width: 100%;}
.inbox_detail .message-arrow{background: url(../../_images/message_arrow.gif) no-repeat 0 0; height: 7px; width: 10px; position: relative; top: -7px; left: 15px;}
.inbox_detail .message-body{padding: 0 15px 15px 15px; color:#333; font-size: 13px;}
.inbox_detail .message-header{font-weight: bold; font-size: 15px; padding-bottom: 5px;}
.inbox_detail .message-options{padding: 15px 15px 0 0;}
.inbox_detail .message-options a{color:#058ec4; font-weight: bold;}
.inbox_detail .pipe-divider{color:#d2d2d2; padding: 0 3px 0 3px;}
.inbox_detail .reply-options{padding: 15px 0 0 0;}
.inbox_detail .reply-options a{color:#058ec4; font-weight: bold;}

#inbox_inbox_delete { display:inline-block;margin-bottom:8px; padding-left:5px;padding-right:5px;}

/* TABLE COLUMN WIDTHS */
#inbox_table_header_from { width:15%;}
#inbox_table_header_subject { width:40%; }
#inbox_table_header_type { width:20%; }
#inbox_table_header_date { width:15%; }

#inbox_message_compose { margin-bottom:30px;}

.inbox_bold { font-weight:bold; }

.inbox_error_message {font-weight:bold;padding:10px;border:1px solid #ff0000; background-color:#f7d8d8;width:80%;float:left;}
.inbox_normal_message {padding:10px;border:1px solid #00ff00;background-color:#d9f7d8;width:80%;float:left;}


.inbox_message_user { position:relative;margin-left:50px;top:-40px;}

/* pager stuff */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background-color: #eee;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #058ec4;
}