html { background: #093b52 url(../../_images/page_bg_water.jpg) top left repeat-x; }
body { margin-bottom: 50px !important; }

/* General */
label {color:#888; font-weight: bold; font-size: 1em;}

/* Container */
.index-container{width: 960px; height: 100%; height: auto; min-height: 100%;}
#login-failed {color: #D8D8D8; display:none; margin-top:10px; width:260px;}
#login-loader {display:none; color: #D8D8D8;}

/* Header */
.header{background: #666; width: 100%; height: 150px;}
.header-version{color: #999; font-size: 12px; float: right; padding: 15px 30px 0 0;}
.header-title{ color: #08415E; font-size: 4.0em; float: left; margin: 0 35px 0 0; padding: 40px 0;}
.header-byline{color: #2C9CC4; font-size: 1.5em; font-weight: bold; padding: 60px 0 0 0;}
.header-smallline {padding:0 0 40px 0; color:#000; font-size: 1em;}

/* Log-in box */
.login-box {padding: 40px; background: url(../../_images/login-box.png) no-repeat top left; clear: both; height: 324px;}
.preview-box{float: left; width: 540px; margin: 0 80px 0 0;}
.preview-box img {padding: 0 0 90px;}

/* Log-in container */
.login-container {padding: 0; float: left;}
.login-container-button {margin: 25px 0 35px 0; float: none; border: 1px solid #fff;}
.login-container-textfield {border: 1px solid #888; height: 18px; margin-bottom:15px; padding: 3px 0 0 3px; width:200px !important;}

/* External Log-in */
.login-external {margin-left: 600px; width: 250px; height: 250px; display: table;}
.login-external-content {display: table-cell; vertical-align: middle;}
.login-external-system {margin-bottom:30px;}
.login-external-description {color: #999999;}

/* Register here */
#register_here {color: #454a4e; font-size: 0.95em; clear: both;}
#register_here a {color:#006d94; font-weight: bold;}

/* 403 and 404 error*/
#permission_error #error_title, #page_not_found_error #error_title{padding-left:20px; color:#f00001; font-size:12pt; font-weight:bold;}
#permission_error .preview-box, #page_not_found_error .preview-box {margin: 0 30px 0 0;}
#permission_error p, #page_not_found_error p {margin-top:20px; margin-bottom:12px;}
#permission_error ul, #page_not_found_error ul {margin:2px 0 0 12px;}
#permission_error .login-container, #page_not_found_error .login-container {width:310px;}
#permission_error a, #page_not_found_error a {text-decoration:none;}

#permission_error #error_title {background:url(/dev/_images/403_slash.png) no-repeat;}

#page_not_found_error #error_title {background:url(/dev/_images/404_exclamation.png) no-repeat;}

/* Footer */
#index_footer {position: fixed; z-index: 99; bottom: 0px; color: #fff; background: url(../../_images/footer_bg.png) bottom left no-repeat; padding: 18px 20px 0 100px; margin-top: 100px; clear: both; height: 42px; width: 840px; font-size: .85em; line-height: 1.2em;}
#index_footer a { color: #c6e4fc; }