

/** CONTAINER **/
.fixed-container
{ background: #fff; }


/** HEADING **/
.sakai_site .header
{  }

.sakai_site .site_heading
{ color: #454a4f; padding: 0 0 10px 0; border: none; margin-top: -30px; }


/** SEARCH **/
.sakai_site .search_container
{ display: block; height: 30px; padding: 15px 10px 0 0; }

.sakai_site .search_container .search_field
{ display: block; float: left; border: 1px solid #999999; width: 210px; height: 19px; padding: 4px 5px 0px 5px; color: #999999; margin: 0 10px 0 0; }

.sakai_site .search_container .search_button
{ background: #454a4f url('../../_images/search_button.png') top left no-repeat;border: none; color: #fff; display: block; height: 23px; padding: 0; width: 88px; float: left; }

.sakai_site .search_container .search_button span
{ position:absolute; top:-9999px; left:-9999px; }


/** TOP RIGHT MENU **/
.sakai_site .content_page_options
{ background: #fff url('../../_images/tab_bg_right.png') top right no-repeat; height: 25px; border: none;  padding: 0 10px 0 0; display: block; margin: 20px 10px 0 0; }

.sakai_site .content_page_options ul
{ padding: 7px 0 0 20px; background: #fff url('../../_images/tab_bg_left.png') top left no-repeat; }

.sakai_site .content_page_options ul li
{ display: block; float: left; height: 20px; padding: 0 15px 0 0; }

.sakai_site .content_page_options #edit_page
{ background: transparent url(../../_images/edit_page_18.png) top left no-repeat; padding: 2px 15px 0 20px; border-right: 1px solid #888888; }

.sakai_site .content_page_options #print_page
{ background: transparent url(../../_images/printer_18.png) top left no-repeat; padding: 2px 15px 0 20px; border-right: 1px solid #888888; }




/** ADD MORE MENU **/
.sakai_site .content_page_options #more_link
{ background: transparent url(../../_images/more_bg_18.png) top left no-repeat; padding: 1px 21px 2px 12px; }

.sakai_site .add_more_menu
{ background-color: #D3DBDE; padding: 0; position: absolute; left: 0; top: 0; display: block; width: 100px; margin: 0; }

.sakai_site .add_more_menu ul
{ margin:0; }

.sakai_site .nav_small_spacer
{ height: 20px; }

.sakai_site .add_more_menu ul li
{ padding: 5px 10px 5px 15px; list-style-type: none; }

.sakai_site .selected_option
{ background-color: #006e96 !important;}

.sakai_site .selected_option a
{ color: #fff !important; }


/** MAIN CONTENTS **/

.sakai_site .main_container
{ padding: 0; border: none; margin: 0 0 20px 0; overflow: hidden; }

.sakai_site .sakai_site_contents_main
{ border-left: 3px solid #D3DBDE; border-right: 3px solid #D3DBDE; margin: 0; padding: 10px; min-height: 350px; }

.sakai_site .content_top
{ background: url('../../_images/content_tr.gif') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.sakai_site .content_top_inner
{ background: url('../../_images/content_tl.gif') 0 0 no-repeat; margin: 0; height: 6px; }

.sakai_site .content_bottom
{ background: url('../../_images/content_br.png') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.sakai_site .content_bottom_inner
{ background: url('../../_images/content_bl.png') 0 0 no-repeat; margin: 0; height: 6px; }



#revision_history_list
{ font-size:0.95em; margin-left: 5px; margin-right:15px; padding:2px; border: 1px solid #cccccc; }




/* LEFT NAV */
.sakai_site .page_nav
{ width: 230px; padding: 0; margin: 0; }




/** ADD NEW MENU **/

.sakai_site .add_a_new_container
{ min-height: 25px; margin: 15px 0 5px 15px; position: relative; }

.sakai_site .add_a_new
{ background: transparent url(../../_images/create_dropdown_bg.png) no-repeat scroll left 0; color:#FFFFFF; display:block; font-weight:bold; height:22px; padding:3px 0 0 19px; }

.sakai_site .add_new_menu
{ background-color:#FFFFFF; border:1px solid #454A4F; margin: 0; padding:0; width: 128px; position: absolute; left: 0; top: 0; }

.sakai_site .add_menu_spacer
{ height: 35px; }

.sakai_site .add_new_menu ul
{ margin:0; }

.sakai_site .add_new_menu ul li
{ padding: 5px 10px 5px 10px; list-style-type: none; }



/** BUTTONS **/
.sakai_site .buttonBar
{ height: 23px; }

.sakai_site .lightgreybutton
{ background: transparent url(../../_images/lightgray_button_right.gif) top right no-repeat; float: left; height: 23px; padding: 0 10px 0 0; margin-right: 10px; }

.sakai_site .lightgreybutton a
{ background: url(../../_images/lightgray_button_left.gif) top left no-repeat; display: block; height: 23px; padding: 4px 0 0 10px; color: #FFFFFF; font-weight: bold; border: none; cursor: pointer; font-weight: normal; }


.sakai_site .greybutton
{ background: transparent url(../../_images/gray_button_right.png) top right no-repeat; float: left; height: 23px; padding: 0 10px 0 0; margin-right: 10px; }

.sakai_site .greybutton a
{ background: url(../../_images/gray_button_left.png) top left no-repeat; display: block; height: 23px; padding: 4px 0 0 10px; color: #FFFFFF; font-weight: bold; border: none; cursor: pointer; font-weight: bold; }


/** REVISION HISTORY **/
.sakai_site .revision_history
{ background: #EEEEEE; padding: 20px 10px 20px 10px; }

.sakai_site .revision_history div
{ float: left; }

.sakai_site .revision_history .clear
{ clear: both; }



/* SITE MANAGEMENT NAV */
.site_management
{ margin:0; padding: 0; border: none; }

.site_management .sm_titlebar
{ background:transparent url(/dev/_images/block_tr.png) no-repeat scroll right top; padding: 0 10px 0 0; height:50px; }

.site_management .sm_titlebar_inner
{ background:transparent url(/dev/_images/block_tl.png) no-repeat scroll left top; padding: 18px 0 0 17px; height:50px; }

.site_management .sm_title
{ background:transparent url(/dev/_images/site_management_icon.png) no-repeat scroll left top; color:#878A8C; font-size:1em; padding-left: 25px; }

.site_management .sm_content
{ border-left: 3px solid #D4DADE; border-right: 3px solid #D4DADE; padding: 10px 5px 10px 40px; margin: 0; }

.site_management .sm_content ul
{ margin: 0; padding: 0; }

.site_management .sm_content ul li a
{ color: #058EC4; font-weight: bold; }

.site_management .sm_content ul li p
{ color: #999999; }

.site_management .sm_bottom
{ background:transparent url(/dev/_images/content_bl.png) no-repeat scroll left bottom; height: 5px; padding: 0 0 0 10px; }

.site_management .sm_bottom_inner
{ background:transparent url(/dev/_images/content_br.png) no-repeat scroll right bottom; height: 5px; }



/** SITE EDIT
    --------------------------------------------------------------------------------------------------- **/

/** TABS **/
.edit_view .primary-tabs
{ background: #fff url('../../_images/site_edit_tab_bg.png') top right no-repeat; height: 25px; border: none;  margin: -15px 0 0 0; padding: 3px 10px 0 0; display: block; }

.edit_view .primary-tabs ul
{ padding: 0; margin: 0; border-bottom: none; float: right; }

.edit_view .primary-tabs ul li
{ margin: 0; padding: 0; background: transparent; border: none; display: block; float: left; }

.edit_view .primary-tabs ul li a
{ padding: 4px 18px 4px 13px; line-height: 20px; background: transparent; border: none; font-weight: bold; color: #000; display: block; float: left; margin: 0; position: relative; bottom: 0px !important; }


.edit_view .primary-tabs ul li.fl-tabs-active
{ background: #FFF url('../../_images/tab_corner_tl.png') top left no-repeat; height: 28px; padding-left: 5px; position: relative; bottom: 0px !important;  }

.edit_view .primary-tabs ul li.fl-tabs-active a
{ background: #FFF url('../../_images/tab_corner_tr.png') top right no-repeat; height: 28px; font-weight: normal; padding-left: 15px; margin: 0; position: relative; bottom: 0px !important; }


/** Autosave message **/
.edit_view .messageInformation
{ height: 23px; line-height: 23px; }

/** Toolbar **/
.edit_view .toolbar-placeholder
{ border-left: 3px solid #D3DBDE; border-right: 3px solid #D3DBDE; padding: 0 0 0 0; margin: 0; background: transparent; height: 40px; border:none; }

.edit_view .toolbar
{ border-left: 3px solid #D3DBDE; border-right: 3px solid #D3DBDE; margin: 0; padding: 5px 0 10px 7px; background: transparent; height: 35px; vertical-align: middle; background: #FFFFFF url(../../_images/edit_toolbar_bg.png) top left repeat-x; }


/** Title **/
.edit_view .title_input_container
{ padding: 5px 0 10px 0; z-index: 1234; }

.edit_view .title-input
{ width: 882px !important; font-size: 1.5em; font-weight: bold; border: 1px solid #999999; padding: 5px; z-index: 1234; }

/** Content editors **/
.edit_view .fl-tab-content-editor
{ width: 882px !important; border: 1px solid #999999; padding: 5px; margin: 0; }

.edit_view textarea
{ width: 882px !important; }

.edit_view #html-editor-content
{ width: 882px !important; border: 1px solid #999999; padding: 5px; margin: 0; }

.edit_view #page_preview_content
{ width: 882px !important; border: 1px solid #999999; padding: 5px; margin: 0 0 20px 0; }

/** Move **/
.edit_view .new_page_path
{ height: 23px; line-height:23px; margin: 10px 0 20px 0; }

.edit_view .new_page_path div
{ float:left; margin: 0 10px 0 0; }


/** TAB CONTENTS **/
.edit_view .edit_container
{ padding: 0; margin: 0 0 20px 0; color: #454a4f; }

.edit_view .edit_contents_main
{ border-left: 3px solid #D3DBDE; border-right: 3px solid #D3DBDE; margin: 0; padding: 0 10px 10px 10px; }

.edit_view .content_top
{ background: url('../../_images/content_tr.gif') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.edit_view .content_top_inner
{ background: url('../../_images/content_tl.gif') 0 0 no-repeat; margin: 0; height: 6px; }

.edit_view.content_bottom
{ background: url('../../_images/content_br.png') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.edit_view .content_bottom_inner
{ background: url('../../_images/content_bl.png') 0 0 no-repeat; margin: 0; height: 6px; }


/** --------------------------------------------------------------------------------------------------- **/


/** FOOTER **/
.sakai_site .sakai_footer
{ padding: 15px 0 15px 15px; border-top: 1px solid #ddd; font-size: .85em; color: #999; margin-top:35px; }

.sakai_site .sakai_footer a
{ color: #3399cc; }

.sakai_site .sakai_logo
{ float: left; }
