
/* Global Classes */
.user-personal a{color: #058ec4; font-size: 12px;}
.user-personal strong{color: #058ec4;}
.user-personal li{border-left: 1px solid #999; padding: 0 0 0 5px;}
.user-personal .first{border-left: none;}
.user-name{color: #058ec4; background: url(../../_images/user_online.gif) no-repeat 5px 2px;}
.user-name strong{padding-left: 14px;}
.user-arrow-down{position: relative; top: -1px; padding-left: 3px;}
.user-mail{background: url(../../_images/user_mail_icon.gif) no-repeat 6px 3px;}
.user-mail a{color: #666; padding-left: 16px;}
.site_heading {padding: 25px 0px 10px 25px; border-bottom: 1px solid #ebebeb;}
.site_heading h1 {margin: 0;     padding: 0;    font-weight: bold;}
.site_secondary_heading {font-weight: bold; font-size: 20px; padding: 30px 0px 20px 25px;}
.site_secondary_heading a{color: #0c91c5; font-size: 14px; padding-left: 10px;}
.section_container{padding: 25px 25px 0 25px;}
.section_header{font-weight: bold; border-bottom: 1px solid #ebebeb; font-size: 17px; padding-bottom: 3px;}
.text-field{ padding: 4px 4px; width: 230px; color: #222; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;}

/* Buttons */
.button{display: block; float: left; padding: 3px 5px; text-align: center; border: 1px solid #ccc; background: url(../../_images/button_bg.png) repeat-x bottom left; color: #333;}
.submit-button{padding: 2px 5px; background: url(../../_images/button_bg.png) repeat-x bottom left; border: 1px solid #ccc; color: #333; text-align: center; font-size: 13px; margin:0;}
.button-secondary{font-weight: normal;}

.button-grey { background: transparent url(../../_images/gray_button_left.png) top left no-repeat; float: left;}
.button-grey input {background: url(../../_images/gray_button_right.png) top right no-repeat; margin:0; padding: 0 10px 0 10px; border: none; color: #fff; font-weight: bold; cursor: pointer; height: 23px; margin-right: -10px;}
.button-lightgrey { background: transparent url(../../_images/lightgray_button_left.gif) top left no-repeat; float: left;}
.button-lightgrey input {background: url(../../_images/lightgray_button_right.gif) top right no-repeat; margin:0; padding: 0 10px 0 10px; border: none; color: #fff; font-weight: bold; cursor: pointer; height: 23px; margin-right: -10px;}
.button-space {margin-left: 20px}

/* site_management_members_add_flat.html */
.add-members .current-members{padding-right: 55px; padding-top: 6px; color: #ddd; width: 258px; text-align: left;}
.add-members .current-members span{color: #999; font-weight: bold;}
.add-members .current-members .manage-members{background: url(../../_images/button_current_members.png) repeat-x top left; width: 190px; height: 21px; float: right; vertical-align: middle; line-height: 21px; margin-top: 18px;}
.add-members .third_heading{color: #666;}
.add-members .fl-col-mixed-200{margin-left: 23px;}
.add-members .fl-col-fixed{background-color: #eee; margin: 0; padding: 0;}
.add-members .fl-col-fixed .fixed-container{padding: 20px 15px 15px 15px; font-size: 12px; color: #333;}
.add-members .fl-col-fixed .fixed-container .member-options .add-people-table{margin:7px 0px 0px 5px;}
.add-members .fl-col-fixed .fixed-container .member-options .add-people-table td{padding: 0; margin: 0; border: 0;}
.add-members .fl-col-fixed .fixed-container .member-options .add-people-table th{padding: 2px 0 2px 5px; margin: 0; border: 0; text-align: left; font-weight: 100;}
.add-members .fl-col-fixed .fixed-container .tag-people{color: #ccc; font-weight: 100; width: 157px; height: 17px; border: 1px solid #ccc; margin-top: 6px; padding: 3px 3px 3px 3px; font-style: italic;}
.add-members .fl-col-fixed .fixed-container .status{margin-top: 25px;}
.add-members .fl-col-fixed .fixed-container ul{margin: 10px 0 0 10px; padding: 0;}
.add-members .fl-col-fixed .fixed-container li{list-style-type: none; margin-top: 5px;}
.add-members .fl-col-fixed .fixed-container .update-people{height: 25px; width: 165px; margin-top: 18px;}
.add-members .fl-col-fixed .fixed-container .remove-people{height: 25px; width: 165px; margin: 6px 0 22px 0;}
.add-members .fl-col-fixed .fixed-container .add-people{background: url(../../_images/button_current_members.png) repeat-x top left; width: 165px; height: 25px; margin-top: 25px; float: none;}
.add-members .fl-col-fixed .fixed-container .selected-people{font-weight: bold; color: #666; border-bottom: 1px solid #ccc; width: 100%; display: block; padding-bottom: 5px; margin-top: 48px;}
.add-members .fl-col-fixed .fixed-container .selected-people-table{padding: 0; margin: 0 0 160px 10px; width: 100%;}
.add-members .fl-col-fixed .fixed-container .selected-people-table th{color: #999; padding:7px 0 0 0; margin:0;text-align: left; border: 0;}
.add-members .fl-col-fixed .fixed-container .selected-people-table  a{color: #999;}
.add-members .fl-col-fixed .fixed-container .selected-people-table td{padding:7px 2px 0 0; margin:0; border: 0;}
.add-members .fl-col-flex { margin: 0 0 0 215px; padding: 0; }
.add-members .fl-col-flex .flex-container{padding: 0 25px 0 0; margin:0;}
.add-members .fl-col-flex .flex-container .member-search{padding-bottom: 23px; border-bottom: 1px solid #ccc;}
.add-members .fl-col-flex .flex-container .member-search .member-search-field{color: #ccc; border: 1px solid #ccc; width: 375px; padding: 4px 4px 4px 4px; margin-left: 12px;}
.add-members .fl-col-flex .flex-container .member-search a{float: left;  display: block; padding: 4px 4px 4px 4px; border: 1px solid #ccc; width: 162px; color: #666; background: url(../../_images/arrow_down_sm2.png) no-repeat 95% 60%;}
.add-members .fl-col-flex .flex-container .explore_nav{background: #fff; padding: 0; margin: 0;}
.add-members .fl-col-flex .flex-container .explore_nav .user-personal li{padding: 0 7px 0 10px;}
.add-members .fl-col-flex .flex-container .explore_nav .user-personal .first{padding-left: 0px;}
.add-members .fl-col-flex .flex-container .members-container ul{padding: 35px 23px 0px 25px; margin: 0;}
.add-members .fl-col-flex .flex-container .members-container li{list-style-type: none; float: left; width: 259px; height: 73px; padding-bottom: 27px;}
.add-members .fl-col-flex .flex-container .members-container li img{float: left; padding-right: 8px;}
.add-members .fl-col-flex .flex-container .members-container li.unselected img{margin: 4px 4px 3px 3px;}
.add-members .fl-col-flex .flex-container .members-container .member-label{color: #3399cc; font-weight: bold; font-size: 15px; margin: 20px 0 0 0; display: block;}
.add-members .fl-col-flex .flex-container .members-container .member-title{color: #999;}

/* site_management_basic_settings.html */
.basic_management .delete_site{float: right; background: url(../../_images/delete_site.png) no-repeat top right; width: 119px; height: 27px; display: block; margin: 12px 10px 0 0; text-align: center; color: #888; vertical-align: middle; line-height: 26px; font-size: 12px;}
.basic_management .delete_site span{margin-left: 22px;}
.basic_management .delete_site_warning{color: #D32F2F;}
.basic_management .delete_site_warning strong{color:#D32F2F;}
.basic_management .site_summary_form{padding: 20px 0 0 45px;}
.basic_management .site_summary_form span{font-weight: 100;}
.basic_management .site_summary_form td{border: 0;}
.basic_management .site_summary_form th{text-align: right; border:0; font-weight: bold; color: #333;}
.basic_management .site_summary_form .site_title{width: 230px;}
.basic_management .site_summary_form .site_description{width: 355px; height: 80px;}
.basic_management .site_summary_form .site_contact{width: 230px;}
.basic_management .site_summary_form .site_display{padding-left: 215px;}
.basic_management .site_summary_form a.edit-link{ padding-left: 5px; color:#058ec4; font-size: 85%;}
.basic_management .site_access_form{padding: 20px 0 0 4px;}
.basic_management .site_access_form th{border:0; text-align: right; font-weight: bold; color: #333; vertical-align: text-top;}
.basic_management .site_access_form td{border:0; padding-top: 8px;}
.basic_management .site_access_form td div{padding-top: 5px;}
.basic_management .site_access_form td span{color: #a9a9a9;}
.basic_management .settings_confirm_container{padding-left: 20px; height: 41px; background:#f9f9f9;}
.basic_management .settings_confirm_container .button{margin-top: 8px;}
.basic_management .settings_confirm_container .cancel{width: 74px; margin-left: 8px;}
.basic_management .settings_confirm_container .save{width: 70px;}
.basic_management .site_heading {padding: 25px 25px 25px 25px;}

/* TOP TABS */
.primary-tabs {border-bottom: 1px solid #EBEBEB;padding: 0 0 2px 20px;}
.primary-tabs ul.fl-tabs {border: none;}
.primary-tabs li a {background-color:#F3F3F3;border: none;border-bottom: 1px solid #EBEBEB;color:#3399CC;padding: 4px 21px 4px 21px;margin-right: 4px;margin-bottom: -9px;}
.primary-tabs .fl-tabs-active a {background-color: #FFF;border-left: 1px solid #EBEBEB;border-right: 1px solid #EBEBEB;border-top: 1px solid #EBEBEB;border-bottom: 1px solid #FFF;padding: 7px 20px 4px 20px;color:#333333;font-weight:bold;}

/* GENERAL SITE MANAGEMENT */
.basic_management .site_summary_form .summary-form-item label {color:#333333; float:left; font-weight:bold; margin-right:15px; text-align:right; width:90px;}
.basic_management .site_summary_form .summary-form-item {margin-bottom:20px;}
.basic_management .site_access_form {padding:20px 0 30px 4px; width:550px;}
.basic_management .site_access_form .access-form-item {margin-bottom:35px;}
.basic_management .site_access_form .site_access_label {color:#333333;float:left;font-weight:bold;height:52px;margin-right:25px;text-align:right;width:125px;}
.basic_management .site_access_form .access-form-item .site_access_label {color:#333333;float:left;font-weight:bold;text-align:right;width:130px;}