/* Global */
.fixed-container {
    background: #fff;
}
.profilewow input[type="text"], .profilewow input[type="password"] {
    border: 1px solid #ddd;
    padding: 3px;
}
#profilewow_heading a, #profilewow_userinfo a, #profilewow_generalinfo a {
    color: #3399CC;
    font-weight: bold;
}

/* Heading */
#profilewow_heading h1 {
    float:left;
}
#profilewow_heading select {
    font-weight: normal;
    margin: 7px 0 0 10px;
}

/* Footer */
#profilewow_footer {
    margin: 30px 0 15px 0;
    overflow: hidden;
}