.header .fixed-container
{ height: 60px; }
#sakai2site_container .fixed-container
{ background-color:#fff; padding-bottom:20px;}
#sakai2site_iframe
{ height:1200px; width: 100%;}
#sakai2site_back
{ color:#006E96; float:right; margin-top:30px; }