/* CONTENT */
.widget-content .fixed-container {background-color: #fff; padding-bottom: 20px;}

/* GENERAL WIDGET CSS */
.fl-widget {margin-bottom: 10px;}
.fl-widget .fl-widget-titlebar h2 {padding-left:3px;}
.fl-widget {padding: 0;}
.fl-widget .fl-widget-titlebar {background: url(../../_images/block_tr.png) top right no-repeat; padding: 0 8px 0 0; width: auto; cursor: move;}
.fl-widget .fl-widget-titlebar .widget-titlebar-inner {background: url(../../_images/block_tl.png) top left no-repeat; height: 50px;}
.fl-widget .fl-widget-titlebar .widget_title {color: #878a8c; font-size: 1.0em; float: left; padding-left: 43px; line-height: 50px;}
.fl-widget .fl-widget-titlebar .settings {background-image: url(../../_images/edit_icon_widget.png); position: relative; height: 18px; background-repeat: no-repeat; margin-top: 15px;}

.myfriends.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/contacts_icon.png') 17px 18px no-repeat;}
.sites.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/courses_icon.png') 17px 18px no-repeat;}

.fl-widget .fl-widget-options {margin: 0;background: url(../../_images/block_tl_down_right.png) top right no-repeat; padding: 0 8px 0 0;}
.fl-widget .fl-widget-options .widget-options-inner {background: url(../../_images/block_tl_down.png) top left no-repeat; height: 12px; width: auto; padding: 0 0 0 14px;}
.fl-widget .fl-widget-options ul {margin: 0; padding: 0;}
.fl-widget .fl-widget-options ul li {float: left; margin: 0; padding: 16px 6px 0 6px;}
.fl-widget .fl-widget-options ul li a {color: #666; font-size: .85em; font-weight: bold;}
.fl-widget .fl-widget-options .pipe_divider {font-size: .85em;}

.fl-widget .fl-widget-content {background-color: #fff; padding: 5px 2px 15px 2px; margin: 0; border-left: 3px solid #D4DADE; border-right: 3px solid #D4DADE;}
.fl-widget .fl-widget-content ul {margin: 0; padding: 0;}
.groupWrapper {overflow:hidden;}

.widget1 {background-color:#FFFFFF;}
.widget_spacer {height:1px;}



#change_layout_dialog .buttonBar #select-layout-finished { float: left;}
#change_layout_dialog .buttonBar #select-layout-cancel { margin-left: 10px;}

#dashboard_addpage_dialog .buttonBar #dashboard_addpage_add { float: left;}
#dashboard_addpage_dialog .buttonBar .jqmClose { margin-left: 10px;}
#dashboard_addpage_dialog #dashboard_addpage_title { width:98%; margin-top:10px;}

/* OPTIONS */
.dashboard_options {clear: none;text-align: right;}
.dashboard_options .fixed-container { background-color: #fff; }
.dashboard_options a {font-size: .9em; color: #454A4F; font-weight: bold;}

/* SPECIFIC WIDGETS */
.fl-widget-content {padding:2px;}
.sitemembers .sitemembers_compact {width:auto;}
.sitemembers #sitemembers_settings_data_container {width:100%;}
.sitemembers .sitemembers_settings_data {width:auto;float:none;display:block;}
.sitemembers.fl-widget .fl-widget-titlebar .widget_title { background:transparent url(/dev/_images/myprofile_icon.png) no-repeat scroll 17px 18px; }


.folderpicker.fl-widget .fl-widget-titlebar .widget_title { background:transparent url(/dev/_images/folder_icon.png) no-repeat scroll 17px 18px; }
.filepicker.fl-widget .fl-widget-titlebar .widget_title { background:transparent url(/dev/_images/page_18.png) no-repeat scroll 17px 18px; }
.rss.fl-widget .fl-widget-titlebar .widget_title { background:transparent url(/dev/_images/rss_icon.png) no-repeat scroll 17px 18px; }


/* Footers */
.dashboard_footer {display:block !important;}


#widget_settings_menu {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #D4DADE;
	background: #fff;
	font-size: 90%;
	margin-top: 20px;
}
#widget_settings_menu ul {
	padding: 0;
	margin: 0;
}
#widget_settings_menu ul li {
	padding: 3px 5px;
	margin: 0;
	list-style-type: none;
}

/* TOOLS CONTAINER - RIGHT COLUMN */
#toolscontainer {
	margin-left: 20px;
}



/* D&D Classes */
.orderable-hover {cursor:move;}
.orderable-dragging {opacity:0.2; width:auto;}
.orderable-selected {}
.orderable-avatar {background-color:#666666; border:1px solid #666666; height:25px; width:50px; z-index:65535;}
div .orderable-drop-marker {background-color:#FA7019; height:10px !important;}
.orderable-avatar-clone {height:200px; opacity:0.6; width:400px;}
.drop-warning {background-color:#FFD7D7; border:2px solid red; display:none; left:10px; margin:5px; padding:10px; position:absolute; top:50px; z-index:65535;}
.orderable-drop-marker-box {background-color:#FFFFFF; border:2px dashed #AAAAAA; height:200px !important; margin-bottom:1em; width:100%;}
.orderable-mouse-drag {display:none;}
#change_layout_dialog {width: 840px !important; margin-left: -420px !important;}


/* Add Sakai Goodies */
.add-button {background:transparent url(../../_images/button_bg.png) repeat-x scroll left bottom; border:1px solid #CCCCCC; color:#333333; display:block; float:left; padding:3px 5px; text-align:center;}
.add_goodies .add {font-weight:bold;}
.add_goodies .add-button {margin-left:9px; width:63px;}
.dialogue_body td {border-style:none none solid; border-color: #E5E5E5;}
.add_goodies .add {font-weight:bold;}
.add_goodies .dialogue_body {border:1px solid #E5E5E5;}
.dialogue_body {border:1px solid #E5E5E5; height:307px; left:15px; overflow:auto; position:relative; top:15px; width:488px;}
#add_goodies_dialog {width:520px; height: 374px; background-color: #fff; margin-left: -260px;}
.elf-right-up {padding-top:40px; padding-bottom: 85px;}
.add-tools-right {width:100%; margin-bottom: 40px;}
#add_goodies_body table {width: 471px;}
.remove_add_column {width:80px;}


/* Change layout */
.layout_container {float:left;  padding-left:25px;  padding-right:13px;	}
.layout_picker_item {width:114px; height: 62px; border: 2px solid #3399CC; border-right: 2px solid #3399CC; background-color: #EEFFFF;}
.layout_picker_item_column {border-right: 1px solid #3399CC;}
.layout_picker_item_radio {margin-left:50px; margin-top:10px;}
.layout_container_unselected {float:left; padding-left:25px; padding-right:13px;}
.layout_picker_item_unselected {width:114px; height: 62px; border: 2px solid #dddfe1; border-right: 2px solid #dddfe1; background-color: #F8F8F8;}
.layout_picker_item_column_unselected {border-right: 1px solid #dddfe1;}
.layout_picker_item_radio_unselected {margin-left:50px; margin-top: 10px;}
#change_layout_dialog {width:400px; margin-left: -200px;}
#layouts_list {display:block;}