/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Sakai Base */


/* ----------------------------------------------------------------------------
 *    GLOBAL RULES
 * ----------------------------------------------------------------------------
 */

html {
    background: #75ADD7 url('../../_images/body_bg.jpg') top left repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 120%;
}

/* adding a visable outline on focus for accessibility */
:focus {
    outline: 1px dotted #000;
}

/* HTML TAG OVERRIDES - on top of the FSS reset */

h1 {
    font:normal 2em Arial, Helvetica, sans-serif;
}

/* LINKS */

a { 
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hidden elements
 ** localization: .i18nable 
 * Hide i18nable elements by default until the messages are replaced by the translated
 * strings, and i18n will show the element. Typically this class is applied at body level
 ** functionality: .s3d-hidden
 * user for elements that will then be shown later using jQuery().show() 
 */

.s3d-hidden, .i18nable {
    display: none;
}


/* UTILITY CLASSES */



/* ----------------------------------------------------------------------------
 * PROGRAMMATICALLY SET STYLES
 * styles used to programmatically set placement of widgets on the page 
 * ----------------------------------------------------------------------------
 */

.inline_class_widget_rightfloat {
    float:right;
    padding: 5px;
}
.inline_class_widget_leftfloat {
    float:left;
    padding: 5px;
}

/* ----------------------------------------------------------------------------
 *    BUTTONS 
 * ----------------------------------------------------------------------------
 */

.s3d-button {
    display: inline-block;
    position: relative;
    border: none; 
    margin: 0 5px 5px 0;
    padding: 0 13px 0 0;
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
    background: url("../../_images/button-sprite-5state.png") no-repeat scroll right -40px transparent;
    font-size: 0.9em;
    font-weight: bold;
}

.s3d-button:hover, .s3d-button-hover  {
    background-position: right -120px;
}

.s3d-button::-moz-focus-inner {
    border: none;  /* overrides extra padding in Firefox */
}

.s3d-button .s3d-button-inner {
    position: relative;
    display: block;
    background: url("../../_images/button-sprite-5state.png") no-repeat scroll left top transparent;
    margin: 0;
    height: 23px;
    line-height: 23px;
    white-space: nowrap;
    padding: 0 0 0 15px;
    color: #fff;
}

.s3d-button:hover .s3d-button-inner, .s3d-button-hover .s3d-button-inner {
    background-position: left -80px;
    color: #FFF;
}


html>body .s3d-button .s3d-button-inner {
    white-space: normal; /* only do the white-space fix on IE6 */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    .s3d-button .s3d-button-inner {
        margin-top: -1px;
    }
}

.s3d-button-primary {
    background-position: right -200px;
}

.s3d-button-primary .s3d-button-inner {
    background-position: left -160px;
}

.s3d-button[disabled], .s3d-disabled {
    background-position: right -280px;
    cursor: default;
}

.s3d-button:hover[disabled], .s3d-disabled.s3d-button-hover {
    background-position: right -280px;
    cursor: default;
}

.s3d-button[disabled] .s3d-button-inner, .s3d-disabled .s3d-button-inner {
    background-position: left -240px;    
}

, .s3d-button:hover[disabled] .s3d-button-inner, .s3d-disabled.s3d-button-hover .s3d-button-inner  {
    background-position: left -240px;    
}

.s3d-button-icon-right, .s3d-button-icon-left {
    display: block;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
}

.s3d-button-icon-right {
    background-position: right center;
    padding-right: 18px;
}

.s3d-button-icon-left {
    background-position: left center;
    padding-left: 18px;
}

.s3d-search-button {
    padding-right: 8px;
}

.s3d-search-button .s3d-button-icon-right {
     background-image: url("../../_images/icon-search-white.png");
}

/* ----------------------------------------------------------------------------
 *    TOP TABS
 * ----------------------------------------------------------------------------
 */

.primary-tabs {
    height: 25px;
    border: none;
    padding: 3px 10px 0 0;
    display: block;
}

.primary-tabs ul {
    border: none;
    padding: 0;
    margin: 0;
    float: right;
}

.primary-tabs ul.fl-tabs-left {
    float: left; 
}

.primary-tabs ul li {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    display: block;
    float: left;
}

.primary-tabs ul li a {
    padding: 4px 18px 4px 13px;
    line-height: 20px;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #000;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    bottom: 0px !important;
}

.primary-tabs ul li.fl-tabs-active {
    background: #FFF url('../../_images/tab_corner_tl.png') top left no-repeat;
    height: 30px;
    padding-left: 5px;
    position: relative;
    bottom: 0px !important;
}

.primary-tabs ul li.fl-tabs-active a {
    background: #FFF url('../../_images/tab_corner_tr.png') top right no-repeat;
    height: 30px;
    font-weight: normal;
    border: none;
    padding-left: 15px;
    margin: 0;
    position: relative;
    bottom: 0px !important;
}

/* ----------------------------------------------------------------------------
 *    DIALOGS
 * ----------------------------------------------------------------------------
 */

/* Dialog */
.dialog{color:#333;display:none;left:50%;margin-left:-250px;position:absolute;top:12%;width:500px;}
.jqmOverlay{background-color:#000;}

/* Dialog header */
.dialog_header{background:url(/dev/_images/dialog_tr.png) top right no-repeat;padding:0 8px 0 0;}
.dialog_header_inner{background:url(/dev/_images/dialog_tl.png) top left no-repeat;}
.dialog_header h1{color:#fff;display:block;font-size:1.1em;margin:0;padding:15px 20px;}
.dialog_header .dialog_close_image{background:url(/dev/_images/close_dialog.png) no-repeat top right;cursor:pointer;display:block;height:15px;overflow:hidden;position:absolute;right:20px;top:17px;text-indent:-5000px;width:14px;}

/* Dialog content */
.dialog_content{background-color:#fff;border-left:3px #454a4f solid;border-right:3px #454a4f solid;padding:20px;}
.dialog_content h1{font-size:1.1em;font-weight:bold;color:#333;margin:0;padding:5px 0;}
.dialog_content textarea {height:80px;width:98%;}

/* Dialog buttons */
.dialog_buttons{clear:both;margin-top:20px;}
.dialog_buttons .button,.dialog_buttons .button-default{background:#FFF url(/dev/_images/custom_button_gradient.png) repeat-x scroll center bottom;border:1px solid #CCC;display:inline;float:none;font-weight:normal;cursor:pointer;padding:3px 8px;width:auto}
.dialog_buttons .button-default{color:#222;}

/* Dialog footer */
.dialog_footer{background:url(/dev/_images/dialog_br.png) top right no-repeat;padding:0 8px 0 0;}
.dialog_footer_inner{background:url(/dev/_images/dialog_bl.png) top left no-repeat;height:6px;}