/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Header */
.acknowledgements h1 { font-size:1.4em; font-weight:bold; margin:0 0 0; padding:0; }
.acknowledgements h1.title { color:#006E96;}
.acknowledgement_information h2{ margin: 10px 0 0 0; font-weight:bold; }
.acknowledgements .header{ height:110px; }

/* Content */
.acknowledgements_content a{ color:#006E96; font-weight:bold; }

/* Container */
.acknowledgements .main-container { background: #FFF; }
.acknowledgement_container .acknowledgement_information { float:right; width:685px;}
.acknowledgements .acknowledgement_image_container { float:left; width:200px; margin-right:10px; }
.acknowledgements .acknowledgement_image_container img{ float:right; margin:2px; }


.acknowledgements_third_party{ padding-bottom:10px; }
.acknowledgement_information span, .acknowledgement_information li, #ackenowledgements_content { color: #878A8C; }
.acknowledgements .acknowledgement_container { margin: 0 0 15px 0; padding: 10px; background: #EFF2F4;}