div#sitespages_page_options {width:150px; padding:10px; float:right; display:inline;}
div#sitespages_page_options button {float:right;}
div#sitespages_page_options #page_options {float:right;}
div#sitespages_page_options #page_save_options {float:right;margin-top:100px;}
div#page_save_options_bottom, div#page_save_options_bottom button {float:right;}
div.show_content_and_description {padding:10px; background-color:#EFF2F4; float:left; display:inline; width:97%;}
div.content_item {height:120px; width:312px; margin-right:10px; float:left; display:inline;}

div.content_item div.item_image {float:left; display:inline;}
div.content_item div.item_description {float:left; display:inline;}
div.content_item div.item_description h3,
div.content_item div.item_description p {word-wrap:break-word; width:230px; margin-left:10px; margin:0; margin-bottom:5px;padding:0;}
div.content_item img.embed_image_thumbnail_size {max-width:60px; max-height:60px}

div.content_item_image {width:312px; margin-right:10px; float:left; display:inline;}
div.content_item_image img.embed_image_full_size,
div.content_item_image embed {max-width:312px;}
div.content_item_image img.embed_image_thumbnail_size {max-width:60px; max-height:60px}
div.content_item_image div.item_description h3,
div.content_item_image div.item_description p {word-wrap:break-word; width:312px; margin-left:10px; margin:0; margin-bottom:5px; padding:0;}

div.content_item_image_full {max-width:654px; float:left; display:inline;}
div.content_item_image_full img.embed_image_full_size,
div.content_item_image_full embed  {max-width:654px;}

a.embedcontent_download_link, p.embedcontent_actual_description {font-size:11px;}

.messageInformation {float:right; margin-right:10px;}
.messageInformation #realtime {font-weight:bold;color:#000;}