
/** USER INFO HEADER **/


/** ADD BUTTONS */
.profile .popup_field_trigger
{ cursor: pointer; background:transparent url(/dev/_images/add-icon-profile.png) no-repeat; height: 14px; line-height: 14px; padding: 0px 0px 0px 20px;  float: right; font-weight: bold !important; font-size: 12px !important; color: #006e96;}

/** BUTTONS **/
.profile .s3d-button {
    float: left;
    margin: 0 0 0 120px;
    position:relative;
    top: -62px;
}

/** INLINE EDIT **/

/* Entry - default state */
.profile .flc-inlineEdit-text
{ width: 250px; min-height: 16px; border: 1px solid #d5dbdf; padding: 2px 2px 2px 5px; position: relative; bottom: 3px; }

/* Entry - on mouse over */
.profile .fl-inlineEdit-invitation
{ background-color: #dceffd !important; border: 1px solid #454a4f !important; cursor: pointer; }

/* Entry - on click (in edit mode) */
.profile .flc-inlineEdit-edit
{ background: none !important; position: relative; bottom: 3px; border: 3px solid #333333 !important; padding: 0px 0px 0px 3px; }

/* Edit containers */
.profile .flc-inlineEditable
{ cursor: default; width: 250px; }

.profile .inlineEditableAlt
{ cursor: default; width: 250px; }

/* dropdownbox entry - default state */
.profile .profile_edit_dropdown
{ width: 250px; min-height: 16px; padding: 2px 2px 2px 5px !important; height: auto !important; background-color: #fff; border: 1px solid #d5dbdf; position: relative; }

.profile .profile_edit_textarea
{ width: 250px; min-height: 16px; padding: 2px 2px 2px 5px !important; height: auto !important; background-color: #fff; border: 1px solid #d5dbdf; position: relative; }


/* dropdownbox entry - in edit mode select element */
.profile .editContainer
{ display: none; }

.profile .options
{ padding: 0px; text-align:left !important; width: 250px;
padding:1px 1px 1px 2px;
position:relative;}

/* Multiline fields */
.profile .multifield_over {
    background-color: #dceffd;
    border: 1px solid #454a4f !important;
    cursor: pointer;
}

.profile .multifield_out {
    background-color: #FFFFFF;
    border: 1px solid #fff !important;
    cursor: default;
}



/** *CENTERED */
.centertd
{ vertical-align: middle; }


/* DIALOG */

.dialog td
{ border: none !important; padding: 0px 0px 5px 10px !important; }

.dialog_content select
{ margin:0pt !important; }

.dialog
{ position: fixed !important; top: 50px !important; }

.overlay-lightbox-fixed
{ display: block; height: 1000px; left: 0%; position: fixed; top: 0%; width: 100%; z-index: 2001; }

