/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Sakai Base */
/* ----------------------------------------------------------------------------
 *    GLOBAL RULES
 * ----------------------------------------------------------------------------
 */
.requireUser {
    background: #75ADD7 url('../../_images/body_bg.jpg') top left repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 120%;
}

.requireAnon { background: #093b52 url(../../_images/page_bg_water.jpg) top left repeat-x; }

/* adding a visible outline on focus for accessibility */
*:focus {
    outline: 1px dotted #000;
}

/* HTML TAG OVERRIDES - on top of the FSS reset */
h1 {
    font-size: 2em;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bolder;
    line-height: normal;
}

/* LINKS */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Hidden elements
 ** localization: .i18nable
 * Hide i18nable elements by default until the messages are replaced by the translated
 * strings, and i18n will show the element. Typically this class is applied at body level
 ** functionality: .s3d-hidden
 * user for elements that will then be shown later using jQuery().show()
 */
.s3d-hidden, .i18nable {
    display: none;
}
/*
 * CHROME STYLES
 * HEADINGS
 */
.s3d-site-heading {
    padding: 10px 0;
    font-weight: bold;
    color: #454A4F;
}

.people .s3d-site-heading, .account_preferences .s3d-site-heading {
    padding: 15px 0;
}

.s3d-site-heading h1 {
    margin: 0;
    padding: 0;
}

.site_secondary_heading {
    font-weight: bold;
    font-size: 20px;
    padding: 30px 0px 20px 25px;
}

.site_secondary_heading a {
    color: #0C91C5;
    font-size: 14px;
    padding-left: 10px;
}

.basic_appearance .site_secondary_heading {
    color: #454A4F;
    padding: 10px 0 20px 0;
    border: none;
}

.basic_appearance .site_secondary_heading a {
    background: #fff url('../../_images/arrow_left_sm2_blue.gif') center left no-repeat;
    padding: 0 0 0 10px;
}


/* PROGRAMMATICALLY SET STYLES
 * styles used to programmatically set placement of widgets on the page
 */
.inline_class_widget_rightfloat {
    float: right;
}

.inline_class_widget_leftfloat {
    float: left;
}

/* ACTIONS
 * links used to trigger an action
 * default styling: bold blue link
 * Variants:
 * - action series: links are inside list items, each list item is separated by a divider
 */
a.s3d-action, .s3d-actions a {
    color: #006E96;
    font-weight: bold;
    font-size: 13px;
}

.s3d-action-series a {
    font-size: 12px;
    font-weight: bold;
    padding: 0 12px;
}

.s3d-action-series li {
    border-left: 1px solid #CCD1D5;
    padding: 0 0 0 5px;
}

.s3d-action-series li.first {
    border-left: none;
}

/* LOZENGE BUTTONS
 * links used to trigger an action
 * Default styling: lozenge shaped buttons
 * States: normal, hover, disabled
 * Variants:
 * - primary
 * - icon-right
 * - icon-left
 */
.s3d-button {
    display: inline-block;
    position: relative;
    border: none;
    margin: 0 5px 5px 0;
    padding: 0 13px 0 0;
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
    background: url("../../_images/button-sprite-5state.png") no-repeat scroll right -40px transparent;
    font-size: 0.9em;
    font-weight: bold;
}

.s3d-button:hover, .s3d-button-hover {
    background-position: right -120px;
}

.s3d-button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}

.s3d-button .s3d-button-inner {
    position: relative;
    display: block;
    background: url("../../_images/button-sprite-5state.png") no-repeat scroll left top transparent;
    margin: 0;
    height: 23px;
    line-height: 23px;
    white-space: nowrap;
    padding: 0 0 0 15px;
    color: #fff;
}

.s3d-button:hover .s3d-button-inner, .s3d-button-hover .s3d-button-inner {
    background-position: left -80px;
    color: #FFF;
}

html > body .s3d-button .s3d-button-inner {
    white-space: normal; /* only do the white-space fix on IE6 */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    .s3d-button .s3d-button-inner {
        margin-top: -1px;
    }
}

.s3d-button-primary {
    background-position: right -200px;
}

.s3d-button-primary .s3d-button-inner {
    background-position: left -160px;
}

.s3d-button[disabled], .s3d-disabled {
    background-position: right -280px;
    cursor: default;
}

.s3d-button:hover[disabled], .s3d-disabled.s3d-button-hover {
    background-position: right -280px;
    cursor: default;
}

.s3d-button[disabled] .s3d-button-inner, .s3d-disabled .s3d-button-inner {
    background-position: left -240px;
}

, .s3d-button:hover[disabled] .s3d-button-inner, .s3d-disabled.s3d-button-hover .s3d-button-inner  {
    background-position: left -240px;
}

.s3d-button-icon-right, .s3d-button-icon-left {
    display: block;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
}

.s3d-button-icon-right {
    background-position: right center;
    padding-right: 18px;
}

.s3d-button-icon-left {
    background-position: left center;
    padding-left: 18px;
}

.s3d-search-button {
    padding-right: 8px;
}

.s3d-search-button .s3d-button-icon-right {
     background-image: url("../../_images/icon-search-white.png");
}
.s3d-button.s3d-button-inline {
    background-image:none;
    background-color:#fff;
    padding-right:4px;
}
.s3d-button.s3d-button-inline:hover {
    background: url("../../_images/page-options-button-sprite.png") no-repeat scroll right -49px transparent;
}
.s3d-button.s3d-button-inline.clicked {
    background: url("../../_images/page-options-button-sprite.png") no-repeat scroll right -107px transparent;
}
.s3d-button.s3d-button-inline .s3d-button-inner span {
    float:left;
    display:inline;
}
.s3d-button.s3d-button-inline .s3d-button-inner {
    background-image:none;
    background-color:#fff;
    color:#454A4F;
    height:28px;
    line-height:26px;
    padding:0px 0px 0px 4px;
    font-size:11px;
}
.s3d-button.s3d-button-inline:hover .s3d-button-inner {
    background: url("../../_images/page-options-button-sprite.png") no-repeat scroll left -20px transparent;
}
.s3d-button.s3d-button-inline.clicked .s3d-button-inner {
    background: url("../../_images/page-options-button-sprite.png") no-repeat scroll left -78px transparent;
    color:#fff;
}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-inner-text {
    margin-left:2px;
}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-icon-left {
    width:15px;
    padding:0;
    height:15px;
    margin:7px 0px 0px 5px;
}
.s3d-button.s3d-button-inline .s3d-button-inner .s3d-button-icon-right {
    padding:0;
    height:15px;
    width:15px;
    margin:8px 0px 0px 5px;
}
.s3d-button.s3d-button-inline.clicked .s3d-button-inner .s3d-button-icon-right {
    margin:6px 0px 0px 5px;
}

.s3d-button.s3d-button-tab { background: url("/dev/_images/tab_button_bg.png") no-repeat scroll right -25px transparent; }
.s3d-button.s3d-button-tab .s3d-button-inner { background: url("/dev/_images/tab_button_bg.png") no-repeat scroll left top transparent; }
.s3d-button.s3d-button-tab .s3d-button-inner { font-size:11px; }

/*
 * Context Menu for Dropdowns
 */
.context_menu{left:18px;padding:0;position:absolute;top:124px;}
.context_menu img{border:1px solid #555;border-bottom:none;}
.context_menu ul{margin:0;margin-top:-3px;background-color:#eee;border:1px solid #555;}
.context_menu ul li{list-style-type:none;}
.context_menu ul li a{color:#666;font-size:0.95em;display:block;padding:2px 20px 2px 4px;}

/* ----------------------------------------------------------------------------
 *    CONTENT AREA TOP TABS
 * ----------------------------------------------------------------------------
 */

/*
 *  background-color: #D6DBDF;
 *  background-image: url('../../_images/primary-tabs-sprite.png');
 *  background-attachment: scroll;
 *  background-position: left -80px;
 */
.s3d-primary-tabs, .s3d-primary-tabs-inner {
    height: 25px;
    border: none;
    padding: 3px 10px 0 0;
    display: block;
}

.s3d-primary-tabs ul {
    border: none;
    padding: 0;
    margin: 0;
    float: right;
}

.s3d-primary-tabs ul.fl-tabs-left {
    float: left;
    padding-left: 3px;
}

.s3d-primary-tabs ul li {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    display: block;
    float: left;
}

.s3d-primary-tabs ul li a {
    padding: 4px 18px 4px 13px;
    line-height: 20px;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #000;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    bottom: 0px !important;
}

.s3d-primary-tabs ul li.fl-tabs-active, .s3d-primary-tabs ul li.fl-tabs-active a {
    background-color: #FFF;
    background-image: url('../../_images/primary-tabs-sprite.png');
    background-attachment: scroll;
    height: 30px;
    bottom: 0px !important;
    position: relative;
}

.s3d-primary-tabs ul li.fl-tabs-active {
    padding-left: 5px;
    background-position: left top;
}

.s3d-primary-tabs ul li.fl-tabs-active a {
    background-position: right -40px;
    font-weight: normal;
    border: none;
    padding-left: 15px;
    margin: 0;
}

.fl-tab-content {
    border: none;
    margin: 0px;
}

/* ----------------------------------------------------------------------------
 *    DIALOGS
 * ----------------------------------------------------------------------------
 */

/* Dialog */
.dialog{color:#333;display:none;left:50%;margin-left:-250px;position:absolute;top:12%;width:500px;}
.jqmOverlay{background-color:#000;}

/* Dialog header */
.dialog_header{background:url(/dev/_images/dialog_tr.png) top right no-repeat;padding:0 8px 0 0;}
.dialog_header_inner{background:url(/dev/_images/dialog_tl.png) top left no-repeat;}
.dialog_header h1{color:#fff;display:block;font-size:1.1em;margin:0;padding:15px 20px;}
.dialog_header .dialog_close_image{background:url(/dev/_images/close_dialog.png) no-repeat top right;cursor:pointer;display:block;height:15px;overflow:hidden;position:absolute;right:20px;top:17px;text-indent:-5000px;width:14px;}

/* Dialog content */
.dialog_content{background-color:#fff;border-left:3px #454a4f solid;border-right:3px #454a4f solid;padding:20px;}
.dialog_content h1{font-size:1.1em;font-weight:bold;color:#333;margin:0;padding:5px 0;}
.dialog_content textarea {height:80px;width:98%;}

/* Dialog buttons */
.dialog_buttons{clear:both;margin-top:20px;}

/* Dialog footer */
.dialog_footer{background:url(/dev/_images/dialog_br.png) top right no-repeat;padding:0 8px 0 0;}
.dialog_footer_inner{background:url(/dev/_images/dialog_bl.png) top left no-repeat;height:6px;}


/* AutoSuggest */
ul.as-selections.loading {background:#fff url(../../../dev/_images/ajax_load.gif) center center no-repeat;}