#notification_container {
	z-index:1500;
	position:absolute;
	top:20px;
	right:20px;
	width:300px;
}

#notification_container div {
	border:3px solid #454545;
	background-color:#fefefe;
	opacity:70;
	float:left;
	margin-top:5px;
	width:280px;
	padding:5px;
	padding-bottom:12px;
}

#notification_container div img {
	margin-left:10px;
	margin-top:10px;
	margin-right:15px;
	float:left;
}
#notification_container div span.notification_title {
	color:#666;
	margin-top:10px;
	display:inline-block;
	font-weight:bold;
}
#notification_container div span.notification_message {
	color:#222;
	float:left;
	margin-top:3px;
	display:inline-block;
	font-size: 1.1em;
	padding: 5px 10px 5px 45px;
}
#notification_container div img.notification_close {
	float:right;
	margin-top:-3px;
	margin-right:-3px;
}
