
/*
h1 {
    font-size: 2.1em;
    font-weight: bold;
    padding: 10px 10px 0px 15px;
}
*/

strong {
    color: #000;
}

/* TOP NAV
.explore_nav {
    background-color: #EEEEEE;
    overflow: auto;
}

.explore_nav .explore {
    padding-left: 15px;
}

.explore_nav .explore li a {
    color: #475358;
    font-weight:bold;
    text-align: center;
}

.explore_nav_selected {
    color: #fff;
    background-color: #666666;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    margin-top:-3px;
    needed for rounded cornered anchor buttons
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    display: -moz-inline-box;
    display: inline-block;
    overflow: visible;
}

.explore_nav_selected span {
    color: #fff;
}

.explore_nav_selected_arrow {
    width: 9px;
    height: 5px;
    position: relative;
    bottom: -11px;

}

.explore_nav .personal {
    padding: 0 8px 0 0;
    font-size: .95em;
}

.explore_nav .personal li a {
    color: #058ec4;
}

.explore_nav .personal li strong {
    color: #058ec4;
}
*/

.search_tab_content {
    background-image: url(../../_images/body_bg2.png);
    background-repeat: repeat-x;
}

/* SEARCH BAR */
.search_bar {
    width: 640px;
    padding: 20px 0 20px 0;
}

.skinned_select {
    float: left;
    width: 190px;
    height: 23px;
    border: 1px solid #ddd;
    padding-top: 3px;
}


.search_bar input {
    border: 1px solid #ddd;
    float: left;
    margin: 0 5px 0 5px;
    height: 19px;
    width: 350px;
    font-size: 1em;
    color: #666;
    font-size: 1.1em;
    padding-left: 5px;
    display: block;
    padding-top:2px;
    font-style:italic;
}

.search_bar_selected {
    font-style:normal !important;
    color: #000 !important;

}
.search_button {
    /*position: relative;*/
    top: 3px;
}


/* SEARCH RESULTS TITLE */
.search_result_title {
    width: 80%;
    text-align: center;
    font-size: 1.1em;
    color: #999;
    padding: 0;
}

.keyword {
    background-color: #ffff00;
}


/* SEARCH RESULTS */
.search_results_container {
    margin: 15px;
}

.search_results_part {
    padding-bottom: 20px;
}

.search_results_part_header {
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;
    padding-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.search_results_part_title {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    float: left;
}

.display_more_link {
    color: #3399cc;
    font-size: .85em;
    font-weight: normal;
    position: relative;
    bottom: 0px;
    margin: 0;
    padding: 0;
}

.search_result {
    color: #333;
    padding: 5px 0 10px;
}

.search_result img {
    float: left;
    padding: 0 10px 10px 0;
    width: 50px;
}

.search_result_right {
    margin-left: 60px;
}

.search_result_star {
    background-image: url(../../_images//star.png);
    display: block;
    float: left;
    position: relative;
    top: -4px;
    left: 0;
}

.search_result_header {
    color: #3399cc;
    margin: 0 0 5px 25px;
    font-weight: bold;
    font-size: 1.1em;
}

.search_result_tags, .search_result_description {
    margin: 0 0 5px;
    color: #333;
    font-size: .95em;
}

.search_result_footer {
    margin: 0 0 5px 25px;
    color: #999;
    font-size: .85em;
}

.search_result_type a{
    color: #5fb3d2 !important;
}

.search_results_part_footer {

}


/* search results people */
.search_result_person {
    padding: 8px;
    margin: 15px 10px 0 0;
    border: 1px solid #ddd;
    width: 200px;
    height: 60px;
    float: left;
}

.search_result_person_picture {
    float: left;
    display: block;
    background-image: url(../../_images/person_icon.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.search_result_dot {
    display:block;
    float:left;
    position:relative;
    left:5px;
}

.search_result_person_name {
    display: block;
    color: #3399cc;
    font-weight: bold;
    margin-left: 80px;
}

.search_result_person_dept {
    display: block;
    color: #999;
    font-size: .85em;
    margin-left: 80px;
}


/* search result images */
.search_result_image_container {
    float: left;
    margin: 15px 10px 10px 0;
}

.search_result_image {

}

