/* Pager CSS */
.sakai_pager {text-align:center;}
.sakai_pager li.hidden { display:none;}
.sakai_pager li {display:inline-block; list-style:none;font-size:0.95em;height:18px;background: transparent url(../../_images/pager-left.png) top left no-repeat; margin:0px 5px;}
.sakai_pager li > span {display:inline-block;background: url(../../_images/pager-right.png) top right no-repeat; margin:0;  border: none; font-weight: bold; cursor: pointer; height: 18px; margin-right: -5px;padding:1px 10px 0px 10px;color:#006e96;}
.sakai_pager li.pgCurrent, .sakai_pager li.pgCurrent > span, .sakai_pager li.dots {background:none;color:#454a4f;}
.sakai_pager li.dots {margin-left:10px; clear:both;}
.sakai_pager li.pgNext, .sakai_pager li.pgPrev {margin:0px 10px;}
.sakai_pager li.pgPrev img {margin-top:1px;}
.sakai_pager li.pgNext img {margin-top:1px;}
.sakai_pager li.pgNext span.t, .sakai_pager li.pgPrev span.t {color:#454a4f;}
.sakai_pager li.page-number {margin:0px 5px;}
.sakai_pager li.pgCurrent {text-decoration:none;font-weight:bold;color:#4b4b4b;}
.sakai_pager li.pgEmpty { display:none !important; }