/* main CSS for modal dialogs */

.dialog{
    display: none;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    background-color: #EEE;
    color: #333;
    border: 3px solid #222;
}

.jqmOverlay {
	background-color: #000;
}


/* dialog header */
.dialog_header {
	width: 100%;
	height: 30px;
	background-color: #666;
}

.dialog_header h1 {
	color: #ddd;
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	float: left;
	padding: 6px 0 6px 8px;
	border: 0;
	margin: 0;
}

.dialog_header img {
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}


/* dialog content */
.dialog_content {
	padding: 12px;
	background-color: #fff;
}

.dialog_content h1 {
	margin: 0;
	padding: 5px 0 5px 0;
	font-size: 1.1em;
	font-weight: bold;
	color: #333;
}

.dialog_content textarea {
	width: 90%;
	height: 80px;
}

.dialog_content small {
	color: #999;
}

.dialog_content select {
	margin: 10px 0 10px 0;
	border: 1px solid #ddd;
}


/* footer and buttons */
.dialog_footer {
	padding-left: 12px;
	background-color: #fff;
	height: 30px;
}

.dialog_button {
	padding: 5px 20px 0px 20px;
	margin: 0 10px 0 0;
	height: 20px;
	background:#fff url(../images/custom_button_gradient.png) repeat-x bottom left;
	border: 1px solid #999;
	float: left;
	cursor: pointer;
}

.dialog_button:hover {
	border: 1px solid #333;
}

