/* Global */
.fixed-container {
    background: #fff;
}

/* Heading */
#profile_heading h1 {
    float:left;
}
#profile_heading select {
    font-weight: normal;
    margin: 7px 0 0 10px;
}

/* Footer */
#profile_footer {
    margin: 30px 0 15px 0;
    overflow: hidden;
}