/* GENERAL */
strong {color: #000;}
.dialog_buttons .button {color: #666;}

/* WIDGET CSS */
.myfriends.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/contacts_icon.png') 17px 18px no-repeat;}
.sites.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/courses_icon.png') 17px 18px no-repeat;}
.myprofile.fl-widget .fl-widget-titlebar .widget_title {background:transparent url(../../_images/myprofile_icon.png) no-repeat scroll 17px 18px;}

/* HEADER */
.header .greeting {padding-top: 19px;margin-right: 20px;}
.header .greeting .greeting_picture {float: left; padding: 0 5px 10px 0;}
.header .greeting .greeting_text {font-size: 2em; color: #454A4F; display: block; padding-top: 10px; padding-bottom: 6px; font-weight: bold;}
.header .greeting .greeting_links {font-size: .9em; color: #454A4F; font-weight: bold;}
.header .greeting .pipe_divider {padding: 0 12px;}
.header .page_options { text-align: right; margin: 51px 0 0; }
.focussedInput {color: #000000 !important;}

/* OPTIONS */
.options {clear: both;text-align: right; margin-right:10px;}
.options .fixed-container { background-color: #fff; }
.options a {font-size: 9pt; color: #454A4F; font-weight: bold;}

.greeting_picture img { width: 60px; height: 60px; }

/* TOOLS CONTAINER - RIGHT COLUMN */
#toolscontainer { margin-left: 20px; }

/* FOOTER */
.page_footer {padding: 15px 0 15px 15px; border-top: 1px solid #ddd; font-size: .85em; color: #999;}
.page_footer a {color: #3399cc;}
.sakai_logo {float: left;}

/* Change layout */
#change_layout_dialog {width:400px; margin-left: -200px;}
#change_layout_dialog .elf-right-up {padding-top:40px; padding-bottom: 85px;}
#change_layout_dialog .add-tools-right {width:100%; margin-bottom: 40px;}
.layout_container {float:left;  padding-left:25px;  padding-right:13px;    }
.layout_picker_item {width:114px; height: 62px; border: 2px solid #3399CC; border-right: 2px solid #3399CC; background-color: #EEFFFF;}
.layout_picker_item_column {border-right: 1px solid #3399CC;}
.layout_picker_item_radio {margin-left:50px; margin-top:10px;}
.layout_container_unselected {float:left; padding-left:25px; padding-right:13px;}
.layout_picker_item_unselected {width:114px; height: 62px; border: 2px solid #dddfe1; border-right: 2px solid #dddfe1; background-color: #F8F8F8;}
.layout_picker_item_column_unselected {border-right: 1px solid #dddfe1;}
.layout_picker_item_radio_unselected {margin-left:50px; margin-top: 10px;}
#layouts_list {display:block;}
