/** inbox_main.html **/

/** LAYOUT **/
.inbox_main .main_container
{ border:medium none; margin:0 0 20px; padding:0; }

.inbox_main .side_panel
{ padding: 0; }

.inbox_main .col-main
{ margin-top: 8px; margin-left: 240px; padding: 0; overflow: hidden; width: 676px; }


/** SIDE NAV **/

/** Compose a new ... **/

.inbox_main .side_panel
{ width: 230px; margin:0; padding: 0; }

.inbox_main .drop-menu
{ padding: 0 0 5px 15px; position: relative; z-index: 20000; width: 210px;}

.inbox_main .drop-menu .compose_new_link
{ background: transparent url(../../_images/create_dropdown_bg.png) no-repeat scroll left 0; color:#FFFFFF; display:block; font-weight:bold; height:20px; padding:3px 0 0 19px; }

.inbox_main .drop-box
{ background-color:#FFFFFF; border:1px solid #454A4F; margin: 0; padding:0; position: absolute; left: 22px; top: 22px; width: 128px; }

.inbox_main .drop-box ul
{ padding: 5px 0; margin:0; width: 128px; }

.inbox_main .drop-box ul li
{ list-style-type: none; padding: 5px 5px 5px 12px; }


/** Folders **/

.inbox_main .inbox-folders
{ width: 230px; margin:0; padding: 0; overflow: hidden; }

.inbox_main .inbox-folders .if_titlebar
{ background:transparent url(/dev/_images/block_tr.png) no-repeat scroll right top; padding: 0 10px 0 0; height:50px; }

.inbox_main .inbox-folders .if_titlebar_inner
{ background:transparent url(/dev/_images/block_tl.png) no-repeat scroll left top; padding: 18px 0 0 17px; height:50px; }

.inbox_main .inbox-folders .if_title
{ background:transparent url(/dev/_images/mail_icon_16x16.png) no-repeat scroll left top; color:#878A8C; font-size:1em; padding-left: 25px; margin:0;}


.inbox_main .inbox-folders .if_content
{ border-left: 3px solid #D4DADE; border-right: 3px solid #D4DADE; padding: 1px 5px 1px 12px; margin: 0; }

.inbox_main .inbox-folders .if_content ul
{ padding: 0 0 0 20px; margin: 0; }

.inbox_main .inbox-folders .if_content ul li
{ list-style-type: none; padding: 3px 0 3px 0; }

.inbox_main .inbox-folders .if_content ul li a
{ font-weight: normal; }

.inbox_main .inbox-folders .if_content ul li span
{ font-weight: normal; color: #999999; }

.inbox_main .inbox-folders .if_content .tab
{ margin: 10px 0 10px 0; }

.inbox_main .inbox-folders .if_content .tab a
{ font-size: 1.2em; padding: 0 0 10px 0; }

.inbox_main .inbox-folders #inbox_filter_inbox
{ background: transparent url(/dev/_images/inbox_folders_messages.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders #inbox_filter_messages
{ background: transparent url(/dev/_images/inbox_folders_messages.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders #inbox_filter_announcements
{ background: transparent url(/dev/_images/inbox_folders_announcements.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders #inbox_filter_chats
{ background: transparent url(/dev/_images/inbox_folders_chat.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders #inbox_filter_invitations
{ background: transparent url(/dev/_images/inbox_folders_invitations.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders #inbox_filter_sent
{ background: transparent url(/dev/_images/inbox_folders_messages.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders #inbox_filter_trash
{ background: transparent url(/dev/_images/inbox_folders_trash.gif) no-repeat scroll left center; height: 20px; padding: 0 0 0 28px; }

.inbox_main .inbox-folders .if_bottom
{ background:transparent url(/dev/_images/content_bl.png) no-repeat scroll left bottom; height: 5px; padding: 0 0 0 10px; }

.inbox_main .inbox-folders .if_bottom_inner
{ background:transparent url(/dev/_images/content_br.png) no-repeat scroll right bottom; height: 5px; }





/** INBOX MAIN PANE **/

.inbox_main .inbox-heading
{ font-weight: bold; color: #333; font-size: 17px; padding: 4px 0 0 5px; }

/** Table **/

.inbox_main .main_content_container
{ width: 670px; border-left: 3px solid #d5dbdf; border-right: 3px solid #d5dbdf; min-height: 400px; padding-bottom: 10px; }

.inbox_main .inbox-table
{ width: 670px; margin: 0; border-spacing: 0; *border-collapse: collapse; }

.inbox_main .top_decor
{ background: transparent url(/dev/_images/inbox_table_top.png) no-repeat top left; height: 32px; width: 673px; border: none; padding: 9px 0 0 7px; }

/** Buttons **/
.inbox_main .top_button_bar
{ padding: 0 12px 5px 0; text-align: right; }

/** Header **/
.inbox_main .inbox-table .different
{ background: #eaedef; }

.inbox_main .inbox-table .different th
{ border-bottom: 3px solid #d5dbdf; }

.inbox_main .inbox-table #inbox_table_header_chk
{ width: 3%; }

.inbox_main .inbox-table #inbox_table_header_from
{ width:20%; border-left: 1px solid #D4DADE; color: #666666; }

.inbox_main .inbox-table #inbox_table_header_subject
{ width:37%; border-left: 1px solid #D4DADE; color: #666666; }

.inbox_main .inbox-table #inbox_table_header_type
{ width:15%; border-left: 1px solid #D4DADE; color: #666666; }

.inbox_main .inbox-table #inbox_table_header_date
{ width:25%; border-left: 1px solid #D4DADE; color: #666666; }

/** List **/
.inbox_main .inbox-table th
{ color: #333;  text-align: left; height: 26px; border: none; padding: 3px 5px; }

.inbox_main .inbox-table tr
{ color: #666; }

.inbox_main .inbox-table td
{ border: none;  color: #666; text-align: left; font-size: 1em; border-bottom: 1px solid #d5dbdf; padding: 4px 2px 4px 5px; }

.inbox_main .inbox-table tr.inbox-subject-read *
{ font-weight:normal;}

.inbox_main .inbox-table tr.inbox-subject-unread *
{ font-weight: bold; }

.inbox_main .inbox-table .inbox_message_none
{ text-align: center; border: none; height: 370px; }


.inbox_main .bottom_decor
{ background: transparent url(/dev/_images/inbox_table_bottom.png) no-repeat top left; height: 41px; width: 676px; border: none; }


/** INBOX COMPOSE PANE **/
.inbox_main #inbox_pane_compose
{ padding: 19px 0 0 0; }

.inbox_main .compose-message
{ width: 613px; height: auto; text-align: left; padding: 20px 20px 20px 37px; border-top: 3px solid #D5DBDF; }

.inbox_main .compose-reply
{  width: 500px; height: auto; position: relative; top:-15px;}

.inbox_main .compose-form
{ padding: 0; color: #333; font-size: 13px; }

.inbox_main .compose-form .compose-to, .compose-subject, .compose-body
{ border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-bottom: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; }

.inbox_main .compose-form .compose-to
{ width:575px; height: 50px; padding:3px; margin:0; }

.inbox_main .compose-form .compose-subject
{ width: 575px; padding: 2px; margin: 5px 3px 10px 3px; }

.inbox_main .compose-form .compose-body
{height: 140px; width:575px; padding:2px; margin: 5px 3px 10px 3px; }

.inbox_main .compose-cancel
{padding-left: 7px;}

.inbox_main .dialog_content
{ border: none; }

#sendmessage_dialog_footer
{ display: none; }


/** INBOX MESSAGE VIEW PANE **/

.inbox_detail .top_toolbar
{ padding: 0; }

.inbox_detail .sender-options
{ padding: 0 12px 5px 0; }

.inbox_detail .sender_details
{ height: 32px; background: #f4f4f4; border-bottom: 3px solid #D4DADE; padding: 5px; }

.inbox_detail .sender_picture_container
{ float: left; margin: 0 0 0 3px; }

.inbox_detail .sender-picture
{ width:32px; height:32px; }

.inbox_detail .inbox-heading a
{font-size: 13px; }

.inbox_detail .inbox-heading span
{ font-size: 16px; }

.inbox_detail .sender-timestamp
{ color: #999999; font-size: 11px; }

.inbox_detail .sender-body
{ position: relative; }

.inbox_detail .sender-message
{ display:inline; height: auto; width: 100%; }

.inbox_detail .message-arrow
{ background: url(../../_images/message_arrow.gif) no-repeat 0 0; position: relative; top: -7px; left: 15px; }

.inbox_detail .message-body
{ padding: 20px 37px 30px; color:#333; font-size: 13px; }

.inbox_detail .message-header
{ font-weight: bold; font-size: 15px; padding-bottom: 5px; }

.inbox_detail .message-options
{ padding: 15px 15px 0 0; }

.inbox_detail .pipe-divider
{ color:#d2d2d2; padding: 0 10px 0 10px; }

.inbox_detail .reply-options
{ padding: 15px 0 0 0; }

.inbox_detail .reply-options a
{ color:#058ec4; font-weight: bold; }

.inbox_detail .inbox_message_user
{ position:relative; margin-left: 42px; }

.inbox_detail #inbox_message_previous_messages
{ margin: 0 0 0 38px; }

.inbox_detail #inbox_message_replies
{ margin: 10px 38px 0 38px; background: #f4f4f4; }

.inbox_detail #inbox_compose_replies_template_chats
{ margin: 0 0 0 38px; background: #f4f4f4; }

/** NOTIFICATIONS, ERROR MESSAGES **/
.inbox_error_message
{ font-weight:bold; padding:10px; border:3px solid #ff0000; background-color:#f7d8d8; width:80%;float:left; }

.inbox_normal_message
{ padding:10px; border:3px solid #00ff00; background-color:#d9f7d8; width:80%;float:left; }

.inbox_progress {background:url("/dev/_images/ajax_load.gif") no-repeat scroll 0 0 transparent; clear:both; float:right; height:10px; width:80px;}

.inbox_main .user-personal a
{color: #058ec4; font-size: 12px;}

.inbox_main .user-personal strong
{color: #058ec4;}

.inbox_main .user-personal li
{border-left: 1px solid #999; padding: 0 2px 0 6px;}

.inbox_main .user-personal .first{border-left: none;}


.inbox_main .user-name{color: #058ec4; background: url(../../_images/user_online.gif) no-repeat 7px 2px;}


.inbox_main .user-name strong{padding-left: 14px;}


.inbox_main .user-arrow-down{position: relative; top: -1px; padding-left: 3px;}


.inbox_main .user-mail{background: url(../../_images/user_mail_icon.gif) no-repeat 6px 3px;}


.inbox_main .user-mail a{color: #666; padding-left: 16px;}



.inbox_main .inbox-checkbox{width: 16px;}


.inbox_main .inbox-delete{padding: 10px 0 12px 0;}

.inbox_main #inbox_delete {margin:10px 0px 10px 0px;display:inline-block;;}





.inbox_main .inbox_arrow {float:right;width:6px;height:3px;display:inline;margin-top:5px;}


.inbox_main .inbox_inbox_table_header_sort { cursor:pointer;}


.inbox_main .inbox_inbox_table_header_sort span { float:left; }


.inbox_main #inbox_compose_new img { border:none;}

.inbox_reply_buttons {padding-right: 23px;}







/** ---------------------**/





/* TABLE COLUMN WIDTHS */
