/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* General */
.contentmedia_hidden {
    display: none;
}
.contentmedia_disabled {
    color: #eee !important;
}

/* Container - tabs */
.contentmedia_content {
    padding: 12px 0 0 0;
}
.contentmedia_content a {
    color: #006E96;
}
.contentmedia-container .contentmedia_content .fixed-container {
    background: #fff url('../../_images/header_l.png') top left no-repeat;
}
.contentmedia-container .contentmedia_content .fixed-container .decor {
    height: 5px;
    margin-right: -20px;
}
.contentmedia_content h1.title {
    font-size: 1.4em;
    font-weight: bold;
    margin: 15px 0;
    padding: 0;
}
.contentmedia_content_wrapper {
    padding: 0;
    margin: 0 0 45px;
}
.contentmedia_content_main {
    border-left: 3px solid #D3DBDE;
    border-right: 3px solid #D3DBDE;
    margin: 0;
    padding: 10px;
}
.contentmedia_tab_content_top {
    background: url('../../_images/content_tr_flip.png') top right no-repeat;
    padding: 0 5px 0 0;
    margin: 0;
}
.contentmedia_tab_content_top_inner {
    background: url('../../_images/content_tl.gif') 0 0 no-repeat;
    margin: 0;
    height: 6px;
}
.contentmedia_tab_content_bottom {
    background: url('../../_images/content_br.png') top right no-repeat;
    padding: 0 5px 0 0;
    margin: 0;
}
.contentmedia_tab_content_bottom_inner {
    background: url('../../_images/content_bl.png') 0 0 no-repeat;
    margin: 0;
    height: 6px;
}

/* Drag / Drop */
.contentmedia_drag_tooltip {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1px;
}
.contentmedia_drop_hover {
    background: #fff68f !important;
}
.contentmedia_drop_active {
    color: #ccc !important;
}

/* Bar */
#contentmedia_bar_top {
    margin: 50px auto 0px;
    width: 1150px;
}

#contentmedia_bar_top_left {
    background: url(/devwidgets/filemanager/images/titlebar_left.png) top left no-repeat;
    height: 40px;
    line-height: 40px;
    color: #fff;
    float: left;
    width: 1140px;
}

#contentmedia_bar_top_right {
    background: url(/devwidgets/filemanager/images/titlebar_right.png) top right no-repeat;
    margin-left:20px;
    margin-right:-10px;
}

#contentmedia_bar_right {
    float: right;
    margin-right: 20px;
}

#contentmedia_main_right {
    margin-left: 270px;
    background-color: #FFF;
}

/* Actions */
#contentmedia_bar_right a {
    margin: 0 8px;
}

#contentmedia_actions_view_list, #contentmedia_actions_view_thumbnail {
    display: inline-block;
    text-indent: -5000px;
    height: 14px;
    width: 15px;
}

#contentmedia_actions_view_list {
    background: url(/dev/_images/contentmedia_view_list.gif) center left no-repeat;
}

#contentmedia_actions_view_thumbnail {
    background: url(/dev/_images/contentmedia_view_thumbnail.gif) center left no-repeat;
}

#contentmedia_actions_edit {
    padding-left: 20px;
    background: url(/devwidgets/filemanager/images/button_edit.png) center left no-repeat;
}

#contentmedia_actions_remove {
    padding-left: 20px;
    background: url(/devwidgets/filemanager/images/button_remove.png) center left no-repeat;

}

/* Close */
#contentmedia_close {
    float: right;
    padding: 14px 18px;
    cursor: pointer;
}

/* Pop up */
.contentmedia_content td {
    border: none;
    padding-left: 20px;
}

/* Left container */
#contentmedia_main_left {
    border-right: 3px solid #ddd;
    float: left;
    height: 600px;
    width: 240px;
    padding-right: 10px;
}

/* Context filters */
#contentmedia_context_filters {
    background: #fff;
    padding-bottom: 30px;
}
#contentmedia_context_filters .contentmedia_selecteditem {
    background: #eee;
}

/* Accordion */
#contentmedia_accordion {
    background-color: #fff;
}

#contentmedia_accordion .ui-accordion-header, #contentmedia_context_filters a {
    background: #fff;
    clear: both;
    display: block;
    font-size: 1em;
    border-top: 1px solid #eee;
    padding: 0.3em 0.8em;
    cursor: pointer;
    font-weight: normal;
}

#contentmedia_context_filters a {
    font-weight: bold;
}

#contentmedia_accordion .ui-state-active {
    background: #eee;
    border-left: 1px solid #eee;
}


#contentmedia_accordion_list_site_bookmarks {
    border-bottom: none !important;
}

#contentmedia_accordion .ui-accordion-content {
    padding: 1.2em 0.8em;
    background: #fff;
    border-left: 1px solid #eee;
    margin-bottom: 10px;

}

.contentmedia_accordion_list_top, .contentmedia_accordion_list_tag_top {
    margin: 3.5px 0 8.5px 0;
}

.contentmedia_accordion_list_top a, .contentmedia_accordion_list a {
    display: block;
    padding: 2px;
}

#contentmedia_accordion a:hover, #contentmedia_accordion .contentmedia_selecteditem, #contentmedia_context_filters a:hover {
    background-color: #ddd;
}

.contentmedia_accordion_list_tag_top {
    text-align: center;
}

/* Search */
#contentmedia_search .input {
    border: 1px solid #ddd;
    color: #ccc;
    display: block;
    font-size: 1.05em;
    font-style: italic;
    height: 19px;
    margin: 0;
    padding-left: 5px;
    padding-top: 2px;
    width: 213px;
}
#contentmedia_search .selected {
    color:#000;
    font-style:normal;
}

#contentmedia_search_button {
    margin: 0.8em 0 1.2em;
    float: right;
}

/* List */
.contentmedia_list_heading {
    color: #454A4F;
    margin: 5px 0;
}
.contentmedia_list_heading_main {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 15px;
}

/* Files Container */
#contentmedia_files_container {
    margin: 20px 0px 20px 0;
}


.contentmedia_view_list {
    position: absolute;
    border-bottom: 1px solid #eee;
}

/* File / Fileinfo */
.contentmedia_view_thumbnail .contentmedia_file {
    float: left;
    width: 110px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

.contentmedia_view_list .contentmedia_file {
    clear: left;
    float: left;
    width: 600px;
    border-top: 1px solid #eee;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.contentmedia_view_thumbnail .contentmedia_file img {
    width: 50px;
}

.contentmedia_view_list .contentmedia_file img {
    float: left;
    height: 15px;
    width: 15px;
    margin-bottom:4px;
}

/*
.contentmedia_view_thumbnail .contentmedia_file_bookmark {
    background: url(/dev/_images/contentmedia_bookmark.png) center left no-repeat;
    display: inline-block;
    height: 14px;
    position: absolute;
    right: 5px;
    text-indent: -5000px;
    top: 5px;
    width: 15px;
}*/

.contentmedia_view_thumbnail .contentmedia_file_bookmark {
    display: none;
}

.contentmedia_view_list .contentmedia_file_bookmark {
    display: none;
}

.contentmedia_view_thumbnail .contentmedia_file_selected {
    color: #DD0000;
    background: #eee;
}

.contentmedia_view_list .contentmedia_file_selected {
    color: #DD0000;
    background-color: #eee;
}



.contentmedia_view_thumbnail .contentmedia_file .contentmedia_file_name {
    text-align: center;
    padding-top: 5px;
    font-size: 0.9em;
}

.contentmedia_view_list .contentmedia_file .contentmedia_file_name {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 362px;
}

.contentmedia_view_thumbnail .contentmedia_file_size {
    display: none;
}

.contentmedia_view_list .contentmedia_file_size {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 92px;
    color: #666;
}

.contentmedia_view_thumbnail .contentmedia_file_datemodified {
    display: none;
}

.contentmedia_view_list .contentmedia_file_datemodified {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    width: 100px;
    color: #666;
}

.contentmedia_view_thumbnail .contentmedia_fileinfo {
    background: #fff;
    display: none;
    padding: 0.5em 0.2em;
    font-size: 0.9em;
    position: absolute;
    z-index: 1;
    width: 136px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.contentmedia_view_list .contentmedia_fileinfo {
    display: none;
}

.contentmedia_fileinfo p {
    margin: 0;
    padding: 0;
}


.contentmedia_hover {
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
}


/* Files paging */
#contentmedia_paging {
    clear: both;
    position: relative;
    top: -19px;
    left: -30px;
    height: 0px;
    text-align: center;
}

/* Dialog */
.contentmedia-container .dialog_content form {
    padding: 4px;
}
.contentmedia-container .dialog_content input {
    margin: 5px 0;
}
#contentmedia_dialog_associations_move_container {
    float: left;
}
.contentmedia_dialog_associations_move {
    display: block;
    font-size: 1.2em;
    margin-top: 36px;
    padding: 0.5em;
}
.contentmedia_dialog_associations_move:hover {
    background: #fff;
}
.contentmedia_dialog_associations_select_container{
    float: left;
    margin: 8px;
}
.contentmedia_dialog_associations_select_container select {
    width: 197px;
}

#contentmedia_dialog_remove_list {
    background: #fff;
    height:150px;
    margin:8px 0;
    overflow-x:hidden;
    overflow-y:auto;
    padding:5px;
}

/* No accordion */
#contentmedia_accordion h4 {float:left; width:100%; margin:10px 0px;}
#contentmedia_accordion input {float:left;}

/* Uploader */
#contentmedia_uploader_trigger, #new_uploader {width:100%; float:left;}
#new_uploader form input, #new_uploader form button {font-size:12px;}
#upload_file_list span {font-size:10px;}
