/* GENERAL */
strong {color: #000;}
.dialog_buttons .button {color: #666;}

/* WIDGET CSS */
.mycontacts.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/contacts_icon.png') 17px 18px no-repeat;}
.sites.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/courses_icon.png') 17px 18px no-repeat;}
.mygroups.fl-widget .fl-widget-titlebar .widget_title {background: url('../../_images/courses_icon.png') 17px 18px no-repeat;}
.myprofile.fl-widget .fl-widget-titlebar .widget_title {background:transparent url(../../_images/myprofile_icon.png) no-repeat scroll 17px 18px;}
.mycontent.fl-widget .fl-widget-titlebar .widget_title {background:transparent url(../../_images/mycontent_icon.png) no-repeat scroll 14px 16px;}

/* OPTIONS */
.mysakai_options {text-align: right; margin: 0 10px 5px 0}
.mysakai_options a {font-size: 9pt; color: #454A4F; font-weight: bold}

/* TOOLS CONTAINER - RIGHT COLUMN */
#toolscontainer { margin-left: 20px; }

/* WIDGET CONTAINER */
#widgetscontainer {background-color: #fff; padding-top: 1px; padding-bottom: 20px;}
#widgetscontainer .fl-widget {margin-top: 1px}