
/** USER INFO HEADER **/


/** ADD BUTTONS */
.profile .popup_field_trigger
{ cursor: pointer; background:transparent url(/dev/_images/add-icon-profile.png) no-repeat; height: 14px; line-height: 14px; padding: 0px 0px 0px 20px;  float: right; font-weight: bold !important; font-size: 12px !important; color: #006e96;}

/** BUTTONS **/
.profile .lightgrey_button
{ background:transparent url(../../_images/lightgray_button_left.gif) no-repeat scroll left top; float: left; margin: 0 0 0 120px; position:relative; top: -62px; }

.profile .lightgrey_button .button
{ background:transparent url(../../_images/lightgray_button_right.gif) no-repeat scroll right top; border:medium none; color:#FFFFFF; cursor:pointer; font-weight:bold; height:23px; margin:0; padding: 3px 0; margin-right: -10px; }




/** INLINE EDIT **/

/* Entry - default state */
.profile .flc-inlineEdit-text
{ width: 250px; min-height: 16px; border: 1px solid #d5dbdf; padding: 2px 2px 2px 5px; position: relative; bottom: 3px; }

/* Entry - on mouse over */
.profile .fl-inlineEdit-invitation
{ background-color: #dceffd !important; border: 1px solid #454a4f !important; cursor: pointer; }

/* Entry - on click (in edit mode) */
.profile .flc-inlineEdit-edit
{ position: relative; bottom: 3px; border: 3px solid #333333; padding: 1px 1px 1px 2px; }

/* Edit containers */
.profile .flc-inlineEditable
{ cursor: default; width: 250px; }

.profile .inlineEditableAlt
{ cursor: default; width: 250px; }

/* dropdownbox entry - default state */
.profile .dropdownbox
{ width: 250px; min-height: 16px; padding: 2px 2px 2px 5px !important; height: auto !important; background-color: #fff; border: 1px solid #d5dbdf; position: relative; }

.profile .textarea
{ width: 250px; min-height: 16px; padding: 2px 2px 2px 5px !important; height: auto !important; background-color: #fff; border: 1px solid #d5dbdf; position: relative; }


/* dropdownbox entry - in edit mode select element */
.profile .editContainer
{ display: none; }

.profile .options
{ padding: 0px; text-align:left !important; width: 250px;
padding:1px 1px 1px 2px;
position:relative;}

/* Multiline fields */
.profile .multifield_over {
    background-color: #dceffd;
    border: 1px solid #454a4f !important;
    cursor: pointer;
}

.profile .multifield_out {
    background-color: #FFFFFF;
    border: 1px solid #fff !important;
    cursor: default;
}



/** *CENTERED */
.centertd
{ vertical-align: middle; }


/* DIALOG */

.dialog td
{ border: none !important; padding: 0px 0px 5px 10px !important; }

.dialog_content select
{ margin:0pt !important; }

.dialog
{ position: fixed !important; top: 50px !important; }

.overlay-lightbox-fixed
{ display: block; height: 1000px; left: 0%; position: fixed; top: 0%; width: 100%; z-index: 2001; }



/**

This is for IE:
.fl-tabs li a {
    position:relative;
    bottom:1px !important;
    #bottom:0px !important;
}

Removed:
.field {
    padding: 2px;
    height: 20px;
    display: none;
    height: 16px;
    width: 250px;
}

.fieldtitle {
    color: #808080;
    width: 125px;
    vertical-align: top;
    height: 20px;
}

td {
    vertical-align: top;
}

.refreshDiv {
    color: #FF0000;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1100000;
    height: 100%;
    width: 100%;
    opacity: 0.01;
    -moz-opacity: 0.01;
    display: none;
    filter: alpha(opacity = 60);
    }

**/
