.add-members .fl-col-flex .flex-container .members-container li.selected img{border-style:solid;border-color:#000000;border-width:2px; position: relative; top:1px; left: 1px;}
.add-members .fl-col-flex .flex-container .members-container .member-label{color: #3399cc; font-weight: bold; font-size: 15px; margin: 20px 0 0 0; display: block;}
.add-members .fl-col-flex .flex-container .members-container .sitemember-label{color: #999; font-weight: bold; font-size: 15px; margin: 20px 0 0 0; display: block;}
.add-members .fl-col-flex .flex-container .members-container .member-title{color: #999;}
.add-members .fl-col-flex .flex-container .members-container li img{float: left; margin-right: 8px; padding:0;
width:70px;}
.add-members .current-members{padding-right: 25px; padding-top: 6px; color: #ddd; width: 258px; text-align: left;}
#site_add_members_search_csv textarea{
    width:497px;
    height:250px;
    margin:10px;
}
#site_manage_searchViaCsv{
    margin-right:15px;
}
.siteManage_person_roleView{
    color: #ddd;
}
ul.fl-tabs li a{
    position:relative;
    bottom:-1px;
    #bottom:1px;
}
.add-members .fl-col-fixed .fixed-container .selected-people-table{padding: 0; margin: 0 0 10px 10px; width: 100%;}

/* HEADER */
.content-management { padding: 12px 0 0 0; }
.content-management a {    color: #006E96;}
.content-management .fixed-container { background: #fff url('../../_images/header_l.png') top left no-repeat; }
.content-management .fixed-container .decor { background: url('../../_images/header_r.png') top right no-repeat; height: 5px; margin-right: -20px; }
.content-management #sitetitle { color: #454A4F; font-size: 1.8em; font-weight: bold; margin: 15px 0 0 0; padding: 0;}
.content-management .secondary_title { color: #454A4F; font-size: 1.6em; font-weight: bold; margin: 15px 0; padding: 0;}
.content-management .secondary_title a { float: right; display: block; font-size: 0.6em; font-weight: bold; margin: 5px 0; padding: 0;}


/** TABS **/
.content-management .management_tab_nav {
    background: url('../../_images/site_appearance_tab_bg.gif') top left no-repeat;
    height: 25px;
    padding: 3px 0 0 10px;
    margin: 0;
}
.content-management .management_tab_nav ul {
    padding: 0;
    margin: 0;
    border-bottom: none;
    float: left;
}
.content-management .management_tab_nav ul li {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    display: block;
    float: left;
}
.content-management .management_tab_nav ul li a {
    padding: 4px 13px 0 13px;
    line-height: 20px;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #000;
    display: block;
    float: left;
    margin: 0;
}
.content-management .management_tab_nav ul li.fl-tabs-active {
    background: #FFF url('../../_images/tab_corner_tl.png') top left no-repeat;
    padding-left: 5px;
    height: 30px;
}
.content-management .management_tab_nav .fl-tabs-active a {
    background: url('../../_images/tab_corner_tr.png') top right no-repeat;
    font-weight: normal;
    bottom: 0;
}

/* CONTENT CONTAINER */

.management_content_wrapper {
    padding: 0;
    margin: 0;
}
.management_content_main {
    border-left: 3px solid #D3DBDE;
    border-right: 3px solid #D3DBDE;
    margin: 0;
    padding: 10px;
}
.management_content_main .section_container {
    padding: 25px 10px 0 10px;
}
.management_content_main .section_header {
    font-size: 1.0em;
    color: #5A6A7C;
}
.management_tab_content_top {
    background: url('../../_images/content_tr_flip.png') top right no-repeat;
    padding: 0 5px 0 0;
    margin: 0;
}
.management_tab_content_top_inner {
    background: url('../../_images/content_tl_flip.png') 0 0 no-repeat;
    margin: 0;
    height: 6px;
}
.management_tab_content_bottom {
    background: url('../../_images/content_br.png') top right no-repeat;
    padding: 0 5px 0 0;
    margin: 0 0 20px 0;
}
.management_tab_content_bottom_inner {
    background: url('../../_images/content_bl.png') 0 0 no-repeat;
    margin: 0;
    height: 6px;
}
.basic_title {
    background: url('../../_images/basic_title_icon.png') 0 0 no-repeat;
    padding: 0 0 0 45px;
    line-height: 40px;
    height: 40px;
    color: #5A6A7C;
    font-weight: bold;
    font-size: 1.2em;
}
.manage_member_title {
    background: url('../../_images/manage_members_title.png') 0 0 no-repeat;
    padding: 0 0 0 65px;
    line-height: 40px;
    height: 40px;
    color: #5A6A7C;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.add_member_title {
    background: url('../../_images/add_member_title.png') 0 0 no-repeat;
    padding: 0 0 0 60px;
    line-height: 40px;
    height: 40px;
    color: #5A6A7C;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.management_content_main .delete_site_warning, .management_content_main .delete_site_warning strong {
    color: #D32F2F;
}
.content-management .search_button {
    background: #454a4f url('../../_images/search_button.png') top left no-repeat;
    border: none;
    color: #fff;
    display: block;
    height: 23px;
    padding: 0;
    width: 88px;
    float: left;
}
.content-management .search_field {
    border:1px solid #999999;
    color:#999999;
    display:block;
    float:left;
    height:19px;
    margin:0 10px 0 0;
    padding:4px 5px 0;
    width:210px;
}

#siteSettings_delete_button_container .s3d-button {
    float: right;
    margin-top: 10px;
}


#siteSettings_delete_button_container .delete_site_warning {
    margin: 40px -110px 0 0;
    text-align: right;
}

.management_content_main .settings_confirm_container {
    background: none;
    border: none;
    padding: 0 0 0 150px;
    height: auto;
}
.management_content_main .explore_nav {
    width: auto;
}
.management_content_main .fl-col-mixed-200 {
    margin-left: 0;
}

/** Left Column Styles **/
.leftCol {

}
.leftCol-inner {
    padding: 8px 12px;
    border-left: 3px solid #d5dbdf;
    border-right: 3px solid #d5dbdf;
    background: #fff;
}
.leftCol_content_top {
    background: url('../../_images/leftCol_tr.png') top right no-repeat;
    padding: 0 5px 0 0;
    margin: 0;
}
.leftCol_content_top_inner {
    background: url('../../_images/leftCol_tl.png') 0 0 no-repeat;
    margin: 0;
    height: 6px;
}
.leftCol_content_bottom {
    background: url('../../_images/leftCol_br.png') top right no-repeat;
    padding: 0 5px 0 0;
    margin: 0;
    clear: both;
}
.leftCol_content_bottom_inner {
    background: url('../../_images/leftCol_bl.png') 0 0 no-repeat;
    margin: 0;
    height: 6px;
}
.leftCol .section {
    color: #5a6a7c;
    font-size: 1.0em;
    font-weight: bold;
    display: block;
    margin: 5px 0 0 0;
}
.leftCol li {
    list-style-type: none;
}

/** Right Column Styles **/
.management_content_main .fl-col-flex .flex-container .member-search {
    border: none;
}
.management_content_main .explore_nav ul {
    float: right;
    border: none;
}
.management_content_main .fl-col-flex .flex-container .explore_nav .user-personal li {
    border: none;
    padding: 0;
}
.management_content_main .explore_nav ul li a {
    border-right: 1px solid #ccd1d5;
    color: #006e96;
    font-weight: bold;
    padding: 0 12px;
}
.management_content_main .explore_nav ul li.last a {
    border-right: none;
    padding: 0 0 0 12px;
}