/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/** CONTAINER **/
.fixed-container
{ background: #fff; }

.basic_appearance .site_appereance_contents_main
{ border-left: 3px solid #D3DBDE; border-right: 3px solid #D3DBDE; margin: 0; padding: 10px; }


/** HEADING **/
.basic_appearance .site_heading
{ color: #454a4f; padding: 10px 0 10px 0; border: none; }

.basic_appearance .site_secondary_heading
{ color: #454a4f; padding: 10px 0 20px 0; border: none; }

.basic_appearance .site_secondary_heading a
{ background: #fff url('../../_images/arrow_left_sm2_blue.gif') center left no-repeat; padding: 0 0 0 10px; }


/** TABS **/
.basic_appearance .primary-tabs
{ background: #fff url('../../_images/site_appearance_tab_bg.gif') top left no-repeat; height: 25px; border: none;  padding: 3px 10px 0 0; display: block; }

.basic_appearance .primary-tabs ul
{ padding: 0; margin: 0; border-bottom: none;  }

.basic_appearance .primary-tabs ul li
{ margin: 0; padding: 0; background: transparent; border: none; display: block; float: left; }

.basic_appearance .primary-tabs ul li a
{ padding: 4px 18px 4px 13px; line-height: 20px; background: transparent; border: none; font-weight: bold; color: #000; display: block; float: left; margin: 0; position: relative; bottom: 0px !important; }

.basic_appearance .primary-tabs ul li.fl-tabs-active
{ background: #FFF url('../../_images/tab_corner_tl.png') top left no-repeat; height: 30px; padding-left: 5px; position: relative; bottom: 0px !important; }

.basic_appearance .primary-tabs ul li.fl-tabs-active a
{ background: #FFF url('../../_images/tab_corner_tr.png') top right no-repeat; height: 30px; font-weight: normal; padding-left: 15px; margin: 0; position: relative; bottom: 0px !important; }


/** TAB CONTENTS **/
.basic_appearance .site_appearance_container
{ padding: 0; margin: 0 0 20px 0; border: none; margin-top: 0; color: #454a4f; }

.basic_appearance .site_appereance_contents_main
{ border-left: 3px solid #D3DBDE; border-right: 3px solid #D3DBDE; margin: 0; padding: 10px; }


.basic_appearance .content_top
{ background: url('../../_images/content_tr_leftalign.gif') top right no-repeat; padding: 0 5px 0 0; margin: 0; }


.basic_appearance .content_top_inner
{ background: url('../../_images/content_tl_leftalign.gif') 0 0 no-repeat; margin: 0; height: 6px; }

.basic_appearance .content_bottom
{ background: url('../../_images/content_br.png') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.basic_appearance .content_bottom_inner
{ background: url('../../_images/content_bl.png') 0 0 no-repeat; margin: 0; height: 6px; }


/* PAGE CONTENTS */

.basic_appearance .section_container
{ padding: 0; }

.basic_appearance .site_appereance_contents_main h4
{ padding: 5px 0 10px 0; font-weight: normal; color: #5a6a7c; }


/** Site logo **/
.basic_appearance .site_logo
{ padding: 0 0 20px 0; }

.basic_appearance .logo-preview-container, .basic_appearance .site_appearance_logo_template
{ display: block; height: 100px; width: 256px; border: 1px solid #d5dbdf; margin: 0 0 10px 0}

.basic_appearance .change-logo
{ margin: 10px 0 10px 0; }


/** Site style **/
.basic_appearance .region-container
{ margin:0 0 10px 0; padding:0;}

.basic_appearance .region-container li
{ list-style-type: none; height: 145px; margin-right: 20px; float: left; width: 96px; }

.basic_appearance .region-container .thumbnail
{ width: 96px; height: 96px; border: 1px solid #d5dbdf; }

.basic_appearance .region-container .selected .thumbnail-label span
{ color: #454a4f; }

.basic_appearance .region-container .selected .thumbnail
{ border: 3px solid #454a4f; }

.basic_appearance .region-container .thumbnail-label span
{ color: #3399cc; font-weight: bold; font-size: 13px; display: block; margin-top: 3px; text-align: center; }



/** SITE PREVIEW **/
.basic_appearance .page_preview_iframe
{ height: 300px; width: 520px; border: 3px solid #454a4f; }





/** BUTTONS **/
.basic_appearance .button-container
{ padding: 20px 0 0 0; }

.basic_appearance .grey_button
{ background:transparent url(../../_images/gray_button_left.png) no-repeat scroll left top; float: left; margin: 0 5px 0 0; }

.basic_appearance .grey_button .button
{ background:transparent url(../../_images/gray_button_right.png) no-repeat scroll right top; border:medium none; color:#FFFFFF; cursor:pointer; font-weight:bold; height:23px; margin:0; padding: 0 10px 2px; margin-right: -10px;}

.basic_appearance .lightgrey_button
{ background:transparent url(../../_images/lightgray_button_left.gif) no-repeat scroll left top; float: left; margin: 0 5px 0 0; }

.basic_appearance .lightgrey_button .button
{ background:transparent url(../../_images/lightgray_button_right.gif) no-repeat scroll right top; border:medium none; color:#FFFFFF; cursor:pointer; font-weight:bold; height:23px; margin:0; padding: 0 10px 2px; margin-right: -10px; }




/** FOOTER **/
.basic_appearance .page_footer
{ padding: 15px 0 15px 15px; border-top: 1px solid #ddd; font-size: .85em; color: #999; margin-top:35px; }

.basic_appearance .page_footer a
{ color: #3399cc; }

.basic_appearance .sakai_logo
{ float: left; }


/* DIALOGS */
.basic_appearance .dialog
{ width:700px !important; margin-left: -350px !important;background-color: #fff !important; }

.basic_appearance .dialog_footer
{ clear: both; padding-left: 0; }

.basic_appearance .dialog_footer .button-default
{ margin-right: 10px; }


/* CHANGE PIC */
.imgareaselect-outer {z-index:10000!important;}
.imgareaselect-border2 {z-index:10000!important;}
.imgareaselect-selection {z-index:10000!important;}
#site_appearance_change_container {width:700px!important;margin-left:-350px!important;}
#site_appearance_change_container .fl-tabs li a {bottom:3px!important;#bottom:5px!important;/* override for Microsoft Internet Explorer browsers*/ background-color:#EEE;color:#000!important;margin-left:-1px;position:relative;border-color:#EEE #EEE #DDD;border-style:solid;border-width:1px;padding:6px 20px;}
#site_appearance_change_container .fl-tabs .fl-tabs-active a {background-color:#FFF!important;color:#000!important;font-weight:400!important;border-color:#DDD #DDD #EEE;border-style:solid;border-width:1px;}
#site_appearance_change_picture_thumbnail_container {float:left;position:relative;overflow:hidden;width:200px;height:100px;}
.dailog_changepic h4 {margin-bottom:10px;}
#site_appearance_change_select_content {padding-top:10px;padding-left:10px;}
#site_appearance_change_select_content .buttonBar {padding-left:0;clear:both;height:45px;}
#site_appearance_change_picture_measurer {left:-100000px;top:-100000px;position:absolute;}
#site_appearance_change_picture_full {float:left;margin-right:10px;}
#site_appearance_change_picture_thumbnail {position:relative;}
#site_appearance_change_upload_tabnew {padding-top:10px;padding-left:10px;}
#site_appearance_change_upload_form {padding-top:10px;}
#site_appearance_change_upload_form .buttonBar {padding-left:0;clear:both;margin-top:10px;}
#profile_upload {padding:2px 8px;}
#site_appearance_change_select_content {padding-top:10px;padding-left:10px;}
#site_appearance_change_select_content .buttonBar {padding-left:0px; clear: both; height: 45px; }
#site_appearance_change_picture_measurer {left:-100000px; top: -100000px; position:absolute; }
#site_appearance_change_picture_full {float: left; margin-right: 10px;}
#site_appearance_change_picture_thumbnail {position:relative;}
#site_appearance_change_upload_tabnew {padding-top:10px; padding-left:10px; }
#site_appearance_change_upload_form {padding-top:10px;}
#site_appearance_change_upload_form .buttonBar {padding-left:0px; clear: both; margin-top:10px; }
#profile_upload {padding:2px 8px; }
.dialog_buttons {padding-top:20px;}