/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* LAYOUT */
#browsedirectory_no_pages{padding:20px 30px;}
#browsedirectory_main{overflow:hidden;}
#browsedirectory_title{padding-left:15px!important;}

/* browsedirectory TREE STYLES */
#browsedirectory_tree ul.jstree-no-dots li.jstree-leaf,#browsedirectory_tree ul.jstree-no-dots li.jstree-open,#browsedirectory_tree ul.jstree-no-dots li.jstree-closed{padding:4px;}
#browsedirectory_tree ul.jstree-no-dots li.jstree-leaf a,#browsedirectory_tree ul.jstree-no-dots li.jstree-open a,#browsedirectory_tree ul.jstree-no-dots li.jstree-closed a{font-weight:normal;color:#006E96;white-space:normal;display:inline;padding:4px;line-height:19px;}
#browsedirectory_tree ul.jstree-no-dots li.jstree-open > a,#browsedirectory_tree ul.jstree-no-dots li.jstree-closed > a{font-weight:normal;}
#browsedirectory_tree ul.jstree-no-dots li.jstree-leaf a.jstree-clicked,#browsedirectory_tree ul.jstree-no-dots li.jstree-open a.jstree-clicked,#browsedirectory_tree ul.jstree-no-dots li.jstree-closed a.jstree-clicked{color:#FFF;font-weight:normal;background-color:#006E96;border:none;}
#browsedirectory_tree ul.jstree-no-dots li.jstree-leaf a.jstree-hovered,#browsedirectory_tree ul.jstree-no-dots li.jstree-open a.jstree-hovered,#browsedirectory_tree ul.jstree-no-dots li.jstree-closed a.jstree-hovered{color:#006E96;background-color:#D3EDF5;border:none;}
#browsedirectory_tree.jstree-default.jstree-focused{background-color:#fff;}
#browsedirectory_tree.jstree-default a .jstree-icon:hover{cursor:move;}
#browsedirectory_tree {margin-left:23px;text-indent:-23px;}