/*** Typography ***/
.grouppermissions_input label {color:#666666; margin-right:5px; display:block;
    width:240px; float:left; text-align:right;}
.grouppermissions_input select {font-weight:bold;}
.grouppermissions_input_info {margin:-1em 0 1em 245px; color:#666666; font-size:0.9em;}
