<Server port="8005" shutdown="SHUTDOWN">

  <!-- Comment these entries out to disable JMX MBeans support used for the 
       administration web application -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.storeconfig.StoreConfigLifecycleListener"/>

 <!-- the Sakai Component Listener -->
 <Listener className="org.sakaiproject.kernel.loader.server.tomcat5.KernelLoader"/>

  <!-- Define the Tomcat Stand-Alone Service -->
  <Service name="Catalina">

    <!-- Define a non-SSL HTTP/1.1 Connector on port 8080 -->
  <Connector port="8080" protocol="HTTP/1.1"
               enableLookups="false"
               maxPostSize="0" 
               redirectPort="8443"
               URIEncoding="UTF-8"
               xpoweredBy="Sakai K2 "
               acceptCount="100"
               bufferSize="2048"
               connectionTimeout="20000"
               disableUploadTimeout="true"
               maxHttpHeaderSize="4096"
               maxThreads="40"
               minSpareThreads="5" 
               maxSpareThreads="10"

              />

    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <Connector port="8009" protocol="AJP/1.3"
               enableLookups="false"
               maxPostSize="0" 
               connectionTimeout="20000"
               redirectPort="8443"
               URIEncoding="UTF-8"
               xpoweredBy="Sakai Kernel K2"
               />


    <!-- The Engine with a Sakai Context Configuration -->
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="webapps"
       unpackWARs="true" autoDeploy="true"
       xmlValidation="false" xmlNamespaceAware="false" 
       >
       <!-- 
       configClass="org.sakaiproject.kernel.loader.server.tomcat5.SakaiContextConfig"
       >
        -->
       
      
      </Host>
	
    </Engine>

  </Service>

</Server>
