/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/**
 * General
 */
#addarea_container {
    width: auto;
}

/**
 * Navigation
 */
#addarea_container ul#addarea_content_menu {
    width: 180px;
    display: block;
    margin: 0;
    float: left;
    position: relative;
}
#addarea_container ul#addarea_content_menu ul.addarea_content_menu_item_subnav {
    margin: 0 0 0 26px;
    padding-bottom: 5px;
}
#addarea_container ul#addarea_content_menu li.selected ul.addarea_content_menu_item_subnav li.selected {
    background: #4cb1dc;
    background: -moz-linear-gradient(top, #4cb1dc 0%, #4fbeed 9%, #4dc2f6 22%, #21a9e6 74%, #1aa4e2 87%, #1198d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cb1dc), color-stop(9%,#4fbeed), color-stop(22%,#4dc2f6), color-stop(74%,#21a9e6), color-stop(87%,#1aa4e2), color-stop(100%,#1198d5));
    background: -webkit-linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    background: -o-linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    background: -ms-linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    background: linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}
#addarea_container ul#addarea_content_menu li.selected ul.addarea_content_menu_item_subnav li.selected button {
    color: #fff;
    font-weight: bold;
}
#addarea_container ul#addarea_content_menu li {
    list-style: none;
    min-height: 28px;
    background: transparent;
    line-height: 28px;
    padding: 1px 0 1px 1px;
}
#addarea_container ul#addarea_content_menu > li.selected {
    background-color: #e9e9e8;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 0;
}
#addarea_container ul#addarea_content_menu li button {
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    height: 28px;
}
#addarea_container ul#addarea_content_menu li.hassubnav > button {
    color: #666;
}
#addarea_container ul#addarea_content_menu li.hassubnav.selected > button {
    font-weight: bold;
    color: #333;
}
#addarea_container ul#addarea_content_menu .s3d-link-button {
    width: 100%;
    padding-left: 8px;
}
#addarea_container ul#addarea_content_menu li .navigation_icon {
    display: block;
    float: left;
    height: 20px;
    margin-right: 8px;
    margin-top: 4px;
    width: 20px;
}
#addarea_container ul#addarea_content_menu li .navigation_icon.new_document_icon {
    background: url("/devwidgets/addarea/images/addarea_new_document_icon.png") no-repeat top left transparent;
}
#addarea_container ul#addarea_content_menu li .navigation_icon.existing_content_icon {
    background: url("/devwidgets/addarea/images/addarea_existing_content_icon.png") no-repeat top left transparent;
}
#addarea_container ul#addarea_content_menu li .navigation_icon.content_list_icon {
    background: url("/devwidgets/addarea/images/addarea_content_library_icon.png") no-repeat top left transparent;
}
#addarea_container ul#addarea_content_menu li .navigation_icon.participants_icon {
    background: url("/devwidgets/addarea/images/addarea_participants_icon.png") no-repeat top left transparent;
}
#addarea_container ul#addarea_content_menu li .navigation_icon.widgets_icon {
    background: url("/devwidgets/addarea/images/addarea_widget_icon.png") no-repeat top left transparent;
}

/**
 * Content
 */
#addarea_container #addarea_content_container {
    background-color: #e9e9e8;
    float: left;
    min-height: 270px;
    min-width: 200px;
    margin-left: -1px;
    border: 1px solid #e2e2e2;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    padding: 12px;
}
#addarea_container #addarea_content_container label {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
#addarea_container #addarea_content_container .autosuggest_wrapper label {
    width: auto;
}
#addarea_container #addarea_content_container select, #addarea_container #addarea_content_container input {
    border: 1px solid #A9A9A9;
    margin-bottom: 15px;
    display: block;
    padding: 0 5px;
}
#addarea_container #addarea_content_container input {
    height: 20px;
    width: 240px;
}
#addarea_container #addarea_content_container .s3d-search-inputfield {
    height: 22px;
}
#addarea_container #addarea_content_container select {
    height: 20px;
    padding: 0;
    margin-top: 3px;
}
#addarea_container #addarea_content_container .addarea_list_categories {
    float: right;
}
#addarea_container #addarea_content_container .addarea_preview_container {
    float: left;
    width: 100px;
}
#addarea_container #addarea_content_container .addarea_data_container {
    float: left;
    overflow: visible;
    min-width: 375px;
}
#addarea_container #addarea_content_container h3 {
    margin: 0 0 4px;
    color: #424242;
    font-size: 15px;
}
#addarea_container #addarea_content_container .addarea_type_more {
    margin: 0 0 15px;
    font-style: italic;
    display: block;
    max-width: 375px;
}

#addarea_container #addarea_content_container .addarea_column {
    width: 50%;
    float: left;
}
#addarea_container #addarea_content_container .addarea_column input, #addarea_container #addarea_content_container .addarea_column select {
    width: 170px;
}

/* new content */
#addarea_container #addarea_content_container #addarea_new_container #addarea_new_tagsandcategories {
    margin-bottom: 0;
}
#addarea_container #addarea_content_container #addarea_new_container #addarea_new_numberofpages {
    float: left;
    margin-right: 10px;
    line-height: 12px;
    margin-top: 5px;
}
#addarea_container #addarea_content_container #addarea_new_container #addarea_new_numberofpages_doc {
    display: block;
    float: left;
    font-size: 11px;
    overflow: auto;
    width: 120px;
}

/* Existing content */
.addarea_existing_top, .addarea_existing_bottom {
    background-color: #fff;
    padding: 5px;
    width: 400px;
    margin-bottom: 5px;
}
.addarea_existing_bottom {
    height: 250px;
    overflow: auto;
}
.addarea_existing_bottom ul {
    margin: 0;
}
.addarea_existing_bottom ul li {
    border-bottom: 1px dotted #999;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}
.addarea_existing_bottom ul li.selected {
    background: #4cb1dc;
    background: -moz-linear-gradient(top, #4cb1dc 0%, #4fbeed 9%, #4dc2f6 22%, #21a9e6 74%, #1aa4e2 87%, #1198d5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cb1dc), color-stop(9%,#4fbeed), color-stop(22%,#4dc2f6), color-stop(74%,#21a9e6), color-stop(87%,#1aa4e2), color-stop(100%,#1198d5));
    background: -webkit-linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    background: -o-linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    background: -ms-linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
    background: linear-gradient(top, #4cb1dc 0%,#4fbeed 9%,#4dc2f6 22%,#21a9e6 74%,#1aa4e2 87%,#1198d5 100%);
}
.addarea_existing_bottom ul li.selected .s3d-regular-links {
    color: #fff;
}
.addarea_existing_top input {
    margin-bottom: 0 !important;
    width: 210px !important;
}
.addarea_existing_top select {
    float: right;
    margin-bottom: 0 !important;
}
.addarea_existing_top label {
    float: right !important;
    margin: 6px 7px 0 0;
    width: auto !important;
}

/**
 * Buttons
 */
#addarea_container #addarea_actions {
    float: right;
    margin-top: 15px;
    clear: both;
}

/* AutoSuggest */
#addarea_container .autosuggest_wrapper ul.as-selections {
    width: 380px;
    float: left;
    clear: both;
    min-height: 50px;
}
#addarea_container .autosuggest_wrapper ul.as-list {
    margin-top: 0px;
}