/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */

/*
 * Widget Container CSS
 */
strong{color:#000;}

/* SEARCH BAR */
.skinned_select{float:left;width:190px;height:23px;border:1px solid #ddd;padding-top:3px;}
.searchsakai2_bar input{color:#6d6d6d;border:1px solid #ddd;float:left;margin:0 5px;height:22px;width:350px;font-size:1.2em;padding-left:5px;margin-bottom:12px;display:block;background:url(/devwidgets/topnavigation/images/topnav_search_icon.png) 99% 4px no-repeat;}
.searchsakai2_bar{border-bottom: 5px solid #e9e9e9;}

/* SEARCH RESULTS TITLE */
.searchsakai2_result_title{text-align:center;font-size:1.1em;color:#6d6d6d;padding:0;}
.searchsakai2_result_title{text-align:left;font-weight:normal;font-size:1em;color:#828e9c;margin:20px 10px 0 10px;padding-bottom:10px;}
.searchsakai2_selects{float:right;}
.search_sortby{margin-left:10px;}
.searchsakai2_selects div{display:inline !important;}


/* padding around all your widget's content */
.searchsakai2_widget .s3d-widget-content {padding: 10px 20px;}

/* widget icon (for widgets that may appear on a dashboard) 
   icons are usually around 18 x 18 pixels */
.searchsakai2.s3d-widget .s3d-widget-titlebar .widget_title {
    background: url('/devwidgets/searchsakai2/images/searchsakai2_icon.png') 
        17px 18px no-repeat;
}

/* SEARCH RESULTS */
#searchsakai2_results_container{margin: 10px 0 0;padding:0;border-bottom: 1px solid #e9e9e9;}
.searchsakai2_results_part{padding-bottom:10px;}
.searchsakai2_results_part_header{border-bottom:1px solid #ddd;font-size:1.3em;padding-bottom:5px;font-weight:bold;color:#333;}
.searchsakai2_results_part_title{font-weight:bold;color:#333;float:left;}
.display_more_link{color:#39c;font-size:.85em;font-weight:normal;position:relative;bottom:0;margin:0;padding:0;}
.searchsakai2_result{color:#333;padding:10px;border-top: 1px dotted #cccccc;overflow:hidden;}
.searchsakai2_result_first{border-top: 1px solid #e9e9e9;}
.searchsakai2_result img{float:left;padding:0 10px 10px 0;width:50px;}
.searchsakai2_result_sites img{width:30px;}
.searchsakai2_result_right{margin-left:90px;}
.searchsakai2_result_star{background-image:url(/dev/images//star.png);display:block;float:left;position:relative;top:-4px;left:0;}
.searchsakai2_result_header{color:#39c;margin:0 0 5px 25px;font-weight:bold;font-size:1.1em;}
.searchsakai2_result_description{margin:0 0 5px;color:#333;font-size:.90em;padding:6px 0;}
.searchsakai2_result_footer{margin:0 0 5px 25px;color:#999;font-size:.85em;}
.searchsakai2_results .jq_pager{border-bottom: 1px solid #e9e9e9;}
 
