/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* LAYOUT */
#navigation_settings {padding:10px;}
#navigation_no_pages {padding:20px 30px;}

/* TYPOGRAPHY */
#navigation_groupname {font-weight:bold;}

/* NAVIGATION TREE STYLES */
#navigation_tree ul.jstree-no-dots li.jstree-leaf,
#navigation_tree ul.jstree-no-dots li.jstree-open,
#navigation_tree ul.jstree-no-dots li.jstree-closed
    {padding:4px 4px;}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a,
#navigation_tree ul.jstree-no-dots li.jstree-open a,
#navigation_tree ul.jstree-no-dots li.jstree-closed a
    {font-weight:normal; color:#006E96; white-space:normal; display:inline; padding:4px; line-height:19px;}
#navigation_tree ul.jstree-no-dots li.jstree-open > a,
#navigation_tree ul.jstree-no-dots li.jstree-closed > a
    {font-weight:bold;}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-clicked,
#navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-clicked,
#navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-clicked
    {color:#FFFFFF; font-weight:bold; background-color:#006E96; border:none;}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-hovered,
#navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-hovered,
#navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-hovered
    {color:#006E96; background-color:#D3EDF5; border:none;}
#navigation_tree.jstree-default.jstree-focused {background-color:#fff;}
#navigation_tree.jstree-default a .jstree-icon {background:url("/dev/_images/page_icon_small_blue.png") 0px 0px no-repeat;}
#navigation_tree.jstree-default a .jstree-icon:hover {cursor:move;}

/* BACKGROUND IMAGES */
#navigation_title {background:transparent url(/dev/_images/pages_icon.png) no-repeat scroll 16px 17px;}
#navigation_create_page {padding-left:15px; background:transparent url(/dev/_images/add_action_icon.png) no-repeat scroll 3px 3px;}
#navigation_delete_page {padding-left:15px; background:transparent url(/dev/_images/delete_action_icon.png) no-repeat scroll 3px 3px;}

