/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */


/* DELICIOUS CONTAINER */

#delicious_widget #delicious_container {
    padding:15px;
}


/* DELICIOUS MAIN MENU */

#delicious_widget #delicious_main_menu {
    border-bottom:3px solid #ddd;
    padding-bottom:5px;
}

#delicious_widget #delicious_main_menu #delicious_refresh_link {
    background:url('/devwidgets/delicious/images/refresh.jpg');
    float:right;
    height:15px;
    width:15px;
}

#delicious_widget #delicious_main_menu #delicious_refresh_link:hover {
    background-position:-15px 0;
}


/* DELICIOUS MAIN BOOKMARKS */

#delicious_widget #delicious_main_bookmarks {
    padding-top:35px;
}


/* DELICIOUS FILTER */

#delicious_widget #delicious_main_filter {
    padding-top:8px;
}


/* DELICIOUS PAGER */

#delicious_widget .sakai_pager li {
    background:transparent !important;
}

#delicious_widget .sakai_pager li > span {
    background:none !important;
}

#delicious_widget .sakai_pager li.dots {
    clear:none;
}

#delicious_widget .fl-widget .fl-widget-options #delicious_paging {
    color:#666666;
    font-size:0.85em;
    font-weight:bold;
    padding:3px 0 3px 3px;
}


/* GENERAL MARKUP */

#delicious_widget .delicious_pipe_divider {
    color:#999999;
    font-size:0.85em;
    padding:0 6px 0 10px;
}

#delicious_widget .delicious_input {
    border:1px solid #dddddd;
    padding:3px 0 0 3px;
}