/* line 2, ../sass/mobile.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/mobile.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/mobile.scss */
#oae-mobile-viewport {
  position: absolute;
  overflow: hidden;
}

/* line 17, ../sass/mobile.scss */
.view {
  position: absolute;
  overflow: hidden;
}

/* line 22, ../sass/mobile.scss */
.stretch {
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

/* line 30, ../sass/mobile.scss */
.scroll {
  overflow: scroll;
}

/* line 34, ../sass/mobile.scss */
#menu {
  text-align: center;
}

/* Login */
/* line 39, ../sass/mobile.scss */
#login-view {
  background-color: #999999;
}

/* Home */
/* line 44, ../sass/mobile.scss */
#home-view {
  background-color: #555555;
}

/* Detail */
/* line 49, ../sass/mobile.scss */
#detail-view {
  background-color: #333333;
}

/* Extra */
/* line 54, ../sass/mobile.scss */
#activity-indicator {
  position: absolute;
  display: none;
  z-index: 1000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: .75;
}
/* line 67, ../sass/mobile.scss */
#activity-indicator p {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: white;
  margin-left: -75px;
  margin-top: -25px;
  text-align: center;
}

/* Classes */
/* line 83, ../sass/mobile.scss */
.clear {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
}
