/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Left Hand nav */
#newaddcontent_container {width:1018px; height:490px; background-color:#fff; border:1px solid #a9a9a9; -moz-border-radius:5px;left:31%;padding:12px;}
#newaddcontent_container #newaddcontent_container_lhchoice {float: left;width: 214px; position:absolute;z-index:999;margin:0;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item {width:212px;cursor:pointer;list-style:none;padding:1px 0 1px 1px;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item > span {line-height:56px; color:#006E96;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul {margin:-10px 0 15px 30px;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li {-moz-border-radius: 5px 0 0 5px;clear: both;list-style: none outside none;margin-bottom: 0;padding: 5px 0 5px 7px;color:#424242;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li #newaddcontent_shared_with_me_icon,
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li #newaddcontent_my_content_icon,
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li #newaddcontent_everything_icon {width:16px;height:16px;margin:0 12px 0 0;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li #newaddcontent_shared_with_me_icon{background:url("/devwidgets/newaddcontent/images/newaddcontent_shared_icon.png") no-repeat top left transparent;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li #newaddcontent_my_content_icon{background:url("/devwidgets/newaddcontent/images/newaddcontent_my_content_icon.png") no-repeat top left transparent;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_item ul li #newaddcontent_everything_icon{background:url("/devwidgets/newaddcontent/images/newaddcontent_everything_icon.png") no-repeat top left transparent;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_selected_item {-moz-border-radius: 5px 0 0 5px;background-color: #E5EAED;border-color: #a9a9a9;border-style: solid none solid solid;border-width: 1px 0 1px 1px;padding:0;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_selected_item span {color:#424242;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_selected_item .newaddcontent_container_lhchoice_selected_subitem {background: url("/devwidgets/newaddcontent/images/newaddcontent_selected_item_bg.png") repeat-x scroll 0 0 transparent;font-weight:bold;}
#newaddcontent_container #newaddcontent_container_lhchoice .newaddcontent_container_lhchoice_selected_item .newaddcontent_container_lhchoice_selected_subitem span{color:#fff;}
#newaddcontent_container #newaddcontent_container_lhchoice .lhchoice_icon {display: block;float: left;height: 20px;margin-left: 5px;margin-right: 10px;margin-top: 19px;width: 20px;}
#newaddcontent_container #newaddcontent_container_lhchoice #newaddcontent_upload_content_icon {background: url("/devwidgets/newaddcontent/images/newaddcontent_upload_icon.png") no-repeat scroll 0 0 transparent;}
#newaddcontent_container #newaddcontent_container_lhchoice #newaddcontent_add_new_document_icon {background: url("/devwidgets/newaddcontent/images/newaddcontent_new_document_icon.png") no-repeat scroll 0 0 transparent;}
#newaddcontent_container #newaddcontent_container_lhchoice #newaddcontent_add_existing_content_icon {background: url("/devwidgets/newaddcontent/images/newaddcontent_existing_content_icon.png") no-repeat scroll 0 0 transparent;}
#newaddcontent_container #newaddcontent_container_lhchoice #newaddcontent_add_link_icon {background: url("/devwidgets/newaddcontent/images/newaddcontent_add_link_icon.png") no-repeat scroll 0 0 transparent;}

/* Middle item */
#newaddcontent_container #newaddcontent_container_newitem {background-color: #E5EAED;border: 1px solid #a9a9a9;float: left;width: 505px;margin-left: -2px;height: 419px;position:absolute; left:226px;-moz-border-radius: 0 5px 5px 5px;padding:12px;}
#newaddcontent_container .newaddcontent_container_newitem_extraroundedborder {-moz-border-radius: 5px 5px 5px 5px !important;}
#newaddcontent_container #newaddcontent_container_newitem #newaddcontent_container_newitem_raquo_right {background: url("/devwidgets/newaddcontent/images/newaddcontent_raquo_right.png") no-repeat scroll left top transparent;height: 34px;position: absolute;right: -10px;top: 200px;width: 25px;}
#newaddcontent_container #newaddcontent_container_newitem .newaddcontent_container_newitem_upload_content{position:absolute;right:20px;top:206px;}

/* Right selected items */
#newaddcontent_container #newaddcontent_container_selecteditems {height:443px;width:262px;float:right;-moz-border-radius: 5px;border:1px #a9a9a9 solid;}
#newaddcontent_container #newaddcontent_container_selecteditems #newaddcontent_container_selecteditems_header {background-color:#E5EAED;height:21px;-moz-border-radius: 5px 5px 0 0;padding: 10px 12px;text-align:center;}
#newaddcontent_container #newaddcontent_container_selecteditems #newaddcontent_container_selecteditems_header span{font-size:11px;font-weight:normal;}

/* Actions */
#newaddcontent_container #newaddcontent_container_actions {bottom:0;margin:0 12px 12px 0;position:absolute;right:0;}

/* Upload content */
.newaddcontent_form label{display:block;margin:12px 0 7px 0;color:#424242;}
.newaddcontent_form input, .newaddcontent_form textarea {width:330px;border:1px solid #A9A9A9;margin-top:3px;height:20px;}
.newaddcontent_form textarea{height:60px;}

/* Add new Sakai Doc */
#newaddcontent_add_document_description {width:145px;background-color:#cbd2d8;padding:10px;float:left;margin-right:15px;color:#424242;}
#newaddcontent_add_document_description #newaddcontent_add_document_description_image {background:url("/devwidgets/newaddcontent/images/newaddcontent_sakaidoc_example.png") no-repeat top left transparent;width:143px;height:185px;margin-bottom: 10px;}
#newaddcontent_add_document_description a {display: block;margin-top: 5px;}
#newaddcontent_add_document_form {float:left;}
#newaddcontent_add_document_form input {width:320px;}
#newaddcontent_add_document_form select {border: 1px solid #A9A9A9;height: 20px;}

/* Add from existing content */

