
html, body{
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#viewport {
  position: absolute;
  overflow: hidden;
}

.view{
  position: absolute;
  overflow: hidden;
}

.stretch{
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.scroll{
  overflow: scroll;
}

#menu{
  text-align: center;
}

/* Login */
#login-view{
  background-color: #999999;
}

/* Home */
#home-view{
  background-color: #555555;
}

/* Detail */
#detail-view{
  background-color: #333333;
}

/* Extra */
#activity-indicator{
  position: absolute;
  display: none;
  z-index: 1000;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #111111;
  opacity: .75;

  p{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: white;
    margin-left: -75px;
    margin-top: -25px;
    text-align: center;
  }
}

/* Classes */
.clear{
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
}