
.listpeople_container
{ width: 500px; height: 260px; border: 1px solid #999; }

.listpeople_container .listpeople_header
{ height: 30px; line-height: 30px; border-bottom: 1px solid #999; padding: 0 10px 0 10px; }

.listpeople_container .listpeople_header .listpeople_count
{ color: #333; font-size: 16px; font-weight: bold; }

.listpeople_container .listpeople_header .listpeople_sort_order
{ margin: 6px 0 0 0; }

.listpeople_container .listpeople_content
{ height: 230px; overflow: auto; }
