#popularcontent_main {margin:0px 10px 0px 15px; overflow: hidden;}
#popularcontent_main ul li {list-style-type: none;}
.popularcontent_title {padding-left: 15px !important;}
.popularcontent_widget {overflow: hidden;}

/* Widget icon */
.popularcontent.fl-widget .fl-widget-titlebar .widget_title {background: url('/devwidgets/popularcontent/images/icon.png') 14px 15px no-repeat;}
