#popularcontent_main{margin:0 10px 0 15px;overflow:hidden;}
#popularcontent_main ul li{list-style-type:none;}
.popularcontent_title{padding-left:15px!important;}
.popularcontent_widget{overflow:hidden;}
.popularcontent_ellipsis_text, .popularcontent_ellipsis_container {word-wrap:break-word;}
.popularcontent_main_progress{background:url(/dev/images/ajax_load.gif) no-repeat scroll 0 0 transparent;clear:both;height:10px;width:40px;left:30px;position:relative;}

/* Widget icon */
.popularcontent.fl-widget .fl-widget-titlebar .widget_title_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -658px -21px transparent;height:22px;width:20px;}