/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* Default Custom Skin File */
#explore_navigation {background:url("/dev/images/explore_navigation_bg.png") repeat-x scroll left bottom #E5E6E7;box-shadow:0px 11px 7px -11px inset;-moz-box-shadow:0px 11px 7px -11px inset;-webkit-box-shadow:0px 11px 7px -11px inset;padding:10px 0 0 30px;}
#explore_content {background:url("/dev/images/explore_top_dropshadow.png") no-repeat top center transparent;}


/* Changes to the bottom-spacer + the left and right column -- sakai.corev1.css */
.s3d-page-column-left{
	float:left !important;
	width:960px !important;
	min-height: 10px !important;
	background:url("/devwidgets/lhnavigation/images/lhnav_bg.png") repeat-x scroll 0 0 #FEFEFE;
}

.s3d-page-column-right{
	width:960px !important;
	padding:20px !important;
	box-shadow: 3px -10px 7px 0 !important;
	-moz-box-shadow: 3px -10px 7px 0 !important;
	-webkit-box-shadow: 3px -10px 7px 0 !important;
	box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
	clear:both !important;
	float: none !important;
	border: none !important;
} 

.s3d-bottom-spacer {
	display: none !important;
}


/* Changes to lhnavigation -- lhnavigation.css */

#lhnavigation_container ul {
	margin: -2px 0 0 !important;
	border-bottom: 1px solid #C4C4C4 !important;
}

#lhnavigation_container ul li{
	display:inline-block !important;
	list-style:none !important; 
}

#lhnavigation_container ul li .lhnavigation_item_content, #lhnavigation_container ul li ul li div.lhnavigation_subnav_item_content {
	padding: 5px 28px 2px 28px !important;
}

#lhnavigation_container .lhnavigation_subnav {
	margin:0px 0px; 
	position: absolute !important; 
	z-index: 998 !important; 
	width: 150px !important;
	background-color:#e0eef5 !important;
	border-radius: 0 5px 5px 5px !important;
	-moz-border-radius: 0 5px 5px 5px !important;
	-webkit-order-radius: 0 5px 5px 5px !important;
}

#lhnavigation_container .lhnavigation_subnav ul li {
	display: inline-block !important;
}

.lhnavigation_menuitem .lhnavigation_item_content .lhnavigation_selected_submenu_image{
	width:16px !important;
	height:16px !important;
	color:#ecedeb !important;
	padding-left:2px !important;
	padding-top:1px !important;
	text-shadow:0 0 1px #999999 !important;
	margin-left: -159px !important;
}

.lhnavigation_subnav_item_content .lhnavigation_selected_submenu_image{
		margin-left: -30px !important;
}

#lhnavigation_container .lhnavigation_subnav_item .s3d-split-line{
	display: none !important;
}


#lhnavigation_container ul li .lhnavigation_has_subnav {
	background: url("/dev/images/icons_sprite.png") no-repeat scroll -882px -21px transparent !important;
	height: 10px !important;
	margin-left: 25px !important;
	margin-top:27px !important;
	position: absolute !important;
	width: 12px !important;
}

#lhnavigation_container .lhnavigation_subnav li div.lhnavigation_subnav_item_content{
	width: 90px;
}

#lhnavigation_container ul li .lhnavigation_has_subnav_opened {
	background: url("/dev/images/icons_sprite.png") no-repeat scroll -882px -21px transparent !important;
}

#lhnavigation_container ul .lhnavigation_hoverable_item:hover .lhnavigation_has_subnav {
	background: url("/dev/images/icons_sprite.png") no-repeat scroll -882px -21px transparent !important;
}

#lhnavigation_container ul li .lhnavigation_private {
	background:url("/devwidgets/lhnavigation/images/lhnav_padlock.png") no-repeat center left transparent !important;
	height:16px !important;
	margin-left:-18px !important;
	margin-top:-22px !important;
	position:absolute !important;
	width:11px !important;
}

#lhnavigation_container ul li ul li.lhnavigation_selected_item div.lhnavigation_subnav_item_content{
	width: 94px !important;
	border-radius: 5px 5px 5px 5px !important;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
}

#lhnavigation_private_pages {
	float: left !important;
}

#lhnavigation_container .lhnavigation_menuitem .lhnavigation_subnav {
	border: none !important;
}


/* Changes to the position of the add button --  sakai.group.css */
#group_create_new_area_container {
	margin:18px 0 18px 21px !important;
}