#uploadcontent_dialog h4 {margin-bottom: 20px}
#uploadcontent_form_link {margin-bottom: 20px}
#uploadcontent_error_container {color: #ff0000; margin-bottom: 20px}
#uploadcontent_main_container input[type="text"] {border:1px solid #ddd; padding:3px}
#uploadcontent_main_container input[type="text"], #uploadcontent_main_container input[type="file"] {margin-bottom:10px}