/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Widget title icon */
.recentmessages .widget_title {
    background: url("/dev/_images/messages_icon.png") no-repeat scroll 17px 20px transparent;
}

/* Error messages */
.recentmessages_error {
    padding: 5px 0px 0px 15px;
}

/* Container text */
#recentmessages_container ul li {
    color: #333;
}

/* List items */
#recentmessages_container ul li {
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding: 5px 15px;
    margin: 0;
}
#recentmessages_container ul li a {
    color: #006e96;
    font-size: 1em;
    font-weight: bold;
}
#recentmessages_container .recentmessages_alterrow {
    background-color: #f5f6f6;
}
#recentmessages_container ul li .recentmessages_notread {
    color: #000;
    font-weight: bold;
}