/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/* General */
.allcategories_widget .allcategories_item {
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ededec 74%, #ededec 98%, #e4e4e4 99%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(74%,#ededec), color-stop(98%,#ededec), color-stop(99%,#e4e4e4), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#ededec 74%,#ededec 98%,#e4e4e4 99%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%,#ededec 74%,#ededec 98%,#e4e4e4 99%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%,#ededec 74%,#ededec 98%,#e4e4e4 99%,#f4f4f4 100%);
    background: linear-gradient(top, #f3f3f3 0%,#ededec 74%,#ededec 98%,#e4e4e4 99%,#f4f4f4 100%);
    width: 291px;
    height: 156px;
    overflow: hidden;
    float: left;
    margin: 0 12px 12px 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px;
}
.allcategories_widget .allcategories_item:hover {
    background: #d7eff7;
}
.allcategories_widget .allcategories_item .allcategories_item_header {
    background: #3a3a3a;
    background: -moz-linear-gradient(top, #3a3a3a 0%, #3b3a3a 6%, #404040 18%, #414141 29%, #2f2f2f 69%, #1f1f1f 91%, #1b1b1b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(6%,#3b3a3a), color-stop(18%,#404040), color-stop(29%,#414141), color-stop(69%,#2f2f2f), color-stop(91%,#1f1f1f), color-stop(100%,#1b1b1b));
    background: -webkit-linear-gradient(top, #3a3a3a 0%,#3b3a3a 6%,#404040 18%,#414141 29%,#2f2f2f 69%,#1f1f1f 91%,#1b1b1b 100%);
    background: -o-linear-gradient(top, #3a3a3a 0%,#3b3a3a 6%,#404040 18%,#414141 29%,#2f2f2f 69%,#1f1f1f 91%,#1b1b1b 100%);
    background: -ms-linear-gradient(top, #3a3a3a 0%,#3b3a3a 6%,#404040 18%,#414141 29%,#2f2f2f 69%,#1f1f1f 91%,#1b1b1b 100%);
    background: linear-gradient(top, #3a3a3a 0%,#3b3a3a 6%,#404040 18%,#414141 29%,#2f2f2f 69%,#1f1f1f 91%,#1b1b1b 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px;
    margin-bottom: 12px;
    cursor: pointer;
}
.allcategories_widget .allcategories_item .allcategories_item_header:hover {
    background: #3279b2;
    background: -moz-linear-gradient(top, #7acefa 0%, #4cbcf9 2%, #4fbbf7 7%, #49b0eb 22%, #3279b2 78%, #2e6ea5 98%, #3572a7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7acefa), color-stop(2%,#4cbcf9), color-stop(7%,#4fbbf7), color-stop(22%,#49b0eb), color-stop(78%,#3279b2), color-stop(98%,#2e6ea5), color-stop(100%,#3572a7));
    background: -webkit-linear-gradient(top, #7acefa 0%,#4cbcf9 2%,#4fbbf7 7%,#49b0eb 22%,#3279b2 78%,#2e6ea5 98%,#3572a7 100%);
    background: -o-linear-gradient(top, #7acefa 0%,#4cbcf9 2%,#4fbbf7 7%,#49b0eb 22%,#3279b2 78%,#2e6ea5 98%,#3572a7 100%);
    background: -ms-linear-gradient(top, #7acefa 0%,#4cbcf9 2%,#4fbbf7 7%,#49b0eb 22%,#3279b2 78%,#2e6ea5 98%,#3572a7 100%);
    background: linear-gradient(top, #7acefa 0%,#4cbcf9 2%,#4fbbf7 7%,#49b0eb 22%,#3279b2 78%,#2e6ea5 98%,#3572a7 100%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.allcategories_widget .allcategories_item a {
    text-decoration: none;
}

.allcategories_widget .allcategories_item .s3d-split-line {
    margin: 7px 0 15px;
}
.allcategories_widget #allcategories_items_content {
    width: 935px;
}
.allcategories_widget #allcategories_items_content ul {
    margin: 0;
}
.allcategories_widget #allcategories_items_content li {
    display: inline;
    width: 207px;
}

.allcategories_widget .allcategories_item .allcategories_item_header .allcategories_item_raquo {
    background: url("/devwidgets/allcategories/images/allcategories_item_raquo.png") no-repeat top left transparent;
    width: 15px;
    height: 22px;
    float: right;
}

/* Content Style */
.allcategories_widget .allcategories_item .s3d-regular-links {
    font-size: 12px;
}
.allcategories_widget .allcategories_item .allcategories_item_header .s3d-regular-links {
    color: #FFF;
    text-decoration: none;
    margin: 0
}
.allcategories_widget .allcategories_item .allcategories_item_header_link {
    font-size: 17px;
}
.allcategories_widget .allcategories_item .allcategories_item_header_meta_small {
    color: #ccc;
    font-size: 10px;
    display: block;
}
.allcategories_widget .allcategories_item .allcategories_item_header_meta {
    color: #fff;
    font-size: 10px;
    display: block;
}
.allcategories_widget .allcategories_item .allcategories_item_content_preview {
    float: left;
    margin-right: 7px;
    height: 44px;
    width: 44px;
    margin-left: 3px;
}
.allcategories_widget .allcategories_item .allcategories_item_descriptive_text {
    color: #424242;
    font-size: 11px;
}
.allcategories_widget .allcategories_content_description {
    color: #424242;
    font-size: 12px;
    display: block;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 5px;
}
.allcategories_widget .allcategories_content_category_description {
    font-size: 11px;
    color: #424242;
    display: block;
}
.allcategories_widget .allcategories_content_usedin_icon {
    background: url("/devwidgets/entity/images/entity_used_by_icon.png") no-repeat scroll left top transparent;
}
.allcategories_widget .allcategories_content_icon {
    display: inline-block;
    height: 10px;
    width: 15px;
    margin-right: 5px;
}
.allcategories_widget .allcategories_content_category_description {
    font-size: 11px;
    color: #424242;
    display: block;
    margin-top: 5px;
}
.allcategories_widget .allcategories_content_comments_icon {
    background: url("/devwidgets/recentactivity/images/recentactivity_comment_icon.png") no-repeat scroll left top transparent;
}
.allcategories_widget .allcategories_content_tags {
    font-size: 11px !important;
    display: block;
    margin-top: 5px;
    color: #424242;
    padding-left: 20px;
    padding-top: 5px;
    background: url("/dev/images/tag_icon.png") no-repeat scroll left bottom transparent;
    clear: both;
}
.allcategories_widget .allcategories_content_tags a {
    font-size: 11px !important;
    font-weight: normal !important;
}
