/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
/*
 * The below CSS sections may not be necesary for your widget, but best practice
 * is to organize your CSS into sections like these (or add new sections)
 */

#contentauthoring_buttons {margin-bottom: 5px; position: fixed !important; background-color: #2d2d2d; width: 150px; left: 30px; top: 75px;}

/* Resizing */

.contentauthoring_widget .contentauthoring_row {border: 3px solid transparent; min-height: 100px; margin-bottom: 5px; display:table; width: 100%;}
.contentauthoring_widget .contentauthoring_table_row {display: table-row;}
.contentauthoring_widget .contentauthoring_edit_mode .contentauthoring_minheight_container {min-height:25px;}
.contentauthoring_widget .contentauthoring_cell {height: 100% !important; display:table-cell; vertical-align: top !important;}
.contentauthoring_widget .contentauthoring_cell_container {display:table; height: 100%; width: 100%; table-layout: fixed; white-space: normal !important;}
.contentauthoring_widget .contentauthoring_cell_content {padding: 5px; display:table-cell !important; width: 100%;}
.contentauthoring_widget .contentauthoring_cell_element {margin-bottom: 5px; border: 1px dotted #fff;}
.contentauthoring_widget .contentauthoring_edit_mode .contentauthoring_cell_element_hover {border: 1px dotted blue;}

.contentauthoring_widget .contentauthoring_edit_mode .contentauthoring_row {border: 3px solid #2d2d2d;}

.contentauthoring_widget .contentauthoring_cell_handle {width: 12px; min-width: 12px;}
.contentauthoring_widget .contentauthoring_edit_mode .contentauthoring_cell_handle {background-image:url('/devwidgets/contentauthoring/images/fullhandle.png'); background-repeat:no-repeat; background-position:center;}

.ui-resizable-helper { border-right: 2px dotted #2d2d2d; }
.ui-resizable-e { cursor: e-resize; }
.ui-state-highlight {width: 100%; height: 20px; border: 1px dotted grey; background-color: blue;}

/* Row menu */

#contentauthoring_row_menu {position: absolute; top: 50px; left: 50px;}

/* Element edit menu */

.contentauthoring_cell_element_actions {position: absolute; display: none;}
.contentauthoring_widget .contentauthoring_edit_mode .contentauthoring_cell_element:hover .contentauthoring_cell_element_actions {display:block;}

/* Row re-ordering */

.contentauthoring_row_handle_container {width: 60px; height: 15px; background-color: #2D2D2D; visibility: hidden; color: #fff;}
.contentauthoring_row_handle {cursor: move; background-color: yellow; width: 20px; height: 15px; display: inline-block;}
#contentauthoring_widget_container {margin-left: 0px; margin-top: 0px;}
.contentauthoring_row_container {list-style-type: none;}

/* Elements to add */
#contentauthoring_buttons_elements {margin-left: 0px;}
#contentauthoring_buttons_elements div {margin-right: 10px; background-color:#ccc; margin-bottom: 2px;}
