/* Reorderer styles */

.orderable-hover{
  cursor: move;
}

.orderable-dragging{
    width: auto;
   	opacity: .2;
	filter: alpha(opacity=20);
}

.orderable-selected{
  
}

.orderable-avatar {
  height: 25px;
  width: 50px;
  border: 1px solid #666;
  background-color: #666;
  z-index: 65535;
}

div .orderable-drop-marker{
  height: 10px !important;
  background-color: #fa7019;
}

.orderable-avatar-clone {
  height: 200px;
  width: 400px;
  filter: alpha(opacity=60);
  opacity: .6;	
}

.drop-warning {
    position: absolute;
    top: 50px;
    left: 10px;
    border: 2px solid red;
    background-color: #ffd7d7;
    display: none;
    padding: 10px;
    margin: 5px;
    z-index: 65535;
}

.orderable-drop-marker-box {
  height: 200px !important;
  width: 100%;
  border: 2px dashed #AAAAAA;
  margin-bottom: 1em;
  background-color: #FFFFFF;
}


.orderable-mouse-drag {
    display: none;
}
