
main > h3 {
    border-bottom: 1px #EEEEEE solid;
    margin-left: 20px;
    margin-right: 20px
}

#signup-options-container {
    display: -webkit-flex;
    display:         flex;
    -webkit-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
    margin: 50px auto;
}

#signup-options-container > div {
    margin-right: 5%;
}

#signup-options-container > div:last-child {
    margin-right: 0;
}

#signup-options-container h5 {
    color: #888;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 35px;
    text-align: left;
}

#signup-options-external {
    min-width: 225px;
}

#signup-options-external > ul.nav {
    margin: 0 auto;
}

#signup-options-external > ul.nav > li {
    margin-bottom: 10px;
}

#signup-options-divider-vertical {
    border-left: solid 1px #ccc;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    width: 0;
}

#signup-options-divider-vertical > div {
    background-color: #fff;
    height: 60px;
    position: relative;
    right: 25px;
    text-align: center;
    width: 50px;
}

#signup-options-divider-vertical > div > i.fa.fa-circle:before {
    color: #ccc;
    display: inline-block;
    font-size: 50px;
    margin-top: 5px;
}

#signup-options-divider-vertical > div > span {
    color: #333;
    position: relative;
    text-transform: uppercase;
    top: -37px;
}

#signup-options-divider-horizontal {
    display: none;
    margin: 15px 0;
}

#signup-options-local {
    min-width: 500px;
}

#signup-createaccount-username-available {
    position: absolute;
    top: 5px;
    right: 22px;
}

#signup-createaccount-username-available.fa-times {
    color: #8F0222;
}

.signup-createaccount-captcha-buttons a.btn {
    margin: 2px 0 7px;
}

.signup-createaccount-captcha-buttons a.btn i {
    font-size: 14px;
}

.signup-createaccount-captcha-input-container {
    /* Make enough space for the floated captcha buttons to sit alongside this container */
    padding-right: 87px;
}

#recaptcha_image {
    margin-bottom: 15px;
    min-height: 57px;
}

#signup-createaccount-termsandconditions-container label {
    text-align: left;
}

#signup-createaccount-termsandconditions-container label input {
    margin-right: 15px;
}

#signup-createaccount-captcha-error {
    color: #a94442;
}

@media (max-width: 991px) {
    #signup-options-container > div {
        margin-right: 10%;
    }

    #signup-options-local {
        min-width: 300px;
    }

    #signup-createaccount-form {
        margin-top: -8px;
    }
}

@media (max-width: 767px) {
    #signup-options-container {
        -webkit-flex-direction: column;
                flex-direction: column;
        margin: 25px auto;
        max-width: 400px
    }

    #signup-options-container > div,
    #signup-options-container > div:last-child {
        margin-left: 20px;
        margin-right: 20px;
    }

    #signup-options-container h5 {
        margin-bottom: 15px;
        text-align: center;
    }

    #signup-options-external {
        text-align: center;
    }

    #signup-options-external > h5 {
        display: none;
    }

    #signup-options-external > ul.nav {
        display: inline-block;
    }

    #signup-options-divider-vertical {
        display: none;
    }

    #signup-options-divider-horizontal {
        display: block;
    }

    #signup-options-local {
        min-width: 300px;
    }

    #signup-createaccount-form {
        margin: 0 auto;
        width: 300px
    }
}


/* Top Navigation overrides */

#topnavigation-container {
    padding-left: 10px;
    padding-right: 10px;
}

#topnavigation-right #topnavigation-search-form {
    display: none !important;
}

/* ReCaptcha  overrides */

#recaptcha_image,
#recaptcha_image img {
    height: auto !important;
    width: 100% !important;
}

#recaptcha_image img {
    border-style: solid;
    border-width: 1px;
}

