/******************
 * TOP NAVIGATION *
 ******************/

 /** TOP NAV STRUCTURE **/

#topnav-container {
    clear: both;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
}

#topnav-container #topnav-left {
    float: left;
    margin-top: .75% 
}

#topnav-container #topnav-right {
    float: right;
}

#topnav-container #topnav-right > * {
    margin-top: 14px;
    z-index: 1000;
}

#topnav-center {
    margin: 0 auto;
    width: 60px;
}

#topnav-center img {
    margin-top: 12px;
    height: 34.5px;
    width: 60px;
}

#topnav-center img:hover {
    opacity:0.4;
}

/** TOP NAV ELEMENTS **/

#topnav-container ul {
    margin: 0;
    padding: 0;
}

#topnav-container ul li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 12px 12px 0;
}

/** TOP NAV LINKS **/

#topnav-container a {
    clear: both;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
}

#topnav-container a#topnav-links {
    padding: 3px 9px;
}

#topnav-container a#topnav-links:hover {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333;
    text-decoration: none;
    text-shadow: 0px -1px 0px #fff;

}

#topnav-container a#topnav-links:active {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #666;
    opacity: 0.75;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
}

/** TOP NAV NOTIFICATIONS **/

span.notification {
    background-color: #c80f0f;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    font-size: 11.5px;
    font-size: 1.15rem;
    font-weight: 600;
    margin: -4px 0 0 15px;
    padding: 0 4px 0 3px;  
    position: absolute; 
    text-shadow: 0px 1px 0px #6d0019;
}

/** TOP NAV SEARCH **/

#topnav-container #topnav-right #topnav-search-input {
    background-color: #fff;
    background-image: url("/ui/img/icons/search-icon.png");
    background-position: 159px 5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    opacity: 0.75;
    padding-right: 25px;
    width: 150px;
}

#topnav-container #topnav-right #topnav-search-input-long {
    background-color: #fff;
    background-image: url("/ui/img/icons/search-icon.png");
    background-position: 309px 5px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-right: 25px;
    width: 300px;
}

#topnav-container #topnav-right #topnav-search-form {
    margin-right: 24px;
}

/** TOP NAV SIGN IN **/

.topnav-signin {
    display: block;
    margin-top: 40px !important;
    margin-left: -13.80%; 
    padding: 1%;
    position: absolute;
    width: 450px;
    z-index: 100;
}

.topnav-signin-selected {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333 !important;
    text-decoration: none;
    text-shadow: 0px -1px 0px #fff;
}

.3rd-party-login-container {
    display: block;
    border-right: 1px dotted #D4D4D4;
    float: left;
    margin: 10px 0 5px;
    padding: 5px 0 10px;
    width: 215px;
}

.login-container {
    float: right;
    width: 215px;
}


/*****************
 * GLOBAL SEARCH *
 *****************/

#topnav-search-results-container {
    margin-top: 44px !important;
    position: absolute;
    width: 330px;
    z-index: 100;
}

#topnav-search-results-top {
    height: 18px;
    padding: 5px 5px;
}

#topnav-search-results-top > img {
    margin-top: 3px;
}

#topnav-search-results-top h3 {
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

#topnav-search-results-suggests {
    border-top: 1px solid #ccc;
    padding: 13px;
}

#topnav-search-results-suggests h2 {
    color: #666;
    font-size: 12px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin: 0 0 5px 0;
    padding-left: 2px;
}

#topnav-search-results-suggests ul li img {
    margin-right: 6px;
    padding: 0;
}

#topnav-search-results-suggests ul {
    display: inline-block;
    margin: 0;
    width: 100%;
}

#topnav-search-results-suggests ul li {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 2px;
    width: 100%;
}

#topnav-search-results-suggests ul li a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#topnav-search-results-suggests ul li:hover{
    background-color: #b4d5ff;
    cursor: pointer;
    font-weight: 600;
}

#topnav-search-results-bottom {
    border-top: 1px solid #ccc;
    padding: 2%;
}

#topnav-search-results-bottom a:hover {
    text-decoration: underline;
}

#topnav-search-form #search-keywords #search-bar {
    background: url("/ui/img/icons/icon-search.png") no-repeat center center transparent;
    background-position: 220px 37px;
    background-color: #fff;
    display: block;
    height: 58px;
    margin: 0;
    width: 77%;
}

#topnav-search-form #search-keywords #search-bar ul {
    display: block;
    margin: -5px 0 5px 5px;
}

#topnav-search-form #search-keywords #search-bar input {
    border: none;
}

#topnav-search-form #search-keywords #search-bar input {
    margin: 0;
}
#topnav-search-results-bottom h3 {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2% 0 0 2%;
}

#topnav-search-results-bottom button {
    color: #0074a7;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2% 5% 2% 5%;
    margin-bottom: 2%;
}

#topnav-search-results-bottom button:hover {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #333;
    text-shadow: 0px -1px 0px #fff;
}
