/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
.inserter_widget {
    background-color: #333;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 7px #000;
    -moz-box-shadow: 0 0 7px #000;
    -webkit-box-shadow: 0 0 7px #000;
    left: 10px;
    min-height: 100px;
    position: fixed !important;
    top: 50px;
    width: 230px;
}
.inserter_widget #inserter_init_container ul li:first-child {
    border-bottom: 1px solid #ccc
}
.inserter_widget .inserter_collection_type {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.inserter_widget .s3d-no-results-container {
    background-color: #DAE8EF;
    margin: 5px 0 0;
    padding: 10px 10px 5px;
}
.inserter_widget .s3d-no-results-container h1 {
    margin: 0 0 10px !important;
    overflow: hidden;
}
.inserter_widget .inserter_library_icon {
    background: url("/devwidgets/inserter/images/inserter_library_icon_27x25.png") no-repeat top left transparent;
    height: 25px;
    padding-right: 7px;
    width: 27px;
}
.inserter_widget .s3d-error + button {
    margin-top: 22px
}
.inserter_widget #inserter_collector {
    background: url("/devwidgets/inserter/images/inserter_collections_bg.png") repeat-x top left #1f1e1e;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    cursor: default;
    padding-bottom: 5px;
    width: 100%;
}
.inserter_widget #inserter_collector #inserter_collection_items_container li {
    line-height: 12px;
}
.inserter_widget #inserter_collector #inserter_create_collection_container {
    border: 2px dashed #4b4b4b;
    margin-top: 10px;
    padding: 10px 5px;
}
.inserter_widget #inserter_collector #inserter_create_collection_container:hover .inserter_create_icon {
    background: url("/devwidgets/inserter/images/inserter_create_icon_17x17_hover.png") repeat-x scroll left bottom transparent
}
.inserter_widget #inserter_collector #inserter_create_collection_container button {
    margin-left: 7px;
    padding: 1px 5px 0;
}
.inserter_widget #inserter_collector #inserter_create_collection_container input {
    clear: none !important;
    width: 92px !important;
}
.inserter_widget #inserter_collector .inserter_collections_top_container {
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    max-height: 250px;
    overflow: auto;
    width: 100%;
}
.inserter_widget #inserter_collector #inserter_init_container,
.inserter_widget #inserter_collector #inserter_collections,
.inserter_widget #inserter_collector #inserter_collection_content_container {
    margin: 5px 5px 0;
    width: 220px;
}
.inserter_widget #inserter_collector #inserter_collection_content_container .inserter_collections_top_container,
.inserter_widget #inserter_collector #inserter_collections .inserter_collections_top_container {
    max-height: 250px
}
.inserter_widget #inserter_collector #inserter_collection_content_container .inserter_collections_top_container {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.inserter_widget #inserter_collector #inserter_collection_content_container #inserter_all_collections_button {
    margin: 10px 0 5px 60px;
    width: 100px;
}
.inserter_widget #inserter_collector #inserter_init_container ul li span {
    cursor: pointer;
    display: block;
    overflow: auto;
}
.inserter_widget #inserter_collector #no_collections_artwork {
    background: url("/devwidgets/inserter/images/inserter_no_collections_bg.png") no-repeat top left transparent;
    height: 179px;
    margin-top: 7px;
    padding-bottom: 7px;
    width: 226px;
}
.inserter_widget #inserter_collector .inserter_create_icon {
    background: url("/devwidgets/inserter/images/inserter_create_icon_17x17.png") repeat-x scroll left bottom transparent;
    clear: left;
    height: 17px;
    margin: 1px 7px 0 0;
    width: 17px;
}
.inserter_widget #inserter_collector input {
    border: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    height: 22px;
    padding: 0 4px;
    width: 179px;
}
.inserter_widget #inserter_header {
    background: url("/devwidgets/inserter/images/inserter_header_bg.png") repeat-x top left #1f1e1e;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    width: 100%;
}
.inserter_widget #inserter_header #inserter_header_collection_title {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.04em;
    margin: 5px 5px 0 0;
}
.inserter_widget #inserter_header .inserter_header_collection_icon {
    margin: 0 7px
}
.inserter_widget #inserter_header #inserter_header_float_container {
    overflow: auto;
    padding-right: 5px;
    position: relative;
    top: -7px;
}
.inserter_widget #inserter_header #inserter_header_itemcount {
    color: #999;
    font-size: 11px;
}
.inserter_widget #inserter_header #inserter_header_dragbar {
    background: url("/devwidgets/inserter/images/inserter_header_dragbar_bg.png") repeat-x scroll left bottom transparent;
    height: 17px;
    margin: 0 10px 8px 5px;
    width: 196px;
}
.inserter_widget #inserter_header #inserter_header_title {
    color: #DEDEDE;
    font-size: 14px;
    letter-spacing: 0.04em;
    margin: 0 0 0 10px;
}
.inserter_widget #inserter_header #inserter_close_icon {
    background: url("/devwidgets/inserter/images/inserter_close_icon_10x10.png") no-repeat top left transparent;
    height: 10px;
    margin: 8px 8px 0 0;
    width: 10px;
}
.inserter_widget #inserter_header #inserter_close_icon:hover {
    background: url("/devwidgets/inserter/images/inserter_close_icon_10x10_hover.png") no-repeat top left transparent
}
.inserter_widget input.s3d-error {
    border: 3px solid #CC0000 !important
}
.inserter_widget select {
    border: 1px solid #333;
    margin-top: 2px;
    width: 80px;
}
.inserter_widget ul {
    margin: 0;
}
.inserter_widget ul li {
    cursor: move !important;
    line-height: 25px;
    list-style: none;
    min-width: 195px;
    overflow: hidden;
    padding: 5px;
}
.inserter_widget ul li .inserter_item_count_container {
    background: url("/devwidgets/inserter/images/inserter_count_bg.png") repeat-x scroll left top transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 6px;
}
.inserter_widget ul li .inserter_collection_type {
    margin-top: 5px
}
.inserter_widget ul li .s3d-icon-32 {
    margin-right: 5px
}
.inserter_widget ul li:hover,
.inserter_widget ul li.dragover {
    background: url("/devwidgets/inserter/images/inserter_collection_item_hover.png") repeat-x top left #0f98d5;
    cursor: pointer;
}
.inserter_widget ul li:hover .inserter_item_count_container,
.inserter_widget ul li.dragover .inserter_item_count_container {
    background: url("/devwidgets/inserter/images/inserter_count_bg_hover.png") repeat-x scroll left top transparent;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
.inserter_widget ul li:hover .inserter_collection_type,
.inserter_widget ul li.dragover .inserter_collection_type {
    color: #fff;
}
.inserter_widget ul li:hover .s3d-regular-links,
.inserter_widget ul li.dragover .s3d-regular-links {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
}
#inserter_create_collection_input_error {
    margin-left: 24px;
    width: 90px;
}
/* overrides */
.inserter_toggle_active {
    background-color: #000 !important;
}