body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 125%;
	font-size: 100%;
}

#xEditingArea {
	border: 1px dashed #666666;
}

#currentlyEditingPage_1234 table {
	width: 100%;
}

#portfolio_wrapper {
	width: 980px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

#portfolio_logo {
	float: left;
	width: 400px;
	height: 60px;
	background-image: url(logo.gif);
	background-repeat: no-repeat;
}

#portfolio_splash {
	height: 60px; /* Match the logo height for this layout */
	text-align: right;
}

#portfolio_participant_name {
	font-weight: bold;
	font-size: 1.6em;
	color: #333333;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 0px;
}

#portfolio_title {
	font-style: italic;
	padding-top: 3px;
	font-weight: bold;
	font-size: 1.5em;
	font-family: serif;
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
}

#portfolio_primary_navigation {
	width: auto;
	padding: 5px;
	border-bottom: 3px solid #3569A1;
	font-size: 13px;
}

#portfolio_primary_navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#portfolio_primary_navigation ul li {
	display: inline;
}

#portfolio_primary_navigation ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #3569A1;
	background-color: #FFFFFF;
	font-weight: bold;
	white-space: nowrap;
}

#portfolio_primary_navigation ul li a.active {
	color: #FFFFFF;
	background-color: #3569A1;
}

#portfolio_primary_navigation ul li a.active:hover {
	color: #fff;
	background-color: #3569A1;
}

#portfolio_primary_navigation ul li a:hover {
	color: #FFFFFF;
	background-color: #3569A1;
}

#portfolio_secondary_navigation {
	width: 225px;
	float: left;
	line-height: 140%;
	margin-top: 18px;
	text-align: left;
	padding: 5px;
}

#portfolio_secondary_navigation a {
	display: block;
	text-decoration: none;
}

#portfolio_secondary_navigation a:hover {
	text-decoration: underline;
}

#portfolio_secondary_navigation ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 6px;
	font-weight: bold;
}

#portfolio_secondary_navigation ul.subnav_list li.active {
	list-style-image: url(li.gif);
}

#portfolio_secondary_navigation ul {
	padding-left: 2.0em;
}

div.portfolio_page_content {
	line-height: 150%;
	margin-top: 14px;
	text-align: left;
	padding: 5px;
}

div.portfolioPage {
	clear: left;
}

div.examplePage {
	float: left;
	margin-left: 20px;
	width: 715px;
}

div.hidden_block {
	position: fixed;
	display: none;
	width: 1px;
	height: 1px;
	top: 1px;
}

#portfolio_footer {
	clear: left;
	font-size: 10px;
	color: #999;
	text-align: left;
}

h1 {
	font-size: 16px;
	color: #333333;
}

h2 {
	font-size: 14px;
	color: #333333;
}

h3 {
	font-size: 12px;
	color: #333;
	margin-bottom: 3px;
}

h4 {
	font-size: 12px;
	color: #333;
	margin: 3px;
	font-weight: normal;
	font-style: italic;
}

img {
	border: 0px;
}

a {
	color: #3569A1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.active {
	text-decoration: underline;
}

ul li {
	list-style-image: url(li.gif)
}