#createsite_step2 td {
	border:none !important;
	padding: 0px !important;
}

.create-site-build-course-3 {
	padding: 20px 0px 10px 0px;
}

#createsite_newsitename {
	width:288px;
}

#createsite_newsitedescription {
	margin-top:5px;
	margin-bottom:5px;
	width:371px;
}

#createsite_step2 .fs11 {
	color: #CCCCCC;
	font-size: 0.90em;
}
