/*** LAYOUT ***/

.createcontent_widget #createcontent_no_createcontent_wrap{padding:0 20px;}

.createcontent_main {padding-top:10px; padding-bottom:10px;}
.createcontent_background {background-color:#EBEFF1!important; min-height : 50px;}
.createcontent_title {color:#707E8C; display:block;}
.createcontent_add_container {background-color:#FFFFFF; padding:10px 5px 0; margin: 5px 5px 15px 5px;}

.createcontent_item{margin:20px 0 20px 0; padding-left:5px;}
.createcontent_item_info {margin:10px 0 20px 40px;}
.createcontent_item_related_info {background-color:#D4DADE; padding:10px; margin:15px -10px 0 15px;}
.createcontent_item_border { border-right: 10px solid white; border-top: 10px solid #D4DADE; float: right; margin-right: -10px;}
.createcontent_item_div {min-height:50px; margin-left:40px;}

.createcontent_button {margin-top: 20px;}

.createcontent_item_mime{display:block;}
div.createcontent_item_img{margin-left:3px; margin-top:10px;}
p.createcontent_item_title,p.createcontent_item_meta{margin:0;}
p.createcontent_error_msg{padding-left:15px;}
.createcontent .s3d-highlight_area_background{margin:0;}

.createcontent_widget .add_createcontent_button {margin-top: 5px; margin-bottom: 10px; background:url("/dev/images/button_large_grey.png") no-repeat right -41px transparent;width:100%;}
.createcontent_widget .add_createcontent_button span{line-height:40px;height:40px;background:url("/dev/images/button_large_grey.png") no-repeat top left transparent !important;}
.createcontent_widget .add_createcontent_button:hover {background:url("/dev/images/button_large_grey.png") no-repeat right -41px transparent !important;}
.createcontent_widget .add_createcontent_button:hover span{background:url("/dev/images/button_large_grey.png") no-repeat top left transparent !important; color: #333 !important;}

/*** TYPOGRAPHY ***/
.createcontent_item_meta{font-size:0.9em;color:#444;line-height: 13px;}
.createcontent_item_meta_data {color:#878A8C!important; margin-bottom:5px;}

/* Widget icon */
.createcontent.fl-widget .fl-widget-titlebar .widget_title_icon{background:url(/dev/images/icons_sprite.png) no-repeat scroll -620px -21px transparent;}