/*
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

#sakaidocs_edit_cancel_button {font-size: 12px !important; margin-right: 10px; font-weight: bold;}

/** Insert Dropdown **/
#sakaidocs_insert_dropdown{width:150px;border-width:1px;border-style:solid;border-color:#cbd0d4;padding-bottom:4px;z-index:70000}
#sakaidocs_insert_dropdown ul{border:none;}
#sakaidocs_insert_dropdown ul li{width:100%; padding-left: 0px !important; padding-right: 0px !important;}
#sakaidocs_insert_dropdown ul li button{width:100%;color:#006e96;padding: 0px 10px;font-weight:bold; font-size: 12px !important;}
#sakaidocs_insert_dropdown ul li button:hover{text-decoration:none;}
.sakaidocs_insert_dropdown_header{color:#aaaaaa;cursor:default !important;background-color:#FFFFFF !important;padding:0 !important;}
.sakaidocs_insert_dropdown_header span{padding-left:12px;}
#page_autosave_time{float:right;padding-right:60px;margin-top:3px;color:#424242;font-size:11px;font-weight:bold;}
#autosave_revert {margin-left:0;}
.sakaidocs_insert_widgets_dd {font-size: 11px;}
.context_more .more_option {padding: 1px 0 1px 9px;}
