#mymemberships_main{margin:0 10px 0 15px;overflow:hidden;}
.mymemberships_widget{overflow:hidden;}
.mymemberships_items {color:#333;padding:10px 0 5px; border-bottom:2px dotted #878A8C}
.mymemberships_items img {float: left;padding: 7px 10px 10px 3px;width: 35px;}
.mymemberships_name {margin:0;font-size:0.9em;}
.mymemberships_participants a {font-size:.8em;color:#878A8C;}