#mymemberships_actionbar {height:13px;padding:5px 0 10px;}
#mymemberships_actionbar, .mymemberships_item {border-bottom:1px solid #DDDDDD;}
#mymemberships_sortarea {float:right;}
#mymemberships_items {margin:0;}
#mymemberships_items li.mymemberships_item {list-style:none outside none;
    padding:10px 10px 0;}
.mymemberships_imagearea {float:left;height:45px;width:50px;}
.mymemberships_edit_link {position:relative;top:-13px;left:0;}
.mymemberships_info {float:left;width:650px;}
.mymemberships_info_line {margin:3px 0 0;}
.mymemberships_itemtitle {font-weight:bold;color:#006E96;}