/*********
 * CLIPS *
 *********/

/** LEFT BLACK TITLE OR RIGHT BLACK ACTION CLIPS **/
#search-box.gt-title-clip {
    float: left;
    min-width: 721px;
    width: 65%;
}
.gt-title-clip,
.gt-action-clip-primary {
    background: url("../images/clips/clip-title-panel.png") repeat-x center center transparent;
    height: 58px;
    line-height: 40px;
    margin-top: -18px;
    position: absolute;
    min-width: 127px;
}

.gt-title-clip form {
    display: inline-block;
    margin-right: 4px;
    width: 75%;
}

.gt-title-clip form input {
    width: 98%;
}

.gt-title-clip .gt-title-clip-left {
    background: url("../images/clips/clip-title-panel-left-alt.png") no-repeat 0 0 transparent;
    float: left;
    height: 58px;
    width: 12px;
}

.gt-title-clip .gt-title-clip-right {
    background: url("../images/clips/clip-title-panel-right-alt.png") no-repeat 0 0 transparent;
    float: right;
    height: 58px;
    width: 12px;
}

.gt-title-clip h1 {
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: 600;
    height: 33px;
    line-height: 18px;
    margin-top: 7px;
    padding: 12px 10px 0;
    text-shadow: 0 1px 0 #000000;
}

#user-box.gt-title-clip,
#group-box.gt-title-clip {
    float: left;
    min-width: 100px;
}

#user-box.gt-title-clip img,
#group-box.gt-title-clip img {
    float: left;
    height: 30px;
    margin: 13px 0 0 6px;
    width: 30px;
}

#user-box.gt-title-clip img:hover,
#group-box.gt-title-clip img:hover {
    cursor: pointer;
    filter:alpha(opacity=50); /* IE's opacity*/
    opacity: 0.50;
}

#user-box a h1 {
    color: #dbdbdb;
    float: left;
    font-size: 16px;
    font-weight: 600;
    height: 33px;
    line-height: 18px;
    padding: 12px 25px 0 10px;
    margin-right: 5px;
    text-shadow: 0 1px 0 #000000;
    text-decoration: none;
    float: left;
    background: url("../images/icons/header-clip-down-arrow.png") no-repeat center right transparent;
}

#group-box a h1 {
    color: #dbdbdb;
    float: left;
    font-size: 16px;
    font-weight: 600;
    height: 33px;
    line-height: 18px;
    padding: 12px 25px 0 10px;
    margin-right: 5px;
    text-shadow: 0 1px 0 #000000;
    text-decoration: none;
    float: left;
}

#user-box a h1:hover {
    color: #ffffff;
    float: left;
    background: url("../images/icons/header-clip-down-arrow-hover.png") no-repeat center right transparent;
}
#group-box a h1:hover {
    color: #ffffff;
    float: left;
}

#user-box a h1:active {
    color: #666666;
    float: left;
    background: url("../images/icons/header-clip-down-arrow-clicked.png") no-repeat center right transparent;
}

#group-box a h1:active {
    color: #666666;
    float: left;
}

#user-box .user-box-multiline-arrow h1,
#group-box .group-box-multiline-arrow h1{
    background: url("../images/icons/header-clip-down-arrow.png") no-repeat scroll right center transparent;
    display: inline-block;
    float: left;
    height: 20px;
    line-height: 3px;
    margin: 6px 10px -20px 0;
    padding-right: 25px;
}

#user-box .user-box-multiline h1,
#group-box .group-box-multiline h1{
    display: inline-block;
    float: left;
    height: 20px;
    line-height: 3px;
    margin: 6px 10px -20px 0;
    padding-right: 25px;
}

#user-box .user-box-multiline span,
#group-box .group-box-multiline span,
#user-box .user-box-multiline-arrow span,
#group-box .group-box-multiline-arrow span {
    color: #ffffff;
    display: block;
    font-size: 13px;
    padding-left: 10px;
}

/** RIGHT YELLOW PRIMARY ACTION CLIPS **/
.gt-action-clip-primary {
    background: url("../images/clips/clip-button-primary-bg-tile.png") repeat-x 0 0 transparent;
    height: 44px;
    margin-right: 20px;
    position: absolute;
}

.action-clip-left {
    background: url("../images/clips/clip-button-primary-left-alt.png") no-repeat;
    float: left;
    height: 44px;
    width: 11px;
}

.action-clip-right {
    background: url("../images/clips/clip-button-primary-right-alt.png") no-repeat;
    float: right;
    height: 44px;
    width: 6px;
}

.action-icon {
    color: #333333;
    float: left;
    font-size: 13px;
    font-weight: 600;
    height: 31px;
    line-height: 18px;
    margin: 0;
    text-shadow: 0 1px 0 #f4ce69;
}

.action-icon:hover {
    color: #000000;
    text-shadow: 0 1px 0 #f4ce69;
}

.action-icon:active {
    color: #ffffff;
    text-shadow: 0 1px 0 #333333;
}
#clip-down-arrow {
    float: right;
    background: url("../images/icons/primary-clip-down-arrow.png") no-repeat center center transparent;
    width: 20px;
    height: 18px;
    margin: 1px 0 0 3px;
}

a.questions {
    float: right;
    margin-right: 180px;
}

a.questions .gt-action-clip-primary {
    width: 170px;
}

.action-icon#ask-question {
    background: url("../images/clips/clip-button-icon-ask-question.png") no-repeat 10px 10px transparent;
    padding: 13px 10px 0 50px;
}

.action-icon#ask-question:hover {
    background: url("../images/clips/clip-button-icon-ask-question-hover.png") no-repeat 10px 10px transparent;
}

.action-icon#ask-question:active {
    background: url("../images/clips/clip-button-icon-ask-question-click.png") no-repeat 10px 10px transparent;
}

a.create {
    float: right;
    margin-right: 180px;
}
.action-icon#create {
    background: url("../images/clips/clip-button-icon-add.png") no-repeat 10px 10px transparent;
    padding: 13px 5px 0 40px;
}

.action-icon#create:hover {
    background: url("../images/clips/clip-button-icon-add-hover.png") no-repeat 10px 10px transparent;
}

.action-icon#create:active {
    background: url("../images/clips/clip-button-icon-add-clicked.png") no-repeat 10px 10px transparent;
}

/** RIGHT BLACK SECONDARY ACTION CLIPS **/
.gt-action-clip-secondary-bg-gradient {
    background: -moz-linear-gradient(top,  #555555 25%, #444444 50%, #000000 100%));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#555555), color-stop(50%,#444444), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #555555 25%,#444444 50%,);
    background: -o-linear-gradient(top,  #555555 25%,#444444 50%,#000000 100%);
    background: -ms-linear-gradient(top,  #555555 25%,#444444 50%,#000000 100%);
    background: linear-gradient(to bottom,  #555555 25%,#444444 50%,#000000 100%);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0px 0px 1px #888;
    -webkit-box-shadow: 0px 0px 1px #888;
    box-shadow: 0px 0px 1px #888;
    margin-top: -18px;
    margin-left: 30px;
    position: absolute;
}

.gt-action-clip-secondary-clip-top {
    background: url("../images/clips/clip-action-panel-top.png") no-repeat center center transparent;
    width: 40px;
    height: 6px;
    margin-left: -6px;
    position: absolute;
}
.gt-action-clip-secondary {
    background: url("../images/clips/clip-action-panel.png") repeat-x 0 0 transparent;
    height: 45px;
    margin-right: 20px;
    margin-top: -18px;
    position: absolute;
    min-width: 120px;
}

.gt-action-clip-secondary .action-clip-left {
    background: url("../images/clips/clip-action-panel-left.png") no-repeat 0 0 transparent;
    float: left;
    height: 45px;
    width: 12px;
}

.gt-action-clip-secondary .action-clip-right {
    background: url("../images/clips/clip-action-panel-right.png") no-repeat 0 0 transparent;
    float: right;
    height: 45px;
    width: 12px;
}

.gt-action-clip-secondary .action-icon {
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

.gt-action-clip-secondary .action-icon:hover {
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

.gt-action-clip-secondary .action-icon:active {
    color: #999999;
    text-shadow: 0 1px 0 #000;
}

a.upload {
    float: right;
    margin-right: 295px;
}

.action-icon#upload {
    background: url("../images/clips/clip-button-icon-upload.png") no-repeat 10px 10px transparent;
    padding: 13px 5px 0 40px;
}

.action-icon#upload:hover {
    background: url("../images/clips/clip-button-icon-upload-hover.png") no-repeat 10px 10px transparent;
}

.action-icon#upload:active {
    background: url("../images/clips/clip-button-icon-upload-clicked.png") no-repeat 10px 10px transparent;
}

a.share_add {
    float: right;
    margin-right: 170px;
}

.action-icon#share_add {
    background: url("../images/clips/clip-action-icon-share+add.png") no-repeat 8px 8px transparent;
    padding: 13px 5px 0 40px;
}

.action-icon#share_add:hover {
    background: url("../images/clips/clip-action-icon-share+add-hover.png") no-repeat 8px 8px transparent;
}

.action-icon#share_add:active {
    background: url("../images/clips/clip-action-icon-share+add-active.png") no-repeat 8px 8px transparent;
}

a.archive {
    float: right;
    margin-right: 115px;
}

.action-icon#archive {
    background: url("../images/clips/clip-action-icon-archive.png") no-repeat 8px 8px transparent;
    padding: 13px 5px 0 40px;
}

.action-icon#archive:hover {
    background: url("../images/clips/clip-action-icon-archive-hover.png") no-repeat 8px 8px transparent;
}

.action-icon#archive:active {
    background: url("../images/clips/clip-action-icon-active.png") no-repeat 8px 8px transparent;
}

/** RIGHT YELLOW SECONDARY ACTION CLIPS **/
.gt-action-clip-tertiary-bg-gradient {
    background-color: #eeb211;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: inset 0px 0px 1px #c59353;
    -webkit-box-shadow: inset 0px 0px 1px #c59353;
    box-shadow: inset 0px 0px 1px #c59353;
    margin-top: -18px;
    margin-left: 29px;
    position: absolute;
    border-left: solid 1px #c59353;
}

.gt-action-clip-tertiary-clip-top {
    background: url("../images/clips/clip-button-primary-bg-top.png") no-repeat center center transparent;
    width: 40px;
    height: 6px;
    margin-left: -7px;
    position: absolute;
}

a.discussions {
    float: right;
    margin-right: 115px;
}

.action-icon#discussions {
    background: url("../images/clips/clip-button-icon-ask-question.png") no-repeat 8px 8px transparent;
    padding: 13px 5px 0 40px;
}

.action-icon#discussions:hover {
    background: url("../images/clips/clip-button-icon-ask-question-hover.png") no-repeat 8px 8px transparent;
}

.action-icon#discussions:active {
    background: url("../images/clips/clip-button-icon-ask-question-click.png") no-repeat 8px 8px transparent;
}


